Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

docs: add key type for running Hermes relayer (#901)
  docs/validators/run_relayer.md
Due: none

docs: add NodeStake public node (#900)
  docs/developers/connect.md
Due: none

Update connect.md
  docs/developers/connect.md
Due: none

chore: update docs with latest release version
  docs/.vuepress/config.js
  docs/developers/explorers.md
Due: none

docs: add ChainTools validator RPC, gRPC & API addresses to mainnet (#904)
  docs/developers/connect.md
Due: none

check md link on updated files only
  .github/workflows/markdown-links.yml
  docs/architecture/adr-002-evm-hooks.md
  docs/developers/json-rpc/running_server.md
Due: none

chore: update docs with latest release version (#906)
  .github/workflows/markdown-links.yml
  docs/.vuepress/config.js
  docs/architecture/adr-002-evm-hooks.md
  docs/developers/explorers.md
  docs/developers/json-rpc/running_server.md
Due: none

Allow docs website to get variables through env
  docs/.vuepress/config.js
Due: none

generate erc20 protobuf
  Makefile
  dev_guide.md
  proto/acrechain/erc20/erc20.proto
  proto/acrechain/erc20/genesis.proto
  proto/acrechain/erc20/query.proto
  proto/acrechain/erc20/tx.proto
  scripts/protocgen.sh
  x/erc20/types/erc20.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/query.pb.go
  x/erc20/types/query.pb.gw.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
Due: none

Allow docs website to get variables through env (#907)
  docs/.vuepress/config.js
Due: none

Uncomment upload sarif step in security workflow
  .github/workflows/security.yml
Due: none

Remove duplicate releasing section in Makefile
  Makefile
Due: none

update app.go to match changes in ibc-go and ethermint
  app/app.go
  go.mod
  go.sum
Due: app

use new typing shim from app.go
  app/app.go
  app/upgrades/v5/upgrades_test.go
Due: app

Update Makefile
  Makefile
Due: none

fix nil kvstore
  app/app.go
Due: app

chore: remove duplicate releasing section in Makefile (#909)
  Makefile
Due: none

fix(ci): Uncomment upload sarif step in security workflow (#908)
  .github/workflows/security.yml
Due: none

update makefile to match upstream versions and rebuild protos
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/feesplit/v1/query.proto
  proto/evmos/feesplit/v1/tx.proto
  third_party/proto/cosmos_proto/cosmos.proto
  third_party/proto/gogoproto/gogo.proto
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/crypto/keys.proto
  third_party/proto/tendermint/crypto/proof.proto
  third_party/proto/tendermint/types/types.proto
  x/erc20/types/erc20.pb.go
  x/feesplit/types/query.pb.go
Due: none

Revert "update makefile to match upstream versions and rebuild protos"
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/feesplit/v1/query.proto
  proto/evmos/feesplit/v1/tx.proto
  third_party/proto/cosmos_proto/cosmos.proto
  third_party/proto/gogoproto/gogo.proto
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/crypto/keys.proto
  third_party/proto/tendermint/crypto/proof.proto
  third_party/proto/tendermint/types/types.proto
  x/erc20/types/erc20.pb.go
  x/feesplit/types/query.pb.go
Due: none

fix: update app.go to match changes in ibc-go and ethermint (#910)
  app/app.go
  app/upgrades/v5/upgrades_test.go
  go.mod
  go.sum
Due: app

build mint module
  app/app.go
  proto/acrechain/mint/v1beta1/genesis.proto
  proto/acrechain/mint/v1beta1/mint.proto
  proto/acrechain/mint/v1beta1/query.proto
  testutil/fund.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/proposals_test.go
  x/mint/client/cli/query.go
  x/mint/keeper/abci.go
  x/mint/keeper/distribute.go
  x/mint/keeper/genesis.go
  x/mint/keeper/grpc_query.go
  x/mint/keeper/info.go
  x/mint/keeper/keeper.go
  x/mint/keeper/keeper_test.go
  x/mint/keeper/params.go
  x/mint/module.go
  x/mint/simulation/decoder.go
  x/mint/simulation/genesis.go
  x/mint/types/codec.go
  x/mint/types/errors.go
  x/mint/types/events.go
  x/mint/types/expected_keepers.go
  x/mint/types/genesis.go
  x/mint/types/genesis.pb.go
  x/mint/types/hooks.go
  x/mint/types/keys.go
  x/mint/types/mint.go
  x/mint/types/mint.pb.go
  x/mint/types/minter.go
  x/mint/types/params.go
  x/mint/types/query.pb.go
  x/mint/types/query.pb.gw.go
Due: app, modules, clients

added path for chain and token registry to documentation
  docs/developers/guides/cosmos_coin_registration.md
  docs/developers/guides/erc20_registration.md
Due: none

linting
  docs/developers/guides/cosmos_coin_registration.md
  docs/developers/guides/erc20_registration.md
Due: none

spacing lint
  docs/developers/guides/cosmos_coin_registration.md
  docs/developers/guides/erc20_registration.md
Due: none

imp(erc20): support registering multiple assets
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/erc20/v1/erc20.proto
  x/erc20/keeper/proposals.go
  x/erc20/proposal_handler.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/proposal.go
Due: modules

changelog
  CHANGELOG.md
  x/erc20/types/proposal_test.go
Due: modules

fix tests
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
Due: modules

update syntax
  client/docs/statik/statik.go
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/erc20/v1/erc20.proto
  x/erc20/client/cli/tx.go
  x/erc20/client/cli/utils.go
  x/erc20/types/erc20.pb.go
Due: modules

Apply suggestions from code review
  docs/developers/guides/cosmos_coin_registration.md
  docs/developers/guides/erc20_registration.md
Due: none

fix(app): fix store loader
  CHANGELOG.md
  app/app.go
  app/upgrades/v8m1/constants.go
  app/upgrades/v8m1/upgrades.go
Due: app

c++
  CHANGELOG.md
Due: none

v8.2.0 handler
  app/app.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_1/upgrades.go
  app/upgrades/v8_2/constants.go
  app/upgrades/v8_2/upgrades.go
Due: app

changelog
  CHANGELOG.md
Due: none

introduction of minting rewards distribution start time
  proto/acrechain/mint/v1beta1/mint.proto
  x/mint/keeper/abci.go
  x/mint/types/mint.go
  x/mint/types/mint.pb.go
Due: modules

update goarch
  .goreleaser.yml
  app/upgrades/v2/constants.go
  app/upgrades/v4/constants.go
  app/upgrades/v5/constants.go
  app/upgrades/v6/constants.go
  app/upgrades/v7/constants.go
  app/upgrades/v8/constants.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_2/constants.go
  app/upgrades/v9/constants.go
  docs/validators/overview.md
  docs/validators/upgrades/automated.md
Due: app

comment
  app/app.go
Due: app

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
