Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fees - add grpc_query tests
  docs/protocol/proto-docs.md
  x/fees/keeper/fees_test.go
  x/fees/keeper/grpc_query.go
  x/fees/keeper/grpc_query_test.go
  x/fees/keeper/keeper_test.go
Due: modules, clients

Updated docs so that they use the newer 'npx hardhat' prompt, changed the RPC URL to https://eth.bd.evmos.dev:8545 for the testnet section, and changed sample-script.js to deploy.js
  docs/developers/tools/hardhat.md
Due: none

fees - add codec tests
  x/fees/types/codec_test.go
Due: modules

fees - additional unit tests
  x/fees/keeper/fees_test.go
  x/fees/keeper/grpc_query_test.go
  x/fees/types/params_test.go
Due: modules

fix: changed ignite params
  config.yml
Due: none

fix: json rpc setting ignite yml
  config.yml
Due: none

docs: add change log
  CHANGELOG.md
Due: none

Delete metadata.json
  metadata.json
Due: none

audit(erc20): completeness (#592)
  CHANGELOG.md
  client/docs/statik/statik.go
  x/erc20/client/cli/query.go
  x/erc20/client/cli/tx.go
  x/erc20/client/testutil/cli_test.go
  x/erc20/genesis.go
  x/erc20/genesis_test.go
  x/erc20/keeper/grpc_query.go
  x/erc20/keeper/token_pairs.go
  x/erc20/keeper/token_pairs_test.go
  x/erc20/spec/01_concepts.md
  x/erc20/spec/02_state.md
  x/erc20/spec/03_state_transitions.md
Due: modules, clients

Update docs/developers/tools/hardhat.md
  docs/developers/tools/hardhat.md
Due: none

docs: update hardhat guide (#594)
  docs/developers/tools/hardhat.md
Due: none

impr(erc20): fix cli register ibc coin template
  x/erc20/client/cli/tx.go
Due: modules

update upgrade guide
  docs/.vuepress/config.js
  docs/validators/mainnet.md
  docs/validators/upgrades/overview.md
  docs/validators/upgrades/upgrades.md
Due: none

change display name
  x/erc20/client/cli/tx.go
Due: modules

improve disabled token pair err message
  x/erc20/keeper/mint.go
  x/erc20/types/errors.go
Due: modules

impr(erc20): fix cli register ibc coin template (#598)
  x/erc20/client/cli/tx.go
  x/erc20/keeper/mint.go
  x/erc20/types/errors.go
Due: modules

fix lint
  .gitignore
  docs/developers/explorers.md
  docs/validators/upgrades/overview.md
Due: none

fix lint
  docs/validators/upgrades/overview.md
  docs/validators/upgrades/upgrades.md
Due: none

docs: v4 upgrade documentation (#599)
  .gitignore
  docs/.vuepress/config.js
  docs/developers/explorers.md
  docs/validators/mainnet.md
  docs/validators/testnet.md
  docs/validators/upgrades/overview.md
  docs/validators/upgrades/upgrades.md
Due: none

Use sdk.Uint64ToBigEndian for duration encoding (PR review)
  x/epochs/keeper/epoch_infos.go
  x/epochs/migrations/v2/migration.go
Due: modules

Set condition for incrementing skipped epoch, added epochId to testCases
  x/inflation/keeper/hooks_test.go
Due: modules

manual set epochIdentifierSet condition for incrementing skipped epoch, added epochId to testCases
  x/inflation/keeper/hooks_test.go
Due: modules

fix sanitize erc20 name
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/types/utils.go
  x/erc20/types/utils_test.go
Due: modules

Corrected skip code causing some blocks to not be executied
  x/inflation/keeper/hooks.go
Due: modules

fees: add minGasPrice module param
  docs/protocol/proto-docs.md
  proto/evmos/fees/v1/genesis.proto
  x/fees/types/fees.pb.go
  x/fees/types/genesis.pb.go
  x/fees/types/params.go
  x/fees/types/params_test.go
  x/fees/types/query.pb.go
  x/fees/types/tx.pb.go
Due: modules

fees: limit address derivation to 20 iterations at registration
  x/fees/types/msg.go
  x/fees/types/msg_test.go
Due: modules

fix conflict
  x/erc20/client/cli/tx.go
Due: modules

address comment
  CHANGELOG.md
Due: none

fees: limit address derivation to 20 iterations at registration (#603)
  x/fees/types/msg.go
  x/fees/types/msg_test.go
Due: modules

Apply suggestions from code review - typos
  x/fees/keeper/fees_test.go
Due: modules

cleanup
  x/erc20/types/utils.go
Due: modules

imp: fees test coverage (#586)
  app/app.go
  docs/protocol/proto-docs.md
  proto/evmos/fees/v1/fees.proto
  x/fees/client/cli/tx.go
  x/fees/genesis.go
  x/fees/keeper/fees.go
  x/fees/keeper/fees_test.go
  x/fees/keeper/grpc_query.go
  x/fees/keeper/grpc_query_test.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/keeper.go
  x/fees/keeper/keeper_test.go
  x/fees/keeper/msg_server.go
  x/fees/module.go
  x/fees/types/codec_test.go
  x/fees/types/fee.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.pb.go
  x/fees/types/keys.go
  x/fees/types/msg.go
  x/fees/types/msg_test.go
  x/fees/types/params_test.go
  x/fees/types/query.pb.go
  x/fees/types/tx.pb.go
Due: app, modules, clients

Modifications based on review suggestions
  x/inflation/keeper/hooks_test.go
Due: modules

I made an entry for #554 to the changelog
  CHANGELOG.md
Due: none

remove invalid prefixes
  x/erc20/types/utils.go
  x/erc20/types/utils_test.go
Due: modules

fix: remove dup set claims record
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
Due: modules

update spec
  x/claims/keeper/ibc_callbacks.go
  x/claims/spec/06_parameters.md
Due: modules

changelog
  CHANGELOG.md
  x/claims/keeper/ibc_callbacks.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
