Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

wip state machine audit
  x/claims/ibc_module.go
  x/claims/keeper/abci.go
  x/claims/keeper/claim.go
  x/claims/keeper/claims_records.go
  x/claims/keeper/grpc_query.go
  x/claims/keeper/grpc_query_test.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/spec/03_state_transitions.md
  x/claims/spec/04_hooks.md
  x/claims/spec/07_clients.md
  x/claims/types/claims_record.go
  x/claims/types/errors.go
  x/claims/types/genesis.go
Due: modules, clients

update specs
  x/claims/keeper/claim.go
  x/claims/spec/05_events.md
  x/claims/spec/06_parameters.md
  x/claims/types/events.go
  x/claims/types/params.go
  x/claims/types/params_test.go
Due: modules

wip state machine audit
  x/claims/spec/04_hooks.md
Due: none

update specs with invariants
  x/claims/spec/02_state.md
Due: none

ics20 port and refactor
  contracts/precompiles/ICS20/ICS20.sol
  contracts/precompiles/ICS20/ICS20Transfer.sol
Due: none

claims: restrict claiming for blocked addresses (#413)
  x/claims/keeper/claim_test.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/types/interfaces.go
Due: modules

add erc20 denom test
  x/withdraw/ibc_middleware.go
  x/withdraw/keeper/ibc_callbacks_test.go
  x/withdraw/keeper/keeper_test.go
Due: modules

wip state machine audit
  go.sum
  x/claims/keeper/abci.go
  x/claims/keeper/claim.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/spec/04_hooks.md
  x/claims/spec/06_parameters.md
Due: modules

changelog
  CHANGELOG.md
Due: none

Update x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks.go
Due: modules

audit(claims): state machine audit (#411)
  init.sh
  x/claims/ibc_module.go
  x/claims/keeper/abci.go
  x/claims/keeper/claim.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/claims_records.go
  x/claims/keeper/grpc_query.go
  x/claims/keeper/grpc_query_test.go
  x/claims/keeper/hooks.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/spec/02_state.md
  x/claims/spec/03_state_transitions.md
  x/claims/spec/04_hooks.md
  x/claims/spec/05_events.md
  x/claims/spec/06_parameters.md
  x/claims/spec/07_clients.md
  x/claims/types/claims_record.go
  x/claims/types/errors.go
  x/claims/types/events.go
  x/claims/types/genesis.go
  x/claims/types/params.go
  x/claims/types/params_test.go
Due: modules, clients

docs: fix link on x/README.md
  x/README.md
Due: none

docs: fix link on x/README.md (#416)
  x/README.md
Due: none

reset init.sh changes from PR 411
  init.sh
Due: none

Update init.sh
  init.sh
Due: none

reset init.sh changes from PR 411 (#417)
  init.sh
Due: none

comments
  x/withdraw/keeper/ibc_callbacks.go
Due: modules

rename variables for readability
  x/withdraw/keeper/ibc_callbacks_integration_test.go
Due: modules

cleanup
  x/withdraw/keeper/ibc_callbacks_integration_test.go
Due: modules

Update join.md
  docs/testnet/join.md
Due: none

Update join.md (#418)
  docs/testnet/join.md
Due: none

acknowledgements and channel escrow addresses
  contracts/precompiles/ICS20/ICS20.sol
  contracts/precompiles/ICS20/ICS20Bank.sol
  contracts/precompiles/ICS20/ICS20Transfer.sol
  contracts/precompiles/ICS20/IICS20Transfer.sol
  contracts/precompiles/lib/strings.sol
Due: none

changelog
  CHANGELOG.md
  x/claims/module.go
  x/withdraw/module.go
Due: none

fix: IBC recovery middleware (#342)
  .gitignore
  CHANGELOG.md
  app/app.go
  client/docs/config.json
  client/docs/statik/statik.go
  x/claims/genesis.go
  x/claims/genesis_test.go
  x/claims/keeper/hooks.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/keeper/keeper.go
  x/claims/module.go
  x/claims/types/params.go
  x/vesting/types/clawback_vesting_account.go
  x/withdraw/client/cli/query.go
  x/withdraw/genesis.go
  x/withdraw/genesis_test.go
  x/withdraw/ibc_middleware.go
  x/withdraw/keeper/grpc_query.go
  x/withdraw/keeper/grpc_query_test.go
  x/withdraw/keeper/ibc_callbacks.go
  x/withdraw/keeper/ibc_callbacks_test.go
  x/withdraw/keeper/keeper.go
  x/withdraw/keeper/keeper_test.go
  x/withdraw/keeper/params.go
  x/withdraw/keeper/params_test.go
  x/withdraw/keeper/utils_test.go
  x/withdraw/module.go
  x/withdraw/types/events.go
Due: app, modules, clients

rename withdrawal -> recovery middleware
  app/app.go
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  x/recovery/client/cli/query.go
  x/recovery/genesis.go
  x/recovery/genesis_test.go
  x/recovery/ibc_middleware.go
  x/recovery/keeper/grpc_query.go
  x/recovery/keeper/grpc_query_test.go
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
  x/recovery/keeper/keeper_test.go
  x/recovery/keeper/params.go
  x/recovery/keeper/params_test.go
  x/recovery/keeper/utils_test.go
  x/recovery/module.go
  x/recovery/types/errors.go
  x/recovery/types/events.go
  x/recovery/types/genesis.go
  x/recovery/types/genesis.pb.go
  x/recovery/types/genesis_test.go
  x/recovery/types/interfaces.go
  x/recovery/types/keys.go
  x/recovery/types/params.go
  x/recovery/types/params_test.go
  x/recovery/types/query.pb.go
  x/recovery/types/query.pb.gw.go
  x/withdraw/genesis_test.go
  x/withdraw/keeper/params_test.go
  x/withdraw/types/events.go
Due: app, modules, clients

x/claims BDD testing setup
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
Due: modules

Claims integration tests - proposal create action update
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
Due: modules

Claims integration tests - delegate, evm action functions
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
Due: modules

Claims integration tests - fix gov vote & BlockEnd
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
Due: modules

Claims integration tests - add clawback check when starting decay period
  x/claims/keeper/integration_test.go
Due: modules

Address PR review comments - comparing sdk.Coin balances
  x/claims/keeper/integration_test.go
Due: modules

Fix claim integration tests final pool community balance
  x/claims/keeper/integration_test.go
Due: modules

Claims integration tests - test balances during decay period and after
  x/claims/keeper/integration_test.go
Due: modules

Claims integration tests - account for remainders in partial claims
  x/claims/keeper/integration_test.go
Due: modules

Upgrade v2 -> v3
  x/claims/keeper/integration_test.go
Due: modules

Claims integration tests - remove balance accounting from leaf tests
  x/claims/keeper/integration_test.go
Due: modules

fix
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/evmos/recovery/v1/genesis.proto
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/keeper/keeper.go
  x/recovery/types/genesis.pb.go
Due: modules

typo
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules
