Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

align event names
  precompiles/authorization/events.go
  precompiles/ics20/approve.go
  precompiles/ics20/utils_test.go
  precompiles/staking/approve.go
Due: none

nit: combine related comments
  x/claims/keeper/claim.go
Due: modules

address review comments
  scripts/protocgen.sh
Due: none

address buf linter
  proto/evmos/vesting/v2/query.proto
  proto/evmos/vesting/v2/tx.proto
Due: none

fix(ics20): Refactor authorization to be consistent with SDK names grantee and granter (#1688)
  precompiles/authorization/events.go
  precompiles/ics20/ICS20.sol
  precompiles/ics20/abi.json
  precompiles/ics20/approve.go
  precompiles/ics20/approve_test.go
  precompiles/ics20/events_test.go
  precompiles/ics20/integration_test.go
  precompiles/ics20/query.go
  precompiles/ics20/query_test.go
  precompiles/ics20/types.go
  precompiles/ics20/utils_test.go
  precompiles/staking/approve.go
Due: none

remove unused genesis proto
  x/vesting/types/genesis.pb.go
Due: none

remove unused genesis proto
  proto/evmos/vesting/v2/genesis.proto
Due: none

fix doc comment
  x/vesting/keeper/msg_server.go
Due: modules

reorder checks to save gas if not vesting account
  x/vesting/keeper/msg_server.go
Due: modules

change error message to make it more informative
  x/vesting/keeper/msg_server.go
Due: modules

fix panic bug "Int64() out of bound" in ante handler
  app/ante/evm/fees.go
  app/ante/evm/fees_test.go
Due: app

commit WIP1
  x/vesting/keeper/migrations.go
  x/vesting/migrations/v3/migrate.go
  x/vesting/module.go
Due: modules

adjust WIP
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper.go
  x/vesting/keeper/msg_server.go
  x/vesting/types/keys.go
Due: modules

change error message
  x/vesting/keeper/msg_server.go
Due: modules

adjust WIP 2
  x/vesting/keeper/keeper.go
  x/vesting/keeper/msg_server.go
Due: modules

fix wrong error message
  x/vesting/keeper/msg_server.go
Due: modules

quick fix
  x/vesting/keeper/msg_server.go
Due: modules

update CHANGELOG.md
  CHANGELOG.md
Due: none

fix versions
  app/app.go
  app/upgrades/v14rc2/migrations_test.go
  app/upgrades/v14rc2/setup_test.go
  app/upgrades/v14rc2/upgrades.go
  app/upgrades/v14rc2/utils_test.go
  app/upgrades/v14rc2/vesting.go
  app/upgrades/v14rc2/vesting_test.go
Due: app

fix panic bug "Int64() out of bound" in ante handler (#1693)
  CHANGELOG.md
  app/ante/evm/fees.go
  app/ante/evm/fees_test.go
Due: app

address lic check
  app/upgrades/v14rc2/migrations.go
  app/upgrades/v14rc2/vesting.go
Due: app

address linters
  app/upgrades/v14rc2/migrations.go
  app/upgrades/v14rc2/migrations_test.go
  app/upgrades/v14rc2/setup_test.go
  app/upgrades/v14rc2/vesting_test.go
Due: app

address linters 2
  app/upgrades/v14rc2/migrations.go
Due: app

chore: fix more changelog (#1694)
  app/app.go
  app/upgrades/v14rc2/constants.go
  app/upgrades/v14rc2/migrations.go
  app/upgrades/v14rc2/migrations_test.go
  app/upgrades/v14rc2/setup_test.go
  app/upgrades/v14rc2/upgrades.go
  app/upgrades/v14rc2/utils_test.go
  app/upgrades/v14rc2/vesting.go
  app/upgrades/v14rc2/vesting_test.go
Due: app

fix tests
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/msg_server_test.go
Due: modules

fix doc comment
  proto/evmos/vesting/v2/tx.proto
Due: none

remove outdated query from CLI txs
  tests/e2e/e2e_suite_test.go
Due: none

chore: proto cleanup (#1691)
  app/app.go
  app/upgrades/v14/upgrades.go
  proto/evmos/vesting/v2/genesis.proto
  proto/evmos/vesting/v2/query.proto
  proto/evmos/vesting/v2/tx.proto
  tests/e2e/e2e_suite_test.go
  x/vesting/client/cli/query.go
  x/vesting/genesis.go
  x/vesting/genesis_test.go
  x/vesting/keeper/grpc_query.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper.go
  x/vesting/keeper/migrations.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/keeper/params.go
  x/vesting/keeper/params_test.go
  x/vesting/keeper/utils_test.go
  x/vesting/migrations/v2/migrate.go
  x/vesting/module.go
  x/vesting/types/codec.go
  x/vesting/types/genesis.go
  x/vesting/types/genesis.pb.go
  x/vesting/types/genesis_test.go
  x/vesting/types/keys.go
  x/vesting/types/msg.go
  x/vesting/types/params.go
  x/vesting/types/query.pb.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.go
Due: app, modules, clients

migrate setup
  Makefile
  scripts/run-solidity-tests.sh
  tests/solidity/.gitattributes
  tests/solidity/.gitignore
  tests/solidity/README.md
  tests/solidity/init-test-node.sh
  tests/solidity/package.json
  tests/solidity/patches/truffle+5.4.14.patch
  tests/solidity/suites/basic/contracts/Counter.sol
  tests/solidity/suites/basic/contracts/EventTest.sol
  tests/solidity/suites/basic/contracts/Storage.sol
  tests/solidity/suites/basic/package.json
  tests/solidity/suites/basic/test/.gitkeep
  tests/solidity/suites/basic/test/counter.js
  tests/solidity/suites/basic/test/events.js
  tests/solidity/suites/basic/test/revert.js
  tests/solidity/suites/basic/test/storage.js
  tests/solidity/suites/basic/truffle-config.js
  tests/solidity/suites/eip1559/package.json
  tests/solidity/suites/eip1559/test/eip1559.js
  tests/solidity/suites/eip1559/truffle-config.js
  tests/solidity/suites/exception/contracts/TestRevert.sol
  tests/solidity/suites/exception/contracts/test/Migrations.sol
  tests/solidity/suites/exception/migrations/1_initial_migration.js
  tests/solidity/suites/exception/package.json
  tests/solidity/suites/exception/test/.gitkeep
  tests/solidity/suites/exception/test/revert.js
  tests/solidity/suites/exception/truffle-config.js
  tests/solidity/suites/opcode/bytecode.js
  tests/solidity/suites/opcode/contracts/Migrations.sol
  tests/solidity/suites/opcode/contracts/OpCodes.sol
  tests/solidity/suites/opcode/migrations/1_initial_migration.js
  tests/solidity/suites/opcode/migrations/2_opCodes_migration.js
  tests/solidity/suites/opcode/package.json
  tests/solidity/suites/opcode/test/opCodes.js
  tests/solidity/suites/opcode/truffle-config.js
  tests/solidity/test-helper.js
  tests/solidity/yarn.lock
Due: none

precompiles setup
  scripts/run-solidity-tests.sh
  tests/precompiles/authorization/Authorization.sol
  tests/precompiles/common/Types.sol
  tests/precompiles/distribution/Distribution.sol
  tests/precompiles/ics20/ICS20.sol
  tests/precompiles/staking/Staking.sol
  tests/precompiles/staking/testdata/StakingCaller.sol
  tests/precompiles/testutil/contracts/DistributionCaller.sol
  tests/precompiles/testutil/contracts/InterchainSender.sol
  tests/solidity/suites/opcode/bytecode.js
  tests/solidity/suites/precompiles/contracts/authorization/Authorization.sol
  tests/solidity/suites/precompiles/contracts/common/Types.sol
  tests/solidity/suites/precompiles/contracts/distribution/Distribution.sol
  tests/solidity/suites/precompiles/contracts/ics20/ICS20.sol
  tests/solidity/suites/precompiles/contracts/staking/Staking.sol
  tests/solidity/suites/precompiles/contracts/staking/testdata/StakingCaller.sol
  tests/solidity/suites/precompiles/contracts/testutil/contracts/DistributionCaller.sol
  tests/solidity/suites/precompiles/contracts/testutil/contracts/InterchainSender.sol
  tests/solidity/suites/precompiles/package.json
  tests/solidity/suites/precompiles/test/staking.js
  tests/solidity/suites/precompiles/truffle-config.js
Due: none

add precompiles tests
  precompiles/authorization/Authorization.sol
  precompiles/common/Types.sol
  precompiles/distribution/Distribution.sol
  precompiles/staking/Staking.sol
  precompiles/staking/testdata/StakingCaller.sol
  scripts/run-solidity-tests.sh
  tests/solidity/.gitignore
  tests/solidity/README.md
  tests/solidity/suites/precompiles/contracts/authorization/Authorization.sol
  tests/solidity/suites/precompiles/contracts/common/Types.sol
  tests/solidity/suites/precompiles/contracts/distribution/Distribution.sol
  tests/solidity/suites/precompiles/contracts/ics20/ICS20.sol
  tests/solidity/suites/precompiles/contracts/staking/Staking.sol
  tests/solidity/suites/precompiles/contracts/staking/testdata/StakingCaller.sol
  tests/solidity/suites/precompiles/contracts/testutil/contracts/DistributionCaller.sol
  tests/solidity/suites/precompiles/contracts/testutil/contracts/InterchainSender.sol
  tests/solidity/suites/precompiles/hardhat.config.js
  tests/solidity/suites/precompiles/package.json
  tests/solidity/suites/precompiles/test/staking.js
  tests/solidity/suites/precompiles/truffle-config.js
  tests/solidity/test-helper.js
  tests/solidity/yarn.lock
Due: none

remove unnecessary files
  tests/precompiles/authorization/Authorization.sol
  tests/precompiles/common/Types.sol
  tests/precompiles/distribution/Distribution.sol
  tests/precompiles/ics20/ICS20.sol
  tests/precompiles/staking/Staking.sol
  tests/precompiles/staking/testdata/StakingCaller.sol
  tests/precompiles/testutil/contracts/DistributionCaller.sol
  tests/precompiles/testutil/contracts/InterchainSender.sol
Due: none

add gitignore file in contracts
  tests/solidity/.gitignore
Due: none

fix style
  tests/solidity/init-test-node.sh
  tests/solidity/suites/basic/test/counter.js
  tests/solidity/suites/basic/test/events.js
  tests/solidity/suites/basic/test/revert.js
  tests/solidity/suites/basic/test/storage.js
  tests/solidity/suites/basic/truffle-config.js
  tests/solidity/suites/eip1559/test/eip1559.js
  tests/solidity/suites/eip1559/truffle-config.js
  tests/solidity/suites/exception/test/revert.js
  tests/solidity/suites/exception/truffle-config.js
  tests/solidity/suites/opcode/test/opCodes.js
  tests/solidity/suites/precompiles/hardhat.config.js
Due: none

fix bash style issues
  scripts/run-solidity-tests.sh
  tests/solidity/init-test-node.sh
Due: none

add solidity test gh flow
  .github/workflows/solidity-test.yml
Due: none

run npx standard --fix
  tests/solidity/init-test-node.sh
  tests/solidity/suites/basic/test/counter.js
  tests/solidity/suites/basic/test/events.js
  tests/solidity/suites/basic/test/revert.js
  tests/solidity/suites/basic/test/storage.js
  tests/solidity/suites/basic/truffle-config.js
  tests/solidity/suites/eip1559/test/eip1559.js
  tests/solidity/suites/eip1559/truffle-config.js
  tests/solidity/suites/exception/migrations/1_initial_migration.js
  tests/solidity/suites/exception/test/revert.js
  tests/solidity/suites/exception/truffle-config.js
  tests/solidity/suites/opcode/migrations/1_initial_migration.js
  tests/solidity/suites/opcode/migrations/2_opCodes_migration.js
  tests/solidity/suites/opcode/test/opCodes.js
  tests/solidity/suites/opcode/truffle-config.js
  tests/solidity/suites/precompiles/hardhat.config.js
  tests/solidity/suites/precompiles/test/staking.js
  tests/solidity/test-helper.js
Due: none

fix lint issues
  tests/solidity/init-test-node.sh
  tests/solidity/package.json
  tests/solidity/patches/truffle+5.4.14.patch
  tests/solidity/suites/basic/test/counter.js
  tests/solidity/suites/basic/test/events.js
  tests/solidity/suites/basic/test/revert.js
  tests/solidity/suites/basic/test/storage.js
  tests/solidity/suites/exception/test/revert.js
  tests/solidity/suites/opcode/test/opCodes.js
  tests/solidity/test-helper.js
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
