Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

docs(json-rpc server): make more reader friendly (#807)
  docs/developers/json-rpc/server.md
Due: none

change TruncateInt to RoundInt
  x/feesplit/keeper/evm_hooks.go
Due: modules

fix golangci-lint
  app/upgrades/v7/upgrades.go
Due: app

change to old UA attempts
  docs/.vuepress/config.js
Due: none

change to old UA attempts (#812)
  docs/.vuepress/config.js
Due: none

fix test ibc callback recovery module
  app/app_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
Due: app, modules

revert denom aevmos to acoin
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/incentives/keeper/keeper_test.go
  x/vesting/keeper/keeper_test.go
Due: modules

Create statesync-pebble.bash
  scripts/statesync-pebble.bash
Due: none

Update statesync-pebble.bash
  scripts/statesync-pebble.bash
Due: none

ScheduleForkUpgrade logic
  app/forks.go
  app/upgrades/V7/constants.go
Due: app

fix lint
  app/upgrades/v7/constants.go
  app/upgrades/v7/upgrades.go
Due: app

fix
  app/upgrades/V7/constants.go
  app/upgrades/v7/constants.go
Due: app

fix
  app/upgrades/v7/constants.go
Due: app

chore(docs): update changelog
  CHANGELOG.md
Due: none

chore(docs): update changelog (#817)
  CHANGELOG.md
Due: none

chore(app): set up v7 fork upgrade height
  app/forks.go
  app/upgrades/v7/constants.go
Due: app

chore(app): set up v7 fork upgrade height (#820)
  app/forks.go
  app/upgrades/v7/constants.go
Due: app

release: v6.0.4 changelog
  CHANGELOG.md
Due: none

changelog
  CHANGELOG.md
Due: none

add upgrade tests
  app/upgrades/v7/constants.go
  app/upgrades/v7/upgrades_test.go
Due: app

register upgrade handler
  app/app.go
Due: app

changelog
  CHANGELOG.md
  go.mod
  go.sum
Due: none

Create statesync.bash
  scripts/statesync.bash
Due: none

fix conflict
  app/upgrades/v7/upgrades_test.go
Due: app

feat(ante): fees rebate for IBC relayers
  app/ante/ante.go
  app/ante/fee.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/feesplit/v1/genesis.proto
  x/feesplit/types/feesplit.pb.go
  x/feesplit/types/genesis.pb.go
  x/feesplit/types/params.go
  x/feesplit/types/query.pb.go
  x/feesplit/types/tx.pb.go
Due: app, modules

update mainnet evmosd binary version
  docs/.vuepress/config.js
Due: none

remove un-used parameter passed to jq
  init.sh
Due: none

update comment for init.sh file
  init.sh
Due: none

add comment about how to add more validators at genesis
  init.sh
Due: none

upgrade(testnet): Set v7 upgrade height
  app/upgrades/v7/constants.go
Due: app

add changelog
  CHANGELOG.md
Due: none

docs: update mainnet release version + add comments to init.sh (#827)
  docs/.vuepress/config.js
  init.sh
Due: none

chore(release): add upgrade handler and store upgrade logic for feesplit module
  app/app.go
  app/upgrades/v8/constants.go
  app/upgrades/v8/upgrades.go
  app/upgrades/v8/upgrades_test.go
Due: app
