Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

add changelog entry
  CHANGELOG.md
Due: none

fix(db): change versiondb directory permission from 777 (insecure) to 750 (general) (#2072)
  CHANGELOG.md
  app/db.go
  precompiles/distribution/distribution.go
  precompiles/erc20/erc20.go
  precompiles/werc20/werc20.go
Due: app

use no allowance for token error constant
  precompiles/erc20/integration_test.go
Due: none

address review comments
  precompiles/erc20/errors.go
Due: none

imp(erc20): align metadata query errors with ERC20 contracts (#2073)
  CHANGELOG.md
  precompiles/erc20/errors.go
  precompiles/erc20/query.go
  precompiles/erc20/query_test.go
Due: none

tests(werc20): Add integration tests comparing behaviour with original Wevmos contract.
  precompiles/werc20/integration_test.go
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

fix: rename contracts addr name
  precompiles/werc20/integration_test.go
Due: none

fix: fix RequiredGas so it's equal with the WEVMOS contract
  precompiles/werc20/integration_test.go
  precompiles/werc20/werc20.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

tests(werc20): Add WEVMOS acceptance tests (#2074)
  CHANGELOG.md
  precompiles/werc20/integration_test.go
  precompiles/werc20/werc20.go
Due: none

align allowance adjustment errors with erc20
  precompiles/erc20/approve.go
  precompiles/erc20/approve_test.go
  precompiles/erc20/errors.go
  precompiles/erc20/query.go
  precompiles/erc20/tx.go
Due: none

add contract call tests for allowance adjustments
  precompiles/erc20/integration_test.go
Due: none

add contract specific allowance tests
  precompiles/erc20/integration_test.go
Due: none

imp(erc20): align allowance adjustment errors with erc20 contracts (#2075)
  CHANGELOG.md
  precompiles/erc20/approve.go
  precompiles/erc20/approve_test.go
  precompiles/erc20/errors.go
  precompiles/erc20/query.go
  precompiles/erc20/tx.go
Due: none

fix encoding and interface registration
  app/app.go
  cmd/evmosd/init.go
  cmd/evmosd/root.go
  encoding/config.go
  local_node.sh
  tests/e2e/init-node.sh
Due: app

add missing license
  testutil/integration/evmos/utils/gov.go
Due: none

add version and name
  cmd/evmosd/init.go
Due: none

fix genesis parsing
  server/flags/flags.go
  server/start.go
  testutil/network/util.go
Due: none

run make format
  app/app.go
Due: app

Update app/ante/evm.go
  app/ante/evm.go
Due: app

add comment
  app/ante/evm/04_validate.go
Due: app

add changelog
  CHANGELOG.md
Due: none

fix lint
  app/ante/evm.go
Due: app

imp(staking): replace bech32 address with evm hex address for query validator
  CHANGELOG.md
  precompiles/common/errors.go
  precompiles/staking/StakingI.sol
  precompiles/staking/abi.json
  precompiles/staking/integration_test.go
  precompiles/staking/query_test.go
  precompiles/staking/staking_test.go
  precompiles/staking/testdata/StakingCaller.json
  precompiles/staking/testdata/StakingCaller.sol
  precompiles/staking/types.go
  precompiles/staking/utils_test.go
Due: none

fix licenses
  app/ante/evm/11_gas_wanted.go
Due: app

imp(staking): use DefaultValidatorOutput when has a error
  precompiles/staking/types.go
Due: none

fix werc20 tests
  precompiles/werc20/integration_test.go
Due: none

fix lint
  precompiles/werc20/integration_test.go
Due: none

remove outdated fixmes
  precompiles/erc20/integration_test.go
Due: none

add missing wasm field in memo + tests
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types_test.go
  precompiles/outposts/osmosis/utils_test.go
Due: none

run make format
  precompiles/outposts/osmosis/types.go
Due: none

depecrate legacy EIP712 ante handler
  app/ante/ante.go
  app/ante/cosmos/authz_test.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
  app/ante/handler_options.go
  testutil/tx/eip712.go
Due: app

update changelog
  CHANGELOG.md
Due: none

format changelog
  CHANGELOG.md
Due: none

commit fuzz WIP
  precompiles/erc20/tx_fuzz_test.go
Due: none

imp(ante): MonoAnteHandler for EVM transactions (#2028)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/cosmos.go
  app/ante/evm.go
  app/ante/evm/01_setup_ctx.go
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/03_global_fee.go
  app/ante/evm/04_validate.go
  app/ante/evm/05_signature_verification.go
  app/ante/evm/06_account_verification.go
  app/ante/evm/07_can_transfer.go
  app/ante/evm/08_vesting.go
  app/ante/evm/09_gas_consume.go
  app/ante/evm/10_increment_sequence.go
  app/ante/evm/11_gas_wanted.go
  app/ante/evm/12_emit_event.go
  app/ante/evm/eth.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fees.go
  app/ante/evm/mono.go
  app/ante/evm/setup_ctx.go
  app/ante/evm_benchmark_test.go
  app/ante/handler_options.go
  precompiles/werc20/integration_test.go
  testutil/integration/common/factory/factory.go
  testutil/integration/common/factory/helper.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/network.go
  x/evm/types/utils.go
Due: app, modules
