Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

audit(erc20): add types tests and update comments (#550)
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/proposals.go
  x/erc20/types/errors.go
  x/erc20/types/msg.go
  x/erc20/types/proposal.go
  x/erc20/types/utils.go
  x/erc20/types/utils_test.go
Due: modules

audit(incentives): only distribute incentives to EOAs
  x/incentives/keeper/evm_hooks.go
  x/incentives/keeper/evm_hooks_test.go
  x/incentives/keeper/integration_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/types/interfaces.go
Due: modules

Store epoch information by duration and by identifier
  x/epochs/keeper/epoch_infos.go
  x/epochs/keeper/epoch_infos_test.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/types/keys.go
Due: modules

updated evmosd ref to cantod: all support scripts
  .goreleaser.yml
  Dockerfile
  Makefile
  config.yml
  docs/.vuepress/config.js
  init.bat
  init.sh
  scripts/integration-test-all.sh
  scripts/start-docker.sh
Due: none

updated evmosd ref to cantod: all application scripts
  app/app.go
  cmd/config/observability.go
  cmd/evmosd/cmd_test.go
  cmd/evmosd/root.go
  cmd/evmosd/testnet.go
  testutil/network/network.go
  testutil/network/util.go
Due: app

updated evmosd ref to cantod: documentation
  docs/DOCS_README.md
  docs/developers/json-rpc/endpoints.md
  docs/developers/json-rpc/events.md
  docs/developers/json-rpc/running_server.md
  docs/developers/localnet/multi_node.md
  docs/developers/localnet/single_node.md
  docs/developers/localnet/testnet_cmd.md
  docs/protocol/upgrades/migrations.md
  docs/users/keys/keyring.md
  docs/users/keys/multisig.md
  docs/users/technical_concepts/accounts.md
  docs/users/wallets/ledger.md
  docs/users/wallets/metamask.md
  docs/validators/faq.md
  docs/validators/governance/submitting.md
  docs/validators/mainnet.md
  docs/validators/quickstart/binary.md
  docs/validators/quickstart/installation.md
  docs/validators/quickstart/reproducible-builds.md
  docs/validators/quickstart/run_node.md
  docs/validators/security/checklist.md
  docs/validators/security/kms_ledger.md
  docs/validators/setup/configuration.md
  docs/validators/setup/disk_optimization.md
  docs/validators/setup/run_validator.md
  docs/validators/testnet.md
  docs/validators/upgrades/automated.md
  docs/validators/upgrades/manual.md
  docs/validators/upgrades/overview.md
  x/claims/spec/07_clients.md
  x/erc20/spec/08_clients.md
  x/fees/spec/08_clients.md
  x/incentives/spec/08_clients.md
  x/inflation/spec/06_clients.md
  x/recovery/spec/05_clients.md
  x/vesting/spec/07_clients.md
Due: none

Changing erroneous epoch skips to daily instead of weekly
  x/inflation/keeper/hooks.go
Due: modules

release: v4 upgrade logic
  app/app.go
  app/upgrades/mainnet/v4/constants.go
  app/upgrades/mainnet/v4/upgrades.go
Due: app

impr(erc20): remove migrations
  x/erc20/migrations/v2/migration.go
  x/erc20/migrations/v2/migration_test.go
Due: modules

remove migration registration
  x/erc20/keeper/migrations.go
  x/erc20/module.go
Due: modules

fix tests
  x/incentives/keeper/evm_hooks_test.go
  x/incentives/keeper/integration_test.go
Due: modules

fix integration tests
  x/incentives/keeper/integration_test.go
  x/incentives/keeper/proposals.go
Due: modules

cleanup
  x/incentives/keeper/integration_test.go
Due: modules

[BUGFIX] renamed cantod cmd dir
  cmd/cantod/cmd_test.go
  cmd/cantod/genaccounts.go
  cmd/cantod/init.go
  cmd/cantod/main.go
  cmd/cantod/migrate.go
  cmd/cantod/root.go
  cmd/cantod/testnet.go
Due: none

fork logic
  app/app.go
  app/forks.go
  app/upgrades/testnet/v3/upgrades.go
  app/upgrades/testnet/v4/constants.go
  app/upgrades/testnet/v4/upgrades.go
Due: app

rm return
  app/forks.go
  app/upgrades/mainnet/v4/constants.go
Due: app

Revert to ascending order
  x/epochs/keeper/epoch_infos.go
  x/epochs/keeper/epoch_infos_test.go
Due: modules

Update according to review comments
  docs/.vuepress/components/Home.vue
  docs/.vuepress/config.js
  docs/developers/overview.md
Due: none

Fix basics link and remove core concepts button
  docs/README.md
Due: none

Remove "not yet live" in high-level overview
  docs/about/intro/overview.md
Due: none

Add GH action to check markdown links
  .github/workflows/markdown-links.yml
Due: none

Add missing newline at end of markdown-links.yml
  .github/workflows/markdown-links.yml
Due: none

Fix epochs unit tests
  x/epochs/keeper/epoch_infos_test.go
Due: modules

Add migration logic for epoch change
  x/epochs/keeper/migrations.go
  x/epochs/migrations/v2/keys.go
  x/epochs/migrations/v2/migration.go
  x/epochs/migrations/v2/migration_test.go
  x/epochs/module.go
Due: modules

Add change log
  CHANGELOG.md
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

feat: Inbound / outbound peers & default seeds (#541)
  CHANGELOG.md
  cmd/evmosd/init.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/integration_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

uncomment check
  x/epochs/migrations/v2/migration_test.go
Due: modules

Update evmos v3 -> v4 after latest changes
  x/epochs/keeper/migrations.go
  x/epochs/migrations/v2/migration.go
  x/epochs/migrations/v2/migration_test.go
Due: modules

Fix markdown lint in developer overview
  docs/developers/overview.md
Due: none

Add year and hour epochs
  x/epochs/migrations/v2/identifier.go
  x/epochs/migrations/v2/json.go
  x/epochs/migrations/v2/migration_test.go
  x/epochs/migrations/v2/store.go
  x/epochs/types/genesis.go
  x/epochs/types/identifier.go
Due: modules

Update evmos v3 -> v4 after latest changes
  x/epochs/migrations/v2/json.go
Due: modules

impr(erc20): remove deprecated migrations (#556)
  CHANGELOG.md
  x/erc20/keeper/migrations.go
  x/erc20/migrations/v2/migration.go
  x/erc20/migrations/v2/migration_test.go
  x/erc20/module.go
Due: modules

tests(erc20): add types proposal stringer tests
  x/erc20/types/proposal_test.go
Due: modules

audit(incentives): only distribute incentives to EOAs (#551)
  CHANGELOG.md
  x/incentives/keeper/evm_hooks.go
  x/incentives/keeper/evm_hooks_test.go
  x/incentives/keeper/integration_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/proposals.go
  x/incentives/types/interfaces.go
Due: modules
