Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix(upgrade_test): add set mount path from runtime for ci action
  tests/e2e/e2e_utils_test.go
Due: none

fix(proto): fix package version
  proto/evmos/claims/v1/claims.proto
  proto/evmos/claims/v1/genesis.proto
  proto/evmos/claims/v1/query.proto
  proto/evmos/epochs/v1/genesis.proto
  proto/evmos/epochs/v1/query.proto
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/genesis.proto
  proto/evmos/erc20/v1/query.proto
  proto/evmos/erc20/v1/tx.proto
  proto/evmos/incentives/v1/genesis.proto
  proto/evmos/incentives/v1/incentives.proto
  proto/evmos/incentives/v1/query.proto
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/inflation.proto
  proto/evmos/inflation/v1/query.proto
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  proto/evmos/vesting/v1/query.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
Due: none

fix(proto): fix package version (#1083)
  proto/evmos/claims/v1/claims.proto
  proto/evmos/claims/v1/genesis.proto
  proto/evmos/claims/v1/query.proto
  proto/evmos/epochs/v1/genesis.proto
  proto/evmos/epochs/v1/query.proto
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/genesis.proto
  proto/evmos/erc20/v1/query.proto
  proto/evmos/erc20/v1/tx.proto
  proto/evmos/incentives/v1/genesis.proto
  proto/evmos/incentives/v1/incentives.proto
  proto/evmos/incentives/v1/query.proto
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/inflation.proto
  proto/evmos/inflation/v1/query.proto
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  proto/evmos/vesting/v1/query.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
Due: none

feat(ibc): utils for erc20 middleware (#1081)
  CHANGELOG.md
  ibc/testing/app.go
  ibc/testing/chain.go
  ibc/utils.go
  ibc/utils_test.go
  types/utils.go
  types/utils_test.go
Due: core

feat(upgrade_test): image building from runtime
  Makefile
  tests/e2e/README.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/manager.go
Due: none

Update protogen scripts to work as the cosmos-sdk ones
  Makefile
  buf.work.yaml
  proto/buf.gen.gogo.yaml
  proto/buf.lock
  proto/buf.yaml
  protoc-swagger-gen.sh
  scripts/protocgen.sh
Due: none

x/ibc/transfer module
  app/app.go
  x/ibc/transfer/ibc_module.go
  x/ibc/transfer/keeper/keeper.go
  x/ibc/transfer/keeper/keeper_test.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/keeper/msg_server_test.go
  x/ibc/transfer/module.go
  x/ibc/transfer/types/interfaces.go
Due: app, modules

Move protoc swagger script to scripts folder
  scripts/protoc-swagger-gen.sh
  scripts/protocgen.sh
Due: none

Update protoc-swagger-gen.sh script to not use local copies of third party proto files
  proto/buf.gen.gogo.yaml
  proto/buf.gen.swagger.yaml
  proto/buf.yaml
  scripts/protoc-swagger-gen.sh
Due: none

Commit updated go.mod & go.sum
  go.mod
  go.sum
Due: none

fix(upgrade_test): fixed docker image building in ci runner
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/manager.go
Due: none

chore(makefile): remove useless command
  Makefile
Due: none

apply suggestions from pr
  CHANGELOG.md
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/keeper/msg_server_test.go
Due: modules

tests: increased unit test timeout time
  Makefile
Due: none

feat(ibc): erc20 conversion trough `transfer` module (#1085)
  CHANGELOG.md
  app/app.go
  x/ibc/transfer/ibc_module.go
  x/ibc/transfer/keeper/keeper.go
  x/ibc/transfer/keeper/keeper_test.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/keeper/msg_server_test.go
  x/ibc/transfer/module.go
  x/ibc/transfer/types/interfaces.go
Due: app, modules

fix(ci): fixed target node build
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/Dockerfile.target
  tests/e2e/upgrade/manager.go
Due: none

erc20 OnRecv conversion
  app/app.go
  x/erc20/ibc_middleware.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/types/interfaces.go
Due: app, modules

feature (vesting) add functionality to update vesting funder in ClawbackVestingAccount
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/evmos/vesting/v1/tx.proto
  x/vesting/client/cli/tx.go
  x/vesting/handler.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/codec.go
  x/vesting/types/events.go
  x/vesting/types/msg.go
  x/vesting/types/msg_test.go
  x/vesting/types/tx.pb.go
  x/vesting/types/tx.pb.gw.go
Due: modules

feature (vesting) add changes in changelog file
  CHANGELOG.md
Due: none

feature (vesting) add documentation for UpdateVestingFunder
  x/vesting/client/cli/tx.go
  x/vesting/spec/03_state_transitions.md
  x/vesting/spec/04_transactions.md
  x/vesting/spec/06_events.md
  x/vesting/spec/07_clients.md
Due: modules

suggestions from pr
  app/app.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
Due: app, modules

feature (vesting) add integration tests
  x/vesting/keeper/integration_test.go
Due: modules

feature (vesting) fix linting errors
  x/vesting/spec/04_transactions.md
  x/vesting/spec/06_events.md
Due: none

feature (vesting) fix style errors
  proto/evmos/vesting/v1/tx.proto
  x/vesting/client/cli/tx.go
  x/vesting/spec/07_clients.md
Due: modules

fix use of home directory in local node script
  local_node.sh
Due: none

fix(cmd) change evmos coin denom regex to validate properly coins in decimal format
  types/utils.go
  types/utils_test.go
Due: core

Update x/vesting/keeper/msg_server_test.go
  x/vesting/keeper/msg_server_test.go
Due: modules

Update x/vesting/spec/04_transactions.md
  x/vesting/spec/04_transactions.md
Due: none

Update x/vesting/spec/07_clients.md
  x/vesting/spec/07_clients.md
Due: none

Update x/vesting/types/msg.go
  x/vesting/types/msg.go
Due: modules

fix: use of home directory in local node script (#1088)
  local_node.sh
Due: none

apply suggestions from pr
  ibc/utils_test.go
  types/tests/test_utils.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/ibc/transfer/keeper/msg_server.go
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/revenue/keeper/keeper_test.go
Due: modules

feature (vesting) changes in CLI client based on review comments
  x/vesting/client/cli/tx.go
  x/vesting/spec/07_clients.md
Due: modules

Add initial version of audits page
  docs/about/intro/audits.md
Due: none

Add changelog entry
  CHANGELOG.md
Due: none

feature (vesting) add changes based on review comments
  x/vesting/keeper/integration_test.go
Due: modules

Fix linebreaks
  docs/about/intro/audits.md
Due: none

feature (vesting) add new funder blocked test case
  x/vesting/keeper/msg_server_test.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
