Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

fix: cleanup check
  x/revenue/v1/keeper/evm_hooks.go
Due: modules

fix: added account keeper and problematic test case
  app/app.go
  x/revenue/v1/keeper/evm_hooks.go
  x/revenue/v1/keeper/integration_test.go
  x/revenue/v1/keeper/keeper.go
  x/revenue/v1/keeper/utils_test.go
Due: app, modules

fix tests
  x/revenue/v1/keeper/integration_test.go
Due: modules

Update init.sh
  init.sh
Due: none

fix tests
  x/revenue/v1/keeper/utils_test.go
Due: modules

Problem: integrate memiavl in evmos
  app/app.go
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
Due: app

fix: lint
  x/revenue/v1/keeper/integration_test.go
Due: modules

refactor post processing hooks
  x/revenue/v1/keeper/evm_hooks.go
Due: modules

refractor hooks
  x/revenue/v1/keeper/evm_hooks.go
Due: modules

avoid performing unnesary logic
  x/revenue/v1/keeper/evm_hooks.go
Due: modules

fix lint
  x/revenue/v1/keeper/evm_hooks.go
Due: modules

feat(revenue): route gas fees paid from calling precompiles to community pool (#1607)
  app/app.go
  x/revenue/v1/keeper/evm_hooks.go
  x/revenue/v1/keeper/integration_test.go
  x/revenue/v1/keeper/keeper.go
  x/revenue/v1/keeper/utils_test.go
  x/revenue/v1/types/interfaces.go
Due: app, modules

tests: add timeout packet case for registered erc20
  x/erc20/keeper/ibc_callbacks_integration_test.go
Due: modules

cleanup deps
  go.mod
  go.sum
Due: none

update Makefile
  Makefile
Due: none

update Makefile (#1618)
  Makefile
Due: none

add snapshot cmds
  cmd/evmosd/root.go
Due: none

Update Dockerfile
  Dockerfile
Due: none

add snapshot cmds (#1619)
  cmd/evmosd/root.go
Due: none

tests: add timeout packet case for registered erc20 (#1615)
  x/erc20/keeper/ibc_callbacks_integration_test.go
Due: modules

adjust default app configuration to disable all server options
  server/config/config.go
Due: none

chore(server): adjust default app configuration to disable all server options (#1623)
  server/config/config.go
Due: none

add license checker script
  scripts/check_licenses.py
  scripts/test_check_licenses.py
Due: none

add make command
  Makefile
Due: none

add GitHub workflow
  .github/workflows/check-licenses.yml
Due: none

adjust printed string
  scripts/check_licenses.py
Due: none

only run GH action on relevant changes
  .github/workflows/check-licenses.yml
Due: none

add changelog entry
  CHANGELOG.md
  x/evm/keeper/precompiles.go
Due: modules

address linter comments
  scripts/check_licenses.py
  scripts/test_check_licenses.py
Due: none

add lic
  precompiles/common/precompile.go
  x/evm/keeper/precompiles.go
Due: modules

address more linter comments
  scripts/check_licenses.py
Due: none

imp(ci): add license checker (#1624)
  .github/workflows/check-licenses.yml
  Makefile
  scripts/check_licenses.py
  scripts/test_check_licenses.py
Due: none

dereference the pointer for the app config
  server/config/config.go
Due: none

add proto files to license checker LGPL3 files
  scripts/check_licenses.py
Due: none

add missing changelog entries
  CHANGELOG.md
Due: none

chore(changelog): add missing changelog entries (#1628)
  CHANGELOG.md
Due: none

fix chlog
  CHANGELOG.md
Due: none

add licenses
  precompiles/authorization/errors.go
  precompiles/distribution/errors.go
  precompiles/staking/errors.go
  precompiles/testutil/logs.go
  precompiles/testutil/testing.go
Due: none
