Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

remove unnecessary import
  proto/evmos/vesting/v1/tx.proto
Due: none

fix lint issues
  x/vesting/keeper/keeper.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/migrations/v2/migrate.go
  x/vesting/types/keys.go
Due: modules

refactor
  x/vesting/keeper/keeper.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/migrations/v2/migrate.go
Due: modules

use init-node script as start command for container
  Dockerfile
Due: none

set go env in build.yml
  .github/workflows/build.yml
Due: none

add type check in unit test
  x/vesting/keeper/migrations.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
Due: modules

refactor int tests
  x/vesting/keeper/integration_test.go
Due: modules

refactor dupl code
  x/vesting/keeper/msg_server.go
Due: modules

remove unused event
  x/vesting/types/events.go
Due: modules

refactor
  app/app.go
  proto/evmos/vesting/v1/vesting.proto
  x/vesting/client/cli/tx.go
  x/vesting/client/proposal_handler.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/msg_server.go
  x/vesting/proposal_handler.go
  x/vesting/types/proposal.go
  x/vesting/types/proposal_test.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Due: app, modules

remove unnecessary address check
  x/vesting/client/cli/tx.go
Due: modules

remove unused var
  x/vesting/keeper/msg_server.go
Due: modules

refactor codec
  x/vesting/types/codec.go
Due: modules

refactor
  proto/evmos/vesting/v1/tx.proto
  x/vesting/client/cli/tx.go
  x/vesting/handler.go
  x/vesting/keeper/msg_server.go
  x/vesting/types/codec.go
  x/vesting/types/msg.go
  x/vesting/types/msg_test.go
  x/vesting/types/tx.pb.go
  x/vesting/types/tx.pb.gw.go
Due: modules

refactor tests
  x/vesting/keeper/msg_server_test.go
Due: modules

refactor
  proto/evmos/vesting/v1/vesting.proto
  x/vesting/keeper/keeper.go
  x/vesting/keeper/msg_server.go
  x/vesting/proposal_handler.go
  x/vesting/types/proposal.go
  x/vesting/types/proposal_test.go
  x/vesting/types/vesting.pb.go
Due: modules

fixes
  x/vesting/client/cli/tx.go
  x/vesting/proposal_handler.go
  x/vesting/types/keys.go
  x/vesting/types/msg.go
Due: modules

chore: add ics20 precompiled
  app/app.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Due: app, modules

chore(deps): bump ibc-go version to v6.2.0
  go.mod
  go.sum
Due: none

chore(deps): bump ibc-go version to v6.2.0 (#1581)
  go.mod
  go.sum
Due: none

remove depguard linter
  .golangci.yml
Due: none

address nakedret linter
  testutil/contract.go
Due: none

Merge pull request from GHSA-2q3r-p2m3-898g
  CHANGELOG.md
  go.mod
  go.sum
  server/start.go
  server/util.go
  x/vesting/keeper/integration_test.go
  x/vesting/types/msg.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

fix clawback tests
  x/vesting/keeper/integration_test.go
Due: modules

Update Changelog for v12.1.5 (#1586)
  CHANGELOG.md
  x/vesting/keeper/integration_test.go
Due: modules

fix: contracts/package.json & contracts/package-lock.json to reduce vulnerabilities
  contracts/package-lock.json
  contracts/package.json
Due: none

commit WIP trying to get Evmos working
  tests/interchaintest/interchain_test.go
Due: none

add changes to build Docker image with contents from private repo
  Dockerfile
  Makefile
  go.mod
  go.sum
Due: none

update dependencies
  go.mod
  go.sum
Due: none

Update Makefile
  Makefile
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

Update x/evm/keeper/precompiles.go
  x/evm/keeper/precompiles.go
Due: modules

fix: update go.mod and params comments
  go.mod
  x/evm/types/params.go
Due: modules

CHANGELOG
  CHANGELOG.md
Due: none

chore: add ics20 precompile (#1578)
  CHANGELOG.md
  app/app.go
  go.mod
  go.sum
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Due: app, modules

Update Makefile. enable CGO (#1590)
  Makefile
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
