Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

tests(erc20): add types proposal stringer tests (#560)
  x/erc20/types/proposal_test.go
Due: modules

add blocked address test case for mint'
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/grpc_query_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/mint_test.go
Due: modules

move TestRegisterNativeIBC test to proposals_test
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
Due: modules

add ibc voucher conversion tests
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
Due: modules

wip TestDeployERC20Contract
  x/erc20/keeper/evm_test.go
Due: modules

Use master of markdown link check not v1.0.14
  .github/workflows/markdown-links.yml
Due: none

fix other issue with markdown lint
  docs/developers/overview.md
Due: none

Fix broken markdown links
  docs/architecture/adr-002-evm-hooks.md
  docs/users/basics/tokens.md
  docs/users/keys/keyring.md
  docs/users/technical_concepts/accounts.md
  docs/users/technical_concepts/pending_state.md
  docs/users/wallets/metamask.md
Due: none

Update docs/README.md
  docs/README.md
Due: none

Use universal cosmos gitpod image as an editing environment
  .gitpod.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update docs/architecture/adr-002-evm-hooks.md
  docs/architecture/adr-002-evm-hooks.md
Due: none

fix lint
  docs/README.md
Due: none

ci, docs: fix dead links (#548)
  .github/workflows/markdown-links.yml
  docs/.vuepress/components/Home.vue
  docs/.vuepress/config.js
  docs/README.md
  docs/about/intro/overview.md
  docs/architecture/adr-002-evm-hooks.md
  docs/developers/clients.md
  docs/developers/connect.md
  docs/developers/explorers.md
  docs/developers/faucet.md
  docs/developers/overview.md
  docs/users/basics/tokens.md
  docs/users/keys/keyring.md
  docs/users/technical_concepts/accounts.md
  docs/users/technical_concepts/pending_state.md
  docs/users/wallets/metamask.md
Due: none

fix build
  cmd/evmosd/migrate.go
Due: none

remove TestDeployERC20Contract test
  x/erc20/keeper/evm_test.go
Due: modules

move PostTxProcessing call in tests into test case iteration
  x/erc20/keeper/evm_hooks_test.go
Due: modules

add succesfull convert coin test
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/proposals_test.go
Due: modules

Create statesync-rocks.bash
  scripts/statesync-rocks.bash
Due: none

Update statesync-rocks.bash
  scripts/statesync-rocks.bash
Due: none

added test node setup script for cloud deployment
  init_testnode.sh
Due: none

added cosmos REST server to test node script
  init_testnode.sh
Due: none

Use universal cosmos gitpod image as an editing environment (#564)
  .gitpod.yml
  CHANGELOG.md
Due: none

add convert tests for registered ERC20
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/proposals_test.go
Due: modules

tests(erc20): refactor keeper tests (#561)
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/grpc_query_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
Due: modules

Known-good and tested rocksdb state sync
  go.mod
  go.sum
  scripts/statesync-rocks.bash
Due: none

clean up
  testutil/fund.go
  x/erc20/keeper/integration_test.go
  x/erc20/testing/integration_test.go
  x/fees/keeper/integration_test.go
Due: modules

revert gas limit change
  x/fees/keeper/integration_test.go
Due: modules

fix docs
  docs/developers/connect.md
  docs/validators/mainnet.md
  docs/validators/upgrades/overview.md
  docs/validators/upgrades/upgrades.md
Due: none

Update .gitpod.yml
  .gitpod.yml
Due: none

change wording
  x/erc20/keeper/integration_test.go
Due: modules

set client IDs
  app/upgrades/v4/upgrades.go
Due: app

fix comments
  app/upgrades/v4/upgrades.go
Due: app

ci(fuzz): add fuzz function for x/incentives/types.SplitGasMeterKey
  x/incentives/types/fuzz_test.go
Due: modules

tests(erc20): add integration tests (#571)
  testutil/fund.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/testing/integration_test.go
Due: modules

use master branch of tm-db
  go.mod
  go.sum
Due: none

ci(fuzz): add fuzz function for x/incentives/types.SplitGasMeterKey (#573)
  x/incentives/types/fuzz_test.go
Due: modules
