Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: ordering in app.go
  app/app.go
Due: app

add new testutil functions: call contract and create validator
  testutil/contract.go
  testutil/staking-rewards.go
Due: none

update go.mod
  go.mod
Due: none

changes based on review comments
  testutil/contract.go
  testutil/staking-rewards.go
Due: none

refactor to use CheckEthTxResponse func
  testutil/contract.go
Due: none

fix lint issues
  testutil/contract.go
Due: none

rename func
  app/ante/integration_test.go
  testutil/abci.go
  x/claims/keeper/utils_test.go
  x/erc20/keeper/utils_test.go
  x/evm/keeper/utils_test.go
  x/feemarket/keeper/utils_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/utils_test.go
  x/inflation/keeper/utils_test.go
  x/revenue/v1/keeper/utils_test.go
  x/vesting/keeper/utils_test.go
Due: app, modules

remove unnecessary replace on precompiles
  go.mod
  go.sum
Due: none

chore: add new testutil functions: call contract and create validator (#1528)
  testutil/contract.go
  testutil/staking-rewards.go
Due: none

fix: tracers
  go.mod
  go.sum
  x/evm/keeper/grpc_query.go
Due: modules, clients

run make proto-all on branch after cherry-picking from main
  x/evm/types/evm.pb.go
Due: none

fix: fix some tests
  x/evm/keeper/grpc_query_test.go
  x/evm/statedb/statedb_test.go
  x/evm/types/params_test.go
Due: modules

fix: remove test
  x/evm/types/params_test.go
Due: modules

fix: add new LICENSE and FAQ and update README
  LICENSE
  LICENSE_FAQ.md
  README.md
Due: none

use cosmos-sdk v0.46 and informal-system tendermint fork
  go.mod
  go.sum
  server/start.go
  server/util.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

chore: add v13 upgrade handler
  app/app.go
  app/upgrades/v13/constants.go
  app/upgrades/v13/upgrades.go
Due: app

Apply suggestions from code review
  LICENSE
  README.md
Due: none

fix lint issues
  LICENSE
Due: none

fix lint issues
  LICENSE_FAQ.md
  app/export.go
  app/forks.go
  app/tps_counter.go
  client/config.go
  client/debug/debug.go
  client/export.go
  client/import.go
  client/keys.go
  client/keys/add.go
  client/keys/utils.go
  client/testnet.go
  encoding/codec/codec.go
  encoding/config.go
  testutil/abci.go
  testutil/ante.go
  testutil/contract.go
  testutil/fund.go
  testutil/integration.go
  testutil/network/doc.go
  testutil/network/network.go
  testutil/network/util.go
  testutil/setup.go
  testutil/staking-rewards.go
  testutil/statedb.go
  testutil/tx/cosmos.go
  testutil/tx/eip712.go
  testutil/tx/eth.go
  testutil/tx/signer.go
  utils/utils.go
  version/version.go
Due: app

fix gitleaks lint
  client/debug/debug.go
Due: none

remove unnecessary abi.json file
  abi.json
Due: none

update evmos-ledger-go version
  go.mod
  go.sum
Due: none

increase fees in upgrade e2e test
  tests/e2e/e2e_suite_test.go
Due: none

fix lint issues
  x/evm/keeper/precompiles.go
  x/evm/statedb/statedb.go
  x/evm/types/tracer.go
Due: modules

update evm.pb.go file
  x/evm/types/evm.pb.go
Due: none

docs(license): fix linebreaks
  LICENSE
Due: none

docs(license): fix wording and linter
  LICENSE
  LICENSE_FAQ.md
  README.md
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
