Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

address review comments
  local_node.sh
Due: none

remove command to delete the gentx folder as it is unnecessary
  local_node.sh
Due: none

add minor doc comments
  local_node.sh
Due: none

revert changes
  app/app.go
  app/upgrades/v10/upgrades.go
Due: app

change user prompt to check overwrite
  local_node.sh
Due: none

(fix): removed old calls to x/params module keeper
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
Due: modules

imp: add option to overwrite in local node script (#1123)
  local_node.sh
Due: none

(refactor): add new MsgUpdateParams and create new migration folder for v3
  proto/evmos/claims/v1/tx.proto
  x/claims/keeper/keeper.go
  x/claims/keeper/params.go
  x/claims/migrations/v3/migrate.go
  x/claims/migrations/v3/migrate_test.go
  x/claims/migrations/v3/types/claims.pb.go
  x/claims/migrations/v3/types/genesis.pb.go
  x/claims/migrations/v3/types/params.go
  x/claims/types/tx.pb.go
  x/claims/types/tx.pb.gw.go
  x/erc20/types/erc20.pb.go
  x/inflation/handler_test.go
Due: modules

(refactor): Delete old migrations
  x/claims/keeper/migrations.go
  x/claims/migrations/v1/types/claims.pb.go
  x/claims/migrations/v1/types/genesis.pb.go
  x/claims/migrations/v2/migration.go
  x/claims/migrations/v2/migration_test.go
  x/claims/module.go
Due: modules

(fix): linter issues
  x/claims/module.go
Due: none

chore(claims): Delete deprecated migration logic (#1126)
  x/claims/keeper/migrations.go
  x/claims/migrations/v1/types/claims.pb.go
  x/claims/migrations/v1/types/genesis.pb.go
  x/claims/migrations/v2/migration.go
  x/claims/migrations/v2/migration_test.go
  x/claims/module.go
Due: modules

feat(erc20): add is sender module account checks
  .gitleaksignore
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/types/interfaces.go
  x/erc20/types/utils.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/keeper/msg_server_test.go
Due: modules

(fix): Applied changes from recoomendations
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/migrations.go
  x/erc20/keeper/migrations_test.go
  x/erc20/keeper/params_test.go
  x/erc20/migrations/v3/migration.go
  x/erc20/migrations/v3/migration_test.go
  x/erc20/migrations/v3/types/genesis.pb.go
  x/erc20/migrations/v3/types/params.go
  x/erc20/types/codec.go
  x/erc20/types/interfaces.go
  x/erc20/types/params.go
Due: modules

(refactor): Create migration, codec, msg, msg_server and general refactors
  CHANGELOG.md
  app/app.go
  proto/evmos/claims/v1/tx.proto
  x/claims/genesis.go
  x/claims/handler.go
  x/claims/keeper/abci.go
  x/claims/keeper/keeper.go
  x/claims/keeper/migrations.go
  x/claims/keeper/msg_server.go
  x/claims/migrations/v3/migrate.go
  x/claims/migrations/v3/migrate_test.go
  x/claims/migrations/v3/types/claims.pb.go
  x/claims/migrations/v3/types/genesis.pb.go
  x/claims/migrations/v3/types/params.go
  x/claims/module.go
  x/claims/types/codec.go
  x/claims/types/interfaces.go
  x/claims/types/msg.go
  x/claims/types/params.go
  x/claims/types/params_test.go
  x/claims/types/tx.pb.go
  x/claims/types/tx.pb.gw.go
Due: app, modules

(refactor): Full refactor on deprecation of x/params
  proto/evmos/inflation/v1/tx.proto
  x/erc20/types/erc20.pb.go
  x/inflation/genesis.go
  x/inflation/keeper/migrations.go
  x/inflation/keeper/migrations_test.go
  x/inflation/keeper/msg_server.go
  x/inflation/keeper/params.go
  x/inflation/keeper/params_test.go
  x/inflation/migrations/v2/migrate.go
  x/inflation/migrations/v2/migrate_test.go
  x/inflation/migrations/v2/types/params.go
  x/inflation/module.go
  x/inflation/types/codec.go
  x/inflation/types/interfaces.go
  x/inflation/types/msg.go
  x/inflation/types/params.go
  x/inflation/types/tx.pb.go
Due: modules

add priority mempool docs
  docs/validators/setup/priority_mempool.md
Due: none

fix evmosd config path in validators/setup/configuration.md
  docs/validators/setup/configuration.md
Due: none

docs(guides) add automated coin conversion guide
  docs/developers/guides/automatic_coin_conversion.md
Due: none

docs(guides) fix linting errors
  docs/developers/guides/automatic_coin_conversion.md
Due: none

address linter comments
  docs/validators/setup/priority_mempool.md
Due: none

(refactor): Added migration to v2 and deprecation of x/params logic across the revenue module
  app/app.go
  proto/evmos/revenue/v1/tx.proto
  x/erc20/types/erc20.pb.go
  x/revenue/genesis.go
  x/revenue/handler.go
  x/revenue/keeper/keeper.go
  x/revenue/keeper/migrations.go
  x/revenue/keeper/msg_server.go
  x/revenue/keeper/params.go
  x/revenue/migrations/v2/migrate.go
  x/revenue/migrations/v2/migrate_test.go
  x/revenue/migrations/v2/types/genesis.pb.go
  x/revenue/migrations/v2/types/params.go
  x/revenue/module.go
  x/revenue/types/codec.go
  x/revenue/types/codec_test.go
  x/revenue/types/interfaces.go
  x/revenue/types/msg.go
  x/revenue/types/params_test.go
  x/revenue/types/tx.pb.go
  x/revenue/types/tx.pb.gw.go
Due: app, modules

added CHANGELOG entry
  CHANGELOG.md
Due: none

Added CHANGELOG entry
  CHANGELOG.md
Due: none

(refactor): Added new proto message to UpdateParams, added needed files and migration from version 1 to 2
  app/app.go
  proto/evmos/incentives/v1/tx.proto
  x/erc20/types/erc20.pb.go
  x/incentives/genesis.go
  x/incentives/handler.go
  x/incentives/keeper/keeper.go
  x/incentives/keeper/migrations.go
  x/incentives/keeper/msg_server.go
  x/incentives/keeper/params.go
  x/incentives/migrations/v2/migrate.go
  x/incentives/migrations/v2/migrate_test.go
  x/incentives/migrations/v2/types/genesis.pb.go
  x/incentives/migrations/v2/types/incentives.pb.go
  x/incentives/migrations/v2/types/params.go
  x/incentives/module.go
  x/incentives/types/codec.go
  x/incentives/types/interfaces.go
  x/incentives/types/msg.go
  x/incentives/types/params_test.go
  x/incentives/types/tx.pb.go
  x/incentives/types/tx.pb.gw.go
Due: app, modules

typo fix
  app/app.go
Due: app

(fix): Added missing migration to module.go
  app/app.go
  x/claims/module.go
Due: app

Apply suggestions from code review
  proto/evmos/claims/v1/tx.proto
  x/claims/genesis.go
  x/claims/keeper/abci.go
  x/claims/keeper/msg_server.go
  x/claims/migrations/v3/types/params.go
  x/claims/types/msg.go
  x/claims/types/params_test.go
Due: modules

Applied changes from Tom's review
  x/claims/keeper/abci.go
  x/inflation/handler_test.go
Due: modules

(fix): Ran linter
  x/claims/types/params_test.go
Due: modules

use sparse checkout in git to copy specs from upstream during pre.sh
  docs/pre.sh
Due: none

(refactor): added migrations, new proto message, codec, msg_server, msg and handler
  app/app.go
  proto/evmos/recovery/v1/tx.proto
  x/erc20/types/erc20.pb.go
  x/recovery/genesis.go
  x/recovery/handler.go
  x/recovery/keeper/keeper.go
  x/recovery/keeper/migrations.go
  x/recovery/keeper/msg_server.go
  x/recovery/keeper/params.go
  x/recovery/migrations/v2/migrate.go
  x/recovery/migrations/v2/migrate_test.go
  x/recovery/migrations/v2/types/genesis.pb.go
  x/recovery/migrations/v2/types/params.go
  x/recovery/module.go
  x/recovery/types/codec.go
  x/recovery/types/interfaces.go
  x/recovery/types/msg.go
  x/recovery/types/params_test.go
  x/recovery/types/tx.pb.go
  x/recovery/types/tx.pb.gw.go
Due: app, modules

(fix): registered KVStore key for recovery module and fixed tests
  app/app.go
  x/recovery/keeper/ibc_callbacks_test.go
Due: app, modules

(fix): Ran linter
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
  x/recovery/keeper/msg_server.go
  x/recovery/migrations/v2/migrate_test.go
  x/recovery/migrations/v2/types/params.go
  x/recovery/module.go
Due: modules

Apply suggestions from code review
  proto/evmos/inflation/v1/tx.proto
  x/inflation/genesis.go
  x/inflation/handler.go
  x/inflation/keeper/msg_server.go
  x/inflation/types/msg.go
Due: modules

Update x/inflation/keeper/msg_server.go
  x/inflation/keeper/msg_server.go
Due: modules

(fix): typo fix and register legacy amino in module
  x/inflation/keeper/params.go
  x/inflation/module.go
Due: modules

fix order of ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
