Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

docs(upgrades): add hard fork link to overview
  docs/validators/upgrades/automated.md
  docs/validators/upgrades/manual.md
  docs/validators/upgrades/overview.md
Due: none

docs(upgrades): add hard fork upgrade guide (#1016)
  docs/developers/localnet/testnet_cmd.md
  docs/validators/upgrades/automated.md
  docs/validators/upgrades/hard_fork.md
  docs/validators/upgrades/manual.md
  docs/validators/upgrades/overview.md
  docs/validators/upgrades/rollback.md
  docs/validators/upgrades/upgrades.md
Due: none

Add gentx for blockscape
  networks/mainnet/acre_9052-1/gentx/blockscape.json
Due: none

docs(upgrades): add missing mainnet and testnet upgrades to list of upgrades
  docs/validators/upgrades/upgrades.md
Due: none

docs(upgrades): add missing mainnet and testnet upgrades to list of upgrades (#1025)
  docs/validators/upgrades/upgrades.md
Due: none

chore(cli): apply google CLI Syntax for required and optional args
  cmd/evmosd/genaccounts.go
  cmd/evmosd/init.go
  cmd/evmosd/migrate.go
  x/claims/client/cli/query.go
  x/erc20/client/cli/query.go
  x/incentives/client/cli/query.go
  x/incentives/client/cli/tx.go
  x/revenue/client/cli/query.go
  x/revenue/client/cli/tx.go
  x/vesting/client/cli/query.go
  x/vesting/client/cli/tx.go
Due: modules

chore(cli): add changes in CHANGELOG
  CHANGELOG.md
Due: none

chore(cli): update cmd docs based on google CLI syntax
  docs/developers/localnet/testnet_cmd.md
  docs/protocol/upgrades/migrations.md
  x/claims/spec/07_clients.md
  x/erc20/spec/08_clients.md
  x/incentives/spec/08_clients.md
  x/vesting/spec/07_clients.md
Due: none

added dankuzone_w_daic gentx
  networks/mainnet/acre_9052-1/gentx/gentx-dankuzone_w_daic.json
Due: none

Bump fork to v0.46.3
  go.mod
Due: none

Refactor app name to const and clarify comments
  crypto/keyring/options.go
Due: core

update init.sh
  go.mod
  go.sum
  init.sh
Due: none

Added Validatrium endpoints
  docs/developers/connect.md
Due: none

finish OnRecvPacket logic
  app/app.go
  ibc/utils.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/types/interfaces.go
Due: app, modules

docs: Added Validatrium endpoints (#1030)
  docs/developers/connect.md
Due: none

chore(cli): apply google CLI Syntax for required and optional args (#1027)
  CHANGELOG.md
  cmd/evmosd/genaccounts.go
  cmd/evmosd/init.go
  cmd/evmosd/migrate.go
  docs/developers/localnet/testnet_cmd.md
  docs/protocol/upgrades/migrations.md
  x/claims/client/cli/query.go
  x/claims/spec/07_clients.md
  x/erc20/client/cli/query.go
  x/erc20/spec/08_clients.md
  x/incentives/client/cli/query.go
  x/incentives/client/cli/tx.go
  x/incentives/spec/08_clients.md
  x/revenue/client/cli/query.go
  x/revenue/client/cli/tx.go
  x/vesting/client/cli/query.go
  x/vesting/client/cli/tx.go
  x/vesting/spec/07_clients.md
Due: modules

finish ICS4 Wrapper logic
  x/erc20/keeper/ics4_wrapper.go
  x/erc20/keeper/keeper.go
Due: modules

comments
  x/erc20/ibc_middleware.go
Due: modules

imp(erc20): automatic coin conversion (send)
  x/erc20/keeper/ics4_wrapper.go
  x/erc20/keeper/keeper.go
  x/ibc/transfer/ibc_module.go
  x/ibc/transfer/keeper/keeper.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/module.go
  x/ibc/transfer/types/interfaces.go
Due: modules

revert ICS4
  x/erc20/keeper/ics4_wrapper.go
  x/erc20/keeper/keeper.go
Due: modules

ack and timeout
  ibc/utils.go
  x/erc20/ibc_middleware.go
  x/erc20/keeper/ibc_callbacks.go
Due: modules

Create variable number of accounts in init.sh
  init.sh
Due: none

Address linters
  init.sh
Due: none

Add shebang to init.sh
  init.sh
Due: none

Update crypto/keyring/options.go
  crypto/keyring/options.go
Due: core

Add changelog entry; update keyring comments
  CHANGELOG.md
  crypto/keyring/options.go
Due: core

itgoldio
  networks/mainnet/acre_9052-1/gentx/itgoldio.json
Due: none

deps: bump Cosmos SDK to v0.46.4
  go.mod
  go.sum
Due: none

c++
  CHANGELOG.md
Due: none

initial setup
  go.mod
  go.sum
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper_test.go
Due: modules

Create BitCat.json
  networks/mainnet/acre_9052-1/gentx/BitCat.json
Due: none

Change key names and remove one extra key
  init.sh
Due: none

Add option to remove .evmosd folders
  init.sh
Due: none

fix build
  cmd/evmosd/root.go
Due: none

deps: bump Cosmos SDK to v0.46.4 (#1033)
  CHANGELOG.md
  cmd/evmosd/root.go
  go.mod
  go.sum
Due: none
