Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

move address from bech32 function to utils
  precompiles/outposts/osmosis/types.go
  utils/utils.go
Due: none

upgrade handler
  app/upgrades/v15/upgrades.go
Due: app

add nextSequence + update ABI
  precompiles/outposts/osmosis/IOsmosisOutpost.sol
  precompiles/outposts/osmosis/abi.json
  precompiles/outposts/osmosis/tx.go
Due: none

fix(vesting): Add generic grants and approval flow + checks
  precompiles/vesting/Vesting.sol
  precompiles/vesting/abi.json
  precompiles/vesting/approve.go
  precompiles/vesting/integration_test.go
  precompiles/vesting/tx.go
  precompiles/vesting/tx_test.go
  precompiles/vesting/types.go
  precompiles/vesting/vesting.go
Due: none

linter
  ibc/utils.go
  precompiles/common/types.go
  precompiles/outposts/osmosis/errors.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/types.go
  utils/utils.go
Due: none

fix: Changelog and rename ClawbackMsg
  CHANGELOG.md
  precompiles/vesting/approve.go
  precompiles/vesting/integration_test.go
  precompiles/vesting/tx.go
Due: none

chore(upgrade): port v14.2 handler, utils and tests to v15 handler (#1860)
  app/app.go
  app/upgrades/v14_2/constants.go
  app/upgrades/v14_2/upgrades.go
  app/upgrades/v15/setup_test.go
  app/upgrades/v15/upgrades.go
  app/upgrades/v15/upgrades_test.go
  app/upgrades/v15/utils_test.go
Due: app

fix: handle case when node is not persisting abci responses
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
Due: none

integration tests
  precompiles/p256/integration_test.go
  precompiles/p256/p256.go
  precompiles/p256/p256_test.go
  precompiles/p256/setup_test.go
  precompiles/p256/utils_test.go
  precompiles/testutil/contracts/contracts.go
  precompiles/testutil/contracts/types.go
Due: none

fix lint issues
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

fix comment
  rpc/backend/call_tx.go
Due: none

update gosec code
  rpc/backend/call_tx.go
Due: none

add test
  tests/nix_tests/configs/discard-abci-resp.jsonnet
  tests/nix_tests/test_no_abci_resp.py
Due: none

fix lint issues
  tests/nix_tests/test_no_abci_resp.py
Due: none

fix(rpc): handle case when node is not persisting abci responses (#1863)
  CHANGELOG.md
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/call_tx.go
  rpc/backend/chain_info.go
  rpc/backend/utils.go
  rpc/namespaces/ethereum/eth/api.go
  tests/nix_tests/configs/discard-abci-resp.jsonnet
  tests/nix_tests/test_no_abci_resp.py
Due: none

move LoadABI to common
  precompiles/common/abi.go
  precompiles/staking/staking.go
  x/evm/keeper/integration_test.go
Due: modules

remove unnecesary empty code check
  testutil/integration/utils/contracts.go
Due: none

check balance on transfer transaction
  x/evm/keeper/integration_test.go
Due: modules

chore: make format
  rpc/backend/blocks.go
Due: none

feat(testnet): add two new parameters --base-fee and --min-gas-price to the command
  CHANGELOG.md
  app/ante/evm/fee_checker.go
  cmd/evmosd/testnet.go
Due: app

tests
  precompiles/p256/integration_test.go
  precompiles/p256/p256_test.go
  precompiles/p256/utils_test.go
  x/evm/types/params.go
Due: modules

chore(upgrade): port v14.2 handler, utils and tests to v15 handler (#1860)
  app/app.go
  app/upgrades/v14_2/constants.go
  app/upgrades/v15/setup_test.go
  app/upgrades/v15/upgrades.go
  app/upgrades/v15/upgrades_test.go
  app/upgrades/v15/utils_test.go
Due: app

fix merge conflicts
  app/app.go
  app/upgrades/v15/constants.go
Due: app

chore(build): update rclone version in Dockerfile (#1861)
  Dockerfile
Due: none

fix typos in docstring
  precompiles/vesting/Vesting.sol
  precompiles/vesting/approve.go
Due: none

Apply suggestions from code review
  precompiles/vesting/tx.go
Due: none

fix: apply changes from code review
  precompiles/vesting/Vesting.sol
  precompiles/vesting/approve.go
  precompiles/vesting/integration_test.go
  precompiles/vesting/tx.go
Due: none

fix: apply changes from code review, format and lint
  precompiles/vesting/approve.go
  precompiles/vesting/events.go
  precompiles/vesting/types.go
Due: none

fix: add license to file
  precompiles/vesting/approve.go
Due: none

chore(sdk): Bump cosmos sdk to v0.47.5
  go.mod
  go.sum
Due: none

fix: add correct version
  precompiles/vesting/events.go
Due: none

update gomod2nix.toml file
  gomod2nix.toml
Due: none

fix: format and lint
  precompiles/vesting/tx_test.go
Due: none

remove channel keeper from outpost precompile
  precompiles/outposts/osmosis/osmosis.go
Due: none

fix: weird linter issues
  precompiles/vesting/tx_test.go
  x/revenue/v1/keeper/integration_test.go
  x/vesting/keeper/msg_server_test.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
