Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

fix(incentives): improve iteration and fix incentives to non-`EthAccounts` (#656)
  CHANGELOG.md
  ibc/testing/app.go
  x/erc20/keeper/keeper_test.go
  x/incentives/keeper/distribution.go
  x/incentives/keeper/distribution_test.go
  x/incentives/keeper/evm_hooks.go
  x/incentives/keeper/evm_hooks_test.go
  x/incentives/types/interfaces.go
Due: modules

ante: `MinGasPrices` AnteHandler decorator (#660)
  app/ante/handler_options.go
  x/fees/keeper/integration_test.go
Due: app, modules

upgrade(claims): add migrate contributor claim
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

upgrade(claims): change feesmarket version map to 2
  app/upgrades/v5/upgrades.go
Due: app

Update app/upgrades/v5/upgrades_test.go
  app/upgrades/v5/upgrades_test.go
Due: app

upgrade(claims): fix linter
  app/upgrades/v5/upgrades.go
Due: app

[ENG-400] Unlock claims during upgrade (#667)
  app/app.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

upgrade(claims): add migrate contributor claim (#671)
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

fix unit tests
  app/app.go
  app/test_helpers.go
  app/upgrades/v5/upgrades_test.go
Due: app

update tests
  app/app.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

debugger
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

add comment about min gas price value
  app/upgrades/v5/upgrades.go
Due: app

update test
  app/upgrades/v5/upgrades_test.go
Due: app

app: v5 upgrade handler (#651)
  app/app.go
  app/test_helpers.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
  cmd/evmosd/migrate.go
Due: app

upgrade(app): remove mainnet condition for migrations that should also apply to testnet
  app/upgrades/v5/upgrades.go
Due: app

upgrade(app): remove mainnet condition for migrations that should also apply to testnet (#672)
  app/upgrades/v5/upgrades.go
Due: app

set CHANGELOG major version
  CHANGELOG.md
Due: none

make proto-gen
  Makefile
  go.mod
  go.sum
  x/claims/types/query.pb.gw.go
  x/epochs/types/query.pb.gw.go
  x/erc20/types/query.pb.gw.go
  x/erc20/types/tx.pb.gw.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.pb.go
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.go
  x/fees/types/tx.pb.gw.go
  x/incentives/types/query.pb.gw.go
  x/inflation/types/query.pb.gw.go
  x/recovery/types/query.pb.gw.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.gw.go
Due: none

remove whitespace
  Makefile
Due: none

rm proto
  client/docs/statik/statik.go
  docs/protocol/proto-docs.md
  go.sum
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/genesis.proto
  proto/evmos/fees/v1/query.proto
  proto/evmos/fees/v1/tx.proto
  x/fees/types/fees.pb.go
  x/fees/types/genesis.pb.go
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.go
  x/fees/types/tx.pb.gw.go
Due: none

wip
  Makefile
Due: none

wip
  app/upgrades/v5/upgrades.go
Due: app

fix(app): fix v5 upgrade handler globals
  .github/dependabot.yml
  .mergify.yml
  app/app.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

update
  app/app.go
  app/upgrades/v5/upgrades.go
Due: app

imp(erc20): add amino registration to convert Coin/ERC20 msgs for ERC712 compatibility
  x/erc20/module.go
  x/erc20/types/codec.go
Due: modules

changelog
  CHANGELOG.md
Due: none

fix test
  app/upgrades/v5/upgrades_test.go
Due: app

update app.go
  app/app.go
Due: app

fix(app): fix v5 upgrade handler globals (#676)
  .github/dependabot.yml
  .mergify.yml
  app/app.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

fix(app): fix v5 upgrade handler globals (#676) (#678)
  .github/dependabot.yml
  .mergify.yml
  app/app.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

impr(makefile): update protoc-gen installation
  Makefile
Due: none

impr(makefile): update protoc-gen installation (#679)
  Makefile
Due: none

use amino for GetSignBytes
  x/erc20/types/codec.go
  x/erc20/types/msg.go
Due: modules

specs(fees): improve abstract and move teaser
  x/README.md
  x/fees/spec/README.md
Due: none

fix: init codec to fix GetSignBytes
  x/erc20/types/codec.go
Due: modules
