Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

revise testing code
  x/erc20/types/utils.go
  x/erc20/types/utils_test.go
Due: modules

docs: update dApp developer docs
  docs/.vuepress/config.js
  docs/developers/apis.md
  docs/developers/clients.md
  docs/developers/json-rpc/events.md
  docs/developers/json-rpc/namespaces.md
Due: none

descriptions
  docs/developers/clients.md
Due: none

code-ql
  .github/workflows/codeql-analysis.yml
Due: none

docs: update dApp developer docs (#535)
  .github/workflows/codeql-analysis.yml
  docs/.vuepress/config.js
  docs/developers/apis.md
  docs/developers/clients.md
  docs/developers/json-rpc/events.md
  docs/developers/json-rpc/namespaces.md
Due: none

address comments
  docs/developers/faucet.md
  docs/users/wallets/keplr.md
  docs/users/wallets/ledger.md
Due: none

bugfix: Update utils.go (#530)
  x/erc20/keeper/proposals.go
  x/erc20/types/utils.go
  x/erc20/types/utils_test.go
Due: modules

rename Total supply
  go.mod
  go.sum
  proto/evmos/inflation/v1/query.proto
Due: none

update swagger and rename functions
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  scripts/protocgen.sh
  x/claims/types/query.pb.gw.go
  x/epochs/types/query.pb.gw.go
  x/erc20/types/query.pb.gw.go
  x/erc20/types/tx.pb.gw.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.gw.go
  x/incentives/types/query.pb.gw.go
  x/inflation/client/cli/query.go
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/inflation/types/query.pb.go
  x/inflation/types/query.pb.gw.go
  x/recovery/types/query.pb.gw.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.gw.go
Due: modules, clients

update CHANGELOG.md
  CHANGELOG.md
Due: none

rename variables
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/inflation_test.go
Due: modules, clients

Apply suggestions from code review
  docs/developers/faucet.md
  docs/users/wallets/keplr.md
Due: none

lint
  docs/developers/faucet.md
Due: none

docs: update keplr document (#534)
  docs/developers/faucet.md
  docs/users/wallets/keplr.md
  docs/users/wallets/ledger.md
Due: none

fix diff
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  scripts/protocgen.sh
  x/claims/types/query.pb.gw.go
  x/epochs/types/query.pb.gw.go
  x/erc20/types/query.pb.gw.go
  x/erc20/types/tx.pb.gw.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.gw.go
  x/incentives/types/query.pb.gw.go
  x/inflation/types/query.pb.gw.go
  x/recovery/types/query.pb.gw.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.gw.go
Due: none

tidy
  go.mod
  go.sum
Due: none

swagger
  client/docs/statik/statik.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

lint
  docs/protocol/proto-docs.md
Due: none

fix: `buf protoc` was moved to `buf alpha protoc` (#462)
  scripts/protocgen.sh
Due: none

update action
  .github/workflows/lint.yml
Due: none

fix
  .github/workflows/lint.yml
Due: none

fix lint
  x/vesting/spec/01_concepts.md
Due: none

lint fix
  .github/workflows/lint.yml
Due: none

impr(`inflation`): Rename total supply endpoint (#536)
  .github/workflows/lint.yml
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/inflation/v1/query.proto
  x/inflation/client/cli/query.go
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/inflation/types/query.pb.go
  x/inflation/types/query.pb.gw.go
  x/vesting/spec/01_concepts.md
Due: modules, clients

fix: upgrade client router key
  app/app.go
Due: app

c++
  CHANGELOG.md
  app/app.go
Due: app

fix: upgrade client router key (#537)
  CHANGELOG.md
  app/app.go
Due: app

imp: use constants for epochs
  x/epochs/genesis_test.go
  x/epochs/keeper/epoch_infos_test.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/keeper/keeper_test.go
  x/epochs/types/epoch_info_test.go
  x/epochs/types/genesis.go
  x/epochs/types/genesis_test.go
  x/epochs/types/identifier.go
  x/epochs/types/identifier_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/types/params.go
  x/incentives/types/params_test.go
  x/inflation/keeper/epoch_info_test.go
  x/inflation/keeper/hooks_test.go
  x/inflation/keeper/integration_test.go
  x/inflation/keeper/keeper_test.go
  x/inflation/types/genesis.go
  x/inflation/types/genesis_test.go
  x/vesting/keeper/keeper_test.go
Due: modules

c++
  CHANGELOG.md
Due: none

update
  x/epochs/types/genesis_test.go
  x/inflation/keeper/keeper_test.go
  x/vesting/keeper/keeper_test.go
Due: modules

revert
  x/epochs/types/genesis.go
Due: modules

replaced github.com/tharsis/ethermint with github.com/Canto-Network/ethermint
  go.mod
Due: none

Update init.go
  cmd/evmosd/init.go
Due: none

import strings
  cmd/evmosd/init.go
Due: none

tidy
  go.sum
Due: none

gofumpt
  client/docs/statik/statik.go
  cmd/evmosd/init.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/types/utils_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
