Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

docs(license): fix markdown
  LICENSE
  LICENSE_FAQ.md
Due: none

fix wrap
  LICENSE_FAQ.md
Due: none

remove TODO comment
  x/evm/types/params.go
Due: modules

go mod tidy
  go.mod
  go.sum
Due: none

fix: revert changes from geth bump and use rc candidate
  go.mod
  go.sum
  x/evm/keeper/state_transition.go
  x/evm/statedb/state_object.go
  x/evm/statedb/statedb.go
  x/evm/statedb/transient_storage.go
  x/evm/types/chain_config.go
  x/evm/types/tracer.go
  x/feemarket/migrations/v4/types/params.go
  x/feemarket/types/params.go
Due: modules

fix: fix versions of dependencies
  go.mod
  go.sum
  server/start.go
  server/util.go
  x/evm/types/params.go
Due: modules

fix: use latest release
  go.mod
  go.sum
Due: none

fix: versions and typo
  go.mod
  go.sum
  x/evm/keeper/grpc_query.go
Due: modules, clients

fix: tests
  go.mod
  x/evm/keeper/grpc_query_test.go
Due: modules

fix: bump extensions to main
  go.mod
  go.sum
  x/evm/statedb/statedb_test.go
Due: modules

Update README.md
  README.md
Due: none

feat: add EVM extensions support (#1535)
  CHANGELOG.md
  LICENSE
  LICENSE_FAQ.md
  README.md
  app/app.go
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  testutil/staking-rewards.go
  x/evm/keeper/keeper.go
  x/evm/keeper/precompiles.go
  x/evm/keeper/state_transition.go
  x/evm/statedb/statedb_test.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/tracer.go
Due: app, modules

adjust E2E tests to use GitHub token and set GOPRIVATE
  .github/workflows/e2e-test.yml
  app/app.go
Due: app

CHANGELOG
  CHANGELOG.md
Due: none

try adding HTTPS authentication for git
  .github/workflows/e2e-test.yml
Due: none

print go env to see if changes were successful
  .github/workflows/e2e-test.yml
Due: none

use git://github.com instead of https
  .github/workflows/e2e-test.yml
Due: none

fix url replace for git config
  .github/workflows/e2e-test.yml
Due: none

try again
  .github/workflows/e2e-test.yml
Due: none

revert to using https
  .github/workflows/e2e-test.yml
Due: none

use core PAT
  .github/workflows/e2e-test.yml
Due: none

fix https replace
  .github/workflows/e2e-test.yml
Due: none

try to use GH token in https link
  .github/workflows/e2e-test.yml
Due: none

next try
  .github/workflows/e2e-test.yml
Due: none

another one
  .github/workflows/e2e-test.yml
Due: none

try disabling terminal prompt manually
  .github/workflows/e2e-test.yml
Due: none

another option
  .github/workflows/e2e-test.yml
Due: none

use core PAT in go get command
  .github/workflows/e2e-test.yml
Due: none

try using x-access-token
  .github/workflows/e2e-test.yml
Due: none

fix: remove unreleased
  CHANGELOG.md
Due: none

remove credential helper config
  .github/workflows/e2e-test.yml
Due: none

remove env variable
  .github/workflows/e2e-test.yml
Due: none

try x-oauth-basic syntax
  .github/workflows/e2e-test.yml
Due: none

another try
  .github/workflows/e2e-test.yml
Due: none

add with input for test e2e
  .github/workflows/e2e-test.yml
Due: none

try with classic PAT
  .github/workflows/e2e-test.yml
Due: none

fix: fix md files
  LICENSE_FAQ.md
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
