Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

Update tests/e2e/README.md
  tests/e2e/README.md
Due: none

execute e2e unit tests during make test-unit and not make test-upgrade
  Makefile
Due: none

add more info to e2e readme
  tests/e2e/README.md
Due: none

fix markdownlink-check
  tests/e2e/README.md
Due: none

remove unused commands from init script for upgrade tests
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/upgrade-init.sh
Due: none

use custom pruning settings
  tests/e2e/upgrade/upgrade-init.sh
Due: none

fix; updated olympus mons distribution
  app/upgrades/v11/accounts.go
  app/upgrades/v11/upgrades_test.go
Due: app

fix: formatter and linter
  app/upgrades/v11/accounts.go
Due: app

upgrade: update olympus-mons distribution (#1286)
  app/upgrades/v11/accounts.go
  app/upgrades/v11/upgrades_test.go
Due: app

fix tests
  x/evm/handler_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
Due: modules

fix linter
  cmd/config/config.go
Due: none

Update x/evm/handler_test.go
  x/evm/handler_test.go
Due: modules

Update app/ethante/utils_test.go
  app/ethante/utils_test.go
Due: app

fix ante handler
  app/ante/ante.go
Due: app

Fix Ethermint tests (#1284)
  app/ante/ante.go
  app/app.go
  app/ethante/ante.go
  app/ethante/ante_test.go
  app/ethante/utils_test.go
  cmd/config/config.go
  proto/evmos/feemarket/v1/query.proto
  x/evm/handler_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/types/utils_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/types/query.pb.go
Due: app, modules

fix lint
  app/app.go
Due: app

use variable to decide whether custom pruning settings are used
  tests/e2e/upgrade/upgrade-init.sh
Due: none

bump ethermint to v0.21.0
  go.mod
  go.sum
Due: none

add changelog entry
  CHANGELOG.md
Due: none

chore (deps): bump ethermint to v0.21.0 (#1288)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

fix merge conflicts in changelog
  CHANGELOG.md
Due: none

update release on changelog
  CHANGELOG.md
Due: none

add code formatting to ethermint in changelog
  CHANGELOG.md
Due: none

increase test coverage for EvmosVersions
  tests/e2e/upgrade/upgrade-init.sh
  tests/e2e/upgrade/utils_test.go
Due: none

refactor and add tests for function to retrieve upgrades list
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/utils.go
  tests/e2e/upgrade/utils_test.go
Due: none

feat (tests): enable multiple upgrades for automated upgrade tests (#1283)
  CHANGELOG.md
  Makefile
  tests/e2e/README.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/upgrade-init.sh
  tests/e2e/upgrade/utils.go
  tests/e2e/upgrade/utils_test.go
Due: none

chore(docs) add security section
  docs/.vuepress/config.js
  docs/users/security/audits.md
  docs/users/security/overview.md
  docs/users/security/safu.md
Due: none

chore(docs) fix linting issues
  docs/users/security/audits.md
  docs/users/security/overview.md
  docs/users/security/safu.md
Due: none

chore(docs) update line-length on markdown lint config
  .markdownlint.yml
Due: none

chore(docs) fix linting issues
  docs/users/security/audits.md
  docs/users/security/safu.md
Due: none

remove unused antehandler
  app/ethante/ante.go
  app/ethante/fee_checker.go
  app/ethante/fee_checker_test.go
Due: app

remove unused functions
  app/ethante/eip712.go
  app/ethante/handler_options.go
  app/ethante/utils_test.go
Due: app

remove unused handler option
  app/ethante/handler_options.go
Due: app

fix MsgExec test
  app/ethante/utils_test.go
Due: app

remove rc3 changes
  app/app.go
  app/upgrades/v11/constants.go
Due: app

run go mod tidy
  go.sum
Due: none

set markdown line length to 120
  .markdownlint.yml
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
