Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

make format
  x/erc20/keeper/genesis.go
Due: modules

use correct version of proto dependencies
  Makefile
Due: none

update CHANGELOG.md
  CHANGELOG.md
Due: none

reduce upgrade handler for rc5
  app/upgrades/v16/upgrades.go
Due: app

adjust upgrade name
  app/upgrades/v16/constants.go
Due: app

adjust changelog
  CHANGELOG.md
Due: none

add logic specifically for rc5
  app/app.go
  app/upgrades/v16/constants.go
  app/upgrades/v16/upgrades.go
Due: app

Revert "adjust upgrade name"
  app/upgrades/v16/constants.go
Due: app

Revert "reduce upgrade handler for rc5"
  app/upgrades/v16/upgrades.go
Due: app

adjust upgrade info
  app/upgrades/v16/constants.go
Due: app

add tests for setGenTokenPair fn
  x/erc20/genesis_test.go
  x/erc20/keeper/genesis_test.go
Due: modules

fix lint issues
  x/erc20/keeper/genesis.go
  x/erc20/keeper/genesis_test.go
Due: modules

update osmosis outpost e2e test
  tests/nix_tests/configs/osmosis-outpost.jsonnet
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/utils.py
Due: none

fix gosec issues
  x/erc20/keeper/evm.go
Due: modules

fix lint issues
  tests/nix_tests/utils.py
Due: none

chore(upgrade): Prepare v16.0.0-rc5 (#2226)
  CHANGELOG.md
  app/app.go
  app/upgrades/v16/constants.go
  app/upgrades/v16/upgrades.go
Due: app

refactor tests
  x/erc20/genesis_test.go
  x/erc20/keeper/genesis_test.go
Due: modules

add comments
  x/erc20/keeper/genesis.go
Due: modules

address review comments
  ibc/utils.go
  precompiles/erc20/query.go
  x/erc20/keeper/genesis.go
  x/erc20/keeper/genesis_test.go
Due: modules

imp(staking): fix precompile staking unit test
  precompiles/staking/events_test.go
  precompiles/staking/integration_test.go
  precompiles/staking/query_test.go
  precompiles/staking/staking_test.go
  precompiles/staking/testdata/StakingCaller.json
  precompiles/staking/testdata/StakingCaller.sol
  precompiles/staking/types.go
Due: none

add metadata validation in test
  x/erc20/keeper/genesis_test.go
Due: modules

imp(staking): fix precompile staking integration test
  precompiles/staking/testdata/StakingCaller.json
  precompiles/staking/testdata/StakingCaller.sol
Due: none

chore: format code
  precompiles/staking/integration_test.go
  x/evm/keeper/integration_test.go
Due: modules

chore: make lint-fix
  precompiles/staking/query_test.go
  x/evm/keeper/integration_test.go
Due: modules

imp(staking): update StakingCaller.sol testCallDelegation
  precompiles/staking/testdata/StakingCaller.json
  precompiles/staking/testdata/StakingCaller.sol
Due: none

imp(staking): update StakingCaller.sol testCallDelegation
  precompiles/staking/testdata/StakingCaller.sol
Due: none

imp(staking): deal err
  precompiles/staking/types.go
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: remove TODO
  precompiles/staking/staking_test.go
Due: none

adjust p256 precompile address
  precompiles/p256/p256.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

move changelog entry to improvements
  CHANGELOG.md
Due: none

chore(p256): adjust p256 precompile address (#2228)
  CHANGELOG.md
  precompiles/p256/p256.go
Due: none

move changelog to correct place
  CHANGELOG.md
Due: none

run make proto-swagger-gen
  client/docs/swagger-ui/swagger.json
Due: none

fix(swagger): use correct version of proto dependencies to generate swagger (#2218)
  CHANGELOG.md
  Makefile
  client/docs/swagger-ui/swagger.json
Due: none

commit WIP
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/exec.go
  tests/e2e/upgrade/queryexec.go
Due: none

finish implementation for bank send
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/exec.go
Due: none

add changelog entry and missing license
  CHANGELOG.md
  tests/e2e/upgrade/exec.go
Due: none
