Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

changelog + CLI
  CHANGELOG.md
  x/claims/client/cli/query.go
  x/claims/spec/07_clients.md
Due: modules

fix: remove dup set claims record + CLI update (#605)
  CHANGELOG.md
  x/claims/client/cli/query.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/spec/06_parameters.md
  x/claims/spec/07_clients.md
Due: modules

I made an entry for #554 to the changelog
  CHANGELOG.md
Due: none

Moved changelog to unreleased
  CHANGELOG.md
Due: none

Adjustments based on review comments
  CHANGELOG.md
  x/inflation/keeper/hooks.go
Due: modules

Changing erroneous epoch skips to daily instead of weekly (#554)
  CHANGELOG.md
  x/inflation/keeper/hooks.go
  x/inflation/keeper/hooks_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

Start adding documentation Table for module accounts and their respective permisions
  x/module_accounts.md
Due: none

change algolia search key
  docs/.vuepress/config.js
Due: none

change algolia search key (#607)
  docs/.vuepress/config.js
Due: none

Update inflation.proto
  proto/evmos/inflation/v1/inflation.proto
Due: none

Correct inflation.proto typo (#608)
  proto/evmos/inflation/v1/inflation.proto
Due: none

epochs: use hardcoded map for identifiers
  docs/protocol/proto-docs.md
  proto/evmos/epochs/v1/genesis.proto
  x/epochs/genesis_test.go
  x/epochs/keeper/abci.go
  x/epochs/keeper/abci_test.go
  x/epochs/keeper/epoch_infos.go
  x/epochs/keeper/epoch_infos_test.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/migrations/v1/genesis.go
  x/epochs/migrations/v1/genesis.pb.go
  x/epochs/migrations/v2/keys.go
  x/epochs/migrations/v2/migration.go
  x/epochs/migrations/v2/migration_test.go
  x/epochs/types/epoch_info.go
  x/epochs/types/epoch_info_test.go
  x/epochs/types/genesis.go
  x/epochs/types/genesis_test.go
  x/epochs/types/identifier.go
  x/epochs/types/identifier_test.go
  x/epochs/types/keys.go
  x/epochs/types/utils.go
Due: modules

fix lint
  x/epochs/types/identifier.go
Due: modules

Update changelog, comments, fix claims test
  CHANGELOG.md
  x/epochs/keeper/epoch_infos.go
  x/epochs/types/genesis.go
Due: modules

Fix genesis test
  x/epochs/genesis_test.go
Due: modules

I Added the Module accounts mark down page
  x/module_accounts.md
Due: none

adjustments to the Module accounts mark down page
  x/module_accounts.md
Due: none

enforce fees param for min gas prices
  app/app.go
  app/app_test.go
  app/test_helpers.go
  cmd/evmosd/root.go
  testutil/network/network.go
  x/fees/types/params_test.go
Due: app, modules

Added module accounts link to README in x/README.md
  x/README.md
Due: none

Moved module_accounts.md into folder root x/
  docs/module_accounts.md
Due: none

Moved module_accounts.md into folder root x/
  docs/module_accounts.md
  x/README.md
Due: none

Moved module_accounts.md into folder root x/
  x/moduleaccounts.md
Due: none

Renamed moduleaccounts to all caps
  x/README.md
Due: none

moved moduleaccounts to own folder and renamed to README.md
  x/README.md
  x/moduleaccounts/README.md
Due: none

moved moduleaccounts to own folder and renamed to README.md
  x/moduleaccounts/README.md
Due: none

fees - min gas prices ante handler
  app/ante/handler_options.go
  app/app.go
  x/fees/ante/fees.go
  x/fees/ante/interfaces.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/keeper_test.go
Due: app, modules

test
  test.txt
Due: none

evmos to canto for app/
  app/ante/handler_options.go
  app/app.go
  app/app_test.go
  app/test_helpers.go
  cmd/cantod/root.go
  testutil/network/network.go
Due: app

evmos to canto for cmd/ & ibc/ & proto/evmos -> proto/canto
  cmd/cantod/cmd_test.go
  cmd/cantod/genaccounts.go
  cmd/cantod/init.go
  cmd/cantod/migrate.go
  cmd/cantod/root.go
  cmd/cantod/testnet.go
  cmd/config/config.go
  ibc/testing/app.go
  ibc/testing/chain.go
  ibc/testing/coordinator.go
  ibc/utils.go
  ibc/utils_test.go
  proto/canto/claims/v1/claims.proto
  proto/canto/claims/v1/genesis.proto
  proto/canto/claims/v1/query.proto
  proto/canto/epochs/v1/genesis.proto
  proto/canto/epochs/v1/query.proto
  proto/canto/erc20/v1/erc20.proto
  proto/canto/erc20/v1/genesis.proto
  proto/canto/erc20/v1/query.proto
  proto/canto/erc20/v1/tx.proto
  proto/canto/fees/v1/fees.proto
  proto/canto/fees/v1/genesis.proto
  proto/canto/fees/v1/query.proto
  proto/canto/fees/v1/tx.proto
  proto/canto/incentives/v1/genesis.proto
  proto/canto/incentives/v1/incentives.proto
  proto/canto/incentives/v1/query.proto
  proto/canto/inflation/v1/genesis.proto
  proto/canto/inflation/v1/inflation.proto
  proto/canto/inflation/v1/query.proto
  proto/canto/recovery/v1/genesis.proto
  proto/canto/recovery/v1/query.proto
  proto/canto/vesting/v1/query.proto
  proto/canto/vesting/v1/tx.proto
  proto/canto/vesting/v1/vesting.proto
  types/utils.go
  types/utils_test.go
Due: core

evmos -> canto
  .github/workflows/docker-push.yml
  .goreleaser.yml
  docs/.vuepress/config.js
  docs/validators/quickstart/run_node.md
  ibc/utils.go
  scripts/integration-test-all.sh
  testutil/network/network.go
  testutil/network/network_test.go
  types/errors.go
  types/utils.go
  types/utils_test.go
  x/claims/keeper/claim.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/migrations/v1/types/claims.pb.go
  x/claims/migrations/v1/types/genesis.pb.go
  x/claims/types/claims.pb.go
  x/claims/types/genesis.pb.go
  x/claims/types/query.pb.go
  x/claims/types/query.pb.gw.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/epochs/types/query.pb.gw.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/spec/02_state.md
  x/erc20/types/erc20.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/query.pb.go
  x/erc20/types/query.pb.gw.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
  x/recovery/spec/01_concepts.md
Due: modules, core

Proper positioned the Module accounts in /docs/protocol/vuepress
  docs/.vuepress/config.js
  docs/protocol/moduleaccounts.md
  x/README.md
Due: none

Slight Modification to table entries
  docs/.vuepress/config.js
Due: none

Slight Modification to table entries
  docs/protocol/moduleaccounts.md
Due: none

Rephrased statement describing module accounts
  docs/protocol/moduleaccounts.md
Due: none

Apply suggestions from code review
  docs/.vuepress/config.js
  docs/protocol/moduleaccounts.md
Due: none

I added a list and description of the permission types.
  docs/protocol/moduleaccounts.md
Due: none

[ENG-271] Fix sanitize erc20 name (#602)
  CHANGELOG.md
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/types/utils.go
  x/erc20/types/utils_test.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
