Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

deps: bump ethermint to v0.12.1
  go.mod
  go.sum
Due: none

deps: bump ethermint to v0.12.1 (#445)
  go.mod
  go.sum
Due: none

fix: v3 migration
  app/app.go
  app/upgrades/README.md
  app/upgrades/v3/upgrades.go
  cmd/evmosd/migrate.go
  cmd/evmosd/root.go
Due: app

impr(init.sh): remove increased blocktime
  init.sh
Due: none

fix
  cmd/evmosd/migrate.go
Due: none

impr(init.sh): remove increased blocktime (#447)
  init.sh
Due: none

dont redeclare err
  x/recovery/keeper/ibc_callbacks.go
Due: modules

Add fail transfer cases
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

add case
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

app: add ethermint.EncodingTxDecoder fuzz test
  app/fuzz_test.go
Due: app

indexed
  contracts/precompiles/ICS20/ICS20.sol
  contracts/precompiles/ICS20/IICS20Transfer.sol
Due: none

impr(claims): address PR comments
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper_test.go
Due: modules

impr(claims): address PR comments
  x/recovery/keeper/ibc_callbacks.go
Due: modules

impr(claims): address PR comments
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

go mod tidy
  go.sum
Due: none

audit(recovery): api and state machine (#439)
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.sum
  ibc/utils.go
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
  x/recovery/keeper/keeper_test.go
  x/recovery/keeper/params.go
  x/recovery/types/genesis.go
Due: modules

add partial recovery test
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

delete comment
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

imp: recovery fail transfer tests (#450)
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

fix
  app/app.go
Due: app

fix 2
  app/app.go
Due: app

fix empty basefee
  app/upgrades/v3/upgrades.go
Due: app

tests(recovery): add genesis_test
  x/recovery/genesis_test.go
Due: modules

tests(recovery): add genesis and partial recovery tests (#451)
  x/recovery/genesis_test.go
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

upgrade ethermint
  app/upgrades/v3/upgrades.go
  cmd/evmosd/migrate.go
  go.mod
  go.sum
Due: app

dont force migration
  app/app.go
Due: app

add bdd test structure
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/integration_test.go
Due: modules

start replacing tests
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/integration_test.go
Due: modules

refactor 3 chain cases
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/integration_test.go
Due: modules

x/fees distribute to developers part of gasLimit * baseFee
  docs/api/proto-docs.md
  proto/evmos/fees/v1/genesis.proto
  x/claims/keeper/hooks.go
  x/erc20/keeper/evm_hooks.go
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/msg_server.go
  x/fees/types/genesis.go
  x/fees/types/genesis.pb.go
  x/fees/types/params.go
  x/incentives/keeper/evm_hooks.go
Due: modules

x/fees - test that developer fee distribution is correct
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/integration_test.go
Due: modules

x/fees scaffold fee registration for a contract
  docs/api/proto-docs.md
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/genesis.proto
  proto/evmos/fees/v1/tx.proto
  scripts/protocgen.sh
  x/fees/genesis.go
  x/fees/handler.go
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/fees.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/msg_server.go
  x/fees/keeper/proposals.go
  x/fees/module.go
  x/fees/proposal_handler.go
  x/fees/types/codec.go
  x/fees/types/events.go
  x/fees/types/fee.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.pb.go
  x/fees/types/msg.go
  x/fees/types/params.go
  x/fees/types/proposal.go
  x/fees/types/tx.pb.go
  x/fees/types/tx.pb.gw.go
Due: modules

x/fees module initial setup
  app/app.go
  docs/api/proto-docs.md
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/genesis.proto
  proto/evmos/fees/v1/query.proto
  x/fees/genesis.go
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/fees.go
  x/fees/keeper/grpc_query.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/keeper.go
  x/fees/keeper/keeper_test.go
  x/fees/keeper/params.go
  x/fees/keeper/proposals.go
  x/fees/module.go
  x/fees/proposal_handler.go
  x/fees/spec/README.md
  x/fees/types/codec.go
  x/fees/types/errors.go
  x/fees/types/events.go
  x/fees/types/fee.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.go
  x/fees/types/genesis.pb.go
  x/fees/types/interfaces.go
  x/fees/types/keys.go
  x/fees/types/params.go
  x/fees/types/proposal.go
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
Due: app, modules, clients

x/fees - remove change to PostTxProcessing hook
  go.mod
  go.sum
  x/claims/keeper/hooks.go
  x/erc20/keeper/evm_hooks.go
  x/fees/keeper/evm_hooks.go
  x/fees/types/interfaces.go
  x/incentives/keeper/evm_hooks.go
Due: modules

x/fees temporarily use custom ethermint version
  go.mod
  go.sum
Due: none

x/fees - add feeCollectorName as argument when initializing the keeper
  app/app.go
  x/fees/genesis.go
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/keeper.go
Due: app, modules

Update go.sum for genproto
  go.sum
Due: none

x/fees - contract registration and tests, better proto defs
  docs/api/proto-docs.md
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/genesis.proto
  proto/evmos/fees/v1/query.proto
  proto/evmos/fees/v1/tx.proto
  x/fees/keeper/grpc_query.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/keeper.go
  x/fees/keeper/msg_server.go
  x/fees/keeper/msg_server_test.go
  x/fees/module.go
  x/fees/types/fees.pb.go
  x/fees/types/msg.go
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.go
Due: modules, clients

x/fees address PR review, refactor proto, fix validations
  app/app.go
  docs/api/proto-docs.md
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/genesis.proto
  proto/evmos/fees/v1/tx.proto
  x/fees/genesis.go
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/keeper.go
  x/fees/keeper/keeper_test.go
  x/fees/keeper/msg_server.go
  x/fees/types/fee.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.pb.go
  x/fees/types/interfaces.go
  x/fees/types/keys.go
  x/fees/types/msg.go
  x/fees/types/params.go
  x/fees/types/tx.pb.go
Due: app, modules

Update dependencies
  go.mod
  go.sum
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
