Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

chore: v11 Changelog to main branch (#1358)
  CHANGELOG.md
  go.mod
Due: none

fix lint
  x/erc20/types/msg.go
Due: modules

chore(tests) fix inflation keeper tests (#1357)
  cmd/config/config.go
  server/start.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/inflation_test.go
  x/inflation/keeper/integration_test.go
Due: modules

fix(app): implement hard fork logic for v11.1.0 (#1359)
  CHANGELOG.md
  app/forks.go
  app/upgrades/v11_1/constants.go
  x/erc20/types/msg.go
Due: app, modules

chore(tests) add initial comm pool balance for the checks
  x/claims/keeper/integration_test.go
Due: modules

chore(tests) track fees for balance checks
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
Due: modules

chore(tests) fix evm/types tests for restricted chain ID
  x/evm/types/msg_test.go
Due: modules

chore(tests) fix rpc/backend tests for SendRawTransaction and SendTransaction
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/sign_tx.go
  rpc/backend/sign_tx_test.go
Due: none

chore(tests) use evm.DefaultDenom instead of hardcoded value & rename some imports
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info.go
  rpc/backend/node_info.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
Due: none

chore(imp) add comment on code
  rpc/backend/sign_tx.go
Due: none

chore(tests) fix claims keeper tests
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
Due: modules

Revert "chore(tests) use evm.DefaultDenom instead of hardcoded value & rename some imports"
  rpc/backend/backend.go
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx.go
  rpc/backend/call_tx_test.go
  rpc/backend/chain_info.go
  rpc/backend/node_info.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info.go
  rpc/backend/tx_info_test.go
Due: none

chore(docs) update vesting docs
  x/vesting/spec/01_concepts.md
  x/vesting/spec/05_antehandlers.md
Due: none

chore(docs) add changelog entry
  CHANGELOG.md
  x/vesting/spec/01_concepts.md
Due: none

imp: restrict chain ID to Evmos (#1349)
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/sign_tx.go
  rpc/backend/sign_tx_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg_test.go
Due: modules

chore(tests) change evm denom for claims keeper tests (#1356)
  x/claims/keeper/integration_test.go
Due: modules

chore(docs) update vesting docs (#1361)
  CHANGELOG.md
  x/vesting/spec/01_concepts.md
  x/vesting/spec/05_antehandlers.md
Due: none

migrate ante_test from Ethermint
  app/ante/evm/ante_test.go
  app/ante/evm/utils_test.go
Due: app

fix: merge fixes
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
Due: none

bump evmos-ledger-go to v0.2.2
  go.mod
  go.sum
Due: none

chore(imp) add changelog entry
  CHANGELOG.md
Due: none

chore(imp) add changelog entry for PR 1349 (#1368)
  CHANGELOG.md
Due: none

chore(tests) add changelog entry
  CHANGELOG.md
Due: none

chore(tests) deprecate usage of `aphoton` on tests (#1352)
  CHANGELOG.md
  app/ante/cosmos/eip712.go
  app/ante/cosmos/utils_test.go
  app/ante/evm/eth.go
  app/ante/evm/eth_test.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_checker_test.go
  app/ante/evm/utils_test.go
  app/ante/handler_options_test.go
  app/app.go
  cmd/config/config.go
  cmd/evmosd/genaccounts.go
  cmd/evmosd/root.go
  cmd/evmosd/testnet.go
  crypto/hd/algorithm_test.go
  crypto/hd/benchmark_test.go
  encoding/codec/codec.go
  ibc/testing/app.go
  indexer/kv_indexer_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/types/utils.go
  server/flags/flags.go
  server/start.go
  x/claims/keeper/integration_test.go
  x/evm/handler_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/types/msg_test.go
  x/evm/types/params.go
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/inflation_test.go
  x/inflation/keeper/integration_test.go
Due: app, modules, core

chore(imp) refactor to use BaseDenom
  app/ante/cosmos/min_price_test.go
  app/ante/cosmos/utils_test.go
  app/ante/utils_test.go
  app/app_test.go
  app/test_helpers.go
  go.mod
  indexer/kv_indexer_test.go
  rpc/backend/backend_suite_test.go
  testutil/integration.go
  x/claims/genesis_test.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
  x/claims/keeper/integration_test.go
  x/claims/migrations/v3/types/params.go
  x/claims/types/params.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/integration_test.go
  x/evm/types/params.go
  x/ibc/transfer/keeper/keeper_test.go
  x/recovery/keeper/keeper_test.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/keeper_test.go
  x/vesting/keeper/integration_test.go
Due: app, modules

rollback go.mod changes
  go.mod
Due: none

remove TODO comment on test
  x/claims/keeper/integration_test.go
Due: modules

add changelog entry
  CHANGELOG.md
Due: none

chore(imp) refactor to use BaseDenom (#1369)
  CHANGELOG.md
  app/ante/cosmos/min_price_test.go
  app/ante/cosmos/utils_test.go
  app/ante/utils_test.go
  app/app_test.go
  app/test_helpers.go
  indexer/kv_indexer_test.go
  rpc/backend/backend_suite_test.go
  testutil/integration.go
  x/claims/genesis_test.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
  x/claims/keeper/integration_test.go
  x/claims/migrations/v3/types/params.go
  x/claims/types/params.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/integration_test.go
  x/evm/types/params.go
  x/ibc/transfer/keeper/keeper_test.go
  x/recovery/keeper/keeper_test.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/keeper_test.go
  x/vesting/keeper/integration_test.go
Due: app, modules

chore(deps): bump SDK to
  go.mod
  go.sum
Due: none

update tendermint
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

fix: added err require checks
  tests/e2e/e2e_suite_test.go
Due: none

fix: linter issues
  tests/e2e/e2e_suite_test.go
Due: none

Update tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_suite_test.go
Due: none

fix: remove extra command needing queries for now
  tests/e2e/e2e_suite_test.go
Due: none

test: remove prefixEpochMintProvision key to test if query tests work
  x/inflation/types/keys.go
Due: modules

fix: revert the change made to test the missing key
  x/inflation/types/keys.go
Due: modules

chore(imp) improve cli error messages
  app/ante/cosmos/min_price.go
  app/ante/cosmos/min_price_test.go
  app/ante/evm/fee_checker.go
Due: app

chore(deps): bump SDK to `v0.46.9-ledger` (#1370)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
