Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix ante tests
  app/ante/evm/ante_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/setup_ctx_test.go
  app/ante/evm/signverify_test.go
  app/ante/evm/sigs_test.go
  app/ante/evm/utils_test.go
  app/ante/evm/vesting_test.go
Due: app

fix handler tests
  app/ante/evm/setup_ctx_test.go
  x/evm/handler_test.go
Due: app, modules

fix encoding tests
  encoding/config_test.go
Due: none

fix keeper tests
  x/erc20/keeper/utils_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
Due: modules

fix kv indexer test
  indexer/kv_indexer_test.go
Due: none

fix feemarket keeper test
  x/feemarket/keeper/utils_test.go
Due: modules

fix ibc keeper tests
  x/ibc/transfer/keeper/keeper_test.go
Due: modules

fix claims keeper tests
  x/claims/keeper/utils_test.go
Due: modules

fix backend test
  rpc/backend/backend_suite_test.go
Due: none

fix incentive keeper test
  x/incentives/keeper/utils_test.go
Due: modules

fix revenue tests
  x/revenue/keeper/utils_test.go
Due: modules

fix vesting tests
  x/vesting/keeper/utils_test.go
Due: modules

fix evm msg test
  x/evm/types/msg_test.go
Due: modules

fix tests
  x/evm/types/msg_test.go
  x/evm/types/tx.go
Due: modules

rename EvmTxArgs
  app/ante/evm/ante_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/setup_ctx_test.go
  app/ante/evm/signverify_test.go
  app/ante/evm/sigs_test.go
  app/ante/evm/utils_test.go
  app/ante/evm/vesting_test.go
  encoding/config_test.go
  indexer/kv_indexer_test.go
  rpc/backend/backend_suite_test.go
  testutil/integration.go
  x/claims/keeper/utils_test.go
  x/erc20/keeper/utils_test.go
  x/evm/handler_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/evm/types/tx.go
  x/evm/types/utils_test.go
  x/feemarket/keeper/utils_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/utils_test.go
  x/revenue/keeper/utils_test.go
  x/vesting/keeper/utils_test.go
Due: app, modules

fix erc20 tests
  x/erc20/keeper/utils_test.go
Due: modules

Merge main and address conflicts
  app/ante/evm/ante_test.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
Due: app

impv: Add CLI command for the new msg
  x/vesting/client/cli/tx.go
Due: modules

Apply suggestions from code review
  x/vesting/client/cli/tx.go
  x/vesting/keeper/msg_server.go
Due: modules

tests: added unit tests
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/msg.go
Due: modules

fix: apply changes from code review
  x/vesting/client/cli/tx.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/msg.go
Due: modules

fix: added msg to router
  x/vesting/handler.go
Due: modules

fix: add new msg to codec
  x/vesting/types/codec.go
Due: modules

formatting and linting
  x/vesting/keeper/msg_server.go
Due: modules

CHANGELOG
  CHANGELOG.md
Due: none

add cosmos implementation using deduct fee decorator
  app/ante/cosmos/fees.go
  app/ante/cosmos/interfaces.go
Due: app

add cosmos deduct fee decorator to handler options and small improvements to readability
  app/ante/evm/eth.go
  app/ante/evm/eth_test.go
  app/ante/handler_options.go
Due: app

Update testutil/tx/cosmos.go
  testutil/tx/cosmos.go
Due: none

Update testutil/abci.go
  testutil/abci.go
Due: none

change code func description
  testutil/tx/eth.go
Due: none

Update x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server.go
Due: modules

fix: codec, msg tests and comments
  x/vesting/keeper/msg_server.go
  x/vesting/types/codec.go
  x/vesting/types/msg_test.go
Due: modules

chore(tests) add val set changes on Commit func
  testutil/abci.go
  x/claims/keeper/utils_test.go
  x/epochs/keeper/utils_test.go
  x/erc20/keeper/utils_test.go
  x/evm/keeper/utils_test.go
  x/feemarket/keeper/utils_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/utils_test.go
  x/inflation/keeper/utils_test.go
  x/revenue/keeper/utils_test.go
  x/vesting/keeper/utils_test.go
Due: modules

refactor based on review comments
  testutil/tx/cosmos.go
Due: none

rename contractTxParams
  app/ante/evm/ante_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/setup_ctx_test.go
  app/ante/evm/signverify_test.go
Due: app

extract method to create tx in tx builder from deliver tx in testutils
  testutil/integration.go
Due: none

fix: added back proto files and updated spec.
  proto/evmos/vesting/v1/tx.proto
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/spec/04_transactions.md
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
