Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

fix: imports and lint
  precompiles/vesting/approve.go
  precompiles/vesting/tx.go
  precompiles/vesting/tx_test.go
  precompiles/vesting/types.go
  precompiles/vesting/vesting.go
  x/revenue/v1/keeper/integration_test.go
  x/vesting/keeper/msg_server_test.go
Due: modules

fix(vesting): Add generic authorization grants and fix tests (#1862)
  CHANGELOG.md
  precompiles/vesting/Vesting.sol
  precompiles/vesting/abi.json
  precompiles/vesting/approve.go
  precompiles/vesting/events.go
  precompiles/vesting/integration_test.go
  precompiles/vesting/tx.go
  precompiles/vesting/tx_test.go
  precompiles/vesting/types.go
  precompiles/vesting/vesting.go
  x/revenue/v1/keeper/integration_test.go
Due: modules

fix(ics20): Extract grant checking and updating functions for reuse (#1850)
  CHANGELOG.md
  precompiles/authorization/events.go
  precompiles/ics20/events.go
  precompiles/ics20/tx.go
  precompiles/ics20/types.go
Due: none

impv(ics20): Common approval methods and tests refactor (#1849)
  CHANGELOG.md
  precompiles/authorization/events.go
  precompiles/common/errors.go
  precompiles/ics20/approve.go
  precompiles/ics20/approve_common.go
  precompiles/ics20/approve_test.go
  precompiles/ics20/events.go
  precompiles/ics20/events_test.go
  precompiles/ics20/integration_test.go
  precompiles/ics20/query.go
  precompiles/ics20/tx.go
  precompiles/ics20/tx_test.go
  precompiles/ics20/types.go
  precompiles/ics20/utils_test.go
Due: none

fix(ics20): Refactor ICS20Authorization to use Allocations (#1848)
  CHANGELOG.md
  precompiles/authorization/IICS20Authorization.sol
  precompiles/common/Types.sol
  precompiles/common/types.go
  precompiles/ics20/ICS20.sol
  precompiles/ics20/abi.json
  precompiles/ics20/approve.go
  precompiles/ics20/approve_test.go
  precompiles/ics20/events.go
  precompiles/ics20/events_test.go
  precompiles/ics20/integration_test.go
  precompiles/ics20/query.go
  precompiles/ics20/query_test.go
  precompiles/ics20/types.go
  precompiles/ics20/utils_test.go
  precompiles/testutil/contracts/InterchainSender.sol
Due: none

chore(sdk): Bump cosmos sdk to v0.47.5 (#1869)
  go.mod
  go.sum
  gomod2nix.toml
Due: none

fix: merge conflicts
  precompiles/ics20/approve.go
Due: none

update imports
  app/keys.go
  cmd/evmosd/versiondb.go
Due: app

CHANGELOG
  CHANGELOG.md
Due: none

fix memo types
  precompiles/outposts/osmosis/types.go
Due: none

add memo twap variables as constant
  precompiles/outposts/osmosis/tx.go
Due: none

chore: add support for memIAVL + versionDB (#1842)
  CHANGELOG.md
  Makefile
  app/app.go
  app/baseapp.go
  app/db.go
  app/db_placeholder.go
  app/keys.go
  cmd/evmosd/opendb/opendb.go
  cmd/evmosd/opendb/rocksdb.go
  cmd/evmosd/root.go
  cmd/evmosd/versiondb.go
  cmd/evmosd/versiondb_placeholder.go
  go.mod
  go.sum
  gomod2nix.toml
  local_node.sh
  server/config/config.go
  server/config/toml.go
  server/start.go
Due: app

remove unnecessary edit
  local_node.sh
Due: none

fix: remove unnecessary edit in local node script (#1876)
  local_node.sh
Due: none

fix: remove merge marks
  precompiles/ics20/types.go
Due: none

fix: correct type for Transfer Authz
  precompiles/ics20/types.go
Due: none

fix(test): use different port to avoid collision
  tests/nix_tests/test_no_abci_resp.py
Due: none

fix conflicts
  CHANGELOG.md
Due: none

(test) fix port to avoid collision
  tests/nix_tests/test_no_abci_resp.py
Due: none

fix: resolved merge issues
  precompiles/authorization/events.go
  precompiles/ics20/approve.go
  precompiles/vesting/tx_test.go
Due: none

update gomod2nix.toml file
  gomod2nix.toml
Due: none

add: integration tests network suite (#1728)
  CHANGELOG.md
  testutil/integration/factory/factory.go
  testutil/integration/factory/helpers.go
  testutil/integration/grpc/account.go
  testutil/integration/grpc/bank.go
  testutil/integration/grpc/evm.go
  testutil/integration/grpc/feemarket.go
  testutil/integration/grpc/grpc.go
  testutil/integration/grpc/revenue.go
  testutil/integration/keyring/keyring.go
  testutil/integration/network/abci.go
  testutil/integration/network/clients.go
  testutil/integration/network/config.go
  testutil/integration/network/network.go
  testutil/integration/network/params.go
  testutil/integration/network/setup.go
Due: none

fix: fix merge issues
  app/upgrades/v14/upgrades.go
  precompiles/vesting/tx_test.go
Due: app

fix lint
  precompiles/testutil/contracts/types.go
  testutil/integration/factory/types.go
  testutil/integration/utils/contracts.go
Due: none

fix CHANGELOG
  CHANGELOG.md
Due: none

move timeoutHeight to Precompile struct
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

fix licenses
  testutil/integration/utils/contracts.go
Due: none

move NewMsgTransfer as a seprate function
  precompiles/ics20/tx.go
  precompiles/ics20/types.go
Due: none

update docstring
  precompiles/ics20/types.go
Due: none

format and lint
  x/revenue/v1/keeper/integration_test.go
Due: modules

fix lint
  testutil/integration/utils/contracts.go
Due: none

CHANGELOG
  CHANGELOG.md
  go.mod
  go.sum
Due: none

fix(test): use different port to avoid collision (#1877)
  tests/nix_tests/test_no_abci_resp.py
Due: none

test: EVM integration tests refractor (#1815)
  precompiles/common/abi.go
  precompiles/staking/staking.go
  testutil/integration/factory/factory.go
  testutil/integration/factory/helpers.go
  testutil/integration/factory/types.go
  testutil/integration/keyring/keyring.go
  testutil/integration/utils/contracts.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/statedb_test.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg.go
Due: modules
