Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: add space
  precompiles/outposts/osmosis/types_test.go
Due: none

fix: remove println comment
  x/erc20/keeper/ibc_callbacks.go
Due: modules

dynamically calculate upgrade height
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/params.go
Due: none

remove outdated const
  tests/e2e/e2e_suite_test.go
Due: none

uncomment CLI tx tests
  tests/e2e/e2e_test.go
Due: none

imp(changelog): Add changelog checker (#2140)
  .github/workflows/changelog.yml
  .github/workflows/test.yml
  .markdownlintignore
  CHANGELOG.md
  Makefile
  scripts/changelog_checker/README.md
  scripts/changelog_checker/change_type.py
  scripts/changelog_checker/check_changelog.py
  scripts/changelog_checker/config.py
  scripts/changelog_checker/entry.py
  scripts/changelog_checker/release.py
  scripts/changelog_checker/test_change_type.py
  scripts/changelog_checker/test_check_changelog.py
  scripts/changelog_checker/test_config.py
  scripts/changelog_checker/test_entry.py
  scripts/changelog_checker/test_release.py
  scripts/changelog_checker/testdata/changelog_fail.md
  scripts/changelog_checker/testdata/changelog_ok.md
  scripts/license_checker/check_licenses.py
  scripts/license_checker/test_check_licenses.py
Due: none

add changelog entry
  CHANGELOG.md
Due: none

run gofumpt
  tests/e2e/upgrade/manager.go
Due: none

turn todo into doc comment
  tests/e2e/e2e_suite_test.go
Due: none

imp(tests): Check voting has concluded in automated upgrade tests (#2235)
  CHANGELOG.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/init-node.sh
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/params.go
  tests/e2e/upgrade/queryexec.go
Due: none

imp(tests): Add post-upgrade transactions to E2E upgrade test suite (#2230)
  CHANGELOG.md
  app/upgrades/v16/constants.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/exec.go
  tests/e2e/upgrade/utils.go
Due: app

imp(tests): Enable specifying the prefunded balances for the integration test setup (#2280)
  CHANGELOG.md
  testutil/integration/common/grpc/bank.go
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/config_test.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
Due: none

fix imports
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

target review comments
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/factory/helpers.go
  x/evm/keeper/state_transition_test.go
Due: modules

add licenses
  testutil/integration/evmos/utils/validators.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

update comment
  testutil/integration/evmos/grpc/feemarket.go
Due: none

fix: fix on error acknowledgement and adjust the custom ICS20 Transfer function
  x/erc20/keeper/ibc_callbacks.go
  x/ibc/transfer/keeper/msg_server.go
Due: modules

fix: add extra parsing option for 9 decimals (nano)
  ibc/utils.go
  x/erc20/keeper/ibc_callbacks_test.go
Due: modules

fix: return ack without the need for default case
  x/erc20/keeper/ibc_callbacks.go
Due: modules

Apply changes from code review
  CHANGELOG.md
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/precompiles.go
Due: modules

Update LICENSE
  LICENSE
Due: none

rename function
  testutil/integration/evmos/utils/validators.go
  x/evm/keeper/state_transition_test.go
Due: modules

rename file
  testutil/integration/evmos/utils/types.go
Due: none

Update LICENSE (#2286)
  LICENSE
Due: none

fix QueryAccount PR
  x/evm/keeper/grpc_query_test.go
Due: modules

fix licenses
  testutil/integration/evmos/utils/events.go
Due: none

fix TestQueryCosmosAccount
  x/evm/keeper/grpc_query_test.go
Due: modules

fix(evm): fix `state_transition` unit tests (#2283)
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/factory/helpers.go
  testutil/integration/evmos/grpc/feemarket.go
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/utils/events.go
  testutil/integration/evmos/utils/types.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

fix TestQuery
  x/evm/keeper/grpc_query_test.go
Due: modules

fix TestQueryStorage
  x/evm/keeper/grpc_query_test.go
Due: modules

fix TestQueryCode
  x/evm/keeper/grpc_query_test.go
Due: modules

fix TestQueryParams
  x/evm/keeper/grpc_query_test.go
Due: modules

commit WIP adding utils to convert native coins
  app/upgrades/v16/utils.go
  app/upgrades/v16/utils_test.go
Due: app

fix TestEstimateGas
  x/evm/keeper/grpc_query_test.go
Due: modules

add utility to check balances to testutils
  testutil/integration/evmos/utils/bank.go
  testutil/integration/evmos/utils/bank_test.go
Due: none

add missing license
  testutil/integration/evmos/utils/bank.go
Due: none

add missing license
  app/upgrades/v16/utils.go
Due: app

fix: apply changes from code review
  ibc/utils_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/msg_server.go
Due: modules

add v17 handler
  app/app.go
  app/upgrades/v17/constants.go
  app/upgrades/v17/upgrades.go
Due: app

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
