Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

gomod2nix generate
  gomod2nix.toml
Due: none

chore: add burnt coins metrics (#2246)
  CHANGELOG.md
  app/post/burn.go
  app/post/burn_test.go
Due: app

update name
  app/post/burn.go
Due: app

update name
  CHANGELOG.md
Due: none

fix type
  app/post/burn.go
Due: app

fix conflicts
  CHANGELOG.md
  app/post/burn.go
Due: app

remove unincluded change
  CHANGELOG.md
Due: none

set telemetry on deliver tx only
  app/post/burn.go
Due: app

fix(app/ante) replace vestingtypes to anteutils from ante handler options (#2232)
  app/ante/cosmos/vesting.go
  app/ante/handler_options.go
Due: app

test slither by breaking solidity contract
  precompiles/bank/testdata/BankCaller.sol
Due: none

adjust codecov settings
  codecov.yml
Due: none

prepare changelog
  CHANGELOG.md
Due: none

chore(upgrade): Prepare changelog for v16.0.1 (#2257)
  CHANGELOG.md
Due: none

add IT suite for `eth_*` Json-RPC
  rpc/namespaces/ethereum/eth/eth_rpc_it_suite/eth_api_account_test.go
  rpc/namespaces/ethereum/eth/eth_rpc_it_suite/eth_api_block_test.go
  rpc/namespaces/ethereum/eth/eth_rpc_it_suite/eth_api_transaction_test.go
  rpc/namespaces/ethereum/eth/eth_rpc_it_suite/setup_eth_rpc_integration_test.go
Due: none

add CHANGELOG.md
  CHANGELOG.md
Due: none

update README.md
  integration_test_util/README.md
  integration_test_util/types/db/block.go
  integration_test_util/types/db/evm_internal_tx.go
  integration_test_util/types/db/evm_log.go
  integration_test_util/types/db/message.go
  integration_test_util/types/db/message_ibc.go
  integration_test_util/types/db/smart_contract.go
  integration_test_util/types/db/transaction.go
Due: none

solved SendRawTransaction
  rpc/namespaces/ethereum/eth/eth_rpc_it_suite/eth_api_transaction_test.go
Due: none

refactor code
  integration_test_util/accounts.go
  integration_test_util/types/chain_app_imp_init.go
Due: none

update testcases with correct transaction type and Ethereum spec
  rpc/namespaces/ethereum/eth/eth_rpc_it_suite/eth_api_transaction_test.go
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Apply suggestions from code review
  x/erc20/keeper/evm.go
  x/erc20/keeper/genesis_test.go
Due: modules

add base denom validation
  x/erc20/keeper/genesis.go
  x/erc20/keeper/genesis_test.go
Due: modules

adjust markdown links config
  .github/workflows/markdown-links.yml
Due: none

remove broken PAT from nix CI flow
  .github/workflows/e2e-test.yml
Due: none

adjust code ql config
  .github/workflows/codeql-analysis.yml
Due: none

fix: remove evm hooks and add LegacyConvertCoin
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/msg_server.go
Due: modules

fix: add a TODO reminder
  x/erc20/keeper/proposals.go
Due: modules

placeholder
  x/erc20/keeper/ibc_callbacks_test.go
Due: modules

add getDenomDecimals tests
  ibc/errors.go
  ibc/utils.go
  ibc/utils_test.go
  x/erc20/keeper/genesis.go
Due: modules

changes based on review comments
  ibc/utils.go
  ibc/utils_test.go
  precompiles/erc20/query.go
  x/erc20/keeper/genesis.go
Due: modules

changes based on review comments
  x/erc20/genesis_test.go
Due: modules

fix err msg
  x/erc20/keeper/genesis.go
Due: modules

fix(erc20): add logic to deploy token pairs contracts on genesis (#2217)
  .github/workflows/e2e-test.yml
  CHANGELOG.md
  ibc/errors.go
  ibc/utils.go
  ibc/utils_test.go
  precompiles/erc20/errors.go
  precompiles/erc20/query.go
  tests/nix_tests/configs/osmosis-outpost.jsonnet
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/utils.py
  x/erc20/genesis.go
  x/erc20/genesis_test.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/genesis.go
  x/erc20/keeper/genesis_test.go
  x/erc20/types/interfaces.go
  x/erc20/types/mocks/EVMKeeper.go
Due: modules

update rocksdb version
  Dockerfile
  Makefile
  nix/rocksdb.nix
  scripts/install_librocksdb.sh
Due: none
