Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

chore(deps): bump SDK to v0.46.8-ledger (#1279)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

Apply suggestions from code review
  app/app.go
  app/upgrades/v11/constants.go
Due: app

Apply suggestions from code review
  CHANGELOG.md
  go.mod
Due: none

conflicts
  go.sum
Due: none

fix(app): store upgrades for rc3 (#1276)
  CHANGELOG.md
  app/app.go
  app/upgrades/v11/constants.go
  app/upgrades/v11/upgrades.go
  x/recovery/types/keys.go
Due: app, modules

fix: removed deleted recovery module for mainnet
  app/upgrades/v11/upgrades.go
Due: app

run formatting and linting
  app/upgrades/v11/upgrades.go
Due: app

fix(upgrade): remove deletion of recovery module from mainnet upgrade (#1282)
  app/upgrades/v11/upgrades.go
Due: app

fix typo
  app/ante/handler_options.go
Due: app

enable multiple upgrades for automated upgrade tests
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
Due: none

Fix typo
  app/ante/vesting.go
Due: app

fix extensions on antehandler
  app/ante/ante.go
Due: app

Address revisions, fix short-circuit bug and add test case
  app/ante/handler_options.go
  app/ante/vesting.go
  x/vesting/keeper/integration_test.go
Due: app, modules

Address lint issue
  x/vesting/keeper/integration_test.go
Due: modules

refactor get logs from docker container
  tests/e2e/upgrade/manager.go
Due: none

check error string when trying to kill node
  tests/e2e/e2e_suite_test.go
Due: none

remove unnecessary deposit step
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/govexec.go
Due: none

escape linter regarding preallocation of upgrades
  tests/e2e/e2e_utils_test.go
Due: none

fix eth ante tests
  app/ethante/ante.go
  app/ethante/ante_test.go
  app/ethante/utils_test.go
Due: app

Improve formatting and clarity
  app/ante/vesting.go
  testutil/integration.go
  x/vesting/keeper/integration_test.go
Due: app, modules

export byversion
  tests/e2e/upgrade/utils.go
Due: none

enable backwards compatibility with submit-proposal
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/govexec.go
Due: none

add logs to waitforheight error
  tests/e2e/upgrade/manager.go
Due: none

fix submit-legacy-proposal
  tests/e2e/upgrade/govexec.go
Due: none

fix feemarket keeper test
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/types/query.pb.go
Due: modules

fix keeper test
  app/app.go
  proto/evmos/feemarket/v1/query.proto
  x/erc20/types/erc20.pb.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/evm/types/utils_test.go
Due: app, modules

run gofumpt
  x/erc20/types/erc20.pb.go
  x/feemarket/keeper/integration_test.go
Due: modules

fix lint
  app/app.go
  app/ethante/utils_test.go
Due: app

Remove build-docker command from tests (#1267)
  Makefile
Due: none

adjust logger in e2e_suite_test.go
  tests/e2e/e2e_suite_test.go
Due: none

refactor checkLegacyProposal
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/utils.go
  tests/e2e/upgrade/utils_test.go
Due: none

address review comments
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/manager.go
Due: none

rename byversion to EvmosVersion
  tests/e2e/upgrade/utils.go
  tests/e2e/upgrade/utils_test.go
Due: none

add tests and rename to plural evmosversions
  tests/e2e/upgrade/utils.go
  tests/e2e/upgrade/utils_test.go
Due: none

rename upgradeConfig to versionConfig + housekeeping
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_utils_test.go
Due: none

add node version sanity check after upgrade
  tests/e2e/e2e_suite_test.go
Due: none

update changelog and readme
  CHANGELOG.md
  tests/e2e/README.md
Due: none

address markdown linter comments
  tests/e2e/README.md
Due: none

address more markdown linter comments
  tests/e2e/README.md
Due: none
