Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

testing token issues/config/metrics
  .github/workflows/semgrep.yml
Due: none

update to use semgrep ci
  .github/workflows/semgrep.yml
Due: none

add semgrep configuration
  .github/workflows/semgrep.yml
Due: none

trying semgrep login
  .github/workflows/semgrep.yml
Due: none

finished fixing semgrep action
  .github/workflows/semgrep.yml
Due: none

add back filter
  .github/workflows/semgrep.yml
Due: none

[ENG-567] fix(ci): semgrep action (#749)
  .github/workflows/semgrep.yml
Due: none

pr comments
  x/feesplit/keeper/msg_server.go
  x/feesplit/types/msg_test.go
Due: modules

[ENG-451] Feesplits fixes (#747)
  x/feesplit/keeper/integration_test.go
  x/feesplit/keeper/msg_server.go
  x/feesplit/keeper/msg_server_test.go
  x/feesplit/types/msg.go
  x/feesplit/types/msg_test.go
Due: modules

tests(genesis): add feesplit/genesis.go tests
  x/feesplit/genesis_test.go
Due: modules

docs(cli): add note about registering a contract
  x/feesplit/client/cli/tx.go
Due: modules

docs(specs): add note about registering a contract
  x/feesplit/spec/01_concepts.md
Due: none

fix markdown lint
  x/feesplit/spec/01_concepts.md
Due: none

update readme
  x/README.md
Due: none

audit(feesplit): completeness audit (#751)
  x/README.md
  x/feesplit/client/cli/tx.go
  x/feesplit/genesis_test.go
  x/feesplit/spec/01_concepts.md
Due: modules

added statik, changelog
  CHANGELOG.md
  scripts/protocgen.sh
Due: none

resolving discussions
  docs/developers/libraries/evmosjs.md
  docs/developers/wallet-integration.md
Due: none

docs: wallet integration, epochs updates (#745)
  docs/developers/libraries/evmosjs.md
  docs/developers/wallet-integration.md
  x/epochs/spec/01_concepts.md
  x/epochs/spec/02_state.md
  x/epochs/spec/03_events.md
  x/epochs/spec/04_keeper.md
  x/epochs/spec/05_hooks.md
  x/epochs/spec/06_queries.md
  x/epochs/spec/07_future_improvements.md
  x/epochs/spec/README.md
Due: none

imp(docs): improve Evmos documentation
  docs/.vuepress/config.js
  docs/about/intro/overview.md
  docs/developers/libraries/evmosjs.md
  docs/developers/overview.md
  docs/developers/wallet_integration.md
  docs/users/governance/best_practices.md
  docs/users/governance/community_pool.md
  docs/users/governance/overview.md
  docs/users/governance/param_change.md
  docs/users/governance/process.md
  docs/users/governance/submitting.md
  docs/validators/governance/param_change.md
  docs/validators/setup/configuration.md
Due: none

imp(docs): improve Evmos documentation (#753)
  docs/.vuepress/config.js
  docs/about/intro/overview.md
  docs/developers/libraries/evmosjs.md
  docs/developers/overview.md
  docs/developers/wallet_integration.md
  docs/users/governance/best_practices.md
  docs/users/governance/community_pool.md
  docs/users/governance/overview.md
  docs/users/governance/param_change.md
  docs/users/governance/process.md
  docs/users/governance/submitting.md
  docs/validators/governance/param_change.md
  docs/validators/setup/configuration.md
Due: none

imp(vesting): add amino registration for Vesting msgs
  x/vesting/module.go
  x/vesting/types/codec.go
  x/vesting/types/msg.go
Due: modules

fix(docs): fix build
  docs/package-lock.json
  docs/package.json
Due: none

fix(docs): fix build (#758)
  docs/package-lock.json
  docs/package.json
Due: none

migration(testnet): add v7 migration for moving inacessible faucet address
  app/app.go
  app/upgrades/v6/upgrades.go
  app/upgrades/v7/constants.go
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
  go.mod
  go.sum
Due: app

fix address typo
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
Due: app

Update app/upgrades/v7/upgrades_test.go
  app/upgrades/v7/upgrades_test.go
Due: app

migration(testnet): add v7 migration for moving inacessible faucet address (#760)
  app/app.go
  app/upgrades/v6/upgrades.go
  app/upgrades/v7/constants.go
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
  go.mod
  go.sum
Due: app

imp(docs): update default Cosmos gRPC & REST
  docs/developers/overview.md
Due: none

chore(docs): update default Cosmos gRPC & REST link (#761)
  docs/developers/overview.md
Due: none

simplify navigation and add register feesplit guide (WIP)
  docs/.vuepress/config.js
  docs/developers/guides/feesplit.md
  docs/developers/testnet/faucet.md
  x/feesplit/spec/01_concepts.md
Due: none

revert to original
  x/inflation/keeper/epoch_info.go
  x/inflation/keeper/epoch_info_test.go
Due: modules

added logic, working on tests
  app/upgrades/v7/upgrades.go
Due: app

added tests
  app/app.go
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
Due: app

fix lint, build, test issues
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
Due: app

move to mainnet, add changelog
  CHANGELOG.md
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
Due: app

adding erc-20 registration guide for devs
  docs/developers/erc_20_integration.md
Due: none

lint fixes
  docs/developers/erc_20_integration.md
Due: none

lint fixes, small changes
  docs/users/governance/best_practices.md
  docs/users/governance/param_change.md
Due: none

fix tabulation
  docs/developers/erc_20_integration.md
Due: none

fixing other links
  docs/users/governance/submitting.md
Due: none
