Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

changelog
  CHANGELOG.md
Due: none

docs: add table for connecting to Evmos testnet / mainnet
  docs/.vuepress/config.js
  docs/api/README.md
  docs/api/connect.md
Due: none

docs: add table for connecting to Evmos testnet / mainnet (#521)
  docs/.vuepress/config.js
  docs/api/README.md
  docs/api/connect.md
Due: none

docs: add evmosjs
  docs/api/apis.md
  docs/clients/evmosjs.md
Due: none

config
  docs/.vuepress/config.js
Due: none

update doc
  docs/.vuepress/config.js
  docs/clients/evmosjs.md
Due: none

docs: evmosjs (#522)
  docs/.vuepress/config.js
  docs/api/apis.md
  docs/clients/evmosjs.md
Due: none

fix: update store loader
  app/app.go
Due: app

fix: update store loader (#523)
  CHANGELOG.md
  app/app.go
  client/docs/statik/statik.go
  go.mod
  go.sum
Due: app

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix swagger conflicts
  client/docs/statik/statik.go
  docs/api/proto-docs.md
Due: none

docs: revamp
  docs/.vuepress/config.js
  docs/README.md
  docs/api/apis.md
  docs/basics/README.md
  docs/basics/gas.md
  docs/basics/img/photon.png
  docs/basics/smart_contracts.md
  docs/basics/tokens.md
  docs/basics/transactions.md
  docs/core/README.md
  docs/guides/keys/keyring.md
  docs/guides/keys/multisig.md
  docs/guides/wallets/keplr.md
  docs/guides/wallets/ledger.md
  docs/guides/wallets/metamask.md
  docs/intro/README.md
  docs/intro/clients.md
  docs/intro/resources.md
  docs/intro/use_cases.md
  docs/libraries/evmosjs.md
  docs/mainnet/join.md
  docs/technical_concepts/README.md
  docs/technical_concepts/accounts.md
  docs/technical_concepts/architecture.md
  docs/technical_concepts/chain_id.md
  docs/technical_concepts/encoding.md
  docs/technical_concepts/pending_state.md
  docs/testnet/README.md
  docs/testnet/cloud_providers.md
  docs/testnet/faucet.md
  docs/testnet/join.md
  x/recovery/spec/01_concepts.md
  x/recovery/spec/README.md
Due: none

update links
  docs/api/apis.md
  docs/api/json-rpc/events.md
  docs/architecture/adr-001-state.md
  docs/basics/gas.md
  docs/governance/param_change.md
  docs/guides/upgrades/upgrade_node.md
  docs/intro/overview.md
  docs/technical_concepts/accounts.md
  docs/technical_concepts/encoding.md
  x/claims/spec/02_state.md
  x/fees/spec/05_hooks.md
  x/vesting/spec/README.md
Due: none

fix inflation params store key
  x/inflation/types/params.go
Due: modules

lint
  docs/protocol/proto-docs.md
  docs/validators/upgrades/manual.md
Due: none

docs: upgrades
  docs/validators/upgrades/manual.md
  docs/validators/upgrades/overview.md
Due: none

update
  docs/validators/upgrades/overview.md
Due: none

refactor
  go.sum
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/staking_helpers.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/interfaces.go
  x/vesting/types/schedule.go
Due: modules

rm comment
  x/vesting/types/interfaces.go
Due: modules

deps
  CHANGELOG.md
Due: none

update
  docs/protocol/upgrades/migrations.md
  docs/validators/upgrades/manual.md
Due: none

Update utils.go
  x/erc20/types/utils.go
Due: modules

update unsafe
  docs/validators/quickstart/run_node.md
  docs/validators/testnet.md
  docs/validators/upgrades/automated.md
  docs/validators/upgrades/manual.md
Due: none

updates
  docs/.vuepress/config.js
  docs/validators/mainnet.md
  docs/validators/upgrades/manual.md
Due: none

update docs
  docs/validators/setup/configuration.md
  docs/validators/setup/disk_optimization.md
  docs/validators/upgrades/automated.md
  docs/validators/upgrades/manual.md
Due: none

validator
  docs/.vuepress/config.js
  docs/validators/mainnet.md
  docs/validators/overview.md
  docs/validators/setup/run_validator.md
  docs/validators/testnet.md
Due: none

final fixes
  docs/validators/upgrades/automated.md
  docs/validators/upgrades/manual.md
  docs/validators/upgrades/overview.md
  docs/validators/upgrades/upgrades.md
Due: none

lint
  docs/validators/overview.md
Due: none

add suggestions from review
  docs/validators/upgrades/automated.md
  docs/validators/upgrades/manual.md
  docs/validators/upgrades/overview.md
  docs/validators/upgrades/upgrades.md
Due: none

Update docs/validators/upgrades/manual.md
  docs/validators/upgrades/manual.md
Due: none

docs: upgrades (#529)
  docs/.vuepress/config.js
  docs/protocol/upgrades/migrations.md
  docs/validators/mainnet.md
  docs/validators/overview.md
  docs/validators/quickstart/run_node.md
  docs/validators/setup/configuration.md
  docs/validators/setup/disk_optimization.md
  docs/validators/setup/run_validator.md
  docs/validators/testnet.md
  docs/validators/upgrades/automated.md
  docs/validators/upgrades/manual.md
  docs/validators/upgrades/overview.md
  docs/validators/upgrades/upgrades.md
Due: none

docs: update unsafe reset cmd
  docs/validators/quickstart/run_node.md
  docs/validators/testnet.md
  docs/validators/upgrades/manual.md
Due: none

Bugfix:fetch decimal from cosmos coin metadata
  x/erc20/keeper/proposals.go
Due: modules

add unit test code for compare 2 donom metadata
  x/erc20/types/utils.go
  x/erc20/types/utils_test.go
Due: modules

docs: update unsafe reset cmd (#531)
  docs/validators/quickstart/run_node.md
  docs/validators/testnet.md
  docs/validators/upgrades/manual.md
Due: none

update keplr doc
  docs/developers/faucet.md
  docs/users/wallets/keplr.md
  docs/users/wallets/ledger.md
Due: none
