Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

deps: bump sdk version
  evmos_prof
  go.mod
  go.sum
Due: none

add changelog entry
  CHANGELOG.md
Due: none

deps: bump sdk version
  go.mod
  go.sum
Due: none

deps: bump sdk version to v0.46.10-ledger.3 (release/v12.x.x) (#1566)
  CHANGELOG.md
  evmos_prof
  go.mod
  go.sum
Due: none

deps: bump sdk version to v0.46.11-alpha.ledger.7 (#1567)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

imp(tests) add commit function to keep ctx settings for tests (#1517)
  app/ante/integration_test.go
  testutil/abci.go
  x/claims/keeper/utils_test.go
  x/erc20/keeper/utils_test.go
  x/evm/keeper/utils_test.go
  x/feemarket/keeper/utils_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/utils_test.go
  x/inflation/keeper/utils_test.go
  x/revenue/v1/keeper/utils_test.go
  x/vesting/keeper/utils_test.go
Due: app, modules

feat(client): add subcommand debug legacy-eip712 (#1556)
  client/debug/debug.go
Due: none

fix v12 imports
  client/debug/debug.go
Due: none

adjust upgrade constants
  app/upgrades/v12/constants.go
Due: app

adjust changelog
  CHANGELOG.md
Due: none

fix version in constants
  app/upgrades/v12/constants.go
Due: app

Revert "adjust upgrade constants"
  app/upgrades/v12/constants.go
Due: app

chore: release v12.1.3 (#1569)
  CHANGELOG.md
Due: none

chore: update changelog w/ v12.1.3
  CHANGELOG.md
Due: none

chore: update changelog w/ v12.1.3 (#1570)
  CHANGELOG.md
Due: none

deps: bump ibc-go version
  go.mod
  go.sum
Due: none

fix (ci): fix buf push action version (#1475)
  .github/workflows/bsr-push.yml
  CHANGELOG.md
Due: none

fix: remove linux/836 from docker image CI (#1546)
  .github/workflows/docker-push.yml
  CHANGELOG.md
  LICENSE_FAQ.md
  README.md
Due: none

deps: bump ibc-go version (#1571)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

fix conflicts
  CHANGELOG.md
  LICENSE_FAQ.md
  README.md
Due: none

fix conflicts
  CHANGELOG.md
Due: none

fix conflicts
  CHANGELOG.md
  go.mod
  go.sum
Due: none

chore: prepare release of v12.1.4 (#1575)
  CHANGELOG.md
Due: none

update changelog with v12.1.4
  CHANGELOG.md
Due: none

chore: update changelog with v12.1.4 (#1576)
  CHANGELOG.md
Due: none

fix: changelog
  app/app.go
  proto/evmos/vesting/v1/tx.proto
  x/vesting/handler.go
  x/vesting/keeper/keeper.go
  x/vesting/keeper/msg_server.go
  x/vesting/types/events.go
  x/vesting/types/events.pb.go
  x/vesting/types/interfaces.go
  x/vesting/types/msg.go
  x/vesting/types/query.pb.go
  x/vesting/types/tx.pb.go
  x/vesting/types/tx.pb.gw.go
  x/vesting/types/vesting.pb.go
Due: app, modules

changelog
  x/vesting/keeper/msg_server.go
  x/vesting/module.go
  x/vesting/types/keys.go
Due: modules

fix: changelog1
  x/vesting/keeper/migrations.go
  x/vesting/keeper/msg_server.go
  x/vesting/migrations/v2/migrate.go
  x/vesting/types/keys.go
Due: modules

apply changes
  x/vesting/keeper/msg_server.go
  x/vesting/migrations/v2/migrate.go
  x/vesting/types/keys.go
Due: modules

fix
  x/vesting/migrations/v2/migrate.go
Due: modules

refactor
  proto/evmos/vesting/v1/tx.proto
  x/vesting/handler.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/migrations/v2/migrate.go
  x/vesting/types/msg.go
  x/vesting/types/tx.pb.go
  x/vesting/types/tx.pb.gw.go
Due: modules

update commands
  .github/workflows/build.yml
  Dockerfile
  Makefile
Due: none

add dummy comment to trigger CI
  go.mod
Due: none

refactor
  x/vesting/keeper/keeper.go
  x/vesting/keeper/msg_server.go
  x/vesting/types/interfaces.go
  x/vesting/types/keys.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
