Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

wip
  .github/workflows/docker-push.yml
Due: none

update StakingCaller compiled JSON
  precompiles/staking/testdata/StakingCaller.json
Due: none

use matrix
  .github/workflows/docker-push.yml
Due: none

fix
  .github/workflows/docker-push.yml
Due: none

Update testutil/integration/grpc/grpc.go
  testutil/integration/grpc/grpc.go
Due: none

review comments
  testutil/integration/grpc/account.go
  testutil/integration/grpc/grpc.go
Due: none

add error wrappers
  go.mod
  testutil/integration/factory/factory.go
  testutil/integration/factory/helpers.go
Due: none

fix(consensus): fix the problem when setting the genesis.json file consensus_params.block.max_gas=-1 (#1740)
  CHANGELOG.md
  types/block.go
Due: core

Change IAVL Version to v0.20.1
  go.mod
  go.sum
Due: none

tests(staking): add batch tx precompile tests (#1738)
  precompiles/staking/integration_test.go
  precompiles/staking/testdata/StakingCaller.json
  precompiles/staking/testdata/StakingCaller.sol
  precompiles/testutil/events.go
Due: none

Add changelog
  CHANGELOG.md
  go.mod
Due: none

Upgrade the github.com/rjeczalik/notify version
  go.mod
Due: none

fix(ante):If the user sends a evm transaction with a gas price of 0, skip the steps of staking rewards and tx cost deduct. (#1752)
  CHANGELOG.md
  app/ante/evm/eth.go
Due: app

unify style
  scripts/evmos-devnet.yaml
Due: none

remove url_template
  nix/sources.json
Due: none

update readme
  tests/nix_tests/hardhat/README.md
Due: none

update cosmos cli
  tests/nix_tests/cosmoscli.py
Due: none

changes based on review comments
  default.nix
  scripts/run-nix-tests.sh
  tests/nix_tests/expected_constants.py
  tests/nix_tests/test_tracers.py
  tests/nix_tests/test_types.py
  tests/nix_tests/utils.py
Due: none

changes based on review comments
  scripts/run-nix-tests.sh
  tests/nix_tests/network.py
  tests/nix_tests/test_priority.py
Due: none

changes based on review comments
  tests/nix_tests/.isort.cfg
  tests/nix_tests/cosmoscli.py
Due: none

assert error msg on test_gas tests
  tests/nix_tests/test_gas.py
Due: none

fix lint issues
  tests/nix_tests/test_gas.py
  tests/nix_tests/test_tracers.py
  tests/nix_tests/utils.py
Due: none

add integration test case for specified behaviour
  x/vesting/keeper/integration_test.go
Due: modules

fix lint issues
  tests/nix_tests/test_gas.py
Due: none

add GovKeeper interface
  app/app.go
  x/vesting/keeper/keeper.go
  x/vesting/types/interfaces.go
Due: app, modules

add store logic
  x/vesting/keeper/gov.go
  x/vesting/types/keys.go
Due: modules

add hooks logic
  x/vesting/keeper/hooks.go
Due: modules

fix network config
  tests/nix_tests/network.py
  tests/nix_tests/test_fee_history.py
  tests/nix_tests/test_filters.py
Due: none

update tests setup
  tests/nix_tests/test_priority.py
  tests/nix_tests/test_storage_proof.py
Due: none

fix: handle zero fee case on eth ante
  app/ante/evm/eth.go
Due: app

refactor style
  app/ante/evm/eth.go
Due: app

add changelog entry
  CHANGELOG.md
Due: none

add zero fees unit test case
  app/ante/evm/eth_test.go
  app/ante/evm/utils_test.go
Due: app

refactor helper functions
  app/ante/evm/eth_test.go
  app/ante/evm/utils_test.go
Due: app

wire hooks into multi gov hooks
  app/app.go
  x/vesting/keeper/hooks.go
  x/vesting/keeper/keeper_test.go
  x/vesting/types/interfaces.go
Due: app, modules

add check to clawback function
  x/vesting/keeper/msg_server.go
Due: modules

add test for update vesting funder
  x/vesting/keeper/integration_test.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
