Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

Debugging Claims
  x/claims/keeper/claim.go
Due: modules

new commit
  init_testnode.sh
  x/erc20/keeper/proposals.go
  x/unigov/client/cli/#tx.go#
  x/unigov/client/cli/#utils.go#
  x/unigov/client/cli/.#utils.go
  x/unigov/client/cli/tx.go
  x/unigov/keeper/proposals.go
  x/unigov/types/#types.go#
  x/unigov/types/.#types.go
Due: modules

proposal submitting and being added to map contract
  proposal/metadata.json
  x/unigov/#proposal_handler.go#
  x/unigov/.#proposal_handler.go
  x/unigov/keeper/keeper.go
  x/unigov/keeper/proposals.go
  x/unigov/proposal_handler.go
  x/unigov/types/#types.go#
  x/unigov/types/#unigov.pb.go#
  x/unigov/types/.#types.go
Due: modules

ProposalStore.sol edited
  app/app.go
  contracts/Proposal-Store.sol
  contracts/compiled_contracts/proposalstore.json
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  init_testnode.sh
  proto/canto/unigov/v1/unigov.proto
  x/erc20/keeper/evm.go
  x/erc20/keeper/proposals.go
  x/unigov/keeper/.#proposals.go
  x/unigov/keeper/proposals.go
  x/unigov/proposal_handler.go
  x/unigov/types/interfaces.go
Due: app, modules

map contract
  contracts/compiled_contracts/ProposalStore.json
  contracts/compiled_contracts/proposalstore.json
  x/unigov/keeper/.#proposals.go
  x/unigov/keeper/proposals.go
Due: modules

adding test function to contract
  contracts/Proposal-Store.sol
  contracts/proposalstore.json
Due: none

one chain
  tests/e2e/chain/config.go
  tests/e2e/chain_init/main.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_util_test.go
Due: none

testing contract added
  contracts/NoArgs.go
  contracts/NoArgs.sol
  contracts/compiled_contracts/NoArgs.json
  contracts/proposalstore.json
  x/unigov/keeper/proposals.go
Due: modules

hopefully this works
  x/unigov/keeper/proposals.go
Due: modules

docs: add Stakely json rpc
  docs/developers/connect.md
Due: none

docs: add Stakely json rpc (#619)
  docs/developers/connect.md
Due: none

fees: global `MinGasPrice` parameter (#610)
  CHANGELOG.md
  app/ante/fees.go
  app/ante/fees_test.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/ante/utils_test.go
  app/app.go
  cmd/evmosd/root.go
  docs/protocol/proto-docs.md
  proto/evmos/fees/v1/genesis.proto
  x/fees/keeper/integration_test.go
  x/fees/keeper/keeper_test.go
  x/fees/spec/01_concepts.md
  x/fees/spec/03_state_transitions.md
  x/fees/spec/07_parameters.md
  x/fees/types/genesis.pb.go
  x/fees/types/params.go
  x/fees/types/params_test.go
Due: app, modules

one chain
  Makefile
  tests/e2e/README.md
  tests/e2e/chain/validator.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
Due: none

new rule
  Makefile
  tests/e2e/e2e_setup_test.go
Due: none

LMProposal ID defined by current position in gov proposal queue
  app/app.go
  contracts/#NoArgs.sol#
  contracts/.#NoArgs.sol
  contracts/NoArgs.go
  contracts/Proposal-Store.sol
  contracts/compiled_contracts/NoArgs.json
  contracts/compiled_contracts/ProposalStore.json
  proposal/metadata.json
  x/unigov/client/cli/#tx.go#
  x/unigov/client/cli/.#tx.go
  x/unigov/keeper/#keeper.go#
  x/unigov/keeper/.#keeper.go
  x/unigov/keeper/proposals.go
  x/unigov/types/interfaces.go
  x/unigov/types/proposal.go
Due: app, modules

LMProposal ID defined by position in gov proposal queue
  x/unigov/client/cli/#tx.go#
  x/unigov/client/cli/.#tx.go
  x/unigov/keeper/#keeper.go#
  x/unigov/keeper/.#keeper.go
  x/unigov/keeper/keeper.go
Due: modules

changing Cosmos Coin registration naming
  x/erc20/spec/01_concepts.md
Due: none

correct test name
  tests/e2e/e2e_test.go
Due: none

update favicon
  docs/.vuepress/public/favicon.svg
  docs/.vuepress/public/favicon16.png
  docs/.vuepress/public/favicon32.png
  docs/.vuepress/public/site.webmanifest
Due: none

Fix typo
  x/claims/spec/07_clients.md
Due: none

docs/new_public_rpc
  docs/developers/connect.md
Due: none

Attempt to change display time for claims query from seconds to nanoseconds
  x/claims/types/params.go
Due: modules

docs/new_public_rpc (#625)
  docs/developers/connect.md
Due: none

add tips
  tests/e2e/README.md
Due: none

Covert DurationUntilDecay and DurationOfDecay to NanoSeconds
  x/claims/types/params.go
Due: modules

query chain
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
Due: none

cleanup
  tests/e2e/chain/config.go
  tests/e2e/chain_init/main.go
Due: none

linter recommendations
  tests/e2e/chain/chain.go
  tests/e2e/chain/config.go
  tests/e2e/chain/export.go
  tests/e2e/chain/main.go
  tests/e2e/chain/validator.go
  tests/e2e/chain_init/main.go
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/util/io.go
Due: none

cleanup
  tests/e2e/chain_init/main.go
  tests/e2e/util/io.go
Due: none

makefile cleanup
  Makefile
Due: none

fix(spec): Fix claims REST endpoint docs (#622)
  x/claims/spec/07_clients.md
Due: none

add comment
  tests/e2e/e2e_test.go
Due: none

Added change to CHANGELOG.md
  CHANGELOG.md
Due: none

Eng 290 claims fix durations denominated in nanoseconds (#626)
  CHANGELOG.md
  x/claims/client/cli/query.go
Due: modules

Treasury Proposal Workflow
  app/app.go
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/canto/unigov/v1/unigov.proto
  x/unigov/client/cli/tx.go
  x/unigov/client/cli/utils.go
  x/unigov/client/proposal_handler.go
  x/unigov/keeper/proposals.go
  x/unigov/proposal_handler.go
  x/unigov/types/codec.go
  x/unigov/types/proposal.go
  x/unigov/types/unigov.pb.go
Due: app, modules

Added changelog
  CHANGELOG.md
Due: none

Fix error in changelog entry
  CHANGELOG.md
Due: none

final touches in treasury proposal
  proposal/metadata.json
  proposal/treasury.json
  x/unigov/keeper/proposals.go
  x/unigov/proposal_handler.go
Due: modules

Fixed nested struct. Created an out struct as channel and imported
  testutil/network/network.go
Due: none
