Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

changelog
  CHANGELOG.md
Due: none

fix lint
  app/upgrades/README.md
Due: none

fix
  x/claims/keeper/hooks_test.go
Due: modules

misc: changelog and fix test (#460)
  CHANGELOG.md
  app/upgrades/README.md
  x/claims/keeper/hooks_test.go
Due: modules

x/fees v1 proto and types
  docs/api/proto-docs.md
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/genesis.proto
  proto/evmos/fees/v1/query.proto
  proto/evmos/fees/v1/tx.proto
  x/fees/types/codec.go
  x/fees/types/errors.go
  x/fees/types/events.go
  x/fees/types/fee.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.go
  x/fees/types/genesis.pb.go
  x/fees/types/interfaces.go
  x/fees/types/keys.go
  x/fees/types/msg.go
  x/fees/types/params.go
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.go
  x/fees/types/tx.pb.gw.go
Due: modules

buf protoc was moved to buf alpha protoc
  scripts/protocgen.sh
Due: none

x/fees - PR review fixes
  proto/evmos/fees/v1/tx.proto
  x/fees/types/codec.go
  x/fees/types/fee.go
  x/fees/types/interfaces.go
  x/fees/types/params.go
Due: modules

[ENG-128] Fee distribution - fees v1 proto and types (#461)
  docs/api/proto-docs.md
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/genesis.proto
  proto/evmos/fees/v1/query.proto
  proto/evmos/fees/v1/tx.proto
  x/fees/types/codec.go
  x/fees/types/errors.go
  x/fees/types/events.go
  x/fees/types/fee.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.go
  x/fees/types/genesis.pb.go
  x/fees/types/interfaces.go
  x/fees/types/keys.go
  x/fees/types/msg.go
  x/fees/types/params.go
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.go
  x/fees/types/tx.pb.gw.go
Due: modules

x/fees - add unit tests for params & msg
  x/fees/types/msg.go
  x/fees/types/msg_test.go
  x/fees/types/params.go
  x/fees/types/params_test.go
Due: modules

x/fees - add genesis unit tests
  x/fees/types/fee.go
  x/fees/types/genesis_test.go
Due: modules

x/fees - add unit tests for types/fee
  x/fees/types/fee.go
  x/fees/types/fee_test.go
  x/fees/types/genesis_test.go
  x/fees/types/msg.go
  x/fees/types/msg_test.go
Due: modules

x/fees - 0 address unit test
  x/fees/types/msg_test.go
Due: modules

update testnet docs
  docs/.vuepress/config.js
  docs/basics/chain_id.md
  docs/governance/submitting.md
  docs/guides/keys-wallets/multisig.md
  docs/guides/localnet/single_node.md
  docs/guides/validators/faq.md
  docs/quickstart/binary.md
  docs/quickstart/interact_node.md
  docs/testnet/join.md
Due: none

update testnet docs (#465)
  docs/.vuepress/config.js
  docs/basics/chain_id.md
  docs/governance/submitting.md
  docs/guides/keys-wallets/multisig.md
  docs/guides/localnet/single_node.md
  docs/guides/validators/faq.md
  docs/quickstart/binary.md
  docs/quickstart/interact_node.md
  docs/testnet/join.md
Due: none

Update x/fees/genesis.go (PR review)
  x/fees/genesis.go
Due: modules

Created empty documents with title names
  x/recovery/spec/01_concepts.md
  x/recovery/spec/02_state.md
  x/recovery/spec/03_hooks.md
  x/recovery/spec/04_withdraw.md
  x/recovery/spec/05_events.md
  x/recovery/spec/06_parameters.md
  x/recovery/spec/07_clients.md
Due: none

x/fees - testing setup changes (PR review)
  x/fees/types/fee_test.go
  x/fees/types/genesis_test.go
  x/fees/types/msg_test.go
  x/fees/types/params.go
  x/fees/types/params_test.go
Due: modules

Added all spec content to their various .md sections
  x/recovery/spec/01_concepts.md
  x/recovery/spec/02_state.md
  x/recovery/spec/03_hooks.md
  x/recovery/spec/04_events.md
  x/recovery/spec/04_withdraw.md
  x/recovery/spec/05_events.md
  x/recovery/spec/05_parameters.md
  x/recovery/spec/06_clients.md
  x/recovery/spec/06_parameters.md
  x/recovery/spec/07_clients.md
Due: none

Added atable modificaions
  x/recovery/spec/04_events.md
Due: none

Added atable modificaions
  x/recovery/spec/05_parameters.md
Due: none

Added atable modificaions
  x/recovery/spec/06_clients.md
Due: none

Added a table modificaions
  x/recovery/spec/06_clients.md
Due: none

Added complete content for clients
  x/recovery/spec/06_clients.md
Due: none

Apply suggestions from code review
  x/fees/types/fee_test.go
  x/fees/types/genesis_test.go
  x/fees/types/msg_test.go
Due: modules

vesting: use coins.Min from Cosmos SDK
  x/vesting/keeper/msg_server.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/schedule.go
  x/vesting/types/utils.go
  x/vesting/types/utils_test.go
Due: modules

x/fees tests - fix imports
  x/fees/types/fee_test.go
  x/fees/types/genesis_test.go
  x/fees/types/msg_test.go
Due: modules

[ENG-128] Fee distribution - types tests (#464)
  x/fees/types/fee.go
  x/fees/types/fee_test.go
  x/fees/types/genesis_test.go
  x/fees/types/msg.go
  x/fees/types/msg_test.go
  x/fees/types/params.go
  x/fees/types/params_test.go
Due: modules

x/fees - if withdraw == deployer, withdraw stored as empty string
  x/fees/keeper/fees.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/msg_server_test.go
Due: modules

vesting: use coins.Min from Cosmos SDK (#468)
  CHANGELOG.md
  x/vesting/keeper/msg_server.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/schedule.go
  x/vesting/types/utils.go
  x/vesting/types/utils_test.go
Due: modules

x/fees - add keeper code
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/fees.go
  x/fees/keeper/grpc_query.go
  x/fees/keeper/keeper.go
  x/fees/keeper/msg_server.go
  x/fees/keeper/params.go
Due: modules, clients

Apply suggestions from code review
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/fees.go
Due: modules

x/fees keeper - address PR review
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/fees.go
Due: modules

Made updates based on reviews
  x/recovery/spec/01_concepts.md
  x/recovery/spec/02_state.md
  x/recovery/spec/03_hooks.md
  x/recovery/spec/04_events.md
  x/recovery/spec/05_parameters.md
  x/recovery/spec/06_clients.md
  x/recovery/spec/README.md
Due: none

x/fees return nil if evm config not found in PostTxProcessing
  x/fees/keeper/evm_hooks.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
