Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

Fix unbound metrics and remove labels that keep increasing
  x/erc20/keeper/msg_server.go
  x/incentives/keeper/distribution.go
  x/recovery/keeper/ibc_callbacks.go
  x/revenue/keeper/evm_hooks.go
Due: modules

Add entry to CHANGELOG
  CHANGELOG.md
Due: none

Comment out linter rule to allow message to be called EndOfSupport
  .protolint.yml
Due: none

chore: add protolint yaml file (#1093)
  .github/workflows/super-linter.yml
  .protolint.yml
Due: none

feat(erc20): OnRecv automatic conversion (#1086)
  app/app.go
  ibc/utils_test.go
  types/tests/test_utils.go
  types/utils.go
  types/utils_test.go
  x/erc20/ibc_middleware.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/types/interfaces.go
  x/ibc/transfer/keeper/keeper_test.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/keeper/msg_server_test.go
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/revenue/keeper/keeper_test.go
Due: app, modules, core

Rename clang-format file so that it is used in make proto-format command
  .clang-format
  clang-format
Due: none

Sort Protobuf imports
  proto/evmos/claims/v1/genesis.proto
  proto/evmos/claims/v1/query.proto
  proto/evmos/epochs/v1/query.proto
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/query.proto
  proto/evmos/erc20/v1/tx.proto
  proto/evmos/incentives/v1/incentives.proto
  proto/evmos/incentives/v1/query.proto
  proto/evmos/inflation/v1/query.proto
  proto/evmos/recovery/v1/query.proto
  proto/evmos/revenue/v1/query.proto
  proto/evmos/revenue/v1/tx.proto
  proto/evmos/vesting/v1/query.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
Due: none

fix(build): add build-docker cmd before every test cmd
  Makefile
  tests/e2e/README.md
Due: none

fix(markdown): remove extra blank line
  tests/e2e/README.md
Due: none

feat(ibc): add ics-29 middleware to app initialization
  app/app.go
Due: app

Update docs
  docs/protocol/telemetry.md
  x/incentives/keeper/distribution.go
Due: modules

fix: unbound metrics and remove labels that keep increasing (#1094)
  CHANGELOG.md
  docs/protocol/telemetry.md
  x/erc20/keeper/msg_server.go
  x/incentives/keeper/distribution.go
  x/recovery/keeper/ibc_callbacks.go
  x/revenue/keeper/evm_hooks.go
Due: modules

Address protolint comments in all proto files
  .protolint.yml
  proto/evmos/claims/v1/claims.proto
  proto/evmos/claims/v1/genesis.proto
  proto/evmos/claims/v1/query.proto
  proto/evmos/epochs/v1/genesis.proto
  proto/evmos/epochs/v1/query.proto
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/genesis.proto
  proto/evmos/erc20/v1/query.proto
  proto/evmos/erc20/v1/tx.proto
  proto/evmos/incentives/v1/genesis.proto
  proto/evmos/incentives/v1/incentives.proto
  proto/evmos/incentives/v1/query.proto
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/inflation.proto
  proto/evmos/inflation/v1/query.proto
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  proto/evmos/revenue/v1/genesis.proto
  proto/evmos/revenue/v1/query.proto
  proto/evmos/revenue/v1/revenue.proto
  proto/evmos/revenue/v1/tx.proto
  proto/evmos/vesting/v1/query.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
Due: none

Generate Proto go implementations after adjusting proto files
  x/claims/types/claims.pb.go
  x/claims/types/genesis.pb.go
  x/claims/types/query.pb.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/query.pb.go
  x/erc20/types/tx.pb.go
  x/incentives/types/genesis.pb.go
  x/incentives/types/incentives.pb.go
  x/incentives/types/query.pb.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/inflation.pb.go
  x/inflation/types/query.pb.go
  x/recovery/types/genesis.pb.go
  x/recovery/types/query.pb.go
  x/revenue/types/genesis.pb.go
  x/revenue/types/query.pb.go
  x/revenue/types/revenue.pb.go
  x/revenue/types/tx.pb.go
  x/vesting/types/query.pb.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Due: none

address review comments
  Makefile
  buf.work.yaml
Due: none

Introduce CodeGroup Vue components from cosmos sdk tutorials instead of tabs
  docs/.vuepress/components/CodeGroup.vue
  docs/.vuepress/components/CodeGroupItem.vue
  docs/developers/connect.md
  docs/developers/explorers.md
  docs/developers/json-rpc/endpoints.md
  docs/developers/tools/hardhat.md
  docs/users/technical_concepts/accounts.md
  docs/users/technical_concepts/chain_id.md
  docs/validators/snapshots_archives.md
  docs/validators/upgrades/upgrades.md
Due: none

Disable markdown link check for endpoints table
  docs/developers/json-rpc/endpoints.md
Due: none

Address more link check comments
  docs/developers/json-rpc/endpoints.md
Due: none

Adjust visual appearance of CodeGroup component
  docs/.vuepress/components/CodeGroup.vue
  docs/users/technical_concepts/accounts.md
Due: none

Address more md link check comments
  docs/developers/json-rpc/endpoints.md
Due: none

Remove tabs plugin from package.json
  docs/package.json
Due: none

address markdown linter comments
  docs/developers/connect.md
  docs/developers/explorers.md
  docs/developers/json-rpc/endpoints.md
  docs/users/technical_concepts/accounts.md
  docs/users/technical_concepts/chain_id.md
  docs/users/wallets/metamask.md
  docs/validators/upgrades/upgrades.md
Due: none

Add more CodeGroups to the endpoint docs
  docs/developers/json-rpc/endpoints.md
Due: none

(impv): added UpdateParams proto message
  proto/evmos/erc20/v1/tx.proto
  x/erc20/keeper/keeper.go
  x/erc20/keeper/msg_server.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
Due: modules

(refactor): refactored the params keeper
  x/erc20/keeper/params.go
Due: modules

feat: Add ICAHostKeeper on app
  app/app.go
Due: app

Add genesis order
  app/app.go
Due: app

reorder app.go
  app/app.go
Due: app

(imvp): updated proto messages, module initialization and module handler routing.
  app/app.go
  proto/evmos/erc20/v1/tx.proto
  x/erc20/handler.go
  x/erc20/module.go
  x/erc20/types/msg.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
Due: app, modules

(tests): Updated tests to include the new authority field in the creation of a new Keeper.
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
Due: modules

(impv): added store migration logic
  app/app.go
  x/erc20/exported/exported.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/migrations.go
  x/erc20/keeper/migrations_test.go
  x/erc20/migrations/v3/migration.go
  x/erc20/migrations/v3/migration_test.go
  x/erc20/migrations/v3/types/erc20.pb.go
  x/erc20/migrations/v3/types/genesis.pb.go
  x/erc20/migrations/v3/types/params.go
  x/erc20/module.go
  x/erc20/types/tx.pb.go
Due: app, modules

fix: Fix tabs in documentation (#1099)
  docs/.vuepress/components/CodeGroup.vue
  docs/.vuepress/components/CodeGroupItem.vue
  docs/developers/connect.md
  docs/developers/explorers.md
  docs/developers/json-rpc/endpoints.md
  docs/developers/tools/hardhat.md
  docs/package.json
  docs/users/technical_concepts/accounts.md
  docs/users/technical_concepts/chain_id.md
  docs/users/wallets/metamask.md
  docs/validators/snapshots_archives.md
  docs/validators/upgrades/upgrades.md
Due: none

(impv): modified tests and removed duplicate proto generated files from migration
  app/app.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/migrations/v3/migration.go
  x/erc20/migrations/v3/migration_test.go
  x/erc20/migrations/v3/types/erc20.pb.go
  x/erc20/migrations/v3/types/genesis.pb.go
  x/erc20/migrations/v3/types/params.go
Due: app, modules

caching for tendermint
  go.mod
  go.sum
Due: none

all set
  cmd/evmosd/root.go
  go.mod
Due: none

conversion changes and test fixes
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/types/interfaces.go
Due: modules

docs(guides) add geth JS console guide
  docs/developers/guides/geth_js_console.md
Due: none

docs(guides) fix Requirements link
  docs/developers/guides/geth_js_console.md
Due: none

feat(tests): e2e tests for chain upgrades (#1028)
  CHANGELOG.md
  Makefile
  client/docs/statik/statik.go
  go.mod
  go.sum
  tests/e2e/README.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/Dockerfile.init
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
  tests/e2e/upgrade/upgrade-init.sh
  tests/e2e/upgrade/utils.go
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
