Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

go mod tidy
  x/erc20/keeper/keeper_test.go
Due: modules

go mod tidy
  x/claims/keeper/abci_test.go
Due: modules

impr(erc20): add keeper comment
  x/erc20/keeper/keeper_test.go
Due: modules

fix lint
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  testutil/integration.go
Due: none

Delete past upgrades code
  app/app.go
  app/forks.go
  app/gas.go
  app/upgrades/v2/constants.go
  app/upgrades/v2/upgrades.go
  app/upgrades/v3/upgrades.go
  app/upgrades/v4/constants.go
  app/upgrades/v4/upgrades.go
  app/upgrades/v4/upgrades_test.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
  app/upgrades/v6/constants.go
  app/upgrades/v6/upgrades.go
  app/upgrades/v6/upgrades_test.go
  cmd/evmosd/migrate.go
Due: app

scripts: create statesync.bash (#975)
  scripts/statesync.bash
Due: none

impr(erc20): address comments
  CHANGELOG.md
  docs/developers/guides/cosmos_coin_registration.md
  go.mod
  go.sum
  x/erc20/proposal_handler.go
Due: modules

v9.0.0 release (#987)
  CHANGELOG.md
  app/app.go
  app/upgrades/v9/accounts.go
  app/upgrades/v9/constants.go
  app/upgrades/v9/upgrades.go
  app/upgrades/v9/upgrades_test.go
  x/claims/keeper/abci_test.go
Due: app, modules

deps: bump Cosmos SDK to v0.45.10 (#1007)
  go.mod
  go.sum
Due: none

Release v9.1.0 (#1011)
  CHANGELOG.md
  app/app.go
  app/upgrades/v9_1/accounts.go
  app/upgrades/v9_1/constants.go
  app/upgrades/v9_1/upgrades.go
  app/upgrades/v9_1/upgrades_test.go
Due: app

impr(erc20): address comments
  docs/developers/guides/cosmos_coin_registration.md
  docs/developers/guides/erc20_registration.md
  testutil/integration.go
  x/erc20/spec/03_state_transitions.md
  x/erc20/spec/08_clients.md
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

Update app/app.go
  app/app.go
Due: app

chore(app): delete past upgrades code (#1013)
  app/app.go
  app/forks.go
  app/gas.go
  app/upgrades/v2/constants.go
  app/upgrades/v2/upgrades.go
  app/upgrades/v3/upgrades.go
  app/upgrades/v4/constants.go
  app/upgrades/v4/upgrades.go
  app/upgrades/v4/upgrades_test.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
  app/upgrades/v6/constants.go
  app/upgrades/v6/upgrades.go
  app/upgrades/v6/upgrades_test.go
  cmd/evmosd/migrate.go
Due: app

Apply suggestions from code review
  app/app.go
  x/erc20/ibc_middleware.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_test.go
Due: app, modules

lint
  ibc/utils.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/keeper.go
Due: modules

minor fixes and TODOs
  x/erc20/keeper/ibc_callbacks.go
Due: modules

fix linter
  app/upgrades/v9/upgrades.go
  app/upgrades/v9_1/upgrades.go
Due: app

chore: sync main with v9.1.0 (#1014)
  CHANGELOG.md
  app/app.go
  app/upgrades/v9/constants.go
  app/upgrades/v9/upgrades_test.go
  app/upgrades/v9_1/accounts.go
  app/upgrades/v9_1/constants.go
  app/upgrades/v9_1/upgrades.go
  app/upgrades/v9_1/upgrades_test.go
  x/claims/keeper/abci_test.go
Due: app, modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

impr(erc20): replace empty sdk error
  testutil/integration.go
Due: none

fix unrelated claims test
  x/claims/keeper/abci_test.go
Due: modules

integration tests v2
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
Due: modules

fix dup code
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_test.go
Due: modules

add readme for gentxs
  networks/mainnet/acre_9052-1/README.md
  networks/mainnet/acre_9052-1/genesis.json
  networks/mainnet/acre_9052-1/gentx/acre-node1.json
  networks/testnet/bamboo_9051-1/genesis.json
  networks/testnet/bamboo_9051-1/peers.md
  networks/testnet/bamboo_9051-2/README.md
Due: none

update readme
  networks/mainnet/acre_9052-1/README.md
  networks/testnet/bamboo_9051-2/README.md
Due: none

add genesis for testnet2
  networks/mainnet/acre_9052-1/gentx/acrenode-1.json
  networks/testnet/bamboo_9051-2/genesis.json
  networks/testnet/bamboo_9051-2/gentx/acrenode-1.json
Due: none

Create KaliaNetwork.json
  networks/mainnet/acre_9052-1/gentx/KaliaNetwork.json
Due: none

Create gentx-NodeStake.json
  networks/mainnet/acre_9052-1/gentx/gentx-NodeStake.json
Due: none

Noderunners gentx
  networks/mainnet/acre_9052-1/gentx/Noderunners.json
Due: none

add gentx ramuchi.tech
  networks/mainnet/acre_9052-1/gentx/ramuchi.tech.json
Due: none

Create Matrixed.Link.json
  networks/mainnet/acre_9052-1/gentx/Matrixed.Link.json
Due: none

Create Everstake.json
  networks/mainnet/acre_9052-1/gentx/Everstake.json
Due: none

Create GalaxyStaking.json
  networks/mainnet/acre_9052-1/gentx/GalaxyStaking.json
Due: none

Staketab gentx
  networks/mainnet/acre_9052-1/gentx/gentx-Staketab.json
Due: none

Synergy Nodes gentx
  networks/mainnet/acre_9052-1/gentx/Synergy-Nodes-gentx.json
Due: none

Rename gentx-Staketab.json to Staketab.json
  networks/mainnet/acre_9052-1/gentx/Staketab.json
Due: none

Create frenchchocolatine.json
  networks/mainnet/acre_9052-1/gentx/frenchchocolatine.json
Due: none

Add Mandragora gentx
  networks/mainnet/acre_9052-1/gentx/gentx-mandragora.json
Due: none

Chrysoprase
  networks/mainnet/acre_9052-1/gentx/Chrysoprase.json
Due: none
