Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

chore(ante) add more test cases
  app/ante/ante_test.go
Due: app

chore(ante) add helper func to make nested msgs
  app/ante/ante_test.go
  app/ante/authz_test.go
  app/ante/utils_test.go
Due: app

chore(ante) add more test cases
  app/ante/ante_test.go
  app/ante/authz_test.go
Due: app

chore(ante) refactor helper func
  app/ante/ante_test.go
  app/ante/authz_test.go
  app/ante/utils_test.go
Due: app

update test names
  app/ante/authz_test.go
Due: app

chore(ante) refactor to use ante handler on checkTX only
  app/ante/authz.go
Due: app

chore(tests) change tests to run on CheckTx mode
  app/ante/ante_test.go
  app/ante/authz_test.go
Due: app

chore(imp) add changelog entry
  CHANGELOG.md
Due: none

chore(imp) use sdk errors mod
  app/ante/authz.go
Due: app

chore(imp) add authz ante (#1382)
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/authz.go
  app/ante/authz_test.go
  app/ante/handler_options.go
  app/ante/utils_test.go
Due: app

address review comments
  app/ante/vesting.go
  x/vesting/keeper/integration_test.go
Due: app, modules

further review comments
  app/ante/vesting.go
Due: app

fix(deps): fix goreleaser + keyring
  .goreleaser.yml
  Makefile
  go.mod
Due: none

Apply suggestions from code review
  x/claims/keeper/msg_server.go
Due: modules

wip: added vesting keeper logic and migration code
  app/app.go
  x/inflation/keeper/keeper.go
  x/vesting/keeper/keeper.go
  x/vesting/keeper/migrations.go
  x/vesting/migrations/v2/migrate.go
  x/vesting/migrations/v2/migrate_test.go
  x/vesting/module.go
  x/vesting/types/interfaces.go
Due: app, modules

fix: remove vesting keeper from inflation module for now (will address in another PR)
  app/app.go
  x/inflation/keeper/keeper.go
Due: app, modules

chore: changelog v11.0.2
  .github/workflows/bsr-push.yml
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/authz.go
  app/ante/authz_test.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
  app/upgrades/v11/constants.go
  cmd/evmosd/root.go
  docs/protocol/moduleaccounts.md
  docs/users/governance/process.md
  go.mod
  go.sum
  x/inflation/keeper/inflation_test.go
Due: app, modules

wip: fix tests
  .github/workflows/bsr-push.yml
  app/ante/ante_test.go
  app/ante/evm/authz.go
  app/ante/evm/authz_test.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
  cmd/evmosd/root.go
  docs/protocol/moduleaccounts.md
  docs/users/governance/process.md
  go.mod
  go.sum
  x/inflation/keeper/inflation_test.go
Due: app, modules

mv files
  app/ante/cosmos/authz.go
  app/ante/cosmos/authz_test.go
  app/ante/cosmos/utils_test.go
  app/ante/handler_options.go
  app/ante/utils_test.go
  app/app.go
  app/upgrades/v11/constants.go
Due: app

update packages
  app/app.go
  ibc/testing/app.go
  ibc/testing/chain.go
  ibc/testing/coordinator.go
  tests/setup/setup.go
  types/coin.go
  x/evm/keeper/benchmark_test.go
Due: app, modules, core

add tests for app/ante/vesting.go
  app/ante/vesting_test.go
Due: app

run gofumpt
  app/ante/evm/vesting.go
  app/ante/evm/vesting_test.go
Due: app

refactor generate key utility functions
  tests/signer.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
  x/revenue/keeper/integration_test.go
  x/vesting/keeper/integration_test.go
Due: modules

remove unused function
  x/vesting/keeper/integration_test.go
Due: modules

chore(imp) add fees auto flag logic
  app/ante/cosmos/min_price.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fees.go
  go.mod
  go.sum
Due: app

chore(imp) revert local replace
  go.mod
Due: none

chore(imp) revert local replace
  go.sum
Due: none

add some godoc comments
  testutil/integration.go
  x/vesting/keeper/integration_test.go
Due: modules

chore: fix backport from v11.0.2
  app/ante/cosmos/ante_test.go
  app/ante/cosmos/utils_test.go
  app/ante/handler_options.go
  app/ante/utils_test.go
Due: app

apply review suggestions
  tests/signer.go
  testutil/integration.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
  x/revenue/keeper/integration_test.go
  x/vesting/keeper/integration_test.go
Due: modules

chore: remove ethermint from go sum
  go.sum
Due: none

fix lint issues
  app/ante/cosmos/utils_test.go
  app/ante/handler_options.go
Due: app

move createEthTx to testutil
  testutil/integration.go
  x/vesting/keeper/integration_test.go
Due: modules

remove unused import
  x/claims/keeper/msg_server.go
Due: modules

use deliverEthTx from testutil package
  x/vesting/keeper/integration_test.go
Due: modules

remove outdated test cases (channel names are checked elsewhere)
  x/claims/keeper/msg_server_test.go
Due: modules

add changelog entry
  CHANGELOG.md
Due: none

Revert "add changelog entry"
  CHANGELOG.md
Due: none
