Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

Bump Cosmos SDK dependency to v0.46.10-ledger.1
  go.mod
  go.sum
Due: none

Update changelog and upgrade handler versions
  CHANGELOG.md
  app/upgrades/v12/constants.go
Due: app

Add changelog entry
  CHANGELOG.md
Due: none

imp: add new benchmark tests for ante handler
  app/ante/cosmos/fees_benchmark_test.go
  app/ante/cosmos/fees_test.go
  app/ante/cosmos/utils_test.go
Due: app

imp: add new benchmark tests for ante handler (#1499)
  app/ante/cosmos/fees_benchmark_test.go
  app/ante/cosmos/fees_test.go
  app/ante/cosmos/utils_test.go
Due: app

change
  x/evm/types/params.go
Due: modules

fix: point to correct
  go.mod
  go.sum
Due: none

feat(ci): add consensuswarn to CI
  .github/workflows/consensuswarn.yml
Due: none

changelog123
  app/app.go
  go.mod
  go.sum
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Due: app, modules

test gist
  x/inflation/genesis.go
Due: modules

update version on e2e dockerfile
  tests/e2e/Dockerfile.repo
Due: none

address lint issues
  Dockerfile
Due: none

update version on e2e test dockerfile
  tests/e2e/Dockerfile.repo
Due: none

chore: update default timeout_commit to 3s
  cmd/evmosd/root.go
  testutil/network/network.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

add section for v12.0.0
  CHANGELOG.md
Due: none

chore: merge v12 release branch back into main (#1516)
  CHANGELOG.md
  app/app.go
  app/upgrades/v12/constants.go
Due: app

add commit function to keep ctx settings for tests
  app/ante/cosmos/fees_benchmark_test.go
  app/ante/cosmos/setup_test.go
  app/ante/cosmos/utils_test.go
  app/ante/integration_test.go
  app/ante/utils/claim_rewards_test.go
  app/ante/utils/setup_test.go
  testutil/abci.go
  x/claims/keeper/utils_test.go
  x/epochs/keeper/utils_test.go
  x/erc20/keeper/utils_test.go
  x/evm/keeper/utils_test.go
  x/feemarket/keeper/utils_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/utils_test.go
  x/inflation/keeper/utils_test.go
  x/revenue/v1/keeper/utils_test.go
  x/vesting/keeper/utils_test.go
Due: app, modules

fix lint issues
  app/ante/cosmos/fees_benchmark_test.go
  app/ante/cosmos/setup_test.go
  app/ante/cosmos/utils_test.go
  app/ante/utils/claim_rewards_test.go
  app/ante/utils/setup_test.go
  testutil/abci.go
  x/epochs/keeper/utils_test.go
Due: app, modules

reset gas meter
  testutil/abci.go
Due: none

chore: update default timeout_commit to 3s (#1513)
  CHANGELOG.md
  cmd/evmosd/root.go
  testutil/network/network.go
Due: none

Update .github/workflows/consensuswarn.yml
  .github/workflows/consensuswarn.yml
Due: none

feat(ci): add consensuswarn to CI (#1501)
  .github/workflows/consensuswarn.yml
Due: none

fix: parse for websocket connID (#1431)
  rpc/websockets.go
Due: none

fix: bumping ibc-go
  abi.json
  go.mod
  go.sum
Due: none

Revert "fix: bumping ibc-go"
  abi.json
  go.mod
  go.sum
Due: none

fix conflicts
  CHANGELOG.md
Due: none

chore: update changelog for v12.1.1
  CHANGELOG.md
Due: none

chore: update changelog for v12.1.1 (#1523)
  CHANGELOG.md
Due: none

chore: update changelog with v12.1.1 release and missing entry for #1431
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

chore: update changelog with v12.1.1 release and missing entry for #1431 (#1524)
  CHANGELOG.md
Due: none

chore: backport "fix: parse for websocket connID" (#1431) (#1525)
  CHANGELOG.md
  rpc/websockets.go
Due: none

update changelog with v12.1.2
  CHANGELOG.md
Due: none

chore: update changelog with v12.1.2 (#1526)
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
