Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

docs: update spec
  x/vesting/spec/03_state_transitions.md
  x/vesting/spec/07_clients.md
Due: none

small refactor in cosmos/fees.go
  app/ante/cosmos/fees.go
Due: app

add test for zero gas case for DeductFeeDecorator
  app/ante/cosmos/fees_test.go
Due: app

proto: regenerate proto files
  x/revenue/types/tx.pb.gw.go
  x/vesting/types/tx.pb.go
Due: none

markdown lint
  x/vesting/spec/03_state_transitions.md
  x/vesting/spec/04_transactions.md
  x/vesting/spec/07_clients.md
Due: none

fix: added correct utility function import
  x/vesting/keeper/msg_server_test.go
Due: modules

fix: add util tx
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/msg_test.go
Due: modules

fix: fix linting markdown
  x/vesting/spec/03_state_transitions.md
  x/vesting/spec/07_clients.md
Due: none

Update x/vesting/spec/03_state_transitions.md
  x/vesting/spec/03_state_transitions.md
Due: none

fix: more clear spec explanation
  x/vesting/spec/07_clients.md
Due: none

add changelog entry
  CHANGELOG.md
Due: none

chore(ante) refactor to run authz anteHander in deliverTx mode
  app/ante/cosmos/authz.go
  app/ante/cosmos/authz_test.go
Due: app

chore(ante) add changelog entry
  CHANGELOG.md
Due: none

chore(ante): refactor to run authz anteHander in deliverTx mode (#1403)
  CHANGELOG.md
  app/ante/cosmos/authz.go
  app/ante/cosmos/authz_test.go
Due: app

Update x/vesting/client/cli/tx.go
  x/vesting/client/cli/tx.go
Due: modules

modified: Cli for hustnetwork
  CODE_OF_CONDUCT.md
  Makefile
  cmd/config/config.go
  cmd/hustd/cmd_test.go
  cmd/hustd/genaccounts.go
  cmd/hustd/init.go
  cmd/hustd/main.go
  cmd/hustd/migrate.go
  cmd/hustd/root.go
  cmd/hustd/testnet.go
  hust_node.sh
Due: none

restructure cosmos/fees_test to table-driven approach and add test cases
  app/ante/cosmos/fees_test.go
Due: app

add missing license comment
  app/ante/evm/claim_rewards.go
Due: app

fix: add all test cases
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
Due: modules

extract FundAccountWithBaseDenom utility function
  app/ante/cosmos/fees_test.go
  testutil/fund.go
Due: app

escape gosec warnings
  app/ante/cosmos/fees.go
Due: app

commit WIP writing unit tests for function to claim staking rewards
  app/ante/cosmos/fees_test.go
  app/ante/evm/claim_rewards.go
  app/ante/evm/claim_rewards_test.go
Due: app

Apply suggestions from code review
  x/vesting/client/cli/tx.go
  x/vesting/keeper/msg_server.go
  x/vesting/spec/03_state_transitions.md
Due: modules

fix: add command to cli and check if the account was correctly converted
  x/vesting/client/cli/tx.go
  x/vesting/keeper/msg_server_test.go
Due: modules

remove duplicate util definition
  testutil/integration.go
Due: none

fix: format and lint
  x/vesting/keeper/msg_server_test.go
Due: modules

imp(vesting): add convert vesting account msg (#1400)
  CHANGELOG.md
  proto/evmos/vesting/v1/tx.proto
  x/revenue/types/tx.pb.gw.go
  x/vesting/client/cli/tx.go
  x/vesting/handler.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/spec/03_state_transitions.md
  x/vesting/spec/04_transactions.md
  x/vesting/spec/07_clients.md
  x/vesting/types/codec.go
  x/vesting/types/events.pb.go
  x/vesting/types/msg.go
  x/vesting/types/msg_test.go
  x/vesting/types/query.pb.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.go
  x/vesting/types/tx.pb.gw.go
  x/vesting/types/vesting.pb.go
Due: modules

chore(tests) refactor to use fundAcc func from testutils
  x/feemarket/keeper/utils_test.go
Due: modules

chore(tests) add DeployContract func to testutil - refactor claims
  testutil/abci.go
  testutil/contract.go
  x/claims/keeper/utils_test.go
Due: modules

remove unnecessary changes
  testutil/abci.go
Due: none

chore(tests) refactor to use fundAcc func from testutils (#1407)
  x/feemarket/keeper/utils_test.go
Due: modules

chore(tests) refactor deployContract - erc20 mod
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/setup_test.go
  x/erc20/keeper/utils_test.go
Due: modules

fix: test
  x/evm/types/params.go
Due: modules

address review comments and other small improvements
  app/ante/cosmos/fees.go
  app/ante/cosmos/fees_test.go
Due: app

commit WIP in claim rewards tests
  app/ante/evm/claim_rewards_test.go
Due: app

refactor and cleanups
  app/ante/cosmos/fees.go
  app/ante/evm/eth_test.go
  app/ante/evm/fee_market_test.go
  app/ante/evm/fees_test.go
  app/ante/evm/setup_ctx_test.go
  app/ante/evm/signverify_test.go
  app/ante/evm/utils_test.go
  app/ante/evm/vesting_test.go
  testutil/tx/cosmos.go
Due: app

more refactor and cleanups
  app/ante/cosmos/min_price_test.go
  app/ante/cosmos/utils_test.go
Due: app

chore(tests) refactor deployContract - erc20 mod - IBC tests
  testutil/abci.go
  testutil/contract.go
  testutil/tx/cosmos.go
  testutil/tx/eth.go
  x/claims/keeper/utils_test.go
  x/erc20/keeper/utils_test.go
Due: modules

chore(tests) refactor deployContract - ibc/transfer mod
  x/ibc/transfer/keeper/keeper_test.go
Due: modules

chore(tests) refactor deployContract - incentives mod
  x/erc20/keeper/setup_test.go
  x/incentives/keeper/distribution_test.go
  x/incentives/keeper/gas_meters_test.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/incentives_test.go
  x/incentives/keeper/integration_test.go
  x/incentives/keeper/proposals_test.go
  x/incentives/keeper/setup_test.go
  x/incentives/keeper/utils_test.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
