Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

add check to update vesting funder method
  x/vesting/keeper/msg_server.go
Due: modules

fix KVstore error
  app/app.go
  x/vesting/keeper/hooks.go
Due: app, modules

update min deposit with evmos denom
  x/vesting/keeper/utils_test.go
Due: modules

fix
  x/vesting/keeper/hooks.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/msg_server.go
Due: modules

add fixme
  x/vesting/keeper/integration_test.go
Due: modules

add vote util
  x/vesting/keeper/utils_test.go
Due: modules

add voting to integration test for gov clawback
  x/vesting/keeper/integration_test.go
Due: modules

commit WIP
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/utils_test.go
Due: modules

fix proposal not passing
  x/vesting/keeper/integration_test.go
Due: modules

only use vesting address to store active gov proposals
  x/vesting/keeper/gov.go
  x/vesting/keeper/hooks.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/msg_server.go
Due: modules

fix: Update the memo building and channel checking with a constant for the transfer channel with Stride
  precompiles/outposts/stride/StrideOutpost.sol
  precompiles/outposts/stride/abi.json
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
Due: none

fix: add memo.json file
  precompiles/outposts/stride/memo.json
Due: none

add test for case where deposit is not made
  x/vesting/keeper/integration_test.go
Due: modules

switch logic to store when min deposit is made
  x/vesting/keeper/hooks.go
  x/vesting/types/interfaces.go
Due: modules

adjust tests
  x/vesting/keeper/integration_test.go
Due: modules

fix(gasprice): ignore the check for mini gas price in the genutil module genesis block transaction
  CHANGELOG.md
  app/ante/cosmos/min_price.go
  app/ante/evm/fees.go
Due: app

finish test
  app/ante/cosmos/fees.go
  x/vesting/keeper/integration_test.go
Due: app, modules

address linter and remove unused function
  x/vesting/keeper/hooks.go
  x/vesting/keeper/utils_test.go
Due: modules

remove print statements
  x/vesting/keeper/hooks.go
Due: modules

change logic to go over all msgs in proposal content
  x/vesting/keeper/hooks.go
Due: modules

submit another proposal to simulate chain state where not only clawback proposals are found
  x/vesting/keeper/integration_test.go
Due: modules

Update x/vesting/keeper/gov.go
  x/vesting/keeper/gov.go
Due: modules

update comment
  x/vesting/keeper/hooks.go
Due: modules

refractor executeCosmosTx function
  testutil/integration/factory/factory.go
  testutil/integration/keyring/keyring.go
Due: none

fix(gasprice): add unit test for ignore the check for mini gas price for height 0
  app/ante/cosmos/min_price_test.go
  app/ante/evm/fees_test.go
Due: app

add note to implementation
  x/vesting/keeper/msg_server.go
Due: modules

address review comments
  x/vesting/keeper/hooks.go
  x/vesting/types/keys.go
Due: modules

Update x/vesting/keeper/integration_test.go
  x/vesting/keeper/integration_test.go
Due: modules

add changelog entry
  CHANGELOG.md
Due: none

imp(vesting): module refactors (#1754)
  CHANGELOG.md
  app/ante/cosmos/fees.go
  app/app.go
  x/vesting/keeper/gov.go
  x/vesting/keeper/hooks.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper.go
  x/vesting/keeper/keeper_test.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/utils_test.go
  x/vesting/types/interfaces.go
  x/vesting/types/keys.go
Due: app, modules

adjust error msg
  x/vesting/keeper/msg_server.go
Due: modules

adjust var name
  x/vesting/keeper/msg_server.go
Due: modules

chore(vesting): add some nit fixes (#1764)
  x/vesting/keeper/msg_server.go
Due: modules

update StakingCaller.json
  precompiles/staking/testdata/StakingCaller.json
Due: none

keyring package
  testutil/integration/factory/factory.go
  testutil/integration/keyring/keyring.go
Due: none

Update testutil/integration/network/setup.go
  testutil/integration/network/setup.go
Due: none

rename NextBlock
  testutil/integration/network/abci.go
  testutil/integration/network/network.go
Due: none

update expected error pattern in precompiles IBC test to reflect MacOS result
  tests/nix_tests/test_precompiles.py
Due: none

fix typos
  testutil/integration/network/network.go
  testutil/integration/network/setup.go
Due: none
