Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

Fixed defer lint error
  testutil/network/network.go
Due: none

Adding lgtm template
  .lgtm.yml
Due: none

first extraction make
  .lgtm.yml
Due: none

Reduced lgtm file to barest minimum
  .lgtm.yml
Due: none

Changed return for cli query clientCt… (#629)
  CHANGELOG.md
  x/epochs/client/cli/query.go
Due: modules

Set enable-all-rules flag to false.
  .golangci.yml
Due: none

deactivate some revive rules
  .golangci.yml
Due: none

Set enable-all-rules flag to true.
  .golangci.yml
Due: none

Setting severity to warning
  .golangci.yml
Due: none

analytics(app): add telemetry for deliverTx
  app/app.go
Due: app

Linter severity settings test
  .golangci.yml
Due: none

Linter severity settings test2
  .golangci.yml
Due: none

Create snapshots_archives.md
  docs/validators/snapshots_archives.md
Due: none

Update config.js
  docs/.vuepress/config.js
Due: none

analytics(app): add telemetry gauge for covnertCoin and covertERC20
  x/erc20/keeper/msg_server.go
Due: modules

Modifications to severity rules
  .golangci.yml
Due: none

analytics(app): add telemetry gauge for inflation allocation
  x/incentives/keeper/evm_hooks.go
  x/inflation/keeper/hooks.go
Due: modules

analytics(app): add telemetry gauge for incentives reward distribution
  x/incentives/keeper/distribution.go
  x/incentives/keeper/distribution_test.go
  x/incentives/keeper/epoch_hooks.go
  x/inflation/keeper/hooks.go
Due: modules

analytics(app): add telemetry gauge for recovery
  x/incentives/keeper/distribution.go
  x/inflation/keeper/hooks.go
  x/recovery/keeper/ibc_callbacks.go
Due: modules

analytics(app): add telemetry spec page
  docs/.vuepress/config.js
  docs/protocol/telemetry.md
Due: none

analytics(app): add CHANGELOG
  CHANGELOG.md
Due: none

genesis migration
  tests/e2e/e2e_setup_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
Due: none

Update connect.md
  docs/developers/connect.md
Due: none

impr(erc20): remove enforcing ibc and channel names
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  x/claims/types/claims.pb.go
  x/claims/types/genesis.pb.go
  x/claims/types/query.pb.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/erc20/client/cli/tx.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
  x/erc20/types/query.pb.go
  x/erc20/types/tx.pb.go
  x/incentives/types/genesis.pb.go
  x/incentives/types/incentives.pb.go
  x/incentives/types/query.pb.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/inflation.pb.go
  x/inflation/types/query.pb.go
  x/recovery/types/genesis.pb.go
  x/recovery/types/query.pb.go
  x/vesting/types/query.pb.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Due: modules

remove pb changes
  x/erc20/client/cli/tx.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
Due: modules

impr(erc20): remove enforcing ibc and channel names without changing proto
  x/erc20/client/cli/tx.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
Due: modules

impr(erc20): add CHANGELOG
  CHANGELOG.md
Due: none

analytics(app): replace erc20 gauges with counters
  app/app.go
  go.mod
  go.sum
  x/erc20/keeper/msg_server.go
Due: app, modules

analytics(app): replace remaining gauges with counters and update telemetry spec
  docs/protocol/telemetry.md
  x/incentives/keeper/distribution.go
  x/incentives/keeper/evm_hooks.go
  x/inflation/keeper/hooks.go
  x/recovery/keeper/ibc_callbacks.go
Due: modules

analytics(app): update spec
  docs/protocol/telemetry.md
Due: none

Update connect.md (#639)
  docs/developers/connect.md
Due: none

impr(erc20): remove enforcing ibc and channel names during `RegisterCoin` (#642)
  CHANGELOG.md
  x/erc20/client/cli/tx.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
Due: modules

Apply suggestions from code review
  docs/.vuepress/config.js
  docs/validators/snapshots_archives.md
Due: none

Update docs/.vuepress/config.js
  docs/.vuepress/config.js
Due: none

remove create vesting account command
  x/vesting/client/cli/tx.go
Due: modules

changelog
  CHANGELOG.md
Due: none
