Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: add missing
  app/app.go
Due: app

fix(upgrade): Add upgrade handler for rc2 (#2184)
  app/app.go
  app/upgrades/v16/upgrades.go
Due: app

update go version in gh workflows
  .github/workflows/ante-benchmark.yml
  .github/workflows/auto-format.yml
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/e2e-test-release.yml
  .github/workflows/e2e-test.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/solidity-test.yml
  .github/workflows/test.yml
Due: none

fix: add bond denom to outposts directly from staking keeper
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/stride/tx.go
Due: none

format and lint
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/stride/tx.go
Due: none

fix: comment out stride unit tests that don't apply
  precompiles/outposts/stride/tx_test.go
Due: none

fix(upgrade): add fee collector burner role
  app/app.go
  app/upgrades/v16/constants.go
  app/upgrades/v16/feecollector.go
  app/upgrades/v16/upgrades.go
Due: app

add hard fork logic
  app/app.go
  app/forks.go
  app/upgrades/v16/constants.go
  app/upgrades/v16/upgrades.go
Due: app

make format
  app/upgrades/v16/constants.go
Due: app

fix lintg
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/network/network.go
Due: none

fix: cases for input and output denom
  precompiles/outposts/osmosis/errors.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  x/evm/keeper/precompiles.go
Due: modules

fix: use IBC denom instead of ERC20 address or plain denom
  precompiles/outposts/osmosis/tx.go
Due: none

fix: remove ERC20 token pair check from liquid stake transaction and replace with the hardcoded wevmos address check
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
Due: none

fix: stride tests
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/tx_test.go
Due: none

minor fix
  precompiles/outposts/osmosis/tx.go
Due: none

fix: osmosis setup
  precompiles/outposts/osmosis/osmosis_test.go
Due: none

fix: adapt tests to pass for both Outposts
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/osmosis_test.go
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/tx_test.go
Due: none

fix: refactor to only use hardcoded WEVMOS
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/osmosis_test.go
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/tx_test.go
  x/evm/keeper/precompiles.go
Due: modules

remove unnecessary comment
  precompiles/outposts/osmosis/tx.go
Due: none

apply changes from code review
  app/forks.go
  app/upgrades/v16/upgrades.go
Due: app

fix: no more need for custom error
  precompiles/outposts/osmosis/errors.go
Due: none

fix: remove commented out lines
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/stride/tx_test.go
  tests/nix_tests/configs/allow-wevmos-register.patch
Due: none

APPLY CHANGES FROM CODE REVIEW
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
Due: none

fix: delete the only RegisterIncentive proposal from the store to fix the proposals query
  app/app.go
  app/upgrades/v16/upgrades.go
Due: app

update e2e test patches
  tests/nix_tests/configs/osmosis-outpost.nix
  tests/nix_tests/configs/osmosis-outpost.patch
  tests/nix_tests/configs/stride-outpost-channel.patch
  tests/nix_tests/configs/stride-outpost.nix
Due: none

update e2e test
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/test_stride_outpost.py
  tests/nix_tests/utils.py
Due: none

fix: add the iteration of proposals and deletion of RegisterIncentive proposal type
  app/upgrades/v16/incentives.pb.go
  app/upgrades/v16/proposals.go
  app/upgrades/v16/upgrades.go
  proto/evmos/incentives/incentives.proto
Due: app

fix: remove old fork block height
  app/forks.go
Due: app

fix: push test thus far
  app/upgrades/v16/incentives/incentives.pb.go
  app/upgrades/v16/incentives/proposal.go
  app/upgrades/v16/proposals.go
  app/upgrades/v16/upgrades_test.go
  proto/evmos/incentives/v1/incentives.proto
Due: app

fix: add test for deletion of proposal
  app/upgrades/v16/incentives/codec.go
  app/upgrades/v16/upgrades_test.go
Due: app

fix(outposts): Handle cases for input and output denoms without token pair lookup (#2185)
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/osmosis_test.go
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/tx_test.go
  tests/nix_tests/configs/allow-wevmos-register.patch
  tests/nix_tests/configs/osmosis-outpost.nix
  tests/nix_tests/configs/osmosis-outpost.patch
  tests/nix_tests/configs/stride-outpost-channel.patch
  tests/nix_tests/configs/stride-outpost.nix
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/test_stride_outpost.py
  tests/nix_tests/utils.py
  x/evm/keeper/precompiles.go
Due: modules

FORMAT AND LINT
  app/upgrades/v16/incentives/codec.go
  app/upgrades/v16/incentives/proposal.go
  app/upgrades/v16/upgrades_test.go
Due: app

fix: add license to new file
  app/upgrades/v16/proposals.go
Due: app

merge + conflicts
  app/upgrades/v16/upgrades_test.go
Due: app

fix typo
  app/upgrades/v16/upgrades_test.go
Due: app

fix: add comments
  app/upgrades/v16/proposals.go
Due: app

fix: add error checking
  app/upgrades/v16/upgrades_test.go
Due: app

update rocksdb version
  Dockerfile
  Makefile
  gomod2nix.toml
  nix/rocksdb.nix
  scripts/install_librocksdb.sh
Due: none

add changelog entry
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
