Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

chore(upgrade): changelog and const
  CHANGELOG.md
  app/upgrades/v11/constants.go
Due: app

chore(upgrade): changelog and const (#1264)
  CHANGELOG.md
  app/upgrades/v11/constants.go
Due: app

Update lint rule
  .markdownlint.yml
Due: none

eth ante tests helpers fix (#1254)
  app/ethante/ante_test.go
  app/ethante/eth_test.go
  app/ethante/fee_market_test.go
  app/ethante/fees_test.go
  app/ethante/setup_test.go
  app/ethante/signverify_test.go
  app/ethante/utils_test.go
  app/ethtest_helper.go
Due: app

fix(ante): use DynamicFeeChecker for Cosmos txs
  app/ante/handler_options.go
  app/app.go
Due: app

changelog
  CHANGELOG.md
Due: none

add ExtensionOptionDynamicFeeTx
  app/ante/ante.go
  app/ante/handler_options.go
Due: app

unit tests
  app/ante/handler_options.go
  app/ante/handler_options_test.go
  app/ante/utils_test.go
  app/app.go
  app/test_helpers.go
Due: app

Update Makefile
  Makefile
Due: none

remove outdated makefile command
  Makefile
Due: none

Allow full EVM access to unlocked tokens
  app/ante/vesting.go
  x/vesting/keeper/integration_test.go
  x/vesting/types/errors.go
Due: app, modules

get cosmos swagger generation to work
  scripts/protoc-cosmos-swagger-gen.sh
  third_party/buf.work.yaml
  third_party/proto/buf.gen.cosmos-swagger.yaml
  third_party/proto/buf.lock
  third_party/proto/buf.yaml
Due: none

move third party yamls up a folder level
  third_party/buf.gen.cosmos-swagger.yaml
  third_party/buf.yaml
Due: none

bump Ethermint to v0.21.0-rc2
  go.mod
  go.sum
Due: none

update ethermintserver syntax in root.go
  cmd/evmosd/root.go
Due: none

lint
  app/app.go
Due: app

update based on review comments
  cmd/evmosd/root.go
Due: none

chore (deps): bump Ethermint to v0.21.0-rc2 (#1269)
  app/app.go
  cmd/evmosd/root.go
  go.mod
  go.sum
Due: app

update changelog entry
  CHANGELOG.md
Due: none

update PR number
  CHANGELOG.md
Due: none

fix md link
  docs/users/governance/process.md
Due: none

commit WIP
  Makefile
  buf.cosmos.work.yaml
  scripts/delete_unused_proto_folders/main.go
  scripts/protoc-cosmos-swagger-gen.sh
Due: none

Add integration tests
  app/ante/handler_options.go
  app/ante/vesting.go
  testutil/integration.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper_test.go
Due: app, modules

Refactor to use bank module accounting
  app/ante/handler_options.go
  app/ante/vesting.go
  x/vesting/keeper/integration_test.go
Due: app, modules

Clean code with minor fixes
  x/vesting/keeper/integration_test.go
  x/vesting/types/errors.go
Due: modules

chore (deps): bump Ethermint to v0.21.0-rc2 (backport #1269) (#1270)
  CHANGELOG.md
  app/app.go
  cmd/evmosd/root.go
  docs/users/governance/process.md
  go.mod
  go.sum
Due: app

chore: v11-rc2 changelog
  CHANGELOG.md
Due: none

chore: v11-rc2 changelog (#1272)
  CHANGELOG.md
Due: none

fix(app): store upgrades for rc3
  app/app.go
  app/upgrades/v11/constants.go
Due: app

c++
  CHANGELOG.md
Due: none

fix: test changes deleting module and renaming
  app/app.go
  app/upgrades/v11/upgrades.go
  x/revenue/types/keys.go
Due: app, modules

fix: recovery added and deleted
  app/app.go
  app/upgrades/v11/upgrades.go
  x/recovery/types/keys.go
  x/revenue/types/keys.go
Due: app, modules

fix: rename module
  app/app.go
  app/upgrades/v11/upgrades.go
  x/recovery/types/keys.go
Due: app, modules

update store loader
  app/app.go
  app/store_loader.go
Due: app

fix: finished store_loader
  app/app.go
  app/store_loader.go
Due: app

Update app/app.go
  app/app.go
Due: app

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
