Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

chore(tests) refactor test to use evmos as chain
  app/ante/evm/ante_test.go
  app/ante/evm/utils_test.go
Due: app

chore(tests) replace photon with evmos
  app/ante/evm/ante_test.go
  server/start.go
  x/evm/handler_test.go
  x/incentives/types/incentive_test.go
Due: app, modules

fix duplicate error
  types/errors.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/types/errors.go
Due: modules, core

remove unnecessary errors
  x/evm/types/errors.go
Due: modules

run gofumpt
  types/errors.go
  x/evm/types/errors.go
Due: modules, core

chore: changelog v11.0.2 (#1385)
  CHANGELOG.md
  app/ante/cosmos/ante_test.go
  app/ante/cosmos/authz.go
  app/ante/cosmos/authz_test.go
  app/ante/cosmos/utils_test.go
  app/ante/handler_options.go
  app/ante/utils_test.go
Due: app

feat: add EIP712 support for multiple messages and schemas
  app/ante/cosmos/eip712.go
  app/ante/evm/ante_test.go
  app/ante/evm/utils_test.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712.go
  ethereum/eip712/eip712_fuzzer_test.go
  ethereum/eip712/eip712_legacy.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding_legacy.go
  go.mod
  go.sum
Due: app, core

fix: revert errors keys back to original numbering (#1353)
  types/errors.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/types/errors.go
  x/evm/types/errors.go
Due: modules, core

imp (claims): validate authorized channels in message to update claims params (#1378)
  CHANGELOG.md
  app/app.go
  x/claims/keeper/keeper.go
  x/claims/keeper/msg_server.go
  x/claims/keeper/msg_server_test.go
  x/claims/types/interfaces.go
Due: app, modules

Fix lint issues and codescans, add documentation
  app/ante/cosmos/utils_test.go
  app/ante/evm/utils_test.go
  ethereum/eip712/eip712_fuzzer_test.go
  ethereum/eip712/eip712_legacy.go
Due: app

chore(test): prepare test files for refactor
  app/ante/cosmos/ante_test.go
  app/ante/cosmos/authz_test.go
  app/ante/cosmos/setup_test.go
  app/ante/cosmos/utils_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/setup_ctx.go
  app/ante/evm/setup_ctx_test.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
  app/ante/setup_test.go
  app/ante/sigverify_test.go
  app/ante/utils_test.go
  x/claims/keeper/abci_test.go
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
  x/claims/keeper/setup_test.go
  x/claims/keeper/utils_test.go
  x/epochs/keeper/setup_test.go
  x/epochs/keeper/utils_test.go
  x/erc20/keeper/erc20_test.go
  x/erc20/keeper/mock_test.go
  x/erc20/keeper/setup_test.go
  x/erc20/keeper/utils_test.go
  x/evm/keeper/block_proposer.go
  x/evm/keeper/fees.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/utils_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/setup_test.go
  x/feemarket/keeper/utils_test.go
Due: app, modules

refactor and move ante validation to testutils
  testutil/ante.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/utils_test.go
Due: modules

move assert helpers into utils_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/utils_test.go
Due: modules

refactor modules
  x/incentives/keeper/evm_hooks_test.go
  x/incentives/keeper/setup_test.go
  x/incentives/keeper/utils_test.go
  x/inflation/keeper/setup_test.go
  x/inflation/keeper/utils_test.go
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/mock_test.go
  x/recovery/keeper/setup_test.go
  x/recovery/keeper/utils_test.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/keeper_test.go
  x/revenue/keeper/setup_test.go
  x/revenue/keeper/utils_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/setup_test.go
  x/vesting/keeper/utils_test.go
Due: modules

changelog
  CHANGELOG.md
Due: none

address linters
  x/vesting/keeper/keeper_test.go
  x/vesting/keeper/utils_test.go
Due: modules

nosec
  app/ante/evm/setup_ctx.go
Due: app

(fix) allow full EVM access to unlocked tokens (#1268)
  CHANGELOG.md
  app/ante/evm/vesting.go
  app/ante/evm/vesting_test.go
  app/ante/handler_options.go
  tests/signer.go
  testutil/ante.go
  testutil/integration.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
  x/revenue/keeper/integration_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper_test.go
  x/vesting/keeper/utils_test.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/errors.go
Due: app, modules

chore(tests) add setup for cli integration tests
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/Dockerfile.repo
Due: none

add berlin contracts
  x/evm/keeper/state_transition.go
Due: modules

refactor based on review comments
  app/ante/cosmos/utils_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/utils_test.go
  cmd/evmosd/cmd_test.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/preprocess_test.go
  rpc/backend/backend_suite_test.go
  tests/e2e/e2e_suite_test.go
  tests/integration/ledger/evmosd_suite_test.go
  x/claims/genesis_test.go
  x/erc20/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/recovery/genesis_test.go
  x/recovery/keeper/keeper_test.go
  x/revenue/genesis_test.go
Due: app, modules

fix lint issues
  x/evm/keeper/keeper_test.go
Due: modules

Update server/start.go
  server/start.go
Due: none

chore(tests) use evmos as chain and evmos denom on ante tests (#1388)
  app/ante/cosmos/utils_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/utils_test.go
  cmd/evmosd/cmd_test.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/preprocess_test.go
  rpc/backend/backend_suite_test.go
  server/start.go
  tests/e2e/e2e_suite_test.go
  tests/integration/ledger/evmosd_suite_test.go
  x/claims/genesis_test.go
  x/erc20/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/incentives/types/incentive_test.go
  x/recovery/genesis_test.go
  x/recovery/keeper/keeper_test.go
  x/revenue/genesis_test.go
Due: app, modules

nit remove dot from end of changelog entry
  CHANGELOG.md
Due: none

further refactor
  x/erc20/keeper/erc20_utils_test.go
  x/feemarket/keeper/utils_test.go
  x/revenue/keeper/utils_test.go
Due: modules

move eth ante general ante tests into dedicated file
  app/ante/evm/ante_test.go
  app/ante/evm/setup_test.go
Due: app

add https to gin-gonic link in changelog for markdown link checker
  CHANGELOG.md
Due: none

chore(tests) add cli tx tests
  tests/e2e/Dockerfile.repo
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/init-node.sh
  tests/e2e/upgrade/Dockerfile.init
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/stakexec.go
Due: none

fix usage of chain id in test suite setup
  app/ante/cosmos/setup_test.go
  app/ante/evm/setup_test.go
Due: app

go get missing pkg
  go.mod
  go.sum
Due: none

update goreleaser version
  Makefile
Due: none

fix lint issues
  .goreleaser.yml
Due: none

Use LegacyEIP712 verification only if necessary
  crypto/ethsecp256k1/ethsecp256k1.go
Due: core
