Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

add memo structs
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

fix: remove duplicates from old merge
  precompiles/ics20/ICS20I.sol
  precompiles/ics20/common_approve.go
  precompiles/ics20/tx.go
  precompiles/outposts/stride/errors.go
Due: none

fix: format and lint
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/tx_test.go
  precompiles/outposts/stride/utils_test.go
Due: none

fix(testnet): remove the crisis module causing an error when using the evmosd testnet init-files command
  CHANGELOG.md
  client/testnet.go
  cmd/evmosd/testnet.go
Due: none

Commit WIP
  precompiles/outposts/stride/IStrideOutpost.sol
  precompiles/outposts/stride/abi.json
  precompiles/outposts/stride/errors.go
  precompiles/outposts/stride/events.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/types.go
  precompiles/outposts/stride/utils_test.go
Due: none

add licenses
  precompiles/outposts/stride/errors.go
  precompiles/outposts/stride/events.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/tx_test.go
  precompiles/outposts/stride/types.go
Due: none

add evm wiring for stride outpost
  app/app.go
  app/upgrades/v15/upgrades.go
  precompiles/common/types.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Due: app, modules

commit WIP
  precompiles/outposts/stride/errors.go
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/tx_test.go
  precompiles/outposts/stride/types.go
  precompiles/outposts/stride/types_test.go
  precompiles/outposts/stride/utils_test.go
  x/evm/keeper/precompiles.go
Due: modules

chore: run make format
  Makefile
  client/testnet.go
Due: none

fix(testnet): remove the crisis module causing an error when using the `evmosd testnet init-files` command (#1857)
  CHANGELOG.md
  Makefile
  client/testnet.go
  cmd/evmosd/testnet.go
Due: none

update pat
  .github/workflows/e2e-test.yml
Due: none

fix(evm): rename function TxSuccessOrExceedsBlockGasLimit to TxSucessOrExpectedFailure
  indexer/kv_indexer.go
  rpc/backend/blocks.go
  rpc/backend/tx_info.go
  rpc/types/utils.go
Due: none

fix: ci auto commit (#1821)
  .github/workflows/e2e-test.yml
Due: none

remove bd from swagger config
  client/docs/swagger-ui/swagger.json
Due: none

add swap event
  precompiles/outposts/osmosis/IOsmosisOutpost.sol
  precompiles/outposts/osmosis/errors.go
  precompiles/outposts/osmosis/events.go
  precompiles/outposts/osmosis/tx.go
Due: none

apply fail fast pattern
  app/upgrades/v14_2/upgrades_test.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: app, modules

chore(swagger): remove bd from swagger config (#1858)
  client/docs/swagger-ui/swagger.json
Due: none

fix events + remove authorization methods
  precompiles/outposts/osmosis/errors.go
  precompiles/outposts/osmosis/events.go
  precompiles/outposts/osmosis/osmosis.go
Due: none

add config validation
  local_node.sh
  server/config/config.go
Due: none

imp(evm): enable EIP 3855 during upgrade (#1851)
  CHANGELOG.md
  app/app.go
  app/upgrades/v14_2/setup_test.go
  app/upgrades/v14_2/upgrades.go
  app/upgrades/v14_2/upgrades_test.go
  app/upgrades/v14_2/utils_test.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: app, modules

merge main
  precompiles/authorization/events.go
Due: none

remove duplicate file
  precompiles/ics20/common_approve.go
Due: none

changes based on review comments
  app/app.go
  app/db.go
  app/db_placeholder.go
  app/keys.go
  cmd/evmosd/opendb/opendb.go
  cmd/evmosd/opendb/rocksdb.go
  cmd/evmosd/versiondb.go
  cmd/evmosd/versiondb_placeholder.go
Due: app

remove approve methods and queries
  precompiles/outposts/osmosis/approve.go
  precompiles/outposts/osmosis/errors.go
  precompiles/outposts/osmosis/query.go
Due: none

port v14.2 handler, utils and tests to v15 handler
  app/app.go
  app/upgrades/v14_2/constants.go
  app/upgrades/v14_2/upgrades.go
  app/upgrades/v15/setup_test.go
  app/upgrades/v15/upgrades.go
  app/upgrades/v15/upgrades_test.go
  app/upgrades/v15/utils_test.go
Due: app

register errors
  precompiles/outposts/osmosis/errors.go
  precompiles/outposts/osmosis/tx.go
Due: none

use ics20 CheckOriginAndSender
  precompiles/outposts/osmosis/tx.go
Due: none

update rclone version in Dockerfile
  Dockerfile
Due: none

add function to compute ibc denom to precompiles common
  precompiles/common/types.go
  precompiles/outposts/osmosis/tx.go
Due: none

add create memo and complete tx construction logic
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

chore(build): update rclone version in Dockerfile (#1861)
  Dockerfile
Due: none

remove memo
  precompiles/outposts/osmosis/memo.json
Due: none

p256
  crypto/secp256r1/keys.pb.go
  crypto/secp256r1/secp256r1.go
  crypto/secp256r1/verify.go
  precompiles/p256/p256.go
  proto/evmos/crypto/v1/secp256r1/keys.proto
Due: core

fix typo in Memo struct
  precompiles/outposts/osmosis/types.go
Due: none

remove unnecessary comment
  precompiles/outposts/osmosis/osmosis.go
Due: none

register precompile
  x/evm/keeper/precompiles.go
Due: modules

Update rpc/backend/blocks.go
  rpc/backend/blocks.go
Due: none

move input validation to types
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

move compute ibc denom function to ibc utils
  ibc/utils.go
  precompiles/common/types.go
  precompiles/outposts/osmosis/types.go
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
