Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

refactor and add gas meter check in tests
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition_test.go
Due: modules, clients

add gas wanted to the reseted gas meter
  x/evm/keeper/grpc_query.go
Due: modules, clients

chore: add bootstrap state command
  server/util.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

chore: add bootstrap state command (#1681)
  CHANGELOG.md
  server/util.go
Due: none

reafctor more tests
  precompiles/vesting/Vesting.sol
  precompiles/vesting/abi.json
  precompiles/vesting/integration_test.go
  precompiles/vesting/testdata/VestingCaller.json
  precompiles/vesting/testdata/VestingCaller.sol
  precompiles/vesting/tx_test.go
  precompiles/vesting/types.go
  precompiles/vesting/utils_test.go
  x/vesting/client/cli/tx.go
  x/vesting/keeper/grpc_query_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/msg.go
  x/vesting/types/msg_test.go
Due: modules

format and lint
  x/vesting/types/genesis_test.go
Due: modules

proto cleanup
  proto/evmos/vesting/v1/events.proto
  proto/evmos/vesting/v1/query.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
Due: none

add vesting query to e2e tests
  tests/e2e/e2e_suite_test.go
Due: none

update proto comments
  proto/evmos/vesting/v2/tx.proto
  x/vesting/types/tx.pb.go
Due: none

update comment
  x/vesting/client/cli/tx.go
Due: modules

fix
  x/vesting/migrations/v2/migrate.go
Due: modules

fix
  x/vesting/types/proposal_test.go
Due: modules

format
  x/vesting/migrations/v2/migrate.go
Due: modules

Apply suggestions from code review
  x/evm/keeper/grpc_query.go
Due: modules, clients

update imports on new files
  app/upgrades/v14/upgrades.go
  x/vesting/client/proposal_handler.go
  x/vesting/genesis.go
  x/vesting/genesis_test.go
  x/vesting/keeper/params.go
  x/vesting/keeper/params_test.go
  x/vesting/proposal_handler.go
  x/vesting/types/proposal_test.go
Due: app, modules

fix: trace tx/block gas meter to make it consistent with execution (#1676)
  CHANGELOG.md
  proto/ethermint/evm/v1/query.proto
  rpc/backend/evm_query_client_test.go
  rpc/backend/tracing.go
  rpc/backend/tracing_test.go
  x/erc20/types/erc20.pb.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition_test.go
  x/evm/types/interfaces.go
  x/evm/types/query.pb.go
  x/feemarket/keeper/params.go
  x/feemarket/keeper/params_test.go
Due: modules, clients

chore: migrate evmos-ledger-go to evmos repo
  crypto/keyring/options.go
  go.mod
  go.sum
  hardwallet/accounts/accounts.go
  hardwallet/ledger/ledger.go
  hardwallet/ledger/ledger_suite_test.go
  hardwallet/ledger/ledger_test.go
  hardwallet/ledger/mocks/wallet.go
  hardwallet/ledger/wallet_test.go
  hardwallet/usbwallet/hub.go
  hardwallet/usbwallet/ledger.go
  hardwallet/usbwallet/wallet.go
Due: core

add licenses
  hardwallet/accounts/accounts.go
  hardwallet/ledger/ledger.go
  hardwallet/ledger/ledger_suite_test.go
  hardwallet/ledger/ledger_test.go
  hardwallet/ledger/mocks/wallet.go
  hardwallet/ledger/wallet_test.go
  hardwallet/usbwallet/hub.go
  hardwallet/usbwallet/ledger.go
  hardwallet/usbwallet/wallet.go
Due: none

add rc2 upgrade handler
  app/app.go
  app/upgrades/v14rc2/constants.go
  app/upgrades/v14rc2/upgrades.go
Due: app

rename pkg
  wallets/accounts/accounts.go
  wallets/ledger/ledger.go
  wallets/ledger/ledger_suite_test.go
  wallets/ledger/ledger_test.go
  wallets/ledger/mocks/wallet.go
  wallets/ledger/wallet_test.go
  wallets/usbwallet/hub.go
  wallets/usbwallet/ledger.go
  wallets/usbwallet/wallet.go
Due: none

rename pkg
  crypto/keyring/options.go
  hardwallet/accounts/accounts.go
  hardwallet/ledger/ledger.go
  hardwallet/ledger/ledger_suite_test.go
  hardwallet/ledger/ledger_test.go
  hardwallet/ledger/mocks/wallet.go
  hardwallet/ledger/wallet_test.go
  hardwallet/usbwallet/hub.go
  hardwallet/usbwallet/ledger.go
  hardwallet/usbwallet/wallet.go
Due: core

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: migrate evmos-ledger-go to evmos repo (#1682)
  CHANGELOG.md
  crypto/keyring/options.go
  go.mod
  go.sum
  wallets/accounts/accounts.go
  wallets/ledger/ledger.go
  wallets/ledger/ledger_suite_test.go
  wallets/ledger/ledger_test.go
  wallets/ledger/mocks/wallet.go
  wallets/ledger/wallet_test.go
  wallets/usbwallet/hub.go
  wallets/usbwallet/ledger.go
  wallets/usbwallet/wallet.go
Due: core

update imports version
  crypto/keyring/options.go
  go.mod
  go.sum
  wallets/ledger/ledger.go
  wallets/ledger/ledger_suite_test.go
  wallets/ledger/ledger_test.go
  wallets/ledger/mocks/wallet.go
  wallets/ledger/wallet_test.go
  wallets/usbwallet/hub.go
  wallets/usbwallet/wallet.go
Due: core

adjust changelog
  CHANGELOG.md
Due: none

chore: adjust changelog (#1685)
  CHANGELOG.md
Due: none

update chlog
  CHANGELOG.md
Due: none

add test setup
  app/upgrades/v14rc2/upgrades_test.go
Due: app

revert changes in consensus warn flow
  .github/workflows/consensuswarn.yml
Due: none

Revert "revert changes in consensus warn flow"
  .github/workflows/consensuswarn.yml
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
