Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

Rename inflation_schedule_30y.ts to inflation_schedule_mainnet.ts
  scripts/jsts/inflation_schedule_mainnet.ts
Due: none

Create inflation_schedule_mainnet.txt
  scripts/jsts/inflation_schedule_mainnet.txt
Due: none

Fix make install by changing dependency and sum file
  cmd/pointd/cmd_test.go
  go.mod
  go.sum
Due: none

Fix docker image
  .github/workflows/docker-push.yml
Due: none

Fix github workflow
  .github/workflows/docker-push.yml
Due: none

Fix user name for docker
  .github/workflows/docker-push.yml
Due: none

Use other variables for docker action
  .github/workflows/docker-push.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Tests fixes. Upgrade tests.
  app/upgrades/v5/constants.go
  app/upgrades/v7/constants.go
Due: app

Fix genesis test
  x/claims/genesis_test.go
Due: modules

Update ibc_callbacks_test.go
  x/claims/keeper/ibc_callbacks_test.go
Due: modules

Update invariants_test.go
  x/claims/keeper/invariants_test.go
Due: modules

Update claim_test.go
  x/claims/keeper/claim_test.go
Due: modules

Try modifying this part of the code to avoid error
  x/incentives/client/cli/tx.go
Due: modules

adjust tests
  x/claims/keeper/claims_records_test.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
Due: modules

adjust tests
  .project
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
Due: modules

Delete eclipse project
  .project
Due: none

Adjust tests
  x/feesplit/keeper/keeper_test.go
  x/vesting/keeper/integration_test.go
Due: modules

docs: "three week unbonding period" -> "two week..."
  docs/validators/faq.md
Due: none

Adjust tests
  x/vesting/keeper/integration_test.go
Due: modules

docs: "three week unbonding period" -> "two week..." (#888)
  docs/validators/faq.md
Due: none

Add codecov token to fix test pipeline
  .github/workflows/test.yml
Due: none

update docs
  docs/developers/json-rpc/running_server.md
Due: none

fix(ci): ignore gosec
  x/incentives/client/cli/tx.go
Due: modules

update test
  x/claims/keeper/integration_test.go
Due: modules

fix
  .github/workflows/security.yml
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

docs: Ethereum tx indexer documentation (#883)
  CHANGELOG.md
  docs/developers/json-rpc/running_server.md
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Add #nosec to offending lines
  app/app.go
  x/incentives/genesis.go
Due: app, modules

Update permissions to fix upload SARIF permission issue
  .github/workflows/security.yml
Due: none

Fix gosec caught vulnerabilities
  .github/workflows/security.yml
  app/app.go
  x/incentives/genesis.go
Due: app, modules

Update gosec action from informalsystems/gosec to cosmos/gosec
  .github/workflows/security.yml
Due: none

Comment out upload sarif step in security.yaml pending fix
  .github/workflows/security.yml
Due: none

fix(ci): fix gosec reported vulnerabilities (#897)
  .github/workflows/security.yml
  app/app.go
  x/incentives/genesis.go
Due: app, modules

Update connect.md
  docs/developers/connect.md
Due: none

Update run_relayer.md
  docs/validators/run_relayer.md
Due: none
