Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

Update docs/developers/guides/geth_js_console.md
  docs/developers/guides/geth_js_console.md
Due: none

docs(guides) update based on PR comments
  docs/developers/guides/geth_js_console.md
Due: none

docs(guides) fix style and local link check
  docs/developers/guides/geth_js_console.md
Due: none

(refactor): added new proto messages
  proto/evmos/inflation/v1/tx.proto
  x/inflation/types/tx.pb.go
  x/inflation/types/tx.pb.gw.go
Due: none

(impv): added individual key getters and key setter for the params
  x/inflation/keeper/keeper.go
  x/inflation/keeper/params.go
  x/inflation/types/params.go
Due: modules

suggestions from pr
  x/erc20/keeper/ibc_callbacks.go
  x/ibc/transfer/types/interfaces.go
Due: modules

(refactor): Updated app.go and module.go
  app/app.go
  x/inflation/module.go
Due: app

(refactor): added tx processing in the msg and msg_server and handler for the new message
  x/inflation/handler.go
  x/inflation/keeper/msg_server.go
  x/inflation/types/msg.go
Due: modules

(refactor): added migration related logic for v2
  x/inflation/exported/exported.go
  x/inflation/keeper/migrations.go
  x/inflation/migrations/v2/migrate.go
  x/inflation/migrations/v2/migrate_test.go
  x/inflation/migrations/v2/types/genesis.pb.go
  x/inflation/migrations/v2/types/inflation.pb.go
  x/inflation/migrations/v2/types/params.go
  x/inflation/types/codec.go
  x/inflation/types/msg.go
  x/inflation/types/params_test.go
Due: modules

chore: add .gitleaksignore
  .gitleaksignore
Due: none

chore(build): format comment to create diff to test gitleaksignore
  local_node.sh
Due: none

(refactor): added migration test and minor cleanup
  x/inflation/genesis.go
  x/inflation/keeper/migrations_test.go
  x/inflation/migrations/v2/migrate.go
  x/inflation/types/params.go
Due: modules

fix: changed ignore file path
  .gitleaksignore
Due: none

(refactor): added missing msg to codec.
  x/erc20/types/codec.go
Due: modules

Update .gitleaksignore
  .gitleaksignore
Due: none

chore: add gitleaks ignore (#1108)
  .gitleaksignore
  local_node.sh
Due: none

Revert "chore: add gitleaks ignore (#1108)"
  .gitleaksignore
  local_node.sh
Due: none

imp(erc20): conversion changes (#1104)
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/types/interfaces.go
Due: modules

fix: used fingerprint instead of path
  .gitleaksignore
Due: none

tests(filters) fix linting errors
  docs/developers/guides/geth_js_console.md
Due: none

fix: create diff to check ignore
  local_node.sh
Due: none

fix(ci): fixed the line number
  .gitleaksignore
  local_node.sh
Due: none

fix: fixed ignore path
  .gitleaksignore
  local_node.sh
Due: none

fix: another atempt
  .gitleaksignore
  local_node.sh
Due: none

fix: gitleaksignore does not work with ci action
  .gitleaksignore
  local_node.sh
Due: none

remove unnesary package.json
  package.json
Due: none

remove unnesary package.json (#1111)
  package.json
Due: none

fix(ci): switched .gitleaksignore to config
  .gitleaks.toml
  .gitleaksignore
  local_node.sh
Due: none

chore: shfmt onl local_node.sh
  local_node.sh
Due: none

chore: shellcheck apply
  local_node.sh
Due: none

chore(app): store listener
  app/app.go
Due: app

changelog
  CHANGELOG.md
Due: none

(fix): moved legacy subspace interface to types folder
  x/erc20/exported/exported.go
  x/erc20/genesis.go
  x/erc20/keeper/migrations.go
  x/erc20/keeper/migrations_test.go
  x/erc20/keeper/params.go
  x/erc20/migrations/v3/migration.go
  x/erc20/migrations/v3/migration_test.go
  x/erc20/module.go
  x/erc20/types/codec.go
  x/erc20/types/interfaces.go
Due: modules

(fix): wrap context
  x/erc20/handler.go
Due: modules

(fix): ran formatter and linter
  x/erc20/genesis.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/migrations.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/migrations/v3/migration.go
  x/erc20/migrations/v3/migration_test.go
  x/erc20/migrations/v3/types/params.go
  x/erc20/types/interfaces.go
Due: modules

(fix): linted proto files
  proto/evmos/erc20/v1/tx.proto
Due: none
