Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

combine upgrade handlers into one
  app/app.go
  app/upgrades/v16/upgrades.go
Due: app

remove rc upgrade constants and comment out hard fork logic
  app/app.go
  app/forks.go
  app/upgrades/v16/constants.go
Due: app

refactor statedb tests
  x/evm/keeper/fees_test.go
  x/evm/keeper/statedb_test.go
Due: modules

remove vestingtypes from antehandler options
  app/ante/handler_options.go
Due: app

imp: use const BaseDenom replace aevmos
  precompiles/staking/integration_test.go
  x/erc20/keeper/integration_test.go
Due: modules

chore: make format
  precompiles/staking/integration_test.go
Due: none

update changelog - remove not-included PR
  CHANGELOG.md
Due: none

imp(distribution): update distribution solidity contract
  precompiles/distribution/DistributionI.sol
  precompiles/distribution/abi.json
  precompiles/testutil/contracts/DistributionCaller.json
  precompiles/testutil/contracts/DistributionCaller.sol
Due: none

fix(staking): fix NewMsgCreateValidator return err info is wrong
  precompiles/staking/types.go
Due: none

commit WIP
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/init-node.sh
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/queryexec.go
Due: none

imp(distribution): replace bech32 address with evm hex address for distribution precompile contract
  precompiles/common/errors.go
  precompiles/distribution/events_test.go
  precompiles/distribution/integration_test.go
  precompiles/distribution/query_test.go
  precompiles/distribution/tx_test.go
  precompiles/distribution/types.go
Due: none

fix(outposts): Provide timeout timestamp relative to block height
  precompiles/ics20/types.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/stride/tx.go
Due: none

imp(distribution): fix distribution query test
  precompiles/distribution/query.go
  precompiles/distribution/query_test.go
Due: none

fix: change to minutes
  precompiles/ics20/types.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/stride/tx.go
Due: none

apply changes from code review
  CHANGELOG.md
  precompiles/ics20/types.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
Due: none

chore(upgrade): combine v16 upgrade handlers (#2231)
  CHANGELOG.md
  app/app.go
  app/forks.go
  app/upgrades/v16/constants.go
  app/upgrades/v16/upgrades.go
Due: app

fix: add var for direct DefaultTimeoutHeight
  precompiles/ics20/types.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

fix(staking): fix NewMsgCreateValidator return err info is wrong (#2234)
  precompiles/staking/types.go
Due: none

add missing changelog entry
  CHANGELOG.md
Due: none

prepare changelog for v16.0.0
  CHANGELOG.md
Due: none

imp(distribution): fix distribution integration test
  precompiles/distribution/DistributionI.sol
  precompiles/distribution/abi.json
  precompiles/distribution/distribution_test.go
  precompiles/distribution/events.go
  precompiles/distribution/events_test.go
  precompiles/distribution/integration_test.go
  precompiles/distribution/query_test.go
  precompiles/distribution/tx.go
  precompiles/distribution/tx_test.go
  precompiles/distribution/types.go
  precompiles/testutil/contracts/DistributionCaller.json
Due: none

chore(changelog): Prepare changelog for v16.0.0 (#2239)
  CHANGELOG.md
Due: none

fix(changelog): add missing changelog entry for #2234 (#2238)
  CHANGELOG.md
Due: none

imp(distribution): adjust the magic number in distribution integration test to more reasonable logic
  CHANGELOG.md
  precompiles/distribution/integration_test.go
Due: none

imp(distribution): update distribution integration test
  precompiles/distribution/integration_test.go
Due: none

imp(distribution): update distribution integration test and DistributionCaller.sol
  precompiles/distribution/query_test.go
  precompiles/testutil/contracts/DistributionCaller.json
  precompiles/testutil/contracts/DistributionCaller.sol
Due: none

chore: add CHANGELOG.md
  CHANGELOG.md
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

imp: use const BaseDenom replace aevmos (#2233)
  precompiles/staking/integration_test.go
  x/erc20/keeper/integration_test.go
Due: modules

fix setAccount panic
  x/evm/keeper/grpc_query_test.go
Due: modules

fix build
  app/ante/cosmos/vesting.go
Due: app

imp(debug): update convert an address between hex and bech32
  client/debug/debug.go
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
  client/debug/debug.go
Due: none

add burnt coins metrics
  app/post/burn.go
Due: app

add test case
  app/post/burn.go
  app/post/burn_test.go
Due: app

small fix
  app/post/burn.go
Due: app

small refactor
  app/post/burn.go
Due: app

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
