Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

uncomment upgrade test
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/stakexec.go
Due: none

fix unit tests for fees fallback
  app/ante/cosmos/min_price_test.go
  app/ante/evm/fee_checker_test.go
Due: app

fix lint issues
  tests/e2e/Dockerfile.repo
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/Dockerfile.init
Due: none

add new test cases and update comment
  tests/e2e/e2e_test.go
Due: none

remove unnecessary changes
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
Due: none

fix(deps): fix goreleaser + keyring (#1383)
  .goreleaser.yml
  Makefile
  go.mod
  go.sum
Due: none

fix import cycles when importing the testutil package
  x/claims/types/claims_record_test.go
  x/claims/types/genesis_test.go
  x/claims/types/params_test.go
  x/erc20/types/evm_test.go
  x/erc20/types/genesis_test.go
  x/erc20/types/msg_test.go
  x/erc20/types/params.go
  x/erc20/types/params_test.go
  x/erc20/types/proposal_test.go
  x/erc20/types/token_pair_test.go
  x/erc20/types/utils_test.go
  x/evm/types/access_list_test.go
  x/evm/types/access_list_tx_test.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/legacy_tx.go
  x/evm/types/legacy_tx_test.go
  x/evm/types/logs_test.go
  x/evm/types/tx_args_test.go
  x/evm/types/tx_data.go
  x/incentives/types/fuzz_test.go
  x/incentives/types/gas_meter_test.go
  x/incentives/types/incentive_test.go
  x/incentives/types/keys_test.go
  x/incentives/types/proposal_test.go
  x/revenue/types/genesis_test.go
  x/revenue/types/msg_test.go
  x/revenue/types/revenue_test.go
  x/vesting/types/msg_test.go
Due: modules

run gofumpt
  x/claims/types/genesis_test.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/legacy_tx_test.go
  x/evm/types/tx_args_test.go
  x/feemarket/keeper/utils_test.go
  x/revenue/types/revenue_test.go
Due: modules

only call ChainID method from EvmKeeper once in test
  app/ante/evm/eth_test.go
Due: app

chore(deps) add changelog entry
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore(ci,deps): add changelog entry for goreleaser fix (#1398)
  CHANGELOG.md
Due: none

add changelog entry
  CHANGELOG.md
Due: none

update commit
  go.mod
  go.sum
Due: none

add check for precompiles
  x/evm/keeper/precompiles.go
Due: modules

fix
  CHANGELOG.md
Due: none

first WIP on function to claim staking rewards
  app/ante/evm/claim_rewards.go
  app/ante/evm/claim_rewards_test.go
Due: app

pass bank keeper to eth gas consume decorator
  app/ante/evm/eth_test.go
  app/ante/evm/interfaces.go
  app/ante/handler_options.go
Due: app

impv: define tx protos for new MsgConvertVestingAccount
  x/vesting/types/events.pb.go
  x/vesting/types/query.pb.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.go
  x/vesting/types/tx.pb.gw.go
  x/vesting/types/vesting.pb.go
Due: none

basic implementation of function to claim staking rewards
  app/ante/evm/claim_rewards.go
  app/ante/evm/eth.go
  app/ante/evm/interfaces.go
  app/ante/handler_options.go
  x/vesting/types/interfaces.go
Due: app, modules

impv: add msg_server and msg types for convert functionality
  x/vesting/keeper/msg_server.go
  x/vesting/types/msg.go
Due: modules

fix: add additional check to see if vesting coins are left on the account
  x/vesting/keeper/msg_server.go
Due: modules

fix: fix error msg
  x/vesting/keeper/msg_server.go
Due: modules

chore(tests) refactor Commit func
  testutil/abci.go
  x/claims/keeper/utils_test.go
  x/epochs/keeper/utils_test.go
  x/erc20/keeper/utils_test.go
  x/evm/keeper/utils_test.go
  x/feemarket/keeper/utils_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/utils_test.go
  x/inflation/keeper/utils_test.go
  x/revenue/keeper/utils_test.go
  x/vesting/keeper/utils_test.go
Due: modules

fix lint issues
  x/revenue/keeper/utils_test.go
Due: modules

chore(tests) refactor deliverTx - claims mod
  testutil/abci.go
  testutil/integration.go
  x/claims/keeper/integration_test.go
  x/claims/keeper/utils_test.go
Due: modules

chore(tests) refactor deliverTx - feemarket mod
  testutil/abci.go
  testutil/integration.go
  x/erc20/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/utils_test.go
Due: modules

chore(tests) refactor deliverTx - revenue mod
  x/erc20/keeper/integration_test.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/utils_test.go
Due: modules

fix lint issues
  x/feemarket/keeper/integration_test.go
Due: modules

chore(tests) add checkTx and refactor
  testutil/abci.go
  testutil/tx/cosmos.go
  x/claims/keeper/integration_test.go
Due: modules

chore(tests) refactor checkTx - feemarket mod
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/utils_test.go
Due: modules

chore(tests) refactor deliverEthTx - feemarket mod
  testutil/abci.go
  testutil/integration.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/utils_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/utils_test.go
Due: modules

chore(tests) refactor deliverEthTx - revenue & evm mod
  x/evm/keeper/integration_test.go
  x/revenue/keeper/utils_test.go
Due: modules

chore(tests) refactor checkEthTx
  testutil/abci.go
  testutil/integration.go
  x/evm/keeper/integration_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/utils_test.go
Due: modules

chore(tests) add checkTxBytes helper func
  testutil/abci.go
Due: none

refactor newMsgEthereumTx
  x/evm/types/msg.go
  x/evm/types/tx.go
Due: modules

fix msg_test
  testutil/integration.go
  x/evm/types/msg_test.go
  x/evm/types/utils_test.go
Due: modules
