Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

imp(erc20): ignore gas costs on IBC transfer for automatic ERC20 conversion (#1144)
  x/erc20/keeper/ibc_callbacks.go
  x/ibc/transfer/keeper/msg_server.go
Due: modules

Remove encoding config from root
  cmd/evmosd/root.go
Due: none

fix(erc20): automatic conversion using 'erc20/<contract_address>'
  x/ibc/transfer/keeper/msg_server.go
Due: modules

const
  x/ibc/transfer/keeper/msg_server.go
Due: modules

Move encoding config setup from command line to app (#1146)
  app/app.go
  cmd/evmosd/root.go
Due: app

fix(erc20): automatic conversion using 'erc20/<contract_address>' (#1147)
  x/ibc/transfer/keeper/msg_server.go
Due: modules

Add EIP-712 encoding config init back to root
  cmd/evmosd/root.go
Due: none

fix(erc20): update token denom on msg
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/keeper/msg_server_test.go
Due: modules

fix(erc20): update token denom on msg
  x/ibc/transfer/keeper/msg_server.go
Due: modules

feat(eip712): add encoding config init back to root (#1148)
  cmd/evmosd/root.go
Due: none

remove dup pair
  x/ibc/transfer/keeper/msg_server.go
Due: modules

Update x/ibc/transfer/keeper/msg_server_test.go
  x/ibc/transfer/keeper/msg_server_test.go
Due: modules

fix
  x/ibc/transfer/keeper/msg_server_test.go
Due: modules

fix(erc20): update token denom
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/ibc/transfer/keeper/msg_server.go
Due: modules

fix(erc20): small refactor and add test case when sending original ERC-20 directly via ibc
  x/erc20/keeper/ibc_callbacks_integration_test.go
Due: modules

fix(erc20): small refactor
  x/ibc/transfer/keeper/msg_server.go
Due: modules

fix(erc20): update token denom on msg (#1149)
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/keeper/msg_server_test.go
Due: modules

Apply suggestions from code review
  proto/evmos/recovery/v1/tx.proto
  x/recovery/migrations/v2/migrate.go
  x/recovery/types/codec.go
Due: modules

Apply changes from code review - typoes
  x/recovery/keeper/keeper.go
  x/recovery/keeper/params.go
Due: modules

(refactor): Migrate from deprecated EmitEvents
  proto/evmos/erc20/v1/events.proto
  x/erc20/keeper/msg_server.go
  x/erc20/proposal_handler.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.pb.go
Due: modules

(refactor): Delete unused events constants
  x/erc20/types/events.go
Due: modules

Add CHANGELOG entry
  CHANGELOG.md
Due: none

(refactor): Migrate emitting Event to TypedEvent
  proto/evmos/revenue/v1/events.proto
  x/erc20/types/erc20.pb.go
  x/revenue/keeper/evm_hooks.go
  x/revenue/keeper/msg_server.go
  x/revenue/types/events.go
  x/revenue/types/events.pb.go
Due: modules

Added CHANGELOG entry
  CHANGELOG.md
Due: none

use curl to download Cosmos specs
  docs/pre.sh
Due: none

address shellcheck linter comments
  docs/pre.sh
Due: none

(refactor): migrated to new TypedEvent
  proto/evmos/vesting/v1/events.proto
  x/vesting/keeper/msg_server.go
  x/vesting/types/events.pb.go
Due: modules

Add Changelog entry.
  CHANGELOG.md
Due: none

use evmos-ledger-go v0.2
  crypto/keyring/options.go
  go.mod
  go.sum
Due: core

(fix): Removed unuesed integration tests
  x/revenue/keeper/integration_test.go
Due: modules

chore: migrate ibc transfer escrow accounts to module account type
  x/ibc/transfer/keeper/migrations.go
  x/ibc/transfer/migrations/v3/migration.go
  x/ibc/transfer/migrations/v3/migration_test.go
  x/ibc/transfer/module.go
  x/ibc/transfer/types/interfaces.go
Due: modules

fix(ibc): add entry on CHANGELOG
  CHANGELOG.md
Due: none

Apply suggestions from code review
  x/ibc/transfer/keeper/migrations.go
  x/ibc/transfer/migrations/v3/migration.go
  x/ibc/transfer/module.go
Due: modules

fix(ibc): update based on PR comments
  x/ibc/transfer/migrations/v3/migration.go
Due: modules

fix(ibc): add account existing check in migration
  x/ibc/transfer/migrations/v3/migration.go
  x/ibc/transfer/migrations/v3/migration_test.go
Due: modules

fix(ibc): fix linting errors
  x/ibc/transfer/migrations/v3/migration.go
Due: modules

Apply suggestions from code review
  x/incentives/keeper/params.go
  x/incentives/migrations/v2/migrate.go
Due: modules

(fix): fix comment on handler
  x/incentives/handler.go
Due: modules

Update x/recovery/keeper/keeper.go
  x/recovery/keeper/keeper.go
Due: modules

Apply suggestions from code review
  x/revenue/keeper/msg_server.go
  x/revenue/keeper/params.go
  x/revenue/migrations/v2/migrate.go
Due: modules
