Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

chore(migration) restore evm sigverify
  app/ante/evm/sigverify.go
Due: app

reverte sigverify delete
  app/ante/evm/sigverify.go
Due: app

chore(migration) fix lint issues
  app/ante/evm/sigverify.go
Due: app

fix app tests
  app/ante/cosmos/min_price_test.go
  app/ante/cosmos/utils_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/signverify_test.go
  app/ante/evm/utils_test.go
  app/ante/handler_options.go
  app/app.go
Due: app

fix app tests
  x/evm/handler_test.go
Due: modules

improve error handling because not every error log means no blocks are produced in an upgraded node
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/manager.go
Due: none

chore(migration) fix evm/types import cycle
  app/ante/handler_options_test.go
  x/evm/types/access_list_tx.go
  x/evm/types/chain_config.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg.go
  x/evm/types/params.go
Due: app, modules

chore(migration) fix import cycle - create utils pkg
  app/forks.go
  app/test_helpers.go
  app/upgrades/v11/upgrades.go
  app/upgrades/v9/upgrades.go
  app/upgrades/v9_1/upgrades.go
  cmd/evmosd/migrate.go
  ibc/testing/app.go
  ibc/testing/chain.go
  ibc/utils.go
  testutil/network/network.go
  utils/utils.go
  utils/utils_test.go
  x/inflation/keeper/inflation.go
  x/recovery/keeper/ibc_callbacks.go
Due: app, modules

chore(migration) fix some linting issues
  app/ante/evm/eth_test.go
  app/ante/utils_test.go
  app/app_test.go
  app/upgrades/v11/upgrades_test.go
  app/upgrades/v9/upgrades_test.go
  app/upgrades/v9_1/upgrades_test.go
  crypto/keyring/options.go
  encoding/codec/codec.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/preprocess_test.go
  ibc/testing/chain.go
  rpc/websockets.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/types/interfaces.go
  x/evm/client/cli/tx.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/migrations/v5/migrate_test.go
  x/feemarket/migrations/v4/migrate_test.go
  x/recovery/genesis_test.go
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
Due: app, modules, core

chore(migration) fix more linting issues
  ethereum/eip712/eip712_test.go
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/call_tx.go
  rpc/backend/client_test.go
  rpc/backend/filters_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  tests/integration/ledger/ledger_test.go
  x/claims/genesis_test.go
  x/claims/keeper/abci_test.go
  x/claims/keeper/claim_test.go
  x/erc20/genesis_test.go
  x/incentives/keeper/keeper_test.go
  x/inflation/keeper/migrations_test.go
Due: modules

chore(migration) fix the last lint issues
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
  x/erc20/keeper/migrations_test.go
  x/erc20/keeper/msg_server_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/keeper_test.go
Due: modules

chore(migration) remove last ethermint imports & update some licenses
  app/ante/evm/eth_test.go
  app/ante/evm/sigverify.go
  app/ethtest_helper.go
  go.mod
  rpc/apis.go
  rpc/backend/account_info.go
  rpc/backend/blocks.go
  rpc/backend/chain_info.go
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
  rpc/backend/tracing.go
  rpc/backend/tx_info.go
  rpc/backend/utils.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
Due: app

chore(migration) fix fee_checker test
  app/ante/evm/fee_checker_test.go
Due: app

cover more edge cases regarding version inputs
  tests/e2e/upgrade/params.go
  tests/e2e/upgrade/params_test.go
Due: none

add version log after upgrade
  tests/e2e/e2e_suite_test.go
Due: none

chore(migration) replace aphoton for aevmos on tests
  app/ante/evm/utils_test.go
  indexer/kv_indexer_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/types/utils.go
  server/flags/flags.go
  server/start.go
  x/claims/keeper/integration_test.go
  x/evm/handler_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/types/msg_test.go
Due: app, modules

chore(migration) fix some test panic errors
  x/claims/keeper/integration_test.go
Due: modules

chore(migration) fix lint issues
  server/start.go
Due: none

Revert "chore(migration) fix fee_checker test"
  app/ante/evm/fee_checker_test.go
Due: app

chore(migration) restore evm sigverify (#1339)
  app/ante/evm/sigverify.go
Due: app

fix grpc_query tracer test
  app/app.go
  go.mod
Due: app

fix hooks tests
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
Due: modules

fix hooks tests
  x/evm/handler_test.go
Due: modules

update tendermint version
  go.mod
  go.sum
Due: none

update changelog
  CHANGELOG.md
Due: none

bump Tendermint to v0.34.25
  go.mod
  go.sum
Due: none

fix license
  app/ante/evm/sigverify.go
Due: app

Apply suggestions from code review
  CHANGELOG.md
Due: none

fix: use informal tendermint (#1248)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

fix
  go.mod
Due: none

release link
  CHANGELOG.md
Due: none

fix(deps): bump Tendermint to `v0.34.25` (#1342)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

conflict
  go.mod
  go.sum
Due: none

imp (proto): add GH action to push Protobuf files to the Buf Schema Registry (#1312)
  .github/workflows/bsr-push.yml
Due: none

Added BlockSpaces to RPC endpoint providers
  docs/developers/connect.md
Due: none

imp: restrict chain ID to Evmos
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/types/access_list_tx.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/legacy_tx.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
