Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

chore(app): store listener (#1114)
  CHANGELOG.md
  app/app.go
Due: app

Update docs/developers/guides/geth_js_console.md
  docs/developers/guides/geth_js_console.md
Due: none

(fix): typo fix
  x/erc20/module.go
Due: none

docs(guides) update based on PR comments
  docs/developers/guides/geth_js_console.md
  docs/developers/json-rpc/geth_js_console.md
Due: none

docs(guides) update based on lint errors
  docs/developers/json-rpc/geth_js_console.md
Due: none

docs(guides) add link to docs
  docs/developers/json-rpc/geth_js_console.md
Due: none

(fix): remove dependency on gogotypes
  x/erc20/migrations/v3/migration.go
  x/erc20/migrations/v3/migration_test.go
  x/erc20/migrations/v3/types/params.go
Due: modules

commit WIP
  Makefile
  scripts/protoc-swagger-gen.sh
Due: none

fix(cmd): add missing GetAuxToFeeCommand
  cmd/evmosd/root.go
Due: none

fix(app): register node service
  app/app.go
Due: app

register API route
  app/app.go
Due: app

changelog
  CHANGELOG.md
Due: none

fix(app): register node service (#1118)
  CHANGELOG.md
  app/app.go
Due: app

fix(cmd): add missing GetAuxToFeeCommand (#1117)
  cmd/evmosd/root.go
Due: none

docs(app): add erc20 to transfer stack and change description layout
  app/app.go
Due: app

chore(ibc): move interface compliance verification
  x/ibc/transfer/ibc_module.go
  x/ibc/transfer/module.go
Due: modules

fix(ci): add local_node.sh to gitleaks config (#1110)
  .gitleaks.toml
  .gitleaksignore
  local_node.sh
Due: none

feat(erc20): add pair enabled/disabled check for recv
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/token_pairs.go
Due: modules

docs(guides) add md code block format
  docs/developers/json-rpc/geth_js_console.md
Due: none

fix(cmd): set snapshot config to application
  cmd/evmosd/root.go
Due: none

lint
  cmd/evmosd/root.go
Due: none

bug(MAKEFILE): set installed version to tag or if branch is not a release to last commit
  Makefile
Due: none

bug(MAKEFILE): add CHANGELOG
  CHANGELOG.md
Due: none

fix(cmd): set snapshot config to application (#1120)
  CHANGELOG.md
  cmd/evmosd/root.go
Due: none

bug(MAKEFILE): remove unnecessary variables
  Makefile
Due: none

bug(MAKEFILE): fix `evmosd version` cmd to show either tag or last commit (#1121)
  CHANGELOG.md
  Makefile
Due: none

Apply suggestions from code review
  docs/developers/json-rpc/geth_js_console.md
Due: none

docs(guides) update based on PR comments
  docs/developers/json-rpc/geth_js_console.md
Due: none

docs(guides) add geth JS console guide (#1105)
  docs/developers/json-rpc/geth_js_console.md
Due: none

prompt user if HOMEDIR already exists
  local_node.sh
Due: none

remove unnecessary cat commands
  local_node.sh
Due: none

remove unused variable
  local_node.sh
Due: none

add double quotes around variable
  local_node.sh
Due: none

minor ica patch
  app/app.go
Due: app

(fix): Deleted old migrations and updated tests
  x/erc20/keeper/migrations.go
  x/erc20/keeper/params_test.go
  x/erc20/migrations/v2/migration.go
  x/erc20/migrations/v2/migration_test.go
  x/erc20/migrations/v3/migration.go
  x/erc20/migrations/v3/migration_test.go
  x/erc20/module.go
  x/erc20/types/msg.go
  x/erc20/types/params.go
  x/erc20/types/params_test.go
Due: modules

minor ica patch (#1124)
  app/app.go
Due: app

(test): Trying to delete x/params module to check if the e2e test will pass
  app/app.go
  app/upgrades/v10/upgrades.go
Due: app
