Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

Use ethermint.ValidateNonZeroAddress for validation
  x/fees/client/cli/tx.go
  x/fees/keeper/grpc_query.go
  x/fees/types/fee.go
  x/fees/types/msg.go
Due: modules, clients

Remove unused accountKeeper references from fees module
  app/app.go
  x/fees/genesis.go
  x/fees/keeper/keeper.go
  x/fees/module.go
Due: app, modules

docs: fix more problems with markdown link check (#575)
  .github/workflows/markdown-links.yml
  docs/DOCS_README.md
  docs/about/intro/overview.md
  docs/about/intro/resources.md
  docs/architecture/adr-template.md
  docs/developers/clients.md
  docs/developers/connect.md
  docs/developers/faucet.md
  docs/developers/json-rpc/events.md
  docs/developers/json-rpc/running_server.md
  docs/developers/localnet/multi_node.md
  docs/developers/localnet/single_node.md
  docs/developers/localnet/testnet_cmd.md
  docs/users/technical_concepts/accounts.md
  docs/users/wallets/metamask.md
  docs/validators/faq.md
  docs/validators/governance/best_practices.md
  docs/validators/governance/overview.md
  docs/validators/mainnet.md
  docs/validators/quickstart/run_node.md
  docs/validators/security/checklist.md
  docs/validators/security/kms_ledger.md
  docs/validators/security/security.md
  docs/validators/setup/run_validator.md
  docs/validators/testnet.md
  docs/validators/upgrades/manual.md
  docs/validators/upgrades/overview.md
Due: none

fees: improve params_test.go test coverage
  x/fees/types/params_test.go
Due: modules

release: set v4 upgrade heights
  app/upgrades/v4/constants.go
Due: app

log instead of error
  app/upgrades/v4/upgrades.go
Due: app

release: set v4 upgrade heights (#581)
  app/upgrades/v4/constants.go
  app/upgrades/v4/upgrades.go
Due: app

release: v3.0.1 upgrade scheduler
  CHANGELOG.md
  app/app.go
  app/app_test.go
  app/forks.go
  app/test_helpers.go
  app/upgrades/mainnet/v2/constants.go
  app/upgrades/testnet/v3/constants.go
  app/upgrades/testnet/v3/upgrades.go
  app/upgrades/v2/constants.go
  app/upgrades/v2/upgrades.go
  app/upgrades/v3/upgrades.go
  app/upgrades/v4/constants.go
  app/upgrades/v4/upgrades.go
  app/upgrades/v4/upgrades_test.go
  cmd/evmosd/migrate.go
  types/utils.go
  x/inflation/keeper/inflation.go
Due: app, modules, core

fix changelog
  CHANGELOG.md
  cmd/evmosd/init.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/integration_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

lint
  app/app.go
Due: app

rm v4 upgrade logic
  app/upgrades/v4/upgrades.go
  app/upgrades/v4/upgrades_test.go
Due: app

release: v3.0.1 (#583)
  CHANGELOG.md
  app/app.go
  app/app_test.go
  app/forks.go
  app/test_helpers.go
  app/upgrades/mainnet/v2/constants.go
  app/upgrades/testnet/v3/constants.go
  app/upgrades/testnet/v3/upgrades.go
  app/upgrades/v2/constants.go
  app/upgrades/v2/upgrades.go
  app/upgrades/v3/upgrades.go
  app/upgrades/v4/constants.go
  cmd/evmosd/init.go
  cmd/evmosd/migrate.go
  go.mod
  go.sum
  types/utils.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/integration_test.go
  x/inflation/keeper/inflation.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/vesting/keeper/msg_server.go
  x/vesting/keeper/staking_helpers.go
  x/vesting/types/clawback_vesting_account.go
  x/vesting/types/interfaces.go
  x/vesting/types/schedule.go
Due: app, modules, core

release: v3.0.1 changelog
  CHANGELOG.md
Due: none

release: v3.0.1 changelog (#584)
  CHANGELOG.md
Due: none

fees: fix SetFeeInverse, additional fees tests
  x/fees/keeper/fees.go
  x/fees/keeper/fees_test.go
  x/fees/keeper/integration_test.go
Due: modules

fix: readd erc20 migration logic
  x/erc20/keeper/migrations.go
  x/erc20/migrations/v2/migration.go
  x/erc20/migrations/v2/migration_test.go
  x/erc20/module.go
Due: modules

changelog
  CHANGELOG.md
Due: none

fix: readd erc20 migration logic (#588)
  CHANGELOG.md
  x/erc20/keeper/migrations.go
  x/erc20/migrations/v2/migration.go
  x/erc20/migrations/v2/migration_test.go
  x/erc20/module.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

release: update v4 upgrade info
  app/upgrades/v4/constants.go
Due: app

release: update v4 upgrade info (#590)
  CHANGELOG.md
  app/upgrades/v4/constants.go
Due: app

audit(erc20): rename token pairs getter
  init.sh
  metadata.json
  x/erc20/genesis.go
  x/erc20/genesis_test.go
  x/erc20/keeper/token_pairs.go
  x/erc20/keeper/token_pairs_test.go
Due: modules

audit(erc20): delete unsused testutil
  x/erc20/client/testutil/cli_test.go
  x/erc20/keeper/grpc_query.go
Due: modules, clients

audit(erc20): fix cli command descriptions
  x/erc20/client/cli/query.go
  x/erc20/client/cli/tx.go
Due: modules

audit(erc20): make-swagger-gen
  client/docs/statik/statik.go
Due: none

audit(erc20): add section on malicious contracs in spec concepts, recommended by the informal audit IF-ETHERMINT-06
  x/erc20/spec/01_concepts.md
Due: none

audit(erc20): add note in specs, that the native Evmos coin cant be registered
  x/erc20/spec/03_state_transitions.md
Due: none

audit(erc20): fix spec fomatting
  x/erc20/spec/02_state.md
Due: none

remove changes in init.sh
  init.sh
Due: none

docs: add v4 documentation
  docs/validators/mainnet.md
  docs/validators/testnet.md
Due: none

fees: fix storing registered fees per deployer, add tests
  docs/protocol/proto-docs.md
  proto/evmos/fees/v1/fees.proto
  x/fees/keeper/fees.go
  x/fees/keeper/fees_test.go
  x/fees/keeper/msg_server.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis.pb.go
  x/fees/types/keys.go
  x/fees/types/msg_test.go
  x/fees/types/query.pb.go
  x/fees/types/tx.pb.go
Due: modules

add changelog
  CHANGELOG.md
  x/erc20/client/cli/tx.go
  x/erc20/spec/01_concepts.md
Due: modules
