Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

chore: add v10 upgrade handler
  app/app.go
  app/upgrades/v10/constants.go
  app/upgrades/v10/upgrades.go
  app/upgrades/v10/upgrades_test.go
  app/upgrades/v7/constants.go
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
Due: app

(test) add missing errors check in test setup
  x/erc20/keeper/keeper_test.go
Due: modules

fix tabs
  docs/users/wallets/metamask.md
Due: none

(test) add transfer aevmos to Evmos integration test
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/keeper_test.go
Due: modules

(test) fix failing tests
  x/erc20/keeper/keeper_test.go
Due: modules

Create Everstake.json
  networks/testnet/bamboo_9051-2/gentx/Everstake.json
Due: none

rm v7
  app/forks.go
Due: app

Update frenchchocolatine.json
  networks/testnet/bamboo_9051-2/gentx/frenchchocolatine.json
Due: none

Delete frenchchocolatine.json
  networks/testnet/bamboo_9051-2/gentx/frenchchocolatine.json
Due: none

Create frenchchocolatine.json
  networks/testnet/bamboo_9051-2/gentx/frenchchocolatine.json
Due: none

ARABLE_Vanguard.json
  networks/mainnet/acre_9052-1/gentx/ARABLE_Vanguard.json
Due: none

Update app/app.go
  app/app.go
Due: app

(test) add first attempt for IBC aevmos coin transfer to Evmos
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
Due: modules

imp(erc20): automatic coin conversion (send) (#1031)
  app/app.go
  ibc/utils.go
  x/erc20/ibc_middleware.go
  x/erc20/keeper/ibc_callbacks.go
  x/ibc/transfer/ibc_module.go
  x/ibc/transfer/keeper/keeper.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/module.go
  x/ibc/transfer/types/interfaces.go
Due: app, modules

(test) make changes for aevmos IBC transfer test
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/keeper_test.go
Due: modules

Add MMS endpoints for Evmos
  docs/developers/connect.md
Due: none

(test) fix transfer aevmos IBC coins back to Evmos chain test case
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/keeper_test.go
Due: modules

Update connect.md
  docs/developers/connect.md
Due: none

(test) add IBC transfer ERC-20 tokens test case
  app/app.go
  types/utils.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/keeper_test.go
Due: app, modules, core

(test) add recovery test case
  x/erc20/keeper/ibc_callbacks_integration_test.go
Due: modules

fix(e2e): fixed legacy chain_init logic
  go.mod
  go.sum
  tests/e2e/README.md
  tests/e2e/chain/chain.go
  tests/e2e/chain/chain_util.go
  tests/e2e/chain/config.go
  tests/e2e/chain/export.go
  tests/e2e/chain/main.go
  tests/e2e/chain/validator.go
  tests/e2e/chain_init/Dockerfile
  tests/e2e/chain_init/main.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/util/codec.go
  tests/e2e/util/io.go
Due: none

docs(e2e): refactored readme
  tests/e2e/README.md
Due: none

feat(e2e): defined node struct
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
Due: none

docs(e2e): add upgrade package description to readme
  tests/e2e/README.md
Due: none

fix(e2e): fixed node double run
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
Due: none

fix(e2e): initial node version variable fix
  Makefile
Due: none

build(e2e): added build cleanup before run
  Makefile
  tests/e2e/README.md
Due: none

fix(e2e): fixed local tag version
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/govexec.go
Due: none

feat(e2e_test): implemented upgrade manager && deprecated chain_init
  Dockerfile.dbg
  tests/e2e/chain/chain.go
  tests/e2e/chain/chain_util.go
  tests/e2e/chain/config.go
  tests/e2e/chain/export.go
  tests/e2e/chain/main.go
  tests/e2e/chain/validator.go
  tests/e2e/chain_init/Dockerfile
  tests/e2e/chain_init/main.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/upgrade/Dockerfile.init
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/upgrade-init.sh
Due: none

trash
  Dockerfile.dbg
  upgrade-init.sh
Due: none

test(e2e): implemented revamped upgrade test
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
Due: none

test(e2e): added e2e testing package
  x/tests/e2e/README.md
  x/tests/e2e/chain/chain.go
  x/tests/e2e/chain/chain_util.go
  x/tests/e2e/chain/config.go
  x/tests/e2e/chain/export.go
  x/tests/e2e/chain/main.go
  x/tests/e2e/chain/validator.go
  x/tests/e2e/chain_init/Dockerfile
  x/tests/e2e/chain_init/main.go
  x/tests/e2e/e2e_suite_test.go
  x/tests/e2e/e2e_test.go
  x/tests/e2e/e2e_util_test.go
  x/tests/e2e/util/codec.go
  x/tests/e2e/util/io.go
Due: modules

build(makefile): added e2e specific vars and commands
  Makefile
Due: none

chore(e2e): add cleaning build dir to teardown suite func
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/util/io.go
Due: none

fix(e2e): fixed .evmosd export
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
Due: none

fix(e2e): slice bounds out of range fix
  tests/e2e/upgrade/manager.go
Due: none

Update tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_suite_test.go
Due: none

docs(e2e): add func docs && little refactoring
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_util_test.go
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
  tests/e2e/util/codec.go
Due: none

test(e2e): added require call to err checks
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/node.go
Due: none

docs(e2e): add versions retrieve description && docker commands
  tests/e2e/README.md
  tests/e2e/upgrade/manager.go
Due: none
