Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

commit WIP
  scripts/check_changelog.py
  scripts/testdata/changelog_ok.md
Due: none

fix: add test case for migrate fee collector
  app/upgrades/v16/upgrades_test.go
Due: app

merge from main and comment out the burning part
  app/app.go
  app/upgrades/v16/upgrades.go
Due: app

imp(bech32): instantiate stateless precompile (#2130)
  precompiles/bech32/Bech32I.sol
Due: none

chore(upgrade): Override module account to reflect new burner role (#2129)
  CHANGELOG.md
  app/app.go
  app/upgrades/v16/feecollector.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/upgrades_test.go
Due: app

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: update comment
  precompiles/staking/events.go
Due: none

fix: cleanup old integration and unit tests
  ibc/utils.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/setup_test.go
Due: modules

fix: add TODOs
  x/erc20/keeper/proposals.go
Due: modules

CHANGELOG
  CHANGELOG.md
Due: none

format and lint
  x/evm/migrations/v6/types/evm.pb.go
Due: none

format and lint utils
  ibc/utils.go
Due: none

imp(staking): replace bech32 address with evm hex address for Createvalidator function (#2122)
  CHANGELOG.md
  precompiles/staking/StakingI.sol
  precompiles/staking/abi.json
  precompiles/staking/events.go
  precompiles/staking/events_test.go
  precompiles/staking/tx.go
  precompiles/staking/tx_test.go
  precompiles/staking/types.go
Due: none

imp(inflation): Reduce inflation by 2/3
  x/inflation/v1/keeper/hooks.go
Due: modules

changelog
  CHANGELOG.md
Due: none

chore: replace imports to use storetypes
  app/ante/cosmos/setup_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
  app/ante/handler_options.go
  app/ante/sigverify.go
  app/ante/sigverify_test.go
  app/ante/utils/setup_test.go
  app/export.go
  precompiles/common/precompile.go
  precompiles/erc20/erc20.go
  types/gasmeter.go
  x/epochs/keeper/epoch_infos.go
  x/erc20/keeper/token_pairs.go
  x/evm/handler_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb.go
  x/feemarket/keeper/abci_test.go
  x/inflation/v1/migrations/v3/migrate.go
  x/revenue/v1/keeper/revenues.go
Due: app, modules, core

add changelog entry
  CHANGELOG.md
Due: none

add v15 upgrade folder for e2e test
  app/upgrades/v15/constants.go
  app/upgrades/v15/upgrades.go
Due: app

fix comment
  app/upgrades/v15/upgrades.go
Due: app

chore(app): replace imports to use storetypes (#2138)
  CHANGELOG.md
  app/ante/cosmos/setup_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
  app/ante/handler_options.go
  app/ante/sigverify.go
  app/ante/sigverify_test.go
  app/ante/utils/setup_test.go
  app/export.go
  precompiles/common/precompile.go
  precompiles/erc20/erc20.go
  types/gasmeter.go
  x/epochs/keeper/epoch_infos.go
  x/erc20/keeper/token_pairs.go
  x/evm/handler_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb.go
  x/feemarket/keeper/abci_test.go
  x/inflation/v1/migrations/v3/migrate.go
  x/revenue/v1/keeper/revenues.go
Due: app, modules, core

fix: cleanup of no longer needed files and logic
  ibc/utils.go
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/events.proto
  proto/evmos/erc20/v1/tx.proto
  x/erc20/client/cli/tx.go
  x/erc20/client/cli/utils.go
  x/erc20/client/proposal_handler.go
  x/erc20/handler.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals.go
  x/erc20/proposal_handler.go
  x/erc20/types/codec.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.pb.go
  x/erc20/types/keys.go
  x/erc20/types/msg.go
  x/erc20/types/msg_test.go
  x/erc20/types/proposal.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
Due: modules

fix: more cleanup and more questions added
  app/app.go
  ibc/utils.go
  proto/evmos/erc20/v1/tx.proto
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/precompiles.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/setup_test.go
  x/erc20/keeper/utils_test.go
  x/erc20/types/codec.go
  x/erc20/types/msg.go
  x/erc20/types/proposal_test.go
  x/erc20/types/tx.pb.go
Due: app, modules

fix: refactor for clarity
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/mint_test.go
  x/erc20/types/tx.pb.gw.go
Due: modules

fix: ordering and additional comments for cases
  x/erc20/keeper/ibc_callbacks.go
Due: modules

complete functionality and add tests
  scripts/check_changelog.py
  scripts/test_check_changelog.py
  scripts/testdata/changelog_invalid_category.md
  scripts/testdata/changelog_invalid_date.md
  scripts/testdata/changelog_invalid_entry_misformatted_description.md
  scripts/testdata/changelog_invalid_entry_pr_not_in_link.md
  scripts/testdata/changelog_invalid_version.md
  scripts/testdata/changelog_ok.md
Due: none

add makefile command and CI job
  .github/workflows/changelog.yml
  Makefile
Due: none

fix changelog
  CHANGELOG.md
Due: none

make errors more precise for entry formatting
  scripts/check_changelog.py
  scripts/test_check_changelog.py
Due: none

address markdown linters
  scripts/test_check_changelog.py
  scripts/testdata/changelog_invalid_date.md
  scripts/testdata/changelog_invalid_version.md
  scripts/testdata/changelog_ok.md
Due: none

fix compilation issues
  app/ante/cosmos/authz_test.go
  app/ante/cosmos/setup_test.go
  app/ante/evm/fee_checker_test.go
  app/app.go
  app/app_test.go
  ibc/testing/app.go
  precompiles/bank/integration_test.go
  precompiles/outposts/osmosis/types.go
  precompiles/staking/approve_test.go
  precompiles/staking/query_test.go
  testutil/staking-rewards.go
  testutil/tx/eip712.go
  types/gasmeter.go
  x/epochs/module.go
  x/erc20/keeper/setup_test.go
  x/erc20/module.go
  x/evm/keeper/precompiles.go
  x/evm/module.go
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/abci_test.go
  x/feemarket/module.go
  x/ibc/transfer/keeper/msg_server_test.go
  x/inflation/v1/keeper/hooks.go
  x/inflation/v1/keeper/inflation_test.go
  x/inflation/v1/module.go
  x/revenue/v1/keeper/utils_test.go
  x/revenue/v1/module.go
  x/vesting/module.go
Due: app, modules, core

fix: add back Register and DeployERC20
  x/erc20/keeper/evm.go
  x/erc20/keeper/proposals.go
Due: modules

commit WIP
  precompiles/erc20/erc20.go
  precompiles/erc20/erc20_allowance.csv
  precompiles/erc20/erc20_approve.csv
  precompiles/erc20/erc20_balanceOf.csv
  precompiles/erc20/erc20_decreaseAllowance.csv
  precompiles/erc20/erc20_increaseAllowance.csv
  precompiles/erc20/erc20_test.go
  precompiles/erc20/erc20_totalSupply.csv
  precompiles/erc20/erc20_transfer.csv
  precompiles/erc20/erc20_transferFrom.csv
  precompiles/erc20/integration_gas_test.go
  precompiles/erc20/plot_gas_values.ipynb
  precompiles/erc20/utils_test.go
  testutil/integration/common/grpc/bank.go
  testutil/integration/common/grpc/grpc.go
Due: none

adjust required gas on ERC20 extension
  precompiles/erc20/erc20.go
  precompiles/erc20/erc20_test.go
  precompiles/erc20/integration_test.go
Due: none

fix: add the full case 1, more comments and fix tests on outposts
  precompiles/ics20/integration_test.go
  precompiles/outposts/stride/utils_test.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/precompiles.go
  x/erc20/keeper/proposals.go
Due: modules

fix: move RegisterCoin from proposals.go
  x/erc20/keeper/precompiles.go
  x/erc20/keeper/proposals.go
Due: modules

fix: add check for native before everything
  x/erc20/keeper/ibc_callbacks.go
Due: modules

fix: add case at the top for bond denom
  x/erc20/keeper/ibc_callbacks.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
