Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

update version mapping in E2E tests to v12.1.6
  tests/e2e/e2e_test.go
Due: none

chore(ci): point proto push action to subfolder (#1642)
  .github/workflows/bsr-push.yml
Due: none

remove version map altogether
  tests/e2e/e2e_test.go
Due: none

adjust upgrade constants
  app/upgrades/v13/constants.go
Due: app

update changelog
  CHANGELOG.md
Due: none

chore(upgrade): prepare v13.0.2 (#1644)
  .github/CODEOWNERS
  .github/workflows/bsr-push.yml
  .github/workflows/proto.yml
  CHANGELOG.md
  app/upgrades/v13/constants.go
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/node.go
Due: app

remove outdated if env.GIT_DIFF from e2e release workflow
  .github/workflows/e2e-test-release.yml
Due: none

fix(rpc): concurrent map iteration and write
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
Due: none

rename
  rpc/ethereum/pubsub/pubsub.go
Due: none

fix lint issues
  rpc/ethereum/pubsub/pubsub_test.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

chore: refactor topics struct
  rpc/ethereum/pubsub/pubsub.go
Due: none

remove -race flag on makefile cmd to allow tests with concurrency
  Makefile
Due: none

chore(cli): update defaults based on latest changes
  server/start.go
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

chore(precompiles): update IBC transfer interface
  precompiles/ics20/ICS20.sol
Due: none

chore(precompiles): update IBC transfer interface (#1649)
  precompiles/ics20/ICS20.sol
Due: none

update memiavl
  go.mod
  go.sum
Due: none

fix typo
  rpc/ethereum/pubsub/pubsub.go
Due: none

add constants for config params
  server/config/config.go
  server/start.go
Due: none

fix(rpc): concurrent map iteration and write (#1650)
  CHANGELOG.md
  Makefile
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
Due: none

chore(ci): remove outdated if env.GIT_DIFF from e2e release workflow (#1645)
  .github/workflows/e2e-test-release.yml
Due: none

chore(test): refactor pubSub test
  rpc/ethereum/pubsub/pubsub_test.go
Due: none

chore(test): refactor pubSub test (#1652)
  rpc/ethereum/pubsub/pubsub_test.go
Due: none

chore(cli): update defaults based on latest changes (#1647)
  CHANGELOG.md
  server/config/config.go
  server/start.go
Due: none

update memiavl
  app/app.go
Due: app

chore: merge v13 release branch back into main (#1653)
  CHANGELOG.md
  app/upgrades/v13/constants.go
Due: app

feat: add governance precompile support
  app/app.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Due: app, modules

avoid channel get changed when concurrent subscribe happens
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filter_system_test.go
Due: none

add change doc
  CHANGELOG.md
Due: none

fix: avoid channel get changed when concurrent subscribe happens (#1655)
  CHANGELOG.md
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filter_system_test.go
Due: none

fix: check if developers shares are set to 0
  testutil/abci.go
  x/revenue/v1/keeper/evm_hooks.go
Due: modules

reuse existing function
  testutil/abci.go
Due: none

fix lint
  app/app.go
  x/revenue/v1/keeper/evm_hooks.go
Due: app, modules

fix checkEthTxResponse
  testutil/contract.go
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
