Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

add comments
  app/ante/evm/06_account_verification_test.go
  app/ante/evm/suite_test.go
Due: app

imp(changelog): Changelog clean up (#2107)
  CHANGELOG.md
Due: none

fix merge conflicts
  CHANGELOG.md
Due: none

chore(ante): revert mono ante handler for v16.0.0-rc1 (#2116)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/cosmos.go
  app/ante/evm.go
  app/ante/evm/01_setup_ctx.go
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/03_global_fee.go
  app/ante/evm/04_validate.go
  app/ante/evm/06_account_verification.go
  app/ante/evm/07_can_transfer.go
  app/ante/evm/09_gas_consume.go
  app/ante/evm/10_increment_sequence.go
  app/ante/evm/12_emit_event.go
  app/ante/evm/eth.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_market.go
  app/ante/evm/fees.go
  app/ante/evm/mono.go
  app/ante/evm/setup_ctx.go
  app/ante/evm/sigverify.go
  app/ante/evm/vesting.go
  app/ante/evm_benchmark_test.go
  app/ante/handler_options.go
  precompiles/werc20/integration_test.go
  testutil/integration/common/factory/factory.go
  testutil/integration/common/factory/helper.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/network.go
  x/evm/types/utils.go
Due: app, modules

commit first version of checker
  scripts/check_changelog.py
  scripts/test_check_changelog.py
Due: none

fix: add flow for ERC20 and Voucher cases
  x/erc20/keeper/ibc_callbacks.go
  x/evm/keeper/precompiles.go
Due: modules

chore(upgrade): Activate bech32 precompile
  app/upgrades/v16/upgrades.go
Due: app

format
  app/upgrades/v16/upgrades.go
Due: app

fix: add both activations together
  app/upgrades/v16/upgrades.go
Due: app

CHANGELOG
  CHANGELOG.md
Due: none

chore(bech32): Activate bech32 precompile
  CHANGELOG.md
  app/upgrades/v16/upgrades.go
Due: app

chore(upgrade): Activate bech32 precompile during upgrade (#2124)
  CHANGELOG.md
  app/upgrades/v16/upgrades.go
Due: app

chore(bech32): Activate bech32 precompile (#2125)
  CHANGELOG.md
  app/upgrades/v16/upgrades.go
Due: app

imp(staking): remove delegatorAddress for function createValidator and event CreateValidator
  CHANGELOG.md
  precompiles/staking/StakingI.sol
  precompiles/staking/abi.json
  precompiles/staking/events.go
  precompiles/staking/events_test.go
  precompiles/staking/tx.go
  precompiles/staking/tx_test.go
  precompiles/staking/types.go
Due: none

Apply suggestions from code review
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/test_osmosis_outpost.py
Due: none

Revert "feat(post): burn cosmos transaction fees (#2013)"
  CHANGELOG.md
  app/app.go
  app/post/burn.go
  app/post/burn_test.go
  app/post/post.go
  app/post/post_test.go
  app/post/setup_test.go
Due: app

Revert "feat(post): burn cosmos transaction fees (#2013)" (#2127)
  CHANGELOG.md
  app/app.go
  app/post/burn.go
  app/post/burn_test.go
  app/post/post.go
  app/post/post_test.go
  app/post/setup_test.go
Due: app

update imports
  app/app.go
  app/post/burn.go
  app/post/burn_test.go
  app/post/post_test.go
  app/post/setup_test.go
Due: app

update changelog
  CHANGELOG.md
Due: none

address review comments
  CHANGELOG.md
  scripts/compile-cosmwasm-contracts.sh
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/test_osmosis_outpost.py
Due: none

gomod2nix generate
  gomod2nix.toml
Due: none

fix onFailDelivery unit test
  precompiles/outposts/osmosis/types_test.go
Due: none

feat(post): burn cosmos transaction fees (#2128)
  CHANGELOG.md
  app/app.go
  app/post/burn.go
  app/post/burn_test.go
  app/post/post.go
  app/post/post_test.go
  app/post/setup_test.go
Due: app

chore(upgrade): Override module account to reflect new burner role
  app/app.go
  app/upgrades/v16/upgrades.go
Due: app

fix: add migration of feecollector to new file
  app/upgrades/v16/feecollector.go
  app/upgrades/v16/upgrades.go
Due: app

format, lint and license
  app/upgrades/v16/feecollector.go
Due: app

instantiate the bech32 contract
  precompiles/bech32/Bech32.sol
Due: none

add the I suffix
  precompiles/bech32/Bech32I.sol
Due: none

fix: make the fee collector function return an error to be checked in the handler
  app/upgrades/v16/feecollector.go
  app/upgrades/v16/upgrades.go
Due: app

remove incentives burning logic from upgrade handler
  app/app.go
  app/upgrades/v16/upgrades.go
Due: app

add changelog entry
  CHANGELOG.md
Due: none

fix gosec issues
  precompiles/outposts/osmosis/types.go
Due: none

fix(incentives): remove incentives burning logic from upgrade handler (#2131)
  CHANGELOG.md
  app/app.go
  app/upgrades/v16/upgrades.go
Due: app

prepare v16.0.0-rc1
  CHANGELOG.md
  app/upgrades/v16/constants.go
Due: app

fix changelog
  CHANGELOG.md
Due: none

chore(upgrade): Prepare v16.0.0-rc1 (#2133)
  CHANGELOG.md
  app/upgrades/v16/constants.go
Due: app

Update precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types.go
Due: none

tests(e2e): Osmosis e2e tests (#2029)
  CHANGELOG.md
  nix/default.nix
  precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types_test.go
  scripts/compile-cosmwasm-contracts.sh
  tests/nix_tests/configs/osmosis-channel.patch
  tests/nix_tests/configs/osmosis-outpost.jsonnet
  tests/nix_tests/configs/osmosis-outpost.nix
  tests/nix_tests/configs/xcs-osmosis-contract.patch
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/cosmwasm/artifacts/checksums.txt
  tests/nix_tests/cosmwasm/artifacts/crosschain_swaps.wasm
  tests/nix_tests/cosmwasm/artifacts/swaprouter.wasm
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/osmosis/evmosOsmosisPool.json
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/utils.py
Due: none
