Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

chore: go mod tidy
  go.mod
  go.sum
Due: none

chore(e2e): changed import version after rebase
  tests/e2e/e2e_suite_test.go
Due: none

Mind Heart Soul gentx
  networks/testnet/bamboo_9051-2/gentx/MindHeartSoul.json
Due: none

rm test file
  app/upgrades/v10/upgrades_test.go
Due: app

chore: add v10 upgrade handler (#1043)
  app/app.go
  app/forks.go
  app/upgrades/v10/constants.go
  app/upgrades/v10/upgrades.go
  app/upgrades/v7/constants.go
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
Due: app

release(v10.0.0-rc1: update changelog and upgrade handler
  CHANGELOG.md
  app/upgrades/v10/constants.go
Due: app

release: v10.0.0-rc1 changelog and upgrade handler (#1049)
  CHANGELOG.md
  app/upgrades/v10/constants.go
Due: app

Add missing --home flags to evmosd config commands
  init.sh
Due: none

docs(e2e): fixed readme markdown linter errors
  tests/e2e/README.md
Due: none

Change temporary folder name to the common .tmp-...
  init.sh
Due: none

test(e2e): add logs
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
Due: none

Rename init.sh to local_node.sh for clarity
  local_node.sh
Due: none

Apply renaming of init.sh also to the docs
  docs/developers/localnet/single_node.md
  docs/validators/quickstart/run_node.md
Due: none

Update connect.md
  docs/developers/connect.md
Due: none

docs(upgrades): update cosmovisor command
  docs/validators/upgrades/automated.md
Due: none

(test) add test case with claims
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/keeper_test.go
Due: modules

(test) add changes on CHANGELOG
  CHANGELOG.md
Due: none

(test) fix style issues
  app/app.go
  types/utils.go
Due: app, core

fix: Minor adjustments/fixes to the init script (#1051)
  docs/developers/localnet/single_node.md
  docs/validators/quickstart/run_node.md
  local_node.sh
Due: none

Set validator's min commission
  app/upgrades/v10/upgrades.go
Due: app

Remove min-commission ante
  app/ante/handler_options.go
Due: app

docs(upgrades): update cosmovisor command (#1053)
  docs/validators/upgrades/automated.md
Due: none

add gentx hodlglobal
  networks/mainnet/acre_9052-1/gentx/HodlGlobal.json
Due: none

(test) apply changes based on review comments
  types/utils.go
  types/utils_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/keeper_test.go
Due: modules, core

(test) make changes to fix ibc_callback_tests
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/proposals_test.go
Due: modules

Update CHANGELOG
  CHANGELOG.md
Due: none

Add windpowerstake gentx
  networks/mainnet/acre_9052-1/gentx/windpowerstake.json
Due: none

Create jet-node.json
  networks/testnet/bamboo_9051-2/gentx/jet-node.json
Due: none

tests(erc20): Add integration tests for Coin Conversion in IBC operations (#1046)
  CHANGELOG.md
  app/app.go
  ibc/testing/app.go
  ibc/testing/chain.go
  types/utils.go
  types/utils_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/proposals_test.go
Due: app, modules, core

generate genesis for bamboo testnet 2
  networks/testnet/bamboo_9051-2/genesis.json
  networks/testnet/bamboo_9051-2/gentx/acrenode-1.json
Due: none

style(upgrade_test): post-review changes
  Makefile
  go.mod
  tests/e2e/README.md
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/Dockerfile.init
  tests/e2e/upgrade/govexec.go
  tests/e2e/upgrade/manager.go
Due: none

Update jet-node.json
  networks/testnet/bamboo_9051-2/gentx/jet-node.json
Due: none

update genesis for jet-node collect
  networks/testnet/bamboo_9051-2/genesis.json
Due: none

add zenscape
  networks/mainnet/acre_9052-1/gentx/gentx-zenscape.json
Due: none

Create gentx for High Stakes
  networks/mainnet/acre_9052-1/gentx/highstakes.json
Due: none

Merge with main br
  app/ante/handler_options.go
  x/revenue/types/interfaces.go
Due: app, modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
