Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

add next block to update acc nonce
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
Due: none

changes based on review comments
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
  testutil/integration/common/factory/factory.go
  testutil/integration/common/factory/fund.go
  testutil/integration/common/network/network.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
Due: none

fix(osmosis-outpost): Make the input params a struct and modify tests
  precompiles/outposts/osmosis/IOsmosisOutpost.sol
  precompiles/outposts/osmosis/abi.json
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/osmosis_test.go
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types_test.go
  precompiles/outposts/stride/IStrideOutpost.sol
  x/evm/keeper/precompiles.go
Due: modules

fix(tests): make contract a constant
  CHANGELOG.md
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/osmosis/types_test.go
Due: none

refactor update params funcs
  precompiles/erc20/integration_test.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/params.go
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/erc20.go
  testutil/integration/evmos/utils/gov.go
  testutil/integration/evmos/utils/params.go
  x/evm/keeper/integration_test.go
Due: modules

improve err msg
  testutil/integration/evmos/utils/params.go
Due: none

remove unused imports
  precompiles/erc20/integration_test.go
Due: none

fix: add new interface
  precompiles/outposts/stride/IStrideOutpost.sol
  precompiles/outposts/stride/abi.json
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/types.go
  x/evm/keeper/precompiles.go
Due: modules

fix(tests): fix nix tests
  tests/nix_tests/test_osmosis_outpost.py
Due: none

fix(test): get XCS contract
  tests/nix_tests/test_osmosis_outpost.py
Due: none

fix: use address
  tests/nix_tests/test_osmosis_outpost.py
Due: none

tests: delete no longer needed patch for Osmosis outpost
  tests/nix_tests/configs/osmosis-outpost.nix
  tests/nix_tests/configs/xcs-osmosis-contract.patch
  tests/nix_tests/test_osmosis_outpost.py
Due: none

fix: lint python code
  tests/nix_tests/test_osmosis_outpost.py
Due: none

fix: add ValidateBasic
  precompiles/outposts/osmosis/types.go
Due: none

fmt and lint
  precompiles/outposts/osmosis/types.go
Due: none

add comments
  precompiles/bank/integration_test.go
  precompiles/bank/setup_test.go
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
  precompiles/werc20/integration_test.go
Due: none

make format
  api/ethermint/crypto/v1/ethsecp256k1/keys.pulsar.go
  api/ethermint/evm/v1/events.pulsar.go
  api/ethermint/evm/v1/evm.pulsar.go
  api/ethermint/evm/v1/genesis.pulsar.go
  api/ethermint/evm/v1/query.pulsar.go
  api/ethermint/evm/v1/tx.pulsar.go
  api/ethermint/feemarket/v1/events.pulsar.go
  api/ethermint/feemarket/v1/feemarket.pulsar.go
  api/ethermint/feemarket/v1/genesis.pulsar.go
  api/ethermint/feemarket/v1/query.pulsar.go
  api/ethermint/feemarket/v1/tx.pulsar.go
  api/ethermint/types/v1/account.pulsar.go
  api/ethermint/types/v1/dynamic_fee.pulsar.go
  api/ethermint/types/v1/indexer.pulsar.go
  api/ethermint/types/v1/web3.pulsar.go
  api/evmos/epochs/v1/genesis.pulsar.go
  api/evmos/epochs/v1/query.pulsar.go
  api/evmos/erc20/v1/erc20.pulsar.go
  api/evmos/erc20/v1/events.pulsar.go
  api/evmos/erc20/v1/genesis.pulsar.go
  api/evmos/erc20/v1/query.pulsar.go
  api/evmos/erc20/v1/tx.pulsar.go
  api/evmos/inflation/v1/genesis.pulsar.go
  api/evmos/inflation/v1/inflation.pulsar.go
  api/evmos/inflation/v1/query.pulsar.go
  api/evmos/inflation/v1/tx.pulsar.go
  api/evmos/revenue/v1/events.pulsar.go
  api/evmos/revenue/v1/genesis.pulsar.go
  api/evmos/revenue/v1/query.pulsar.go
  api/evmos/revenue/v1/revenue.pulsar.go
  api/evmos/revenue/v1/tx.pulsar.go
  api/evmos/vesting/v1/vesting.pulsar.go
  api/evmos/vesting/v2/events.pulsar.go
  api/evmos/vesting/v2/query.pulsar.go
  api/evmos/vesting/v2/tx.pulsar.go
  api/evmos/vesting/v2/vesting.pulsar.go
  testutil/integration/evmos/network/abci.go
  utils/eth/eth.go
  x/evm/types/access_list_tx.go
  x/evm/types/msg.go
Due: modules

make format
  precompiles/erc20/utils_test.go
  testutil/integration/common/factory/fund.go
  testutil/integration/evmos/utils/gov.go
  testutil/integration/evmos/utils/params.go
Due: none

fix(stride-outpost): refactor according to ADR 003
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/tx_test.go
  precompiles/outposts/stride/types.go
  precompiles/outposts/stride/types_test.go
  tests/nix_tests/configs/stride-outpost-channel.patch
  tests/nix_tests/configs/stride-outpost.nix
  tests/nix_tests/test_stride_outpost.py
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

fix: include wevmos_addr
  tests/nix_tests/test_stride_outpost.py
Due: none

return errors in function in conversion and use cached context in case any conversions fail
  app/upgrades/v16/upgrades.go
Due: app

add WEVMOS contract address as constants in ERC20 module
  x/erc20/types/constants.go
Due: modules

pass wrapped contract address into method, fill withdraw method bytes and address review comments
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/utils.go
  app/upgrades/v16/utils_test.go
Due: app

add missing license
  x/erc20/types/constants.go
Due: modules

add comment
  app/upgrades/v16/utils.go
Due: app

minor clean up
  app/upgrades/v16/utils.go
Due: app

update stride setup in nix e2e test
  scripts/run-nix-tests.sh
  tests/nix_tests/ibc_utils.py
Due: none

refactor based on review comments
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/gov.go
Due: none

refactor evm integration tests based on review comments
  testutil/integration/evmos/network/abci.go
  x/evm/keeper/integration_test.go
Due: modules

gomod2nix generate
  gomod2nix.toml
Due: none

revert change in nix test script
  scripts/run-nix-tests.sh
Due: none

chore(tests): update testing setup for sdk v0.50 (#2193)
  app/upgrades/v16/setup_test.go
  precompiles/bank/integration_test.go
  precompiles/bank/setup_test.go
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
  precompiles/p256/integration_test.go
  precompiles/werc20/integration_test.go
  testutil/integration/common/factory/factory.go
  testutil/integration/common/factory/fund.go
  testutil/integration/common/network/network.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/fund.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/params.go
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/erc20.go
  testutil/integration/evmos/utils/gov.go
  testutil/integration/evmos/utils/params.go
  x/evm/keeper/integration_test.go
Due: app, modules

fix problems
  x/evm/types/msg_test.go
  x/evm/types/tx_data_test.go
Due: modules

add bank genesis custom fn
  testutil/integration/evmos/network/setup.go
Due: none

add feemkt custom gen fn
  testutil/integration/evmos/network/setup.go
Due: none

wip - start evm test refactor
  testutil/integration/evmos/network/network.go
  x/evm/keeper/abci_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/fees_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params_benchmark_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/precompiles_test.go
  x/evm/keeper/setup_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
Due: modules

fix bugs on setup
  testutil/integration/evmos/network/setup.go
  x/evm/keeper/setup_test.go
Due: modules

refactor fees tests
  x/evm/keeper/fees_test.go
Due: modules

imp(ante): Remove legacy GasConsume and tests
  app/ante/evm/09_gas_consume.go
  app/ante/evm/09_gas_consume_test.go
  app/ante/evm/eth_benchmark_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/mono.go
Due: app

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
