Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

adjust import to fix linter on CI
  testutil/integration/evmos/grpc/gov.go
Due: none

add ante handler benchmarking tests
  app/ante/ante.go
  app/ante/evm_benchmark_test.go
  testutil/integration/common/factory/factory.go
  testutil/integration/common/factory/helper.go
  testutil/integration/evmos/factory/factory.go
Due: app

check error on factory
  app/ante/evm_benchmark_test.go
  testutil/integration/evmos/factory/factory.go
Due: app

run make format
  testutil/integration/evmos/factory/factory.go
Due: none

fix outdated client
  testutil/integration/evmos/utils/erc20.go
Due: none

imp(staking): use the opposite value for readability
  precompiles/staking/StakingI.sol
  precompiles/staking/types.go
Due: none

update gomod2nix.toml file
  gomod2nix.toml
Due: none

fix typos
  precompiles/staking/events.go
Due: none

imp(staking): add commissionRate and minSelfDelegation check for negative numbers
  precompiles/staking/types.go
Due: none

imp(staking): import cosmossdk errors instead of cosmos-sdk errors
  precompiles/staking/types.go
Due: none

chore: add cmds for rocks and pebble builds (#2007)
  CHANGELOG.md
  Dockerfile
  Makefile
  scripts/install_librocksdb.sh
Due: none

remove simapp pkg
  app/ante/cosmos/setup_test.go
  app/ante/evm/setup_test.go
  app/ante/utils/setup_test.go
  app/app.go
  app/ethtest_helper.go
  app/export.go
  app/test_helpers.go
  cmd/evmosd/root.go
  encoding/config.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  go.mod
  go.sum
  indexer/kv_indexer_test.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  testutil/integration/evmos/network/setup.go
  testutil/network/network.go
  types/genesis.go
  x/evm/handler_test.go
  x/evm/keeper/setup_test.go
Due: app, modules, core

tests: add success base test cases for ERC20
  precompiles/bank/setup_test.go
  precompiles/common/precompile.go
  precompiles/werc20/integration_test.go
  precompiles/werc20/setup_test.go
  precompiles/werc20/utils_test.go
Due: none

update sdk to evmos fork
  cmd/evmosd/root.go
  go.mod
  go.sum
Due: none

remove rosetta dep temprarily to compile
  cmd/evmosd/root.go
  go.mod
  go.sum
  server/config/config.go
  server/start.go
Due: none

imp(staking): add CreateValidator unit test for precompiled contract staking (#2050)
  CHANGELOG.md
  precompiles/staking/events.go
  precompiles/staking/events_test.go
  precompiles/staking/staking_test.go
  precompiles/staking/tx_test.go
  precompiles/staking/types.go
Due: none

adjust approval behavior when approving 0
  precompiles/erc20/approve.go
Due: none

add error vars for erc20 extension
  precompiles/erc20/errors.go
  precompiles/erc20/errors_test.go
Due: none

add helper to align errors with ERC20 errors
  precompiles/erc20/errors.go
  precompiles/erc20/tx.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

add missing license
  precompiles/erc20/errors.go
Due: none

check error
  precompiles/erc20/errors.go
Due: none

remove WIP code for unwrapping custom errors
  testutil/integration/evmos/factory/factory.go
Due: none

commit WIP for integration tests
  precompiles/erc20/integration_test.go
Due: none

fix comment
  cmd/evmosd/init.go
Due: none

update init cmd
  cmd/evmosd/init.go
Due: none

set expedited_voting_period in local_node.sh
  local_node.sh
Due: none

tests(post): unit test for burn cosmos transaction fees. (#2027)
  app/app.go
  app/post/burn_test.go
  app/post/post_test.go
  app/post/setup_test.go
Due: app

imp(staking): update commissionRate and minSelfDelegation check
  precompiles/staking/types.go
Due: none

imp(staking): update commissionRate check
  precompiles/staking/types.go
Due: none

imp(fees): allow stake denom for transaction fees for pass test
  app/ante/cosmos/min_price.go
  app/ante/cosmos/min_price_test.go
Due: app

chore: add comment
  app/ante/cosmos/min_price.go
Due: app

imp(fees): only allow user to pass in aevmos native token as transaction fees (#1998)
  CHANGELOG.md
  app/ante/cosmos/min_price.go
  app/ante/cosmos/min_price_test.go
  app/ante/cosmos/utils_test.go
Due: app

move error to errors file
  precompiles/erc20/approve.go
  precompiles/erc20/errors.go
Due: none

chore(revenue): create revenue v2 directory
  x/revenue/v1/keeper/keeper.go
  x/revenue/v1/keeper/msg_server.go
  x/revenue/v2/keeper/evm_hooks.go
  x/revenue/v2/keeper/keeper.go
Due: modules

further error refactors
  precompiles/erc20/approve.go
  precompiles/erc20/approve_test.go
  precompiles/erc20/errors.go
  precompiles/erc20/query.go
  precompiles/erc20/query_test.go
  precompiles/erc20/tx_test.go
Due: none

tests: add tests for minimum required gas and move the registration of Evmos in bank metadata to the network configuration
  precompiles/werc20/integration_test.go
  testutil/integration/evmos/network/network.go
Due: none

run make format
  testutil/integration/evmos/network/network.go
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
