Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

fastest evmos I can make
  go.mod
  go.sum
Due: none

imp: use constants for epochs IDs (#539)
  CHANGELOG.md
  x/epochs/genesis_test.go
  x/epochs/keeper/epoch_infos_test.go
  x/epochs/keeper/grpc_query_test.go
  x/epochs/keeper/keeper_test.go
  x/epochs/types/epoch_info_test.go
  x/epochs/types/genesis.go
  x/epochs/types/genesis_test.go
  x/epochs/types/identifier.go
  x/epochs/types/identifier_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/types/params.go
  x/incentives/types/params_test.go
  x/inflation/keeper/epoch_info_test.go
  x/inflation/keeper/hooks_test.go
  x/inflation/keeper/integration_test.go
  x/inflation/keeper/keeper_test.go
  x/inflation/types/genesis.go
  x/inflation/types/genesis_test.go
  x/vesting/keeper/keeper_test.go
Due: modules

use rocks v7
  go.mod
  go.sum
Due: none

imp: set min gas prices
  cmd/evmosd/root.go
Due: none

update default
  cmd/evmosd/root.go
Due: none

comment
  cmd/evmosd/root.go
Due: none

changelog
  CHANGELOG.md
Due: none

specs(erc20): small spec fixes in concepts and state
  x/erc20/spec/01_concepts.md
  x/erc20/spec/02_state.md
Due: none

imp: update default min-gas-prices (#543)
  CHANGELOG.md
  cmd/evmosd/root.go
Due: none

specs(erc20): small spec fixes in state transitions, hooks and params
  x/erc20/client/testutil/cli_test.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/spec/03_state_transitions.md
  x/erc20/spec/05_hooks.md
  x/erc20/spec/07_parameters.md
  x/erc20/spec/08_clients.md
  x/erc20/types/genesis.pb.go
  x/erc20/types/proposal_test.go
Due: modules

specs(erc20): remove updateTokenPairERC20Proposal functionality
  app/app.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/erc20/v1/erc20.proto
  x/claims/types/query.pb.gw.go
  x/epochs/types/query.pb.gw.go
  x/erc20/client/cli/tx.go
  x/erc20/client/proposal_handler.go
  x/erc20/client/rest/rest.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/proposal_handler.go
  x/erc20/types/codec.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
  x/erc20/types/query.pb.gw.go
  x/erc20/types/tx.pb.gw.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.gw.go
  x/incentives/types/query.pb.gw.go
  x/inflation/types/query.pb.gw.go
  x/recovery/types/query.pb.gw.go
  x/vesting/types/query.pb.gw.go
  x/vesting/types/tx.pb.gw.go
Due: app, modules

specs(erc20): rename relay to conversion -> Api breaking
  app/app.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/genesis.proto
  proto/evmos/erc20/v1/query.proto
  proto/evmos/erc20/v1/tx.proto
  x/README.md
  x/erc20/client/cli/tx.go
  x/erc20/client/proposal_handler.go
  x/erc20/client/rest/rest.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/proposal_handler.go
  x/erc20/spec/01_concepts.md
  x/erc20/spec/04_transactions.md
  x/erc20/spec/06_events.md
  x/erc20/spec/README.md
  x/erc20/types/codec.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
  x/erc20/types/query.pb.go
  x/erc20/types/tx.pb.go
Due: app, modules

specs(erc20): add erc20 specific gov cli commands to spec
  x/erc20/spec/08_clients.md
Due: none

specs(erc20): move evm helper functions
  x/erc20/keeper/evm.go
  x/erc20/keeper/grpc_query.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/msg_server.go
Due: modules, clients

fix linter
  x/erc20/spec/02_state.md
  x/erc20/spec/06_events.md
  x/erc20/spec/08_clients.md
Due: none

update CHANGELOG
  CHANGELOG.md
Due: none

add CHANGELOG tags
  CHANGELOG.md
Due: none

mock evm calls
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals.go
Due: modules

fix lint
  docs/protocol/proto-docs.md
Due: none

audit(erc20): inspect msg_server.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/msg_server.go
  x/erc20/spec/03_state_transitions.md
Due: modules

audit(erc20): inspect evm.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/evm_hooks.go
Due: modules

audit(erc20): inspect evm_hooks.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/spec/03_state_transitions.md
Due: modules

audit(erc20): organize evm_hooks comments
  x/erc20/keeper/evm_hooks.go
  x/erc20/spec/05_hooks.md
Due: modules

proposal coverage
  x/erc20/keeper/proposals_test.go
Due: modules

audit(erc20): inspect proposals.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/proposals.go
Due: modules

Update x/erc20/spec/03_state_transitions.md
  x/erc20/spec/03_state_transitions.md
Due: none

audit(erc20): state machine audit (#547)
  x/erc20/keeper/evm.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/proposals.go
  x/erc20/spec/03_state_transitions.md
  x/erc20/spec/05_hooks.md
Due: modules

msg_server coverage
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/msg_server_test.go
Due: modules

force evm fail
  x/erc20/keeper/msg_server_test.go
Due: modules

mock bankkeeper
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/msg_server_test.go
Due: modules

address comments
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/types/errors.go
Due: modules

check invalid metadata
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/types/errors.go
Due: modules

deleted old comment
  x/erc20/keeper/evm_test.go
Due: modules

delete unnecessary check
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
Due: modules

Update x/erc20/keeper/evm_test.go
  x/erc20/keeper/evm_test.go
Due: modules

[ENG-219] bump erc20 test coverage (#546)
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/types/errors.go
Due: modules

docs: Add developer landing page
  docs/.vuepress/components/Home.vue
  docs/README.md
  docs/developers/clients.md
  docs/developers/connect.md
  docs/developers/explorers.md
  docs/developers/faucet.md
  docs/developers/overview.md
Due: none

audit(erc20): add types tests and update comments
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/proposals.go
  x/erc20/types/errors.go
  x/erc20/types/msg.go
  x/erc20/types/proposal.go
  x/erc20/types/utils.go
  x/erc20/types/utils_test.go
Due: modules
