Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: markdown
  LICENSE_FAQ.md
Due: none

fix: md lint
  LICENSE_FAQ.md
  README.md
Due: none

fix: linters
  LICENSE_FAQ.md
Due: none

Release v13.0.0-rc1 (#1542)
  CHANGELOG.md
  LICENSE_FAQ.md
  README.md
Due: none

chore: add precompile params init
  app/app.go
  app/upgrades/v13/upgrades.go
Due: app

chore: add precompile params init (main) (#1543)
  app/app.go
  app/upgrades/v13/upgrades.go
Due: app

chore: add precompile params init (to `main`) (#1544)
  app/app.go
  app/upgrades/v13/upgrades.go
Due: app

fix docker build
  .github/workflows/docker-push.yml
Due: none

fix bsr push action
  .github/workflows/bsr-push.yml
Due: none

fix (ci): fix bsr push action (#1547)
  .github/workflows/bsr-push.yml
Due: none

fix lint issues
  .github/workflows/docker-push.yml
Due: none

add changelog entry
  CHANGELOG.md
Due: none

fix md lint issues
  LICENSE_FAQ.md
  README.md
Due: none

fix: remove linux/836 from docker image CI (#1546)
  .github/workflows/docker-push.yml
  CHANGELOG.md
  LICENSE_FAQ.md
  README.md
Due: none

docs(readme): improve structure
  README.md
Due: none

init: dIBC
  x/dibc/ibc_module.go
  x/dibc/keeper/keeper.go
  x/dibc/keeper/relay.go
  x/dibc/keeper/utils.go
  x/dibc/types/interfaces.go
  x/evm/keeper/keeper.go
Due: modules

simapp changes
  app/ante/cosmos/setup_test.go
  app/ante/evm/setup_test.go
  app/ante/utils/setup_test.go
  app/app.go
  app/app_test.go
  app/ethtest_helper.go
  app/export.go
  app/test_helpers.go
  cmd/evmosd/root.go
  encoding/config.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  go.mod
  go.sum
  ibc/testing/endpoint.go
  indexer/kv_indexer_test.go
  server/start.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  testutil/network/network.go
  testutil/staking-rewards.go
  x/evm/handler_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/setup_test.go
  x/feemarket/keeper/utils_test.go
Due: app, modules

tidied!
  go.mod
  go.sum
  ibc/testing/coordinator.go
  proto/buf.lock
  proto/buf.yaml
  server/start.go
  x/erc20/keeper/utils_test.go
Due: modules

cleanup moudle.go's
  client/keys/add.go
  ibc/testing/endpoint.go
  x/claims/module.go
  x/epochs/module.go
  x/evm/module.go
  x/feemarket/module.go
  x/incentives/module.go
  x/inflation/module.go
Due: none

mainly ibc tests need to be addressed now
  ibc/testing/endpoint.go
  x/erc20/module.go
  x/recovery/module.go
  x/revenue/v1/module.go
  x/vesting/module.go
Due: none

feat(client): add subcommand debug legacy-eip712
  client/debug/debug.go
Due: none

docs(readme): improve structure (#1552)
  README.md
Due: none

update based on review comments
  testutil/abci.go
Due: none

fix typo
  x/evm/types/utils.go
Due: modules

some more typos
  x/evm/types/utils.go
Due: modules

get dependency and add necessary replacements in go.mod
  go.mod
  go.sum
Due: none

add basic test based on example from interchaintest repo
  tests/interchaintest/interchain_test.go
Due: none

run go mod tidy
  go.mod
  go.sum
Due: none

add go-subkey replace
  go.mod
  go.sum
Due: none

use local copy of interchaintests repo
  go.mod
Due: none

feat: add required app.go wiring for the packet forwarding middleware
  app/app.go
  go.mod
  go.sum
Due: app

fix: add module basics and store key
  app/app.go
Due: app

chore(evm): fix typo in EVM utils comment (#1560)
  x/evm/types/utils.go
Due: modules

refactor(client): use wrap instead of wrapf
  client/debug/debug.go
Due: none

chore(client): add comment
  client/debug/debug.go
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
