Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix(upgrade): add note on docs about escrow accounts
  docs/protocol/moduleaccounts.md
Due: none

fix(upgrade): update open channels to 37
  app/upgrades/v11/constants.go
  app/upgrades/v11/upgrades.go
  app/upgrades/v11/upgrades_test.go
Due: app

eth ante tests helpers fix
  app/ethante/ante_test.go
  app/ethante/eth_test.go
  app/ethante/fee_market_test.go
  app/ethante/fees_test.go
  app/ethante/setup_test.go
  app/ethante/signverify_test.go
  app/ethante/utils_test.go
  app/ethtest_helper.go
Due: app

Implement Markdown line-length limit
  .github/workflows/lint.yml
  .markdownlint.yml
Due: none

Remove duplicate line-length key
  .markdownlint.yml
Due: none

fix(upgrade): fix md linting issues
  docs/protocol/moduleaccounts.md
Due: none

fix(upgrade): add account number and sequence to migrated IBC escrow accounts (#1252)
  CHANGELOG.md
  app/upgrades/v11/constants.go
  app/upgrades/v11/upgrades.go
  app/upgrades/v11/upgrades_test.go
  docs/protocol/moduleaccounts.md
Due: app

Add minor edits to improve clarity
  docs/users/basics/gas.md
Due: none

Add content from gas & fees explainer to docs (#1231)
  docs/users/basics/gas.md
Due: none

address shellcheck comments in upgrade-init.sh
  tests/e2e/upgrade/upgrade-init.sh
Due: none

remove unnecessary hyphens and brackets from jq arguments
  tests/e2e/upgrade/upgrade-init.sh
Due: none

improve docstrings
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
  tests/e2e/upgrade/utils.go
Due: none

small adjustments of docstrings in node.go
  tests/e2e/upgrade/node.go
Due: none

add comment to ignore eth_secp256k1 in gitleaks check
  tests/e2e/upgrade/upgrade-init.sh
Due: none

fix(upgrade): add recovery store on store upgrade
  app/app.go
Due: app

Apply suggestions from code review
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/utils.go
Due: none

fix(upgrade): add changelog entry
  CHANGELOG.md
Due: none

Apply suggestions from code review
  app/ethtest_helper.go
Due: app

fix(upgrade): add recovery store on store upgrade (#1257)
  CHANGELOG.md
  app/app.go
Due: app

imp (tests): address shellcheck comments and improve doc strings in upgrade tests (#1256)
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
  tests/e2e/upgrade/upgrade-init.sh
  tests/e2e/upgrade/utils.go
Due: none

imp(inflation): remove dup store calls and improve perf
  x/inflation/client/cli/query.go
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/inflation/migrations/v3/migrate_test.go
Due: modules, clients

changelog
  CHANGELOG.md
Due: none

add logger
  x/inflation/keeper/hooks.go
Due: modules

fix: added correct int type for periods in store migration
  x/inflation/migrations/v3/migrate.go
Due: modules

fix: added error checking
  x/inflation/migrations/v3/migrate.go
Due: modules

fix: removed old param getting
  x/inflation/migrations/v3/migrate.go
Due: modules

tests
  x/inflation/keeper/hooks.go
  x/inflation/keeper/inflation.go
Due: modules

Update x/inflation/migrations/v3/migrate.go
  x/inflation/migrations/v3/migrate.go
Due: modules

fix: revert removal of missing key
  x/inflation/migrations/v3/migrate.go
  x/inflation/types/keys.go
Due: modules

imp(inflation): remove dup store calls and improve perf (#1258)
  CHANGELOG.md
  x/inflation/client/cli/query.go
  x/inflation/keeper/grpc_query.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/inflation/migrations/v3/migrate_test.go
Due: modules, clients

Changelog entry
  CHANGELOG.md
Due: none

fix(inflation): re-add missing key to avoid keys shift (#1259)
  CHANGELOG.md
  x/inflation/types/keys.go
Due: modules

conflict
  CHANGELOG.md
Due: none

conflict
  CHANGELOG.md
  x/inflation/migrations/v3/migrate_test.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
