Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

add register feesplit guide
  docs/developers/guides/feesplit.md
Due: none

fix markdown linter
  docs/developers/guides/feesplit.md
Due: none

resolving conversations
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
Due: app

migration(testnet): skipped epochs value fix (#748)
  CHANGELOG.md
  app/app.go
  app/upgrades/v7/upgrades.go
  app/upgrades/v7/upgrades_test.go
  x/inflation/keeper/epoch_info_test.go
Due: app, modules

exit on first error
  init.sh
Due: none

generated buf docs and added tools
  proto/buf.lock
  proto/buf.yaml
  scripts/buf-generate-docs.sh
  third_party/proto/buf.yaml
Due: none

added buf mod update
  proto/buf.lock
  scripts/buf-generate-docs.sh
Due: none

WIP ethermint bump
  CHANGELOG.md
  go.mod
Due: none

update changelog
  CHANGELOG.md
Due: none

update changelog and bump ethermint WIP
  CHANGELOG.md
  go.mod
Due: none

add changelog
  CHANGELOG.md
Due: none

update changelog and bump ethermint version
  CHANGELOG.md
  go.mod
  go.sum
Due: none

go mod tidy
  go.sum
Due: none

go mod tidy
  CHANGELOG.md
  go.sum
Due: none

fix golangci-lint
  app/app.go
  cmd/evmosd/genaccounts.go
  x/erc20/keeper/evm_hooks.go
Due: app, modules

release: v2.0.2 changelog (#774)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

release: v4.0.2 changelog and bump ethermint version (#771)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

release: v1.1.3 changelog (#775)
  CHANGELOG.md
  app/app.go
  cmd/evmosd/genaccounts.go
  go.mod
  go.sum
  x/erc20/keeper/evm_hooks.go
Due: app, modules

release: v3.0.3 changelog and bump ethermint version (#772)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

release: v5.0.1 changelog and bump ethermint version (#770)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

release: v6.0.2 changelog and bump ethermint version to v0.17.1 (#769)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

update changelog and bump ethermint version
  CHANGELOG.md
  app/app.go
  go.mod
  go.sum
  x/erc20/keeper/evm_hooks.go
Due: app, modules

release: v1.1.3 changelog (#776)
  CHANGELOG.md
  app/app.go
  go.mod
  go.sum
  x/erc20/keeper/evm_hooks.go
Due: app, modules

release(docs): update latest_version to v6.0.2
  docs/.vuepress/config.js
Due: none

added to vesting tests
  x/vesting/keeper/integration_test.go
Due: modules

release(docs): update latest_version to v6.0.2 (#777)
  docs/.vuepress/config.js
Due: none

modified guide and docs structure
  docs/developers/guides/erc_20_registration.md
  docs/developers/guides/wallet_integration.md
Due: none

added to dev overview, fixed links
  docs/developers/guides/erc_20_registration.md
  docs/developers/overview.md
Due: none

fixed lint issues
  docs/developers/guides/erc_20_registration.md
Due: none

added keplr create/import acc docs
  docs/users/wallets/keplr.md
  docs/users/wallets/metamask.md
Due: none

added small note about key types, keccak-256
  docs/users/keys/keyring.md
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
