Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

CHANGELOG
  CHANGELOG.md
Due: none

add utils to check balances
  testutil/integration/evmos/network/setup.go
  testutil/integration/evmos/utils/bank.go
Due: none

chore(erc20): Remove evm hooks from erc20 module (#2154)
  CHANGELOG.md
  app/app.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/evm_hooks_test.go
Due: app, modules

imp(ante): Remove legazy IncrementSequence decorator and add tests (#2156)
  app/ante/evm/10_incremenet_sequence_test.go
  app/ante/evm/10_increment_sequence.go
  app/ante/evm/eth_test.go
Due: app

chore(erc20): Remove CLI logic for coin conversion and registration (#2155)
  CHANGELOG.md
  app/app.go
  x/erc20/client/cli/tx.go
  x/erc20/client/cli/utils.go
  x/erc20/client/proposal_handler.go
Due: app, modules

fix: add logic without the MsgConvertCoin
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/msg_server.go
Due: modules

Update app/ante/evm/08_vesting.go
  app/ante/evm/08_vesting.go
Due: app

apply changes from code review
  x/erc20/keeper/precompiles.go
Due: modules

add error type check
  app/ante/evm/07_can_transfer_test.go
Due: app

chore(erc20): Remove RegisterCoin proposal logic, protos, types and related tests (#2157)
  CHANGELOG.md
  proto/evmos/erc20/v1/erc20.proto
  x/erc20/client/cli/utils.go
  x/erc20/client/cli/utils_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/proposal_handler.go
  x/erc20/types/codec.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
  x/evm/migrations/v6/types/evm.pb.go
Due: modules

fix(min-price): block proposer 0 gas fee attack
  app/ante/ante.go
  app/ante/cosmos/min_price.go
Due: app

Merge
  CHANGELOG.md
Due: none

fix delegation creation
  app/ethtest_helper.go
  app/test_helpers.go
  ibc/testing/app.go
  precompiles/distribution/utils_test.go
  precompiles/ics20/utils_test.go
  precompiles/staking/utils_test.go
  precompiles/vesting/utils_test.go
  testutil/integration/evmos/network/setup.go
  x/vesting/utils_test.go
Due: app, modules

update helper and setup functions
  testutil/integration/common/factory/helper.go
  testutil/integration/evmos/factory/helpers.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/network.go
Due: none

txdata method on args
  app/ante/evm/06_account_verification_test.go
  x/evm/types/tx.go
Due: app, modules

fix format
  app/ante/evm/06_account_verification_test.go
Due: app

refractor tests
  app/ante/evm/06_account_verification_test.go
Due: app

fix test regression
  testutil/integration/evmos/factory/build.go
Due: none

imp(ante): Remove old AccountVerification decorator and tests (#2150)
  app/ante/evm/06_account_verification.go
  app/ante/evm/06_account_verification_test.go
  x/evm/types/tx.go
Due: app, modules

imp(ante): Remove legacy CanTransfer decorator and update tests (#2151)
  app/ante/evm/07_can_transfer.go
  app/ante/evm/07_can_transfer_test.go
  app/ante/evm/eth_test.go
Due: app

imp(ante): Update vesting decorator tests (#2153)
  app/ante/evm/08_vesting.go
  app/ante/evm/08_vesting_test.go
  app/ante/evm/vesting_test.go
  testutil/integration/common/network/network.go
  testutil/integration/evmos/network/fund.go
  testutil/integration/evmos/network/unit_network.go
Due: app

format
  app/ante/evm/eth_test.go
Due: app

imp(ante): ValidateMsg refractor and remove legacy decorator
  app/ante/evm/04_validate.go
  app/ante/evm/04_validate_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/mono.go
Due: app

re organize txs
  app/ante/evm/04_validate.go
  app/ante/evm/09_gas_consume.go
  app/ante/evm/mono.go
Due: app

add utils to convert coins
  app/app.go
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/utils.go
Due: app

add option to instantiate integration network with specific balances
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/network.go
Due: none

fix generating genesis accounts
  testutil/integration/evmos/network/config.go
Due: none

fix generating genesis accounts
  app/upgrades/v16/utils.go
  app/upgrades/v16/utils_test.go
Due: app

add missing license
  testutil/integration/evmos/utils/bank.go
Due: none

address linters
  app/upgrades/v16/utils.go
  app/upgrades/v16/utils_test.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/utils/bank.go
Due: app

check for module account balance after test
  app/upgrades/v16/utils_test.go
Due: app

check that non-native token pairs are not converted
  app/upgrades/v16/utils_test.go
Due: app

always return big int instead of nil to make sure string method doesn't panic
  app/upgrades/v16/utils.go
Due: app

add changelog entry
  CHANGELOG.md
Due: none

add util to get all balances
  testutil/integration/common/grpc/bank.go
  testutil/integration/common/grpc/grpc.go
  testutil/integration/evmos/grpc/grpc.go
Due: none

refactor to do full conversion in one function
  app/upgrades/v16/upgrades.go
  app/upgrades/v16/utils_test.go
Due: app

fix test
  app/upgrades/v16/utils_test.go
Due: app

address linter
  app/upgrades/v16/utils_test.go
Due: app
