Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

docs: update hardhat.md (#1206)
  docs/developers/tools/hardhat.md
Due: none

imp(upgrade): update testnet reward distr logic
  app/upgrades/v11/upgrades.go
Due: app

imp(upgrade): update testnet reward distr logic (#1230)
  app/upgrades/v11/upgrades.go
Due: app

test improvements
  app/upgrades/v11/upgrades_test.go
Due: app

fix
  app/upgrades/v11/upgrades.go
  app/upgrades/v11/upgrades_test.go
Due: app

c++
  CHANGELOG.md
Due: none

upgrade: incentivized testnet airdrop claim (#1209)
  CHANGELOG.md
  app/app.go
  app/upgrades/v11/accounts.go
  app/upgrades/v11/constants.go
  app/upgrades/v11/upgrades.go
  app/upgrades/v11/upgrades_test.go
Due: app

Add content from gas & fees explainer to docs
  docs/users/basics/gas.md
Due: none

fix: add new changes to methods
  app/upgrades/v11/upgrades.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper_test.go
  x/ibc/transfer/keeper/keeper.go
  x/ibc/transfer/keeper/keeper_test.go
  x/ibc/transfer/keeper/msg_server_test.go
  x/recovery/ibc_middleware.go
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
  x/recovery/types/interfaces.go
Due: app, modules

fix: fixed test utils
  x/recovery/keeper/utils_test.go
Due: modules

imp (ci): run upgrade tests also on PRs and pushes targeting main (#1228)
  .github/workflows/upgrade-test-release.yml
Due: none

use forked ethermint v0.20.0
  app/app.go
  go.mod
  go.sum
  x/revenue/types/interfaces.go
Due: app, modules

merge main
  go.mod
Due: none

minor refactor to upgrade test
  app/upgrades/v11/upgrades_test.go
Due: app

fix check
  app/upgrades/v11/upgrades_test.go
Due: app

Apply markdown linter
  docs/users/basics/gas.md
Due: none

Bug fixes 1181 build tags fix (#1208)
  Makefile
Due: none

chore(docs): update min deposit amount
  docs/users/governance/best_practices.md
  docs/users/governance/process.md
  docs/users/governance/submitting.md
Due: none

chore(docs): update docs to reflect new deposit params
  docs/users/governance/best_practices.md
  docs/users/governance/process.md
  docs/users/governance/submitting.md
Due: none

Update process.md
  docs/users/governance/process.md
Due: none

nit: update comment on `InflationRate` for grpc
  x/inflation/keeper/grpc_query.go
Due: modules, clients

nit: update comment on `InflationRate` for grpc (#1239)
  x/inflation/keeper/grpc_query.go
Due: modules, clients

fix: added changes to ethermint modules and replaced Ethermint with commit from main
  app/app.go
  go.mod
  go.sum
  x/revenue/types/interfaces.go
Due: app, modules

check for duplicates on allocations
  app/upgrades/v11/upgrades_test.go
Due: app

fix: added Ethermint params upgrade fix
  app/app.go
  go.mod
  go.sum
  x/revenue/types/interfaces.go
Due: app, modules

fix: reverted typed events back to regular event emitting
  x/erc20/keeper/msg_server.go
  x/erc20/proposal_handler.go
  x/erc20/types/events.go
  x/erc20/types/events.pb.go
  x/revenue/keeper/evm_hooks.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/msg_server.go
  x/revenue/types/events.go
  x/revenue/types/events.pb.go
  x/vesting/keeper/msg_server.go
  x/vesting/types/events.pb.go
Due: modules

fix: ran linter and formatter
  x/erc20/types/events.go
Due: modules

fix: revert typed events back to regular event emitting (#1243)
  x/erc20/keeper/msg_server.go
  x/erc20/proposal_handler.go
  x/erc20/types/events.go
  x/erc20/types/events.pb.go
  x/revenue/keeper/evm_hooks.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/msg_server.go
  x/revenue/types/events.go
  x/revenue/types/events.pb.go
  x/vesting/keeper/msg_server.go
  x/vesting/types/events.pb.go
Due: modules

use ethermint main branch
  app/app.go
  go.mod
  go.sum
  x/revenue/types/interfaces.go
Due: app, modules

Update app/upgrades/v11/upgrades_test.go
  app/upgrades/v11/upgrades_test.go
Due: app

[ENG-1277] refactor upgrade test (#1236)
  app/upgrades/v11/upgrades_test.go
Due: app

Clarify feemarket implementation
  docs/users/basics/gas.md
Due: none

Clarify BaseFee lowerbound
  docs/users/basics/gas.md
Due: none

Update connect.md
  docs/developers/connect.md
Due: none

fix: added Etheremint release
  go.mod
  go.sum
Due: none
