Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

rename withdrawal -> recovery middleware (#419)
  app/app.go
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  x/recovery/client/cli/query.go
  x/recovery/genesis.go
  x/recovery/genesis_test.go
  x/recovery/ibc_middleware.go
  x/recovery/keeper/grpc_query.go
  x/recovery/keeper/grpc_query_test.go
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
  x/recovery/keeper/keeper_test.go
  x/recovery/keeper/params.go
  x/recovery/keeper/params_test.go
  x/recovery/keeper/utils_test.go
  x/recovery/module.go
  x/recovery/types/errors.go
  x/recovery/types/events.go
  x/recovery/types/genesis.go
  x/recovery/types/genesis.pb.go
  x/recovery/types/genesis_test.go
  x/recovery/types/interfaces.go
  x/recovery/types/keys.go
  x/recovery/types/params.go
  x/recovery/types/params_test.go
  x/recovery/types/query.pb.go
  x/recovery/types/query.pb.gw.go
  x/withdraw/genesis_test.go
  x/withdraw/keeper/params_test.go
  x/withdraw/types/events.go
Due: app, modules, clients

imp: integration IBC tests
  x/recovery/keeper/ibc_callbacks_integration_test.go
Due: modules

imp: rename claims ibc module to middleware
  app/app.go
  x/claims/ibc_middleware.go
  x/claims/keeper/hooks.go
  x/recovery/ibc_middleware.go
Due: app, modules

imp: rename claims ibc module to middleware (#421)
  app/app.go
  x/claims/ibc_middleware.go
  x/claims/keeper/hooks.go
  x/recovery/ibc_middleware.go
Due: app, modules

impr(erc20): prohibit registering coin denominations that contain the evm denom
  go.sum
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
Due: modules

use "evm" instead of "evmos"
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
Due: modules

Update x/erc20/keeper/proposals_test.go
  x/erc20/keeper/proposals_test.go
Due: modules

impr(erc20): prohibit registering coin denominations that contain the evm denom (#422)
  go.sum
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
Due: modules

tests: ibc middleware ordering
  x/claims/ibc_middleware_test.go
Due: modules

allow recovery if failed claim
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
Due: modules

allow recovery if failed claim (#424)
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
Due: modules

Update join.md
  docs/testnet/join.md
Due: none

update swagger
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
Due: none

add integration test
  go.mod
  tests/erc20_integration_test.go
  tests/helper.go
  testutil/network/util.go
Due: none

Update join.md (#425)
  docs/testnet/join.md
Due: none

deps: bump ethermint to v0.12.0
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

fix max gas wanted
  app/ante/handler_options.go
  app/app.go
Due: app

Claims integration tests - remove unused code
  x/claims/keeper/integration_test.go
Due: modules

deps: bump ethermint to v0.12.0 (#427)
  CHANGELOG.md
  app/ante/handler_options.go
  app/app.go
  go.mod
  go.sum
Due: app

address comments
  x/recovery/keeper/ibc_callbacks_integration_test.go
Due: modules

Add testcase sender has claim
  x/recovery/keeper/ibc_callbacks_integration_test.go
Due: modules

Add test case, claims record with action claimed
  x/recovery/keeper/ibc_callbacks_integration_test.go
Due: modules

bug(init.sh): bring back "rm -rf ~/.evmosd*" as the script throws errors without
  init.sh
Due: none

address comments and cleanup
  x/recovery/keeper/ibc_callbacks_integration_test.go
Due: modules

Apply suggestions from code review
  x/recovery/keeper/ibc_callbacks_integration_test.go
Due: modules

clearer test names
  x/recovery/keeper/ibc_callbacks_integration_test.go
Due: modules

bug(init.sh): bring back "rm -rf ~/.evmosd*" as the script throws errors without (#428)
  init.sh
Due: none

imp: recovery integration IBC tests (#420)
  x/recovery/keeper/ibc_callbacks_integration_test.go
Due: modules

ci: add CodeQLquery from CryptoCom
  .github/workflows/codeql-analysis.yml
  x/epochs/module.go
Due: none

tests: claims BDD testing setup (#373)
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
Due: modules

only query go
  .github/workflows/codeql-analysis.yml
Due: none

imp: only delete records at the end of the claims period
  x/claims/keeper/abci.go
  x/claims/keeper/claim.go
  x/claims/keeper/ibc_callbacks.go
Due: modules

ci: add CodeQL query from Crypto.com (#429)
  .github/workflows/codeql-analysis.yml
  x/epochs/module.go
Due: none

tests
  x/claims/keeper/claim_test.go
  x/claims/keeper/ibc_callbacks_test.go
Due: modules
