Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

chore(p256): adjust p256 precompile address (#2110)
  CHANGELOG.md
  precompiles/p256/p256.go
  x/evm/types/params.go
Due: modules

revert deprecattion of EIP-712 ante handler
  CHANGELOG.md
  app/ante/ante.go
  app/ante/cosmos/authz_test.go
  app/ante/evm.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
  testutil/tx/eip712.go
Due: app

tests: refactor cosmos ante
  app/ante/cosmos/authz_test.go
  app/ante/cosmos/fees_benchmark_test.go
  app/ante/cosmos/fees_test.go
  app/ante/cosmos/min_price_test.go
  app/ante/cosmos/setup_test.go
  app/ante/cosmos/utils_test.go
  testutil/integration/common/factory/helper.go
  testutil/integration/common/factory/types.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/factory/helpers.go
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/fund.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/setup.go
Due: app

chore(proto): run make proto-all (#2111)
  crypto/ethsecp256k1/keys.pb.go
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/query.pb.go
  x/erc20/types/tx.pb.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/tx.pb.go
  x/inflation/v1/types/genesis.pb.go
  x/inflation/v1/types/inflation.pb.go
  x/inflation/v1/types/query.pb.go
  x/inflation/v1/types/tx.pb.go
  x/revenue/v1/types/events.pb.go
  x/revenue/v1/types/genesis.pb.go
  x/revenue/v1/types/query.pb.go
  x/revenue/v1/types/revenue.pb.go
  x/revenue/v1/types/tx.pb.go
  x/vesting/migrations/types/vesting.pb.go
  x/vesting/types/events.pb.go
  x/vesting/types/query.pb.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Due: none

make format
  ibc/testing/app.go
  testutil/integration/evmos/network/network.go
Due: none

revert deprecation of EIP-712 ante handler for v16.0.0-rc1 (#2113)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/cosmos/authz_test.go
  app/ante/evm.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
  testutil/tx/eip712.go
Due: app

revert mono ante handler
  CHANGELOG.md
  app/ante/ante.go
  app/ante/cosmos.go
  app/ante/evm.go
  app/ante/evm/01_setup_ctx.go
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/03_global_fee.go
  app/ante/evm/04_validate.go
  app/ante/evm/06_account_verification.go
  app/ante/evm/07_can_transfer.go
  app/ante/evm/09_gas_consume.go
  app/ante/evm/10_increment_sequence.go
  app/ante/evm/12_emit_event.go
  app/ante/evm/eth.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_market.go
  app/ante/evm/fees.go
  app/ante/evm/mono.go
  app/ante/evm/setup_ctx.go
  app/ante/evm/sigverify.go
  app/ante/evm/vesting.go
  app/ante/evm_benchmark_test.go
  app/ante/handler_options.go
  precompiles/werc20/integration_test.go
  testutil/integration/common/factory/factory.go
  testutil/integration/common/factory/helper.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/network.go
  x/evm/types/utils.go
Due: app, modules

enable stride and osmosis outposts during upgrade
  app/upgrades/v16/upgrades.go
Due: app

update channel ID for osmosis outpost
  x/evm/keeper/precompiles.go
Due: modules

adjust expected gas values
  x/evm/keeper/grpc_query_test.go
Due: modules

add changelog entry
  CHANGELOG.md
Due: none

feat(stride,osmosis): enable stride and osmosis outposts during upgrade (#2117)
  CHANGELOG.md
  app/upgrades/v16/upgrades.go
Due: app

Revert "feat(post): burn cosmos transaction fees (#2013)"
  CHANGELOG.md
  app/app.go
  app/post/burn.go
  app/post/burn_test.go
  app/post/post.go
  app/post/post_test.go
  app/post/setup_test.go
Due: app

chore(osmosis): add osmosis outpost to available EVM extensions (#2109)
  CHANGELOG.md
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/osmosis_test.go
  precompiles/outposts/osmosis/setup_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Due: modules

imp(changelog): Changelog clean up (#2107)
  CHANGELOG.md
Due: none

update test setup for contract v1
  precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types_test.go
  scripts/compile-cosmwasm-contracts.sh
  tests/nix_tests/configs/osmosis-outpost.jsonnet
  tests/nix_tests/configs/xcs-osmosis-contract.patch
  tests/nix_tests/cosmwasm/artifacts/checksums.txt
  tests/nix_tests/cosmwasm/artifacts/crosschain_registry-aarch64.wasm
  tests/nix_tests/cosmwasm/artifacts/crosschain_registry.wasm
  tests/nix_tests/cosmwasm/artifacts/crosschain_swaps-aarch64.wasm
  tests/nix_tests/cosmwasm/artifacts/crosschain_swaps.wasm
  tests/nix_tests/cosmwasm/artifacts/swaprouter-aarch64.wasm
  tests/nix_tests/cosmwasm/artifacts/swaprouter.wasm
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/utils.py
Due: none

remove unnecessary changes
  app/app.go
  tests/nix_tests/test_osmosis_outpost.py
  tests/nix_tests/utils.py
  x/evm/keeper/precompiles.go
Due: app, modules

make format
  tests/nix_tests/configs/osmosis-channel.patch
  x/evm/keeper/precompiles.go
Due: modules

fix lint issues
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/ibc_utils.py
  tests/nix_tests/test_osmosis_outpost.py
Due: none

fix lint issues
  scripts/compile-cosmwasm-contracts.sh
  tests/nix_tests/test_osmosis_outpost.py
Due: none

add channel patch
  tests/nix_tests/configs/osmosis-channel.patch
  tests/nix_tests/configs/osmosis-outpost.nix
Due: none

update comment
  precompiles/outposts/osmosis/types.go
Due: none

fix lint issues
  tests/nix_tests/test_osmosis_outpost.py
Due: none

imp(staking): replace bech32 address with evm hex address for query alidator (#2076)
  CHANGELOG.md
  precompiles/common/errors.go
  precompiles/staking/StakingI.sol
  precompiles/staking/abi.json
  precompiles/staking/integration_test.go
  precompiles/staking/query_test.go
  precompiles/staking/staking_test.go
  precompiles/staking/testdata/StakingCaller.json
  precompiles/staking/testdata/StakingCaller.sol
  precompiles/staking/types.go
  precompiles/staking/utils_test.go
Due: none

fix(post): fix post handler
  app/post/burn.go
Due: app

chore(post): Revert post handler changes for v16.0.0-rc1 (#2118)
  CHANGELOG.md
  app/app.go
  app/post/burn.go
  app/post/burn_test.go
  app/post/post.go
  app/post/post_test.go
  app/post/setup_test.go
Due: app

imp(precompile): how to handle panic when call precompiled contracts (#2105)
  CHANGELOG.md
  precompiles/staking/tx_test.go
  precompiles/staking/types.go
Due: none

imp(staking): replace bech32 address with evm hex address for Createvalidator function
  CHANGELOG.md
  precompiles/staking/StakingI.sol
  precompiles/staking/abi.json
  precompiles/staking/events_test.go
  precompiles/staking/tx_test.go
  precompiles/staking/types.go
Due: none

vesting tests first pass
  app/ante/evm/08_vesting.go
  app/ante/evm/08_vesting_test.go
  testutil/integration/evmos/factory/sign.go
Due: app

organize factory repo
  testutil/integration/evmos/factory/broadcast.go
  testutil/integration/evmos/factory/build.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/factory/helpers.go
  testutil/integration/evmos/factory/sign.go
Due: none

can transfer tests
  app/ante/evm/06_account_verification_test.go
  app/ante/evm/07_can_transfer.go
  app/ante/evm/07_can_transfer_test.go
  app/ante/evm/09_gas_consume_test.go
  app/ante/evm/10_increment_sequence_test.go
  app/ante/evm/increment_sequence_test.go
  testutil/integration/evmos/network/network.go
Due: app

account verification tests
  app/ante/evm/06_account_verification.go
  app/ante/evm/11_gas_wanted.go
  app/ante/evm/account_verification_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/eth_benchmark_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/fee_market_test.go
  app/ante/evm/fees_test.go
  app/ante/evm/increment_sequence_test.go
  app/ante/evm/setup_ctx_test.go
  app/ante/evm/setup_test.go
  app/ante/evm/signverify_test.go
  app/ante/evm/sigs_test.go
  app/ante/evm/suite_test.go
  app/ante/evm/utils_test.go
  app/ante/evm/vesting_test.go
  testutil/integration/evmos/factory/factory.go
  x/evm/keeper/integration_test.go
Due: app, modules

organize factory repo
  testutil/integration/evmos/factory/broadcast.go
Due: none

can transfer tests
  app/ante/evm/06_account_verification_test.go
  app/ante/evm/07_can_transfer.go
  app/ante/evm/07_can_transfer_test.go
  app/ante/evm/09_gas_consume_test.go
  app/ante/evm/suite_test.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/factory/helpers.go
Due: app

complete can transfer test
  app/ante/evm/07_can_transfer.go
  app/ante/evm/07_can_transfer_test.go
Due: app

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
