Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

集成wasm目录，修改import
  cmd/evoblockd/main.go
  go.mod
Due: none

adding params logic (#18)
  x/ibc/evm/keeper/params.go
  x/ibc/evm/types/params.go
Due: modules

Updated tx.proto file to include timeout related information like timestamp and height
  proto/evmos/ibc/evm/v1/tx.proto
  x/ibc/evm/keeper/msg_server.go
Due: modules

(impv): Created base msg_server.go and added additional info in our proto messages.
  client/docs/statik/statik.go
  docs/protocol/proto-docs.md
  proto/evmos/ibc/evm/v1/tx.proto
  x/ibc/evm/keeper/msg_server.go
  x/ibc/evm/keeper/relay.go
  x/ibc/evm/types/tx.pb.go
Due: modules

(impv): Added ethTxData to the relay send function
  x/ibc/evm/keeper/msg_server.go
  x/ibc/evm/keeper/relay.go
Due: modules

Dont execute recovery and erc20 conversion on same recv
  app/app.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/types/interfaces.go
  x/ibc/transfer/keeper/msg_server.go
Due: app, modules

remove old code
  x/erc20/keeper/ibc_callbacks.go
Due: modules

feat: amino encoding support for the vesting module (#1070)
  CHANGELOG.md
  x/vesting/module.go
  x/vesting/types/codec.go
  x/vesting/types/msg.go
Due: modules

chore(tests): gofumpt
  client/docs/statik/statik.go
  tests/e2e/upgrade/utils.go
Due: none

chore(tests): added she-bang reference
  tests/e2e/upgrade/upgrade-init.sh
Due: none

Update tests/e2e/README.md
  tests/e2e/README.md
Due: none

Update tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_suite_test.go
Due: none

refactor(upgrade_test): changed node start sleep time to dockertest retry call
  Makefile
  go.mod
  tests/e2e/upgrade/manager.go
Due: none

refactor (errors) refactor errors import to use cosmossdk.io instead of cosmos-sdk/types/errors
  app/ante/ante.go
  app/ante/handler_options.go
  app/ante/vesting.go
  app/sigverify.go
  ibc/utils.go
  testutil/integration.go
  types/errors.go
  types/utils.go
  x/claims/handler.go
  x/claims/keeper/abci.go
  x/claims/keeper/claim.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/types/errors.go
  x/claims/types/params.go
  x/erc20/handler.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/proposals.go
  x/erc20/proposal_handler.go
  x/erc20/types/errors.go
  x/erc20/types/msg.go
  x/erc20/types/proposal.go
  x/incentives/keeper/distribution.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/proposals.go
  x/incentives/proposal_handler.go
  x/incentives/types/errors.go
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/types/errors.go
  x/revenue/handler.go
  x/revenue/keeper/evm_hooks.go
  x/revenue/keeper/msg_server.go
  x/revenue/types/errors.go
  x/revenue/types/msg.go
  x/vesting/handler.go
  x/vesting/keeper/msg_server.go
  x/vesting/types/errors.go
  x/vesting/types/msg.go
Due: app, modules, core, clients

fix: conflicts
  CHANGELOG.md
Due: none

refactor(all): refactor errors import to use `cosmossdk.io` pkg (#1080)
  app/ante/ante.go
  app/ante/handler_options.go
  app/ante/vesting.go
  app/sigverify.go
  ibc/utils.go
  testutil/integration.go
  types/errors.go
  types/utils.go
  x/claims/handler.go
  x/claims/keeper/abci.go
  x/claims/keeper/claim.go
  x/claims/keeper/ibc_callbacks.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/types/errors.go
  x/claims/types/params.go
  x/erc20/handler.go
  x/erc20/keeper/evm.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/proposals.go
  x/erc20/proposal_handler.go
  x/erc20/types/errors.go
  x/erc20/types/msg.go
  x/erc20/types/proposal.go
  x/incentives/keeper/distribution.go
  x/incentives/keeper/grpc_query.go
  x/incentives/keeper/proposals.go
  x/incentives/proposal_handler.go
  x/incentives/types/errors.go
  x/recovery/keeper/ibc_callbacks.go
  x/recovery/types/errors.go
  x/revenue/handler.go
  x/revenue/keeper/evm_hooks.go
  x/revenue/keeper/msg_server.go
  x/revenue/types/errors.go
  x/revenue/types/msg.go
  x/vesting/handler.go
  x/vesting/keeper/msg_server.go
  x/vesting/types/errors.go
  x/vesting/types/msg.go
Due: app, modules, core, clients

Update CHANGELOG.md
  CHANGELOG.md
Due: none

feat(upgrade_test): added upgrades list retrieve && node jrpc pings
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/Dockerfile.init
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/node.go
  tests/e2e/upgrade/utils.go
Due: none

chore(make): remove docker-build-upgrade-init
  Makefile
Due: none

chore: go mod tidy
  go.mod
Due: none

Apply suggestions from code review
  ibc/testing/app.go
  x/ibc/transfer/keeper/keeper_test.go
Due: modules

delete unnecessary msg validation
  x/ibc/transfer/keeper/msg_server.go
Due: modules

ibc utils for erc20 middleware
  ibc/testing/app.go
  ibc/testing/chain.go
  ibc/utils.go
  ibc/utils_test.go
  types/errors.go
  types/utils.go
  types/utils_test.go
Due: core

use defined constant
  ibc/testing/app.go
Due: none

Apply suggestions from code review
  x/vesting/types/codec.go
Due: modules

apply from review
  ibc/testing/app.go
  ibc/testing/chain.go
  ibc/utils.go
  ibc/utils_test.go
  types/errors.go
  types/utils.go
Due: core

chore(build): apply shellcheck fixes
  tests/e2e/upgrade/upgrade-init.sh
Due: none

Remove stale proto-related makefile command targets
  Makefile
Due: none

Apply suggestions from code review
  ibc/utils_test.go
Due: none

fix test name
  ibc/utils_test.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

fix(upgrade_test): set default skip cleanup flag from suite
  tests/e2e/e2e_utils_test.go
Due: none

Fix protocgen script which generates the Go implementations
  scripts/protocgen.sh
Due: none

Commit changes that result from executing the fixed protocgen script
  go.mod
  go.sum
  x/revenue/types/genesis.pb.go
  x/revenue/types/query.pb.go
  x/revenue/types/revenue.pb.go
  x/revenue/types/tx.pb.go
Due: none

docs(upgrade_test): changed readme
  tests/e2e/README.md
Due: none

Add separate script to build swagger files from Protobuf
  Makefile
  scripts/protoc-swagger-gen.sh
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
