Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: some cleanup based on reviews
  precompiles/authorization/IICS20Authorization.sol
  precompiles/authorization/events.go
  precompiles/authorization/ics20_approve.go
Due: none

fix: refactor based on reviews
  precompiles/authorization/IICS20Authorization.sol
  precompiles/authorization/errors.go
  precompiles/authorization/types.go
  precompiles/ics20/approve.go
  precompiles/ics20/approve_test.go
  precompiles/ics20/common_approve.go
  precompiles/ics20/errors.go
  precompiles/ics20/integration_test.go
  precompiles/ics20/query.go
  precompiles/ics20/tx.go
  precompiles/ics20/tx_test.go
  precompiles/ics20/types.go
  precompiles/ics20/utils_test.go
Due: none

fix: spacing
  precompiles/authorization/IICS20Authorization.sol
Due: none

finish mainnet state replication for tests
  app/upgrades/v14/delegation_test.go
  app/upgrades/v14/migrations_test.go
  app/upgrades/v14/setup_test.go
  app/upgrades/v14/utils_test.go
Due: app

fix: move functions to Osmosis Outpost interface
  precompiles/outposts/osmosis/IOsmosisOutpost.sol
Due: none

add safety checks to migrations logic for bond denom and zero unbonding amount
  app/app.go
  app/upgrades/v14/migrations.go
  app/upgrades/v14/migrations_test.go
Due: app

fix: update imports, format and lint
  precompiles/outposts/osmosis/approve.go
  precompiles/outposts/osmosis/query.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

remove unnecessary pre-migration delegations entry
  app/upgrades/v14/migrations_test.go
  app/upgrades/v14/utils_test.go
Due: app

fix amount of by using NewCoins to create coins structs
  app/upgrades/v14/migrations.go
  app/upgrades/v14/migrations_test.go
  app/upgrades/v14/utils_test.go
Due: app

log errors instead of aborting migration runs
  app/upgrades/v14/migrations.go
  app/upgrades/v14/migrations_test.go
  app/upgrades/v14/utils_test.go
Due: app

adjust changelog
  CHANGELOG.md
Due: none

remove migration logic from the begin blocker
  app/app.go
Due: app

remove migration logic from the begin blocker (#1835)
  CHANGELOG.md
  app/app.go
Due: app

chore(deps): Use IAVL v0.20.1 & Fix Concurrency issue on mainnet (#1829)
  CHANGELOG.md
  go.mod
  go.sum
  gomod2nix.toml
Due: none

prepare v14.2 upgrade
  app/app.go
  app/upgrades/v14_2/constants.go
  app/upgrades/v14_2/upgrades.go
Due: app

chore(upgrade): add basic logic to prepare for v14.2 upgrade (#1836)
  app/app.go
  app/upgrades/v14_2/constants.go
  app/upgrades/v14_2/upgrades.go
Due: app

address linters
  app/upgrades/v14/migrations_test.go
  app/upgrades/v14/setup_test.go
  app/upgrades/v14/utils_test.go
Due: app

wire up memiavl
  Makefile
  app/app.go
  app/versiondb.go
  app/versiondb_placeholder.go
  cmd/evmosd/opendb/opendb.go
  cmd/evmosd/opendb/rocksdb.go
  cmd/evmosd/root.go
  cmd/evmosd/versiondb.go
  cmd/evmosd/versiondb_placeholder.go
  go.mod
  go.sum
  server/config/config.go
  server/config/toml.go
  server/start.go
Due: app

add licenses
  app/versiondb.go
  app/versiondb_placeholder.go
  cmd/evmosd/opendb/opendb.go
  cmd/evmosd/opendb/rocksdb.go
  cmd/evmosd/versiondb.go
  cmd/evmosd/versiondb_placeholder.go
Due: app

chore(upgrade): improve v14 migration tests and utilities (#1834)
  CHANGELOG.md
  app/upgrades/v14/migrations.go
  app/upgrades/v14/migrations_test.go
  app/upgrades/v14/setup_test.go
  app/upgrades/v14/utils_test.go
Due: app

Swagger 2.0 to OpenAPI 3.0 converted file (#1826)
  client/docs/swagger-ui/swagger.json
Due: none

add contract call check
  testutil/integration/utils/contracts.go
  x/evm/keeper/integration_test.go
Due: modules

run gofmt
  x/evm/keeper/integration_test.go
Due: modules

refactor test with DescribeTable
  testutil/integration/factory/factory.go
  testutil/integration/factory/types.go
  x/evm/keeper/integration_test.go
Due: modules

fix: format and lint
  precompiles/ics20/common_approve.go
  precompiles/outposts/osmosis/events.go
  precompiles/outposts/osmosis/types.go
Due: none

fix: consistency of docstrings, format and lint
  precompiles/authorization/IICS20Authorization.sol
  precompiles/ics20/common_approve.go
Due: none

fix: docstring comment
  precompiles/authorization/IICS20Authorization.sol
Due: none

fix: update Stride Outpost interface.
  precompiles/outposts/stride/StrideOutpost.sol
  precompiles/outposts/stride/abi.json
Due: none

fix: rename to LiquidStake
  precompiles/outposts/stride/events.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/tx_test.go
Due: none

fix: add new LiquidStake logic
  precompiles/outposts/stride/IStrideOutpost.sol
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/tx_test.go
  precompiles/outposts/stride/types.go
Due: none

fix: add additional events and functions for authorizations and ICS20 Transfers
  precompiles/outposts/stride/IStrideOutpost.sol
  precompiles/outposts/stride/abi.json
  precompiles/outposts/stride/events.go
  precompiles/outposts/stride/tx.go
Due: none

fix: make IBCTransfer Event globally available
  precompiles/ics20/events.go
  precompiles/ics20/tx.go
Due: none

fix: add the smart contract as sender case which needs approvals
  precompiles/outposts/stride/IStrideOutpost.sol
  precompiles/outposts/stride/abi.json
  precompiles/outposts/stride/events.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
  precompiles/outposts/stride/types.go
Due: none

fix: IBCTransfer Event takes only msg for better readability
  precompiles/ics20/events.go
  precompiles/ics20/tx.go
Due: none

fix: use new msg passing only ICS20 Transfer event function
  precompiles/outposts/stride/tx.go
Due: none

fix: apply new refactored IBCTransfer event signature
  precompiles/outposts/osmosis/events.go
  precompiles/outposts/osmosis/tx.go
Due: none

fix: refactored all the Authorization checks and Grant Updates into reusable functions
  precompiles/ics20/tx.go
  precompiles/ics20/types.go
Due: none

fix: use the newly made helper functions from the common refactor
  precompiles/outposts/stride/tx.go
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
