Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: app.go customStoreLoader
  app/app.go
Due: app

fix: execute replaced first
  app/store_loader.go
Due: app

Update app/store_loader.go
  app/store_loader.go
Due: app

fix: original plan of deleting and readding module
  app/app.go
  app/upgrades/v11/upgrades.go
  x/recovery/types/keys.go
Due: app, modules

fix linters
  app/ethante/ante_test.go
  app/ethante/fee_checker_test.go
  app/ethtest_helper.go
  app/upgrades/v11/upgrades_test.go
  tests/integration/ledger/evmosd_suite_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/statedb_test.go
  x/evm/statedb/statedb_test.go
  x/evm/types/msg_test.go
  x/evm/types/params_test.go
  x/evm/types/tx_args_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
Due: app, modules

fix fees_test
  app/ethante/fees_test.go
Due: app

fix integration_tests
  app/ethante/utils_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/utils_test.go
  x/evm/types/utils_test.go
  x/feemarket/keeper/integration_test.go
Due: app, modules

fix params_test
  x/evm/keeper/params_test.go
  x/feemarket/keeper/params_test.go
Due: modules

fix msg_test
  x/evm/types/msg_test.go
Due: modules

fix ante_test
  app/ethante/ante_test.go
Due: app

fix grpc_query_test
  x/evm/keeper/grpc_query_test.go
Due: modules

gofumpt -ed entire directory
  client/docs/statik/statik.go
  tests/integration/ledger/mocks/SECP256K1.go
  x/erc20/types/erc20.pb.go
  x/incentives/migrations/v2/types/genesis.pb.go
Due: none

fix eth_test
  app/ethante/eth_test.go
Due: app

fix keeper_test
  x/evm/keeper/keeper_test.go
  x/feemarket/keeper/keeper_test.go
Due: modules

fix benchmark_test
  x/evm/keeper/state_transition_benchmark_test.go
Due: modules

fix abic_test
  x/feemarket/keeper/abci_test.go
Due: modules

fix sigs_test
  app/ethante/sigs_test.go
Due: app

fix fee_market_test
  app/ethante/fee_market_test.go
Due: app

fix msg_server_test
  x/evm/keeper/msg_server_test.go
Due: modules

fix setup_test
  app/ethante/setup_test.go
Due: app

fix signverify_test
  app/ethante/signverify_test.go
Due: app

fix errorcheck linter issues
  x/evm/genesis_test.go
  x/evm/keeper/state_transition_test.go
  x/feemarket/keeper/eip1559_test.go
Due: modules

fix state_transition_test
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

fix stylecheck issue
  app/ethante/fees_test.go
Due: app

fix staticcheck
  x/evm/keeper/state_transition_test.go
Due: modules

gofmt
  x/evm/genesis_test.go
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559_test.go
Due: modules

run gofumpt
  app/ethante/ante_test.go
  app/ethante/eth_test.go
  app/ethante/fee_market_test.go
  app/ethante/fees_test.go
  app/ethante/setup_test.go
  app/ethante/signverify_test.go
  app/ethante/utils_test.go
  x/evm/client/cli/tx.go
  x/evm/statedb/statedb_test.go
Due: app, modules

Refactor integration tests into new context for initial test case
  x/vesting/keeper/integration_test.go
Due: modules

Reimplement AnteHandler processing to prevent unnecessarily handling invalid tx's
  app/ante/handler_options.go
  app/ante/vesting.go
  x/vesting/keeper/integration_test.go
  x/vesting/types/errors.go
Due: app, modules

Add changelog entry
  CHANGELOG.md
Due: none

Add diff to trigger linter
  docs/users/basics/gas.md
Due: none

Ethermint migration linters fixes (#1277)
  app/ethante/ante_test.go
  app/ethante/eth_test.go
  app/ethante/fee_checker_test.go
  app/ethante/fee_market_test.go
  app/ethante/fees_test.go
  app/ethante/setup_test.go
  app/ethante/signverify_test.go
  app/ethante/sigs_test.go
  app/ethante/utils_test.go
  app/ethtest_helper.go
  app/upgrades/v11/upgrades_test.go
  client/docs/statik/statik.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/mocks/SECP256K1.go
  x/erc20/types/erc20.pb.go
  x/evm/client/cli/tx.go
  x/evm/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
  x/evm/statedb/statedb_test.go
  x/evm/types/msg_test.go
  x/evm/types/params_test.go
  x/evm/types/tx_args_test.go
  x/evm/types/utils_test.go
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/params_test.go
  x/incentives/migrations/v2/types/genesis.pb.go
Due: app, modules

fix (ci/cd) implement Markdown linter line-length limit (#1255)
  .github/workflows/lint.yml
  .markdownlint.yml
Due: none

rm loader, update keys
  app/store_loader.go
  x/recovery/types/keys.go
Due: app, modules

chore(deps): bump SDK to v0.46.8-ledger
  go.mod
  go.sum
Due: none

c++
  CHANGELOG.md
Due: none

lint
  app/upgrades/v11/upgrades.go
Due: app

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
