Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: typo in burned coins metrics (#2249)
  CHANGELOG.md
  app/post/burn.go
Due: app

imp(distribution): adjust the magic number in distribution integration test to more reasonable logic (#2240)
  CHANGELOG.md
  precompiles/distribution/integration_test.go
Due: none

imp(test): remove expError
  precompiles/p256/p256_test.go
Due: none

fix(outposts): Provide timeout timestamp relative to block time (#2236)
  CHANGELOG.md
  precompiles/ics20/types.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/stride/stride.go
  precompiles/outposts/stride/tx.go
Due: none

fix: include setupRegisterCoin and add back some tests
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/utils_test.go
Due: modules

fix: include ERC20 conversion tests back
  x/erc20/keeper/integration_test.go
Due: modules

add run method for individual test cases
  precompiles/p256/p256_test.go
Due: none

remove unnecessary tc names in call to require
  precompiles/p256/p256_test.go
Due: none

update configuration for pull request labeler
  .github/labeler.yml
Due: none

fix: fix tests in precompiles
  precompiles/ics20/integration_test.go
  precompiles/outposts/stride/utils_test.go
Due: none

address linter
  .github/labeler.yml
Due: none

add changelog entry
  CHANGELOG.md
Due: none

add precompile label
  .github/labeler.yml
Due: none

remove running CI items on pushes to main
  .github/workflows/ante-benchmark.yml
  .github/workflows/auto-format.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-test.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/slither.yml
  .github/workflows/solhint.yml
  .github/workflows/super-linter.yml
Due: none

remove git diff check for CodeQL to run it everytime
  .github/workflows/codeql-analysis.yml
Due: none

fix(ci): Update configuration for pull request labeler (#2268)
  .github/labeler.yml
  CHANGELOG.md
Due: none

only run CodeQL when go or Python files are changed
  .github/workflows/codeql-analysis.yml
Due: none

fix(ci): fix CI config for required items to always run but stop when no diff (#2259)
  .github/workflows/ante-benchmark.yml
  .github/workflows/auto-format.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-test.yml
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/slither.yml
  .github/workflows/solhint.yml
  .github/workflows/super-linter.yml
  CHANGELOG.md
Due: none

chore(ci): adjust codecov settings to require 90% diff hit across the board (#2256)
  codecov.yml
Due: none

fix PR labeler to correctly place precompile label
  .github/labeler.yml
Due: none

fix: more tests refactor
  precompiles/ics20/integration_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/proposals_test.go
Due: modules

fix: comment panicked tests
  x/erc20/keeper/ibc_callbacks_integration_test.go
Due: modules

address CodeQL linter
  scripts/test_check_changelog.py
Due: none

address linters
  scripts/test_check_changelog.py
Due: none

imp(tests): Minor clean up in EIP-7212 tests (#2267)
  .github/labeler.yml
  CHANGELOG.md
  precompiles/p256/p256_test.go
Due: none

commit refactor WIP
  scripts/check_changelog.py
  scripts/test_check_changelog.py
Due: none

fix query and update tests
  x/inflation/v1/keeper/genesis_test.go
  x/inflation/v1/keeper/grpc_query_test.go
  x/inflation/v1/keeper/hooks.go
  x/inflation/v1/keeper/hooks_test.go
  x/inflation/v1/keeper/inflation.go
  x/inflation/v1/keeper/inflation_test.go
  x/inflation/v1/keeper/integration_test.go
Due: modules

fix test
  x/inflation/v1/keeper/integration_test.go
Due: modules

add docstring and update CHANGELOG
  CHANGELOG.md
  x/inflation/v1/keeper/inflation.go
Due: modules

Update x/inflation/v1/keeper/integration_test.go
  x/inflation/v1/keeper/integration_test.go
Due: modules

remove unused import
  x/inflation/v1/keeper/integration_test.go
Due: modules

fix(inflation): update query to return correct inflation value (#2269)
  CHANGELOG.md
  x/inflation/v1/keeper/genesis_test.go
  x/inflation/v1/keeper/grpc_query_test.go
  x/inflation/v1/keeper/hooks.go
  x/inflation/v1/keeper/hooks_test.go
  x/inflation/v1/keeper/inflation.go
  x/inflation/v1/keeper/inflation_test.go
  x/inflation/v1/keeper/integration_test.go
Due: modules

fix CHANGELOG conflict
  CHANGELOG.md
Due: none

fix CHANGELOG
  CHANGELOG.md
Due: none

make txType name a util function within EVM
  app/ante/evm/06_account_verification_test.go
  app/ante/evm/07_can_transfer_test.go
  app/ante/evm/suite_test.go
  testutil/integration/evmos/factory/build.go
  testutil/integration/evmos/factory/factory.go
  x/evm/types/tx_types.go
Due: app, modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
