Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

update module account test
  x/claims/keeper/abci_test.go
Due: modules

add test
  app/upgrades/v8_3/accounts.go
  app/upgrades/v8_3/upgrades.go
  app/upgrades/v8_3/upgrades_test.go
Due: app

update documentation
  x/claims/spec/03_state_transitions.md
Due: none

fix
  app/upgrades/v8_3/upgrades.go
Due: app

format comment
  x/claims/keeper/abci.go
Due: modules

Add PublicNode (#943)
  docs/developers/connect.md
Due: none

move map to slice
  app/upgrades/v8_3/accounts.go
  app/upgrades/v8_3/upgrades.go
  app/upgrades/v8_3/upgrades_test.go
Due: app

Add testnet endpoints (RPC,REST,gRPC) for Qubelabs (#955)
  docs/developers/connect.md
Due: none

move upgrade to v9
  app/app.go
  app/upgrades/v8_3/constants.go
  app/upgrades/v8_3/upgrades.go
  app/upgrades/v8_3/upgrades_test.go
  app/upgrades/v9/accounts.go
  app/upgrades/v9/constants.go
  app/upgrades/v9/upgrades.go
  app/upgrades/v9/upgrades_test.go
Due: app

Update app/upgrades/v9/constants.go
  app/upgrades/v9/constants.go
Due: app

dont halt upgrade. Check max transfer
  app/upgrades/v9/accounts.go
  app/upgrades/v9/upgrades.go
  app/upgrades/v9/upgrades_test.go
Due: app

fix ClawbackEmptyAccounts logic (#951)
  CHANGELOG.md
  x/claims/keeper/abci.go
  x/claims/keeper/abci_test.go
  x/claims/keeper/claim_test.go
  x/claims/keeper/integration_test.go
  x/claims/spec/03_state_transitions.md
  x/claims/types/claims_record.go
Due: modules

fix missing rename to revenue in spec
  x/revenue/spec/08_clients.md
Due: none

fix missing rename to revenue in spec (#956)
  x/revenue/spec/08_clients.md
Due: none

fix max recover and test
  app/upgrades/v9/accounts.go
  app/upgrades/v9/constants.go
  app/upgrades/v9/upgrades_test.go
Due: app

Upgrade handler v9 (#952)
  app/app.go
  app/upgrades/v9/accounts.go
  app/upgrades/v9/constants.go
  app/upgrades/v9/upgrades.go
  app/upgrades/v9/upgrades_test.go
Due: app

adapted find method from sdk46
  x/claims/keeper/abci.go
  x/claims/keeper/abci_test.go
Due: modules

Add Stakely Cosmos RPC and LCD
  docs/developers/connect.md
Due: none

chore: fix wrong inflation param keys and typos in x/inflation/spec/parameters.md
  x/inflation/spec/05_parameters.md
Due: none

bump ethermint version
  go.mod
  go.sum
Due: none

upgrade sdk to v0.45.9
  go.mod
  go.sum
Due: none

replace ics23 go version
  go.mod
Due: none

update go.sum
  go.sum
Due: none

update changelog
  CHANGELOG.md
Due: none

Bump SDK to v0.45.9 and Ethermint to v0.19.3 (#965)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

docs: Update inflation param keys (#966)
  x/inflation/spec/05_parameters.md
Due: none

docs: Update slashing params (#950)
  docs/validators/faq.md
Due: none

add iavl fast node config
  cmd/evmosd/root.go
Due: none

Create ss.bash
  scripts/ss.bash
Due: none

Update ss.bash
  scripts/ss.bash
Due: none

update initAppConfig
  cmd/evmosd/root.go
Due: none

add scripting for polkachu snaphots
  scripts/polkachu.bash
  scripts/polkachu/app.toml
  scripts/polkachu/config.toml
  scripts/polkachu/polkachu/app.toml
  scripts/polkachu/polkachu/config.toml
  scripts/ss.bash
Due: none

remove extras
  go.mod
  go.sum
  scripts/polkachu/polkachu/app.toml
  scripts/polkachu/polkachu/config.toml
Due: none

ibc-go v3.3.0
  go.mod
  go.sum
Due: none

Add prune command
  cmd/evmosd/root.go
Due: none
