Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: lint issue
  x/erc20/types/codec.go
Due: modules

update init func
  x/erc20/types/codec.go
Due: modules

update mergify
  .mergify.yml
Due: none

update comment
  x/erc20/types/codec.go
Due: modules

imp(erc20): add amino registration to convert Coin/ERC20 msgs for ERC712 compatibility (#677)
  .mergify.yml
  CHANGELOG.md
  x/erc20/module.go
  x/erc20/types/codec.go
  x/erc20/types/msg.go
Due: modules

specs(fees): wip concepts
  x/fees/spec/01_concepts.md
Due: none

update changelog v5.0.0 date
  CHANGELOG.md
Due: none

exclude unwanted changes in makefile
  Makefile
Due: none

update v5.0.x changelog date (#681)
  CHANGELOG.md
Due: none

release: update consensus params
  app/app.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
Due: app

changelog
  CHANGELOG.md
Due: none

fix
  app/upgrades/v5/upgrades.go
Due: app

specs(fees): improve concepts
  x/fees/spec/01_concepts.md
Due: none

specs(fees): improve state
  x/fees/spec/02_state.md
Due: none

specs(fees): improve state transistion
  x/fees/spec/03_state_transitions.md
Due: none

specs(fees): improve transactions
  x/fees/spec/04_transactions.md
Due: none

test
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

comments
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
Due: app

specs(fees): improve hooks
  x/fees/spec/05_hooks.md
Due: none

comment
  app/upgrades/v5/upgrades.go
Due: app

Update app/upgrades/v5/upgrades_test.go
  app/upgrades/v5/upgrades_test.go
Due: app

release: update consensus params (#682)
  CHANGELOG.md
  app/app.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

deps: bump ibc-go to v3.1.0
  app/app.go
  app/upgrades/v5/upgrades.go
  go.mod
  go.sum
Due: app

specs(fees): update clients
  x/fees/spec/08_clients.md
Due: none

specs(list of modules): update ethermint repo links
  x/README.md
Due: none

tests
  app/upgrades/v5/upgrades_test.go
Due: app

changelog
  CHANGELOG.md
  app/upgrades/v5/upgrades.go
Due: app

comments
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
Due: app

deps: bump ibc-go to v3.1.0 (#684)
  CHANGELOG.md
  app/app.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
  go.mod
  go.sum
Due: app

tidy
  go.sum
Due: none

upgrade(v5): add upgrade heights
  app/upgrades/v5/constants.go
Due: app

upgrade(v5): add upgrade heights (#687)
  app/upgrades/v5/constants.go
Due: app

Update ibc.md
  docs/protocol/ibc.md
Due: none

Update ibc.md (#688)
  docs/protocol/ibc.md
Due: none

docs: update release and general docs
  docs/.vuepress/config.js
  docs/developers/connect.md
  docs/protocol/ibc.md
  docs/validators/mainnet.md
  docs/validators/testnet.md
  docs/validators/upgrades/upgrades.md
Due: none

fix
  docs/validators/testnet.md
Due: none

fix link
  docs/README.md
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
