Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

Update root.go
  cmd/evmosd/root.go
Due: none

Fix voting power comparation
  diagnostic.sh
Due: none

version mismatch fix
  go.mod
  go.sum
Due: none

make versions match, use replace for draft PR
  go.mod
  go.sum
Due: none

fix shellcheck feedback
  app/upgrades/v9/constants.go
  app/upgrades/v9/upgrades.go
  app/upgrades/v9/upgrades_test.go
  cmd/evmosd/root.go
  testutil/network/util.go
Due: app

comment on GetAppVersion
  x/recovery/ibc_middleware.go
Due: modules

use ethermint's power reduction
  testutil/network/network.go
Due: none

note need to update ethermint import in go.mod
  go.mod
Due: none

chore(docs): update json rpc server setup docs (#863)
  docs/developers/json-rpc/running_server.md
Due: none

Update init_point_xnet_uranus.sh
  init_point_xnet_uranus.sh
Due: none

Inflation scripts cleanup
  scripts/jsts/inflation_schedule_30y.ts
  scripts/jsts/inflation_schedule_50y.ts
Due: none

Update submitting.md
  docs/users/governance/submitting.md
Due: none

add statesync script
  scripts/statesync.sh
Due: none

Fix diagnostic.sh
  diagnostic.sh
Due: none

minor hygiene
  cmd/evmosd/root.go
Due: none

feat(feesplit): add amino codec to x/feesplit (#859)
  CHANGELOG.md
  x/feesplit/module.go
  x/feesplit/types/codec.go
  x/feesplit/types/msg.go
Due: modules

update ethermint version
  go.mod
  go.sum
Due: none

bump ethermint version
  CHANGELOG.md
  go.mod
  go.sum
Due: none

`v8.1.0` Release (#875)
  CHANGELOG.md
  go.mod
  go.sum
  x/feesplit/module.go
  x/feesplit/types/codec.go
  x/feesplit/types/msg.go
Due: modules

add known good state sync
  scripts/ss.bash
Due: none

tidy
  go.mod
  go.sum
Due: none

Create gobetween.md
  docs/gobetween.md
Due: none

update changelog
  CHANGELOG.md
Due: none

`v8.1.0` Release changelog (#877)
  CHANGELOG.md
Due: none

add NewExtensionOptionsDecorator
  app/ante/handler_options.go
  app/app.go
Due: app

Update root.go
  cmd/pointd/root.go
Due: none

add v8.1 upgrade handler
  app/app.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_1/upgrades.go
Due: app

update constants
  app/upgrades/v8_1/constants.go
Due: app

update comment
  app/upgrades/v8_1/upgrades.go
Due: app

fix linter
  app/app.go
  app/upgrades/v8m1/constants.go
  app/upgrades/v8m1/upgrades.go
Due: app

Upgrade handler (#880)
  app/app.go
  app/upgrades/v8m1/constants.go
  app/upgrades/v8m1/upgrades.go
Due: app

peers as env vars
  scripts/ss.bash
Due: none

Update ss.bash
  scripts/ss.bash
Due: none
