Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix TestRejectMsgsInAuthz in ante tests
  app/ante/cosmos/authz_test.go
Due: app

update ibc-go dep to fix ante handler tests
  go.mod
  go.sum
Due: none

fix md lint issues
  CONTRIBUTING.md
Due: none

refactor(config): use squash tag unmarshal embedded struct
  server/config/config.go
  server/config/config_test.go
Due: none

fix: format and lint
  x/evm/keeper/precompiles.go
Due: modules

add ibc-go v7 upgrade logic
  app/app.go
  app/upgrades/v14/upgrades.go
Due: app

add tm light client registration
  app/app.go
Due: app

fix fees in SignAndDeliver test helper func
  ibc/testing/coordinator.go
Due: none

fix chainID setup in ibc tests
  app/test_helpers.go
  ibc/testing/app.go
  ibc/testing/coordinator.go
  precompiles/distribution/utils_test.go
  precompiles/ics20/utils_test.go
  precompiles/staking/utils_test.go
Due: none

fix erc20 integration test setup
  x/erc20/keeper/integration_test.go
Due: modules

update changelog date
  CHANGELOG.md
Due: none

remove unnecessary const in rpc backend test
  rpc/backend/backend.go
  rpc/backend/blocks.go
  rpc/backend/blocks_test.go
  rpc/backend/chain_info.go
  rpc/backend/chain_info_test.go
Due: none

fix rpc backend conditional
  rpc/backend/client_test.go
  rpc/backend/filters_test.go
  rpc/backend/utils.go
Due: none

fix lint issues
  ibc/testing/app.go
  ibc/testing/coordinator.go
  rpc/backend/client_test.go
  x/erc20/keeper/integration_test.go
Due: modules

fix vesting tests
  x/vesting/keeper/msg_server.go
Due: modules

update changelog
  CHANGELOG.md
Due: none

add error handling
  app/upgrades/v10/upgrades.go
Due: app

update deps based on review ci flow
  go.mod
  go.sum
Due: none

add back proto-lint command
  Makefile
Due: none

add ll to protogen
  scripts/protocgen.sh
Due: none

fix comment with local cmd
  scripts/protocgen.sh
Due: none

update buf.gen yaml
  proto/buf.gen.gogo.yaml
Due: none

add -o flag to proto gen script
  proto/buf.gen.gogo.yaml
  scripts/protocgen.sh
Due: none

Revert "add -o flag to proto gen script"
  proto/buf.gen.gogo.yaml
  scripts/protocgen.sh
Due: none

add sudo to make proto-gen in gh actions
  .github/workflows/proto.yml
Due: none

remove echo file in protogen script
  .github/workflows/proto.yml
  proto/buf.gen.gogo.yaml
  scripts/protocgen.sh
Due: none

fix curl version in dockerfile
  Dockerfile
Due: none

add some changes to fix e2e tests
  app/app.go
  app/upgrades/v14/upgrades.go
  local_node.sh
  server/flags/flags.go
  tests/e2e/e2e_test.go
  tests/e2e/init-node.sh
  tests/e2e/upgrade/Dockerfile.init
  tests/e2e/upgrade/govexec.go
Due: app

fix: tests/e2e/Dockerfile.repo to reduce vulnerabilities
  tests/e2e/Dockerfile.repo
Due: none

fix nil feemarket params for legacy blocks
  x/feemarket/keeper/params.go
Due: modules

add change doc
  CHANGELOG.md
Due: none

update test, ensure params can not be nil
  x/feemarket/keeper/params_test.go
Due: modules

remove not necessary check since bug patched in source
  x/evm/keeper/keeper.go
  x/feemarket/keeper/params.go
Due: modules

fix lint issues
  app/upgrades/v14/upgrades.go
Due: app

remove ibc transfer from module migration on upgrade
  app/upgrades/v14/upgrades.go
Due: app

ibc-transfer: register app migration from v2 to v3
  app/upgrades/v14/upgrades.go
  go.mod
  go.sum
  x/ibc/transfer/module.go
Due: app

update curl version
  Dockerfile
Due: none

update curl version (#1671)
  Dockerfile
Due: none

check if block params are nil in consensus param
  x/feemarket/keeper/eip1559.go
Due: modules

fix makefile localnet cmds
  Makefile
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
