Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

bump Ethermint v0.20.0-rc5
  CHANGELOG.md
Due: none

build (deps): bump Ethermint version to v0.20.0-rc5 (#1184)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

fix changelog
  CHANGELOG.md
Due: none

add changelog entry
  CHANGELOG.md
Due: none

correct PR number in changelog entry
  CHANGELOG.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update upgrade name
  app/upgrades/v10/constants.go
Due: app

fix(cmd): update Ledger supported algorithms to only consist of `EthSecp256k1` (#1165)
  CHANGELOG.md
  crypto/keyring/options.go
Due: core

chore: update version to v10.0.0-rc3 in upgrade name and links (#1186)
  app/upgrades/v10/constants.go
Due: app

revert default mempool back to 0
  cmd/evmosd/root.go
Due: none

prepare v10/constants.go for v10.0.0-rc4
  app/upgrades/v10/constants.go
Due: app

remove Cosmos SDK replace in go.mod
  go.mod
  go.sum
Due: none

update changelog entries
  CHANGELOG.md
Due: none

Update cmd/evmosd/root.go
  cmd/evmosd/root.go
Due: none

use v0.46.7 on cosmos sdk fork
  go.mod
  go.sum
Due: none

Revert "prepare v10/constants.go for v10.0.0-rc4"
  app/upgrades/v10/constants.go
Due: app

chore (app, deps): address open points for rc4 release (#1190)
  CHANGELOG.md
  cmd/evmosd/root.go
  go.mod
  go.sum
Due: none

fix conflicts in changelog
  CHANGELOG.md
Due: none

update release version in changelog and v10/constants.go
  CHANGELOG.md
  app/upgrades/v10/constants.go
Due: app

fix(inflation): daily epoch mint provision
  x/inflation/keeper/epoch_mint_provisions.go
  x/inflation/keeper/epoch_mint_provisions_test.go
  x/inflation/keeper/hooks.go
Due: modules

chore: APPLY REVIEW SUGGESTIONS
  tests/integration/ledger/evmosd_suite_test.go
Due: none

110 issues remaining
  app/upgrades/v9_1/upgrades_test.go
  x/claims/genesis_test.go
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
  x/epochs/keeper/keeper_test.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/msg_server_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/keeper_test.go
  x/inflation/keeper/grpc_query_test.go
  x/vesting/keeper/keeper_test.go
  x/vesting/types/clawback_vesting_account_test.go
Due: app, modules

54 issues remaining
  x/claims/keeper/claim_test.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/keeper/integration_test.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/token_pairs_test.go
  x/erc20/types/evm_test.go
  x/erc20/types/proposal_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/keeper_test.go
  x/inflation/keeper/hooks_test.go
  x/recovery/keeper/keeper_test.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/keeper_test.go
  x/revenue/keeper/params_test.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper_test.go
  x/vesting/keeper/msg_server_test.go
  x/vesting/types/schedule_test.go
Due: modules

54 issues remaining
  .golangci.yml
  x/recovery/keeper/params_test.go
  x/revenue/keeper/integration_test.go
Due: modules

adjust max-same-issues to 200
  .golangci.yml
  x/claims/keeper/abci_test.go
  x/claims/keeper/grpc_query_test.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/keeper/params_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/ibc/transfer/keeper/msg_server_test.go
  x/incentives/keeper/evm_hooks_test.go
  x/incentives/keeper/integration_test.go
  x/incentives/keeper/keeper_test.go
  x/incentives/keeper/params_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
Due: modules

more errcheck lints
  .golangci.yml
  x/claims/keeper/claim_test.go
  x/claims/keeper/grpc_query_test.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/msg_server_test.go
  x/incentives/keeper/integration_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/revenue/keeper/msg_server_test.go
Due: modules

29 errcheck lints remain
  .golangci.yml
  x/claims/keeper/claim_test.go
  x/claims/keeper/hooks_test.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
  x/claims/keeper/ibc_callbacks_test.go
  x/claims/keeper/integration_test.go
  x/claims/keeper/keeper_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/mint_test.go
  x/erc20/keeper/proposals_test.go
  x/inflation/keeper/hooks_test.go
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/keeper_test.go
  x/revenue/keeper/msg_server_test.go
  x/vesting/keeper/msg_server_test.go
Due: modules

28 errcheck lints remain
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/incentives/keeper/proposals_test.go
  x/inflation/keeper/hooks_test.go
  x/vesting/keeper/msg_server_test.go
Due: modules

24 errcheck lints remain
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/keeper_test.go
  x/revenue/keeper/integration_test.go
Due: modules

22 errcheck lints remaining
  x/erc20/keeper/ibc_callbacks_integration_test.go
Due: modules

tests fully linted
  x/claims/keeper/claim_test.go
  x/claims/keeper/hooks_test.go
  x/claims/keeper/invariants_test.go
  x/claims/keeper/keeper_test.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/params_test.go
  x/erc20/keeper/proposals_test.go
  x/incentives/keeper/proposals_test.go
  x/inflation/keeper/integration_test.go
  x/revenue/keeper/integration_test.go
Due: modules

enable metrics on local node script
  local_node.sh
Due: none

rename app
  local_node.sh
Due: none

fix version conflict
  go.mod
  go.sum
  x/claims/keeper/ibc_callbacks_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper_test.go
  x/ibc/transfer/keeper/keeper.go
  x/ibc/transfer/keeper/keeper_test.go
  x/ibc/transfer/keeper/msg_server_test.go
  x/recovery/ibc_middleware.go
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_integration_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
Due: modules

Enable metrics on `local_node.sh` (#1195)
  local_node.sh
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
