Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

imp(erc20): minor alignments between ERC20 extension and contracts (#2067)
  CHANGELOG.md
  precompiles/erc20/approve.go
  precompiles/erc20/approve_test.go
  precompiles/erc20/errors.go
  precompiles/erc20/errors_test.go
  precompiles/erc20/query.go
  precompiles/erc20/query_test.go
  precompiles/erc20/tx.go
  precompiles/erc20/tx_test.go
Due: none

fix: better integration test structure
  precompiles/werc20/integration_test.go
Due: none

run make format
  precompiles/werc20/integration_test.go
Due: none

add method to get ERC20 client
  testutil/integration/evmos/network/clients.go
  testutil/integration/evmos/network/network.go
Due: none

add gov utils to submit proposal and vote on proposal
  testutil/integration/evmos/utils/gov.go
Due: none

refactor ERC20 token pair registration
  precompiles/erc20/integration_test.go
  testutil/integration/evmos/utils/erc20.go
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

fix: add back registration of metadata in integration tests
  precompiles/werc20/integration_test.go
  testutil/integration/evmos/network/network.go
Due: none

tests(werc20): Add integration tests for WERC20 extension (#2059)
  CHANGELOG.md
  precompiles/bank/setup_test.go
  precompiles/werc20/integration_test.go
  precompiles/werc20/setup_test.go
  precompiles/werc20/testdata/WEVMOS.json
  precompiles/werc20/testdata/WEVMOS.sol
  precompiles/werc20/testdata/wevmos.go
  precompiles/werc20/utils_test.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/network/network.go
Due: none

add setup for migration tests
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
Due: none

make effective fee compatible with old ante
  app/ante/ante.go
  app/ante/evm/mono.go
Due: app

add comment
  x/evm/types/utils.go
Due: modules

fix: refactor integration testing setup for stride
  precompiles/bank/setup_test.go
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/utils_test.go
  precompiles/werc20/integration_test.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/utils/unit.go
Due: none

rev2 hook
  x/revenue/v1/types/interfaces.go
  x/revenue/v2/keeper/evm_hooks.go
Due: modules

keeper fixes
  x/revenue/v1/keeper/keeper.go
  x/revenue/v2/keeper/keeper.go
Due: modules

skip migration tests on this PR
  precompiles/erc20/integration_test.go
Due: none

remove global vars from test suite
  precompiles/erc20/integration_test.go
Due: none

fix: add gas estimation tests between the 2 WERC20s
  precompiles/werc20/integration_test.go
Due: none

fix: refactor testing for stride outpost
  precompiles/outposts/stride/events_test.go
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/tx_test.go
  precompiles/outposts/stride/utils_test.go
Due: none

fix benchmark tests
  app/ante/evm/11_gas_wanted.go
  app/ante/evm_benchmark_test.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/network.go
Due: app

run make format
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/utils/unit.go
Due: none

refactor storage and accessing of contracts data throughout tests
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
  testutil/integration/evmos/utils/erc20.go
Due: none

imp(incentives): burn incentives pool and disable logic
  app/app.go
  app/upgrades/v16/incentives.go
  app/upgrades/v16/upgrades.go
Due: app

feat(gasprice): local gas price check for transaction fees during CheckTx stage
  CHANGELOG.md
  app/ante/cosmos/min_price.go
  app/ante/cosmos/min_price_test.go
  cmd/evmosd/testnet.go
Due: app

improve benchmarking
  app/ante/evm_benchmark_test.go
Due: app

add comments
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/05_signature_verification.go
  app/ante/evm/06_account_verification.go
  app/ante/evm/07_can_transfer.go
  app/ante/evm/08_vesting.go
  app/ante/evm/09_gas_consume.go
  app/ante/evm/10_increment_sequence.go
  app/ante/evm/fee_checker.go
  app/ante/evm/mono.go
Due: app

add licenses
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/04_validate.go
  app/ante/evm/06_account_verification.go
  app/ante/evm/07_can_transfer.go
  app/ante/evm/09_gas_consume.go
Due: app

fix(tests): Add Evmos metadata to integration network and refactor Stride and Osmosis Outpost tests (#2069)
  CHANGELOG.md
  precompiles/bank/setup_test.go
  precompiles/outposts/stride/events_test.go
  precompiles/outposts/stride/setup_test.go
  precompiles/outposts/stride/tx_test.go
  precompiles/outposts/stride/utils_test.go
  precompiles/werc20/integration_test.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/utils/unit.go
Due: none

adjust metadata tests with full erc20 registration setup
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
  testutil/integration/evmos/utils/erc20.go
Due: none

fix variable name
  precompiles/distribution/distribution.go
  precompiles/erc20/erc20.go
Due: none

change rocksdb versiondb permission directory from 777 to 750
  app/db.go
Due: app

update changelog
  CHANGELOG.md
Due: none

fix panic in tests
  precompiles/erc20/integration_test.go
Due: none

update comment
  precompiles/distribution/distribution.go
  precompiles/erc20/erc20.go
  precompiles/werc20/werc20.go
Due: none

more test adjustments plus callType refactors
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
Due: none

changes to support auto cli
  app/app.go
  cmd/evmosd/init.go
  cmd/evmosd/root.go
  cmd/evmosd/testnet.go
  encoding/config.go
  go.mod
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/tx.proto
  proto/evmos/claims/v1/tx.proto
  proto/evmos/erc20/v1/tx.proto
  proto/evmos/incentives/v1/tx.proto
  proto/evmos/inflation/v1/tx.proto
  proto/evmos/recovery/v1/tx.proto
  proto/evmos/revenue/v1/tx.proto
  proto/evmos/vesting/v2/tx.proto
  tests/e2e/init-node.sh
  x/claims/module.go
  x/claims/types/tx.pb.go
  x/epochs/module.go
  x/erc20/module.go
  x/erc20/types/tx.pb.go
  x/evm/client/cli/tx.go
  x/evm/module.go
  x/evm/types/tx.pb.go
  x/feemarket/module.go
  x/feemarket/types/tx.pb.go
  x/incentives/module.go
  x/incentives/types/tx.pb.go
  x/inflation/v1/module.go
  x/inflation/v1/types/tx.pb.go
  x/recovery/module.go
  x/recovery/types/tx.pb.go
  x/revenue/v1/module.go
  x/revenue/v1/types/tx.pb.go
  x/vesting/module.go
  x/vesting/types/tx.pb.go
Due: app, modules

align metadata query errors with ERC20 contract without metadata queries implemented
  precompiles/erc20/errors.go
  precompiles/erc20/query.go
  precompiles/erc20/query_test.go
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
