Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

imp(ci): use goreleaser Github Action
  .github/workflows/goreleaser.yml
  .github/workflows/test.yml
  Makefile
  README.md
Due: none

fix yaml
  .github/workflows/goreleaser.yml
Due: none

imp(ci): use goreleaser Github Action (#720)
  .github/workflows/goreleaser.yml
  .github/workflows/test.yml
  Makefile
  README.md
Due: none

all: bump version to v6
  go.mod
  proto/evmos/claims/v1/claims.proto
  proto/evmos/claims/v1/genesis.proto
  proto/evmos/claims/v1/query.proto
  proto/evmos/epochs/v1/genesis.proto
  proto/evmos/epochs/v1/query.proto
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/genesis.proto
  proto/evmos/erc20/v1/query.proto
  proto/evmos/erc20/v1/tx.proto
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/genesis.proto
  proto/evmos/fees/v1/query.proto
  proto/evmos/fees/v1/tx.proto
  proto/evmos/incentives/v1/genesis.proto
  proto/evmos/incentives/v1/incentives.proto
  proto/evmos/incentives/v1/query.proto
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/inflation.proto
  proto/evmos/inflation/v1/query.proto
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  proto/evmos/vesting/v1/query.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
Due: none

swagger
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  third_party/proto/ethermint/evm/v1/evm.proto
  third_party/proto/ethermint/evm/v1/tx.proto
Due: none

rm file
  .dccache
Due: none

app: v6 upgrade logic
  .gitignore
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
  app/upgrades/v6/constants.go
  app/upgrades/v6/upgrades.go
  app/upgrades/v6/upgrades_test.go
Due: app

define v6 handler
  app/app.go
  app/upgrades/v5/upgrades_test.go
  app/upgrades/v6/constants.go
  app/upgrades/v6/upgrades.go
Due: app

typo
  app/app.go
Due: app

update log
  app/upgrades/README.md
  app/upgrades/v6/upgrades.go
Due: app

define upgrade heights
  app/upgrades/v6/constants.go
Due: app

update comment
  app/upgrades/v6/upgrades.go
Due: app

testing semgrep
  .github/workflows/semgrep.yml
Due: none

fix(ci): semgrep (#724)
  .github/workflows/semgrep.yml
Due: none

fixing markdown-lint issues
  docs/users/wallets/backup.md
  docs/validators/security/backup.md
  docs/validators/upgrades/rollback.md
Due: none

retooling protobuf
  Makefile
  buf.gen.yaml
  scripts/protoc-swagger-gen.sh
  scripts/protocgen.sh
  third_party/proto/google/protobuf/any.proto
Due: none

audit(fees): upfate DeployerFees and WithdrawerFees to respond with []string of contracts as common.Address (Hex)
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/fees/v1/query.proto
  x/fees/keeper/grpc_query.go
  x/fees/keeper/grpc_query_test.go
  x/fees/keeper/integration_test.go
  x/fees/types/query.pb.go
Due: modules, clients

audit(fees): rename `withdraw_address` to `withdrawer_address`
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  proto/evmos/fees/v1/fees.proto
  proto/evmos/fees/v1/query.proto
  proto/evmos/fees/v1/tx.proto
  third_party/proto/cosmos/distribution/v1beta1/query.proto
  third_party/proto/cosmos/distribution/v1beta1/tx.proto
  x/fees/client/cli/query.go
  x/fees/client/cli/tx.go
  x/fees/genesis.go
  x/fees/keeper/evm_hooks.go
  x/fees/keeper/fees.go
  x/fees/keeper/fees_test.go
  x/fees/keeper/grpc_query.go
  x/fees/keeper/grpc_query_test.go
  x/fees/keeper/integration_test.go
  x/fees/keeper/msg_server.go
  x/fees/keeper/msg_server_test.go
  x/fees/spec/02_state.md
  x/fees/spec/04_transactions.md
  x/fees/spec/06_events.md
  x/fees/spec/08_clients.md
  x/fees/types/events.go
  x/fees/types/fee.go
  x/fees/types/fees.pb.go
  x/fees/types/genesis_test.go
  x/fees/types/keys.go
  x/fees/types/msg.go
  x/fees/types/msg_test.go
  x/fees/types/query.pb.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.go
Due: modules, clients

revert config override
  cmd/evmosd/root.go
Due: none

fixed buf generator to work properly
  buf.gen.yaml
Due: none

fixed visibility of erc-20 gov props, added links
  docs/validators/governance/best_practices.md
  docs/validators/governance/overview.md
  docs/validators/governance/param_change.md
Due: none

added some visibility, fixed mdl issues
  docs/validators/governance/best_practices.md
  x/erc20/spec/README.md
Due: none

update constant
  app/upgrades/v6/constants.go
Due: app

upgrade(v6): change MainnetMinGasPrices to 20B aevmos
  app/upgrades/v5/constants.go
Due: app

app: v6 upgrade logic (#723)
  .gitignore
  app/app.go
  app/upgrades/README.md
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
  app/upgrades/v5/upgrades_test.go
  app/upgrades/v6/constants.go
  app/upgrades/v6/upgrades.go
  app/upgrades/v6/upgrades_test.go
  cmd/evmosd/root.go
Due: app

upgrade(v6): update changelog
  CHANGELOG.md
Due: none

upgrade(v6): go mod tidy
  go.mod
  go.sum
Due: none

Update x/fees/keeper/grpc_query.go
  x/fees/keeper/grpc_query.go
Due: modules, clients

release(v6): add changelog from release
  CHANGELOG.md
Due: none

release(v6): add changelog from release (#728)
  CHANGELOG.md
Due: none

release(v6): remove unshallow action in goreleaser
  .github/workflows/goreleaser.yml
Due: none

ci(goreleaser): remove unshallow action in goreleaser
  .github/workflows/goreleaser.yml
Due: none

release(v6): remove unshallow action in goreleaser (#729)
  .github/workflows/goreleaser.yml
Due: none

release(v6.0.1): update upgrade constants and changelog
  CHANGELOG.md
  app/upgrades/v6/constants.go
Due: app

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
