Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: nosec in loop
  rpc/websockets.go
Due: none

chore(migration) fix lint issues
  indexer/kv_indexer_test.go
Due: none

fix: gosec errors
  rpc/ethereum/pubsub/pubsub.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/websockets.go
Due: none

chore(migration) add server pkg
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/flags/flags.go
  server/indexer_cmd.go
  server/indexer_service.go
  server/json_rpc.go
  server/start.go
  server/util.go
Due: none

chore(migration): add indexer (#1323)
  indexer/kv_indexer.go
  indexer/kv_indexer_test.go
Due: none

docs: Update grpc port (#1321)
  docs/developers/connect.md
Due: none

chore(migration) add comments to config consts
  server/config/config.go
Due: none

chore(migration) add comment to config const
  server/config/config.go
Due: none

chore(migration) add ethermint types
  types/account.go
  types/account_test.go
  types/benchmark_test.go
  types/block.go
  types/chain_id.go
  types/chain_id_test.go
  types/codec.go
  types/coin.go
  types/dynamic_fee.go
  types/gasmeter.go
  types/hdpath.go
  types/indexer.go
  types/int.go
  types/protocol.go
  types/validation.go
  types/validation_test.go
Due: core

fix: updated to v11 version of params
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/params.go
Due: modules

chore(migration): add server pkg (#1324)
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/flags/flags.go
  server/indexer_cmd.go
  server/indexer_service.go
  server/json_rpc.go
  server/start.go
  server/util.go
Due: none

fix: added missing generated proto file
  x/evm/types/evm.pb.go
Due: none

fix: fix tests
  x/evm/types/params_test.go
Due: modules

fix: fix license
  x/evm/types/params.go
Due: modules

chore: migrate "migrations" folder
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/migrations/v5/types/evm.pb.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/migrate_test.go
  x/feemarket/migrations/v4/types/feemarket.pb.go
  x/feemarket/migrations/v4/types/params.go
Due: modules

fix(evm): updated to v11.0.0 version of proto params (#1326)
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

fix: added missing params_legacy
  x/evm/types/params_legacy.go
Due: modules

chore(migration) address gosec warnings
  types/block.go
  types/int.go
Due: core

chore(migration) add comments to gasmeter funcs
  types/gasmeter.go
Due: core

fix: add types from Ethermint back
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/migrate_test.go
Due: modules

fix: added licenses
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/types/params_legacy.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/migrate_test.go
Due: modules

fix: add licenses
  x/feemarket/migrations/v4/types/params.go
Due: modules

chore(migration): add migrations to evm and feemarket (#1327)
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/migrations/v5/types/evm.pb.go
  x/evm/types/params_legacy.go
  x/feemarket/migrations/v4/migrate.go
  x/feemarket/migrations/v4/migrate_test.go
  x/feemarket/migrations/v4/types/feemarket.pb.go
  x/feemarket/migrations/v4/types/params.go
Due: modules

chore(migration) add ethermint types (#1325)
  types/account.go
  types/account_test.go
  types/benchmark_test.go
  types/block.go
  types/chain_id.go
  types/chain_id_test.go
  types/codec.go
  types/coin.go
  types/dynamic_fee.go
  types/gasmeter.go
  types/hdpath.go
  types/indexer.go
  types/int.go
  types/protocol.go
  types/validation.go
  types/validation_test.go
Due: core

add ethermint's ante handler decorators
  app/ethante/eip712.go
  app/ethante/eth.go
  app/ethante/eth_test.go
  app/ethante/fee_checker.go
  app/ethante/fee_checker_test.go
  app/ethante/fee_market.go
  app/ethante/fee_market_test.go
  app/ethante/fees.go
  app/ethante/fees_test.go
  app/ethante/handler_options.go
  app/ethante/interfaces.go
  app/ethante/reject_msgs.go
  app/ethante/setup.go
  app/ethante/setup_test.go
  app/ethante/signverify_test.go
  app/ethante/sigs_test.go
  app/ethante/sigverify.go
  app/ethante/utils_test.go
Due: app

preallocate build arguments slice
  tests/e2e/upgrade/manager.go
Due: none

fix linter issues
  app/ethante/eip712.go
  app/ethante/eth_test.go
  app/ethante/fee_checker_test.go
  app/ethante/fee_market_test.go
  app/ethante/fees_test.go
  app/ethante/handler_options.go
  app/ethante/reject_msgs.go
  app/ethante/setup_test.go
  app/ethante/signverify_test.go
  app/ethante/sigs_test.go
  app/ethante/utils_test.go
  client/docs/statik/statik.go
  tests/integration/ledger/mocks/SECP256K1.go
  x/erc20/types/erc20.pb.go
  x/incentives/migrations/v2/types/genesis.pb.go
Due: app

run specific upgrade test in Makefile command
  Makefile
Due: none

create constants.go to define variables used in upgrade tests
  tests/e2e/upgrade/constants.go
Due: none

refactor loading of upgrade params into own file and add tests
  tests/e2e/upgrade/params.go
  tests/e2e/upgrade/params_test.go
Due: none

adjust e2e suite to use refactored functions and types
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_utils_test.go
Due: none

add ethermint evm keeper
  client/docs/statik/statik.go
  tests/integration/ledger/mocks/SECP256K1.go
  x/erc20/types/erc20.pb.go
  x/evm/keeper/abci.go
  x/evm/keeper/abci_test.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/config.go
  x/evm/keeper/gas.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/integration_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/migrations.go
  x/evm/keeper/migrations_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/params.go
  x/evm/keeper/params_benchmark_test.go
  x/evm/keeper/params_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v5/types/evm.pb.go
  x/incentives/migrations/v2/types/genesis.pb.go
Due: modules, clients

update licenses
  x/evm/keeper/abci.go
  x/evm/keeper/config.go
  x/evm/keeper/gas.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/hooks.go
  x/evm/keeper/keeper.go
  x/evm/keeper/migrations.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/params.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/keeper/utils.go
Due: modules, clients

add ethermint feemarket keeper
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/integration_test.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/keeper/msg_server.go
  x/feemarket/keeper/msg_server_test.go
  x/feemarket/keeper/params.go
  x/feemarket/keeper/params_test.go
Due: modules, clients

update licenses
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/grpc_query.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/params.go
Due: modules, clients

update licenses URL
  x/feemarket/keeper/abci.go
  x/feemarket/keeper/eip1559.go
  x/feemarket/keeper/grpc_query.go
  x/feemarket/keeper/keeper.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/params.go
Due: modules, clients

update licenses URL
  x/evm/keeper/abci.go
  x/evm/keeper/config.go
  x/evm/keeper/gas.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/hooks.go
  x/evm/keeper/keeper.go
  x/evm/keeper/migrations.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/params.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/keeper/utils.go
Due: modules, clients

Fix bug blocking use of spendable balance pre-vest on EVM
  app/ante/vesting.go
  x/vesting/keeper/integration_test.go
Due: app, modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
