Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

Refactor tests to account for legacy TypedData/Extension
  app/ante/cosmos/authz_test.go
  app/ante/evm/ante_test.go
  testutil/tx/eip712.go
Due: app

Improve test code quality
  app/ante/cosmos/authz_test.go
  app/ante/evm/utils_test.go
  testutil/tx/eip712.go
Due: app

Add changelog entry
  CHANGELOG.md
Due: none

Improve test coverage and hide gosec map error
  ethereum/eip712/eip712_test.go
  ethereum/eip712/types.go
Due: none

add tests for EthGasConsumeDecorator
  app/ante/cosmos/fees_test.go
  app/ante/cosmos/utils_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/utils_test.go
Due: app

refactor setup function for staking rewards into testutil package
  app/ante/cosmos/fees_test.go
  app/ante/cosmos/utils_test.go
  app/ante/evm/eth_test.go
  app/ante/evm/utils_test.go
  testutil/staking-rewards.go
Due: app

fix test interdependency by using a cached context for each testcase
  app/ante/evm/eth_test.go
Due: app

move utility to instantiate a new state db to testutil package
  app/ante/evm/eth_test.go
  app/ante/evm/setup_test.go
  testutil/staking-rewards.go
  testutil/statedb.go
Due: app

refactor claim_rewards_test to use testutil function for testcase setup
  app/ante/evm/claim_rewards_test.go
  app/ante/evm/utils_test.go
Due: app

add option to pass multiple rewards into reward setup utility
  testutil/staking-rewards.go
Due: none

add test case that withdraws multiple rewards
  app/ante/evm/claim_rewards_test.go
Due: app

account for non-determinism in reward iteration
  app/ante/evm/claim_rewards_test.go
Due: app

remove outdated TODOs
  app/ante/cosmos/fees_test.go
Due: app

address linter
  app/ante/evm/claim_rewards_test.go
Due: app

improve comment
  app/ante/evm/claim_rewards_test.go
Due: app

address CodeQL comment
  testutil/staking-rewards.go
Due: none

tests cleanup
  app/ante/cosmos/fees_test.go
  app/ante/evm/eth_test.go
Due: app

refactor retrieval of total delegation rewards
  app/ante/evm/claim_rewards_test.go
  app/ante/evm/eth_test.go
  testutil/staking-rewards.go
Due: app

add post checks to cosmos/fees_test.go
  app/ante/cosmos/fees_test.go
Due: app

fix comments
  app/ante/cosmos/fees_test.go
Due: app

add changelog entry
  CHANGELOG.md
Due: none

Apply suggestions from code review
  README.md
Due: none

address some review comments
  app/ante/cosmos/fees.go
  app/ante/evm/claim_rewards.go
  app/ante/evm/eth.go
  app/ante/evm/interfaces.go
Due: app

rm actions and makefile cmds
  .github/workflows/build-docs.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
Due: none

makefile
  Makefile
Due: none

further refactors
  app/ante/cosmos/fees.go
  app/ante/evm/claim_rewards.go
  app/ante/evm/claim_rewards_test.go
  app/ante/evm/eth.go
  app/ante/evm/setup_test.go
Due: app

address more comments and refactors
  app/ante/ante.go
  app/ante/cosmos/fees.go
  app/ante/evm/eth.go
  app/ante/evm/interfaces.go
  app/ante/handler_options.go
  app/ante/utils/claim_rewards.go
  app/ante/utils/claim_rewards_test.go
  app/ante/utils/interfaces.go
  app/ante/utils/setup_test.go
  x/vesting/types/interfaces.go
Due: app, modules

run gofumpt
  app/ante/cosmos/fees.go
  app/ante/evm/eth.go
Due: app

chore(ci): remove MAKEFILE cmds and GA for docs (#1425)
  .github/workflows/build-docs.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
  Makefile
Due: none

address more review comments
  app/ante/ante.go
  app/ante/handler_options.go
  testutil/fund.go
Due: app

remove unnecessary comments
  app/ante/utils/claim_rewards_test.go
Due: app

avoid calling bondDenom twice
  app/ante/utils/claim_rewards.go
  app/ante/utils/claim_rewards_test.go
Due: app

changelog
  CHANGELOG.md
  app/app.go
  x/revenue/v1/genesis_test.go
Due: app, modules

rm scripts
  scripts/buf-generate-docs.sh
Due: none

rm README
  x/README.md
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
