Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

chore(tests) update init script to set memIAVL disabled as default
  tests/e2e/init-node.sh
Due: none

wip - add build with rocksdb
  nix/default.nix
  nix/evmos-rocksdb.nix
  nix/rocksdb.nix
  tests/nix_tests/shell.nix
Due: none

chore: add support for memIAVL + versionDB (#1842)
  CHANGELOG.md
  Makefile
  app/app.go
  app/baseapp.go
  app/db.go
  app/db_placeholder.go
  app/keys.go
  cmd/evmosd/opendb/opendb.go
  cmd/evmosd/opendb/rocksdb.go
  cmd/evmosd/root.go
  cmd/evmosd/versiondb.go
  cmd/evmosd/versiondb_placeholder.go
  go.mod
  go.sum
  gomod2nix.toml
  local_node.sh
  server/config/config.go
  server/config/toml.go
  server/start.go
Due: app

imp: remove `crisis` module in v15 upgrade (#1847)
  CHANGELOG.md
  app/app.go
  app/export.go
  app/upgrades/v15/constants.go
  app/upgrades/v15/upgrades.go
Due: app

chore(deps): Use IAVL v0.20.1 & Fix Concurrency issue on mainnet (#1829)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

fix(ante): handle zero fee case on evm transactions (#1753)
  CHANGELOG.md
  app/ante/evm/eth.go
  app/ante/evm/eth_test.go
  app/ante/evm/utils_test.go
  tests/nix_tests/configs/zero-fee.jsonnet
  tests/nix_tests/test_zero_fee.py
Due: app

fix(consensus): fix the problem when setting the genesis.json file consensus_params.block.max_gas=-1 (#1740)
  CHANGELOG.md
  types/block.go
Due: core

fix conflicts
  CHANGELOG.md
Due: none

fix conflicts
  CHANGELOG.md
  go.sum
Due: none

fix conflicts
  CHANGELOG.md
  app/app.go
  app/upgrades/v15/constants.go
  app/upgrades/v15/upgrades.go
Due: app

fix(testnet): remove the crisis module causing an error when using the `evmosd testnet init-files` command (#1857)
  CHANGELOG.md
  Makefile
  client/testnet.go
  cmd/evmosd/testnet.go
Due: none

fix conflicts
  CHANGELOG.md
  go.mod
  go.sum
Due: none

chore: add default memIAVL config
  server/config/config.go
Due: none

chore(tests) update init script to set memIAVL disabled as default (#1884)
  tests/e2e/init-node.sh
Due: none

add constants
  server/config/config.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

fix lint issues
  server/config/config.go
Due: none

fix conflicts
  app/app.go
Due: app

go mod tidy
  go.mod
  go.sum
Due: none

fix(staking): return single struct responses for queries (#1734)
  CHANGELOG.md
  precompiles/staking/Staking.sol
  precompiles/staking/abi.json
  precompiles/staking/integration_test.go
  precompiles/staking/query.go
  precompiles/staking/query_test.go
  precompiles/staking/testdata/StakingCaller.json
  precompiles/staking/testdata/StakingCaller.sol
  precompiles/staking/types.go
Due: none

fix conflicts
  precompiles/staking/testdata/StakingCaller.json
Due: none

add make cmd
  Makefile
Due: none

fix style
  server/config/config.go
Due: none

chore: add default memIAVL config (#1893)
  CHANGELOG.md
  server/config/config.go
Due: none

update gomod2nix
  gomod2nix.toml
Due: none

change function name + split signature
  precompiles/ics20/tx.go
  precompiles/ics20/types.go
Due: none

fix: regenerate ABI
  precompiles/staking/testdata/StakingCaller.json
Due: none
