Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

fix: add the conversion from ERC20 to IBC voucher denom so it can be retrieved correctly
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

fix: update the design to use `string` for denoms as we cannot support `address`
  precompiles/outposts/osmosis/IOsmosisOutpost.sol
  precompiles/outposts/osmosis/abi.json
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

different order of upgrade logic for local testing
  app/upgrades/v14/upgrades.go
Due: app

add ExecuteContractCall
  testutil/integration/factory/factory.go
  testutil/integration/factory/types.go
Due: none

initial suite setup
  testutil/integration/factory/factory.go
  testutil/integration/keyring/keyring.go
  x/evm/keeper/integration_test.go
Due: modules

initial integration
  app/ante/evm/setup_test.go
  app/ante/handler_options.go
  app/ante/handler_options_test.go
  app/app.go
  app/block-sdk/interfaces.go
  app/block-sdk/signer_extraction_adapter.go
  app/block-sdk/signer_extraction_adapter_test.go
  go.mod
  go.sum
  x/claims/keeper/integration_test.go
Due: app, modules

block-sdk test suite
  app/app.go
  tests/e2e/block-sdk/block_sdk_test.go
  tests/e2e/block-sdk/go.mod
  tests/e2e/block-sdk/go.sum
Due: app

fix: run formatter and linter
  precompiles/outposts/osmosis/events.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

fix: add approval transaction and process for using contract address as sender to the Swap function
  precompiles/outposts/osmosis/IOsmosisOutpost.sol
  precompiles/outposts/osmosis/abi.json
  precompiles/outposts/osmosis/events.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

fix: added approve.go
  precompiles/outposts/osmosis/approve.go
Due: none

support contract call
  testutil/integration/factory/factory.go
  testutil/integration/keyring/keyring.go
  x/evm/keeper/integration_test.go
Due: modules

remove duplicated tests
  x/evm/keeper/integration_test.go
Due: modules

fix: refactor ICS20 extension extracting the common authorization into it's own interface and functions associated with them
  precompiles/authorization/IICS20Authorization.sol
  precompiles/authorization/errors.go
  precompiles/authorization/events.go
  precompiles/authorization/ics20_approve.go
  precompiles/authorization/types.go
  precompiles/common/types.go
  precompiles/ics20/ICS20I.sol
  precompiles/ics20/IICS20.sol
  precompiles/ics20/abi.json
  precompiles/ics20/approve.go
  precompiles/ics20/approve_test.go
  precompiles/ics20/errors.go
  precompiles/ics20/events.go
  precompiles/ics20/events_test.go
  precompiles/ics20/integration_test.go
  precompiles/ics20/query.go
  precompiles/ics20/tx.go
  precompiles/ics20/tx_test.go
  precompiles/ics20/types.go
  precompiles/ics20/utils_test.go
  precompiles/testutil/contracts/InterchainSender.sol
Due: none

fix: remove Allocation definition from this interface
  precompiles/ics20/IICS20.sol
Due: none

fix: add license and make function private
  precompiles/authorization/ics20_approve.go
  precompiles/authorization/types.go
Due: none

some test structure
  x/evm/keeper/integration_test.go
Due: modules

fix: add Approve tx
  precompiles/outposts/osmosis/IOsmosisOutpost.sol
  precompiles/outposts/osmosis/abi.json
  precompiles/outposts/osmosis/approve.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

fix: add another ICS20 Authorization interface that will never change between implementations.
  precompiles/authorization/IICS20Authorization.sol
  precompiles/authorization/ics20_approve.go
  precompiles/ics20/approve.go
  precompiles/ics20/tx.go
Due: none

fix: add another ICS20 Authorization interface that will never change between implementations.
  precompiles/outposts/osmosis/approve.go
Due: none

feat: add allowance query
  precompiles/outposts/osmosis/query.go
Due: none

commit WIP for migration tests
  app/upgrades/v14/migrations_test.go
Due: app

commit WIP for creating zero token delegations
  app/upgrades/v14/delegation_test.go
Due: app

feat: added increase / decrease allowance and revoke transaction
  precompiles/outposts/osmosis/IOsmosisOutpost.sol
  precompiles/outposts/osmosis/abi.json
  precompiles/outposts/osmosis/approve.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/types.go
Due: none

Apply suggestions from code review
  precompiles/authorization/IICS20Authorization.sol
  precompiles/authorization/events.go
  precompiles/authorization/ics20_approve.go
  precompiles/authorization/types.go
Due: none

Update CHANGELOG.md (#1796)
  CHANGELOG.md
Due: none

Update local_node.sh
  local_node.sh
Due: none

imp(tests): improvements to local node script (#1805)
  local_node.sh
Due: none

chore: update docker dep
  Dockerfile
Due: none

chore: update docker dep (#1813)
  Dockerfile
Due: none

fix simulate erros
  testutil/integration/factory/factory.go
  x/evm/keeper/integration_test.go
Due: modules

fix linter
  x/evm/keeper/integration_test.go
Due: modules

add license
  x/evm/keeper/integration_test.go
Due: modules

imp(evm): remove unnecessary repeated checks of EnableCreate and EnableCall when executing evm transaction
  CHANGELOG.md
  x/evm/keeper/state_transition.go
Due: modules

chore: update changelog.md
  CHANGELOG.md
Due: none

fix tx generation issue on evm
  x/evm/keeper/statedb_test.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg.go
Due: modules

add legacytx and accessslit test
  testutil/integration/factory/factory.go
  x/evm/keeper/integration_test.go
Due: modules

feat: erc20 logic
  x/erc20/keeper/evm.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/precompile.go
  x/erc20/keeper/proposals.go
  x/erc20/types/interfaces.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

skip registration if already done
  x/erc20/keeper/precompile.go
  x/erc20/types/interfaces.go
  x/evm/types/params.go
Due: modules

add authz msg test
  tests/nix_tests/cosmoscli.py
  tests/nix_tests/test_patches.py
  tests/nix_tests/utils.py
Due: none
