Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

Added Changelog entry
  CHANGELOG.md
Due: none

fix: update address for testnet reward
  app/upgrades/v11/accounts.go
Due: app

fix: added Ethermint params upgrade fix (#1242)
  CHANGELOG.md
  app/app.go
  go.mod
  go.sum
Due: app

fix: update participant address for testnet reward (#1246)
  app/upgrades/v11/accounts.go
Due: app

changelog
  CHANGELOG.md
  go.mod
  go.sum
Due: none

changelog
  CHANGELOG.md
Due: none

update const
  app/upgrades/v11/constants.go
Due: app

Remove basics enumerations; rename Mechanics
  docs/users/basics/gas.md
Due: none

fix: markdown format
  docs/users/governance/process.md
Due: none

chore(upgrade): release v11-rc1 (#1247)
  CHANGELOG.md
  app/upgrades/v11/constants.go
  go.mod
  go.sum
Due: app

use safer consensus
  go.mod
  go.sum
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

golangci-lint run ./... --fix
  x/claims/migrations/v3/migrate_test.go
  x/erc20/migrations/v3/migration_test.go
  x/incentives/migrations/v2/migrate_test.go
  x/inflation/keeper/integration_test.go
  x/inflation/migrations/v2/migrate_test.go
  x/inflation/migrations/v3/migrate_test.go
  x/recovery/migrations/v2/migrate_test.go
  x/revenue/migrations/v2/migrate_test.go
Due: modules

Update x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/evm_hooks_test.go
Due: modules

cleanup pr
  app/ante/utils_test.go
  app/upgrades/v11/upgrades_test.go
  x/claims/keeper/ibc_callbacks_ibc_suite_test.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper_test.go
  x/inflation/keeper/integration_test.go
  x/revenue/keeper/keeper_test.go
Due: app, modules

address @gatom22 review
  x/claims/keeper/ibc_callbacks_test.go
Due: modules

fix: use informal tendermint (#1248)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

chore(docs): update minimum deposit amount (#1238)
  docs/users/governance/best_practices.md
  docs/users/governance/process.md
  docs/users/governance/submitting.md
Due: none

Update connect.md with MMS endpoints (#1244)
  docs/developers/connect.md
Due: none

fix typos, formatting and use semantic line breaks for readibility in the code editor and better VCS
  docs/developers/guides/cosmos_coin_registration.md
Due: none

address markdown lint comment
  docs/developers/guides/cosmos_coin_registration.md
Due: none

migrate ante
  app/ante/ante.go
  app/ante/handler_options.go
  app/ethante/ante.go
  app/ethante/ante_test.go
  app/ethante/eip712.go
  app/ethante/eth.go
  app/ethante/eth_test.go
  app/ethante/fee_checker.go
  app/ethante/fee_checker_test.go
  app/ethante/fee_market.go
  app/ethante/fee_market_test.go
  app/ethante/fees.go
  app/ethante/fees_test.go
  app/ethante/handler_options.go
  app/ethante/interfaces.go
  app/ethante/reject_msgs.go
  app/ethante/setup.go
  app/ethante/setup_test.go
  app/ethante/signverify_test.go
  app/ethante/sigs_test.go
  app/ethante/sigverify.go
  app/ethante/utils_test.go
Due: app

fix tx/cli
  x/evm/client/cli/tx.go
Due: modules

imp (docs): improve cosmos coin registration guide (#1249)
  docs/developers/guides/cosmos_coin_registration.md
Due: none

fix(upgrade): add account number and sequence to migrated escrow accounts
  app/upgrades/v11/upgrades.go
  app/upgrades/v11/upgrades_test.go
Due: app

fix(upgrade): small changes
  app/upgrades/v11/upgrades_test.go
Due: app

fix(upgrade): fix linting issues
  app/upgrades/v11/upgrades.go
  app/upgrades/v11/upgrades_test.go
Due: app

fix(upgrade) add changelog entry
  CHANGELOG.md
Due: none

fix(upgrade) apply review comments
  app/upgrades/v11/upgrades_test.go
Due: app

fix double error register
  x/evm/types/errors.go
Due: modules

add comment
  x/evm/types/errors.go
Due: modules

Update proto/evmos/feemarket/v1/genesis.proto
  proto/evmos/feemarket/v1/genesis.proto
Due: none

Update proto/evmos/feemarket/v1/query.proto
  proto/evmos/feemarket/v1/query.proto
Due: none

remove uncommented code
  x/evm/client/cli/tx.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
