Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

Revert "chore(migration) replace aphoton for aevmos on tests"
  app/ante/evm/utils_test.go
  indexer/kv_indexer_test.go
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
  rpc/types/utils.go
  server/flags/flags.go
  server/start.go
  x/claims/keeper/integration_test.go
  x/evm/handler_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/types/msg_test.go
Due: app, modules

gix grpc tests
  x/evm/keeper/grpc_query_test.go
  x/evm/types/params.go
Due: modules

fix lint
  rpc/backend/account_info.go
  rpc/backend/mocks/evm_query_client.go
  rpc/backend/mocks/feemarket_query_client.go
  x/erc20/types/msg.go
  x/evm/types/msg.go
Due: modules

imp(e2e): Added initial setup for testing queries on E2E tests
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/upgrade/queryexec.go
Due: none

Update x/evm/keeper/keeper.go
  x/evm/keeper/keeper.go
Due: modules

docs: Add BlockSpaces to RPC endpoint providers (#1347)
  docs/developers/connect.md
Due: none

imp (tests): fix upgrade tests local build + improve behaviour (#1340)
  Makefile
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/e2e_utils_test.go
  tests/e2e/upgrade/constants.go
  tests/e2e/upgrade/manager.go
  tests/e2e/upgrade/params.go
  tests/e2e/upgrade/params_test.go
Due: none

fix: revert error keys back
  types/errors.go
  x/evm/types/errors.go
Due: modules, core

impv: add queries test for each module command that doesn't require arguments
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
Due: none

impv: added logging for better readability
  tests/e2e/e2e_suite_test.go
Due: none

chore(tests): refactor fee_checker tests
  app/ante/evm/fee_checker_test.go
  x/evm/types/params.go
Due: app, modules

chore(migration) rename imports and variables
  app/ante/cosmos/eip712.go
  app/ante/cosmos/utils_test.go
  app/ante/evm/eth.go
  app/ante/evm/eth_test.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_checker_test.go
  app/ante/handler_options_test.go
  app/app.go
  cmd/config/config.go
  cmd/evmosd/genaccounts.go
  cmd/evmosd/root.go
  cmd/evmosd/testnet.go
  crypto/hd/algorithm_test.go
  crypto/hd/benchmark_test.go
  encoding/codec/codec.go
  ibc/testing/app.go
  rpc/types/utils.go
  server/flags/flags.go
  server/start.go
Due: app, core

chore (tests): replace denom to aevmos on rpc/backend test
  rpc/backend/backend_suite_test.go
  rpc/backend/call_tx_test.go
  rpc/backend/node_info_test.go
  rpc/backend/sign_tx_test.go
  rpc/backend/tracing_test.go
Due: none

chore(tests) refactor denom on kv_indexer_test
  indexer/kv_indexer_test.go
Due: none

chore(tests) replace denom on evm module tests
  app/ante/evm/utils_test.go
  x/evm/handler_test.go
  x/evm/keeper/state_transition_test.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/types/msg_test.go
Due: app, modules

chore(tests): refactor claims_test
  x/claims/keeper/integration_test.go
Due: modules

imp(evm): StateDB Context
  x/evm/statedb/statedb.go
Due: modules

changelog
  CHANGELOG.md
Due: none

imp(evm): StateDB Context (#1354)
  CHANGELOG.md
  x/evm/statedb/statedb.go
Due: modules

chore(evm): remove vm package
  app/ante/ante.go
  app/ante/cosmos/interfaces.go
  app/ante/cosmos/min_price.go
  app/ante/evm/eth.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_checker_test.go
  app/ante/evm/fee_market.go
  app/ante/evm/fees.go
  app/ante/evm/interfaces.go
  app/ante/evm/setup.go
  app/ante/evm/sigverify.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/vm/geth/geth.go
  x/evm/vm/geth/precompiles.go
  x/evm/vm/interface.go
Due: app, modules

lint
  app/ante/evm/interfaces.go
Due: app

chore(evm): remove vm package (#1355)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/cosmos/interfaces.go
  app/ante/cosmos/min_price.go
  app/ante/evm/eth.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_checker_test.go
  app/ante/evm/fee_market.go
  app/ante/evm/fees.go
  app/ante/evm/interfaces.go
  app/ante/evm/setup.go
  app/ante/evm/sigverify.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/vm/geth/geth.go
  x/evm/vm/geth/precompiles.go
  x/evm/vm/interface.go
Due: app, modules

imp(evm): update params
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  x/claims/types/claims.pb.go
  x/claims/types/genesis.pb.go
  x/claims/types/query.pb.go
  x/claims/types/tx.pb.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/query.pb.go
  x/erc20/types/tx.pb.go
  x/evm/keeper/state_transition.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/tracer.go
  x/incentives/types/genesis.pb.go
  x/incentives/types/incentives.pb.go
  x/incentives/types/query.pb.go
  x/incentives/types/tx.pb.go
  x/inflation/types/genesis.pb.go
  x/inflation/types/inflation.pb.go
  x/inflation/types/query.pb.go
  x/inflation/types/tx.pb.go
  x/recovery/types/genesis.pb.go
  x/recovery/types/query.pb.go
  x/recovery/types/tx.pb.go
  x/revenue/types/genesis.pb.go
  x/revenue/types/query.pb.go
  x/revenue/types/revenue.pb.go
  x/revenue/types/tx.pb.go
  x/vesting/types/query.pb.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Due: modules

define keeper funcs
  x/evm/keeper/keeper.go
  x/evm/keeper/precompiles.go
  x/evm/keeper/state_transition.go
  x/evm/types/params.go
Due: modules

util funcs
  x/evm/keeper/keeper.go
  x/evm/keeper/precompiles.go
Due: modules

update app.go
  app/app.go
  x/evm/keeper/keeper.go
  x/evm/keeper/precompiles.go
Due: app, modules

Update x/evm/types/msg.go
  x/evm/types/msg.go
Due: modules

refactor fee_checker
  app/ante/evm/fee_checker.go
Due: app

add uint64 overflow unit test
  x/evm/types/msg_test.go
Due: modules

fix(ante): gosec issues (#1332)
  app/ante/evm/fee_checker.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
Due: app, modules

fix: merge main and migrate ethermint deps, fix lint
  go.mod
  testutil/integration.go
  x/vesting/keeper/integration_test.go
  x/vesting/keeper/keeper_test.go
Due: modules

chore(tests) add fees on claims keeper tests
  cmd/config/config.go
  server/start.go
  x/claims/keeper/integration_test.go
Due: modules

chore(tests) fix inflation keeper tests
  x/inflation/keeper/grpc_query_test.go
  x/inflation/keeper/inflation_test.go
  x/inflation/keeper/integration_test.go
Due: modules

chore(tests) fix lint issues
  cmd/config/config.go
  server/start.go
Due: none

fix changelog
  CHANGELOG.md
  app/app.go
Due: app

fix
  CHANGELOG.md
Due: none

fix(app): implement hard fork logic for v11.1.0
  app/forks.go
  app/upgrades/v11_1/constants.go
Due: app

update changelog
  CHANGELOG.md
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
