Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

analytics(app): add amount telemetry for relevant modules
  docs/protocol/telemetry.md
  x/erc20/keeper/msg_server.go
  x/incentives/keeper/distribution.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/recovery/keeper/ibc_callbacks.go
Due: modules

analytics(app): update specs
  docs/protocol/telemetry.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

analytics(app): replace total incentives telemetry with one that counts per incentive
  docs/protocol/telemetry.md
  x/incentives/keeper/distribution.go
Due: modules

update readme
  tests/e2e/README.md
Due: none

fix(vesting): Remove incorrect vesting command (#643)
  CHANGELOG.md
  x/vesting/client/cli/tx.go
Due: modules

analytics(app): move incentives rewards telemetry to include participants
  docs/protocol/telemetry.md
  x/incentives/keeper/distribution.go
Due: modules

analytics(app): add telemetry for gas used on eth txs with incentivized contracts
  docs/protocol/telemetry.md
  x/incentives/keeper/evm_hooks.go
Due: modules

analytics(app): add missing telemetry
  docs/protocol/telemetry.md
  x/erc20/keeper/msg_server.go
  x/inflation/keeper/hooks.go
  x/recovery/keeper/ibc_callbacks.go
Due: modules

analytics(app): move changelog to api breaking
  CHANGELOG.md
Due: none

analytics(app): move total incentives rewards telemetry one level up
  x/incentives/keeper/distribution.go
  x/inflation/keeper/inflation.go
Due: modules

fix specs
  docs/protocol/telemetry.md
Due: none

fix broken test
  x/incentives/keeper/distribution.go
Due: modules

analytics(app): add telemetry to Evmos modules (#637)
  CHANGELOG.md
  app/app.go
  docs/.vuepress/config.js
  docs/protocol/telemetry.md
  go.mod
  go.sum
  x/erc20/keeper/msg_server.go
  x/incentives/keeper/distribution.go
  x/incentives/keeper/distribution_test.go
  x/incentives/keeper/epoch_hooks.go
  x/incentives/keeper/evm_hooks.go
  x/inflation/keeper/hooks.go
  x/inflation/keeper/inflation.go
  x/inflation/keeper/inflation_test.go
  x/recovery/keeper/ibc_callbacks.go
Due: app, modules

addd order to the snapshots page
  docs/validators/faq.md
  docs/validators/snapshots_archives.md
Due: none

specs(telemetry): add ethermint endpoints
  docs/protocol/telemetry.md
Due: none

specs(telemetry): add ethermint endpoints (#645)
  docs/protocol/telemetry.md
Due: none

Apply suggestions from code review
  docs/validators/snapshots_archives.md
Due: none

docs: add snapshots and archives (#638)
  docs/.vuepress/config.js
  docs/validators/faq.md
  docs/validators/snapshots_archives.md
Due: none

imp(fees): revert MinGasPrices param
  app/ante/fees.go
  app/ante/fees_test.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/app.go
  go.mod
  go.sum
  proto/evmos/fees/v1/genesis.proto
  x/fees/keeper/integration_test.go
  x/fees/spec/01_concepts.md
  x/fees/spec/03_state_transitions.md
  x/fees/spec/07_parameters.md
  x/fees/types/params.go
  x/fees/types/params_test.go
Due: app, modules

fix build
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  x/fees/types/genesis.pb.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.gw.go
Due: none

changelog rm entry
  CHANGELOG.md
Due: none

lint
  docs/protocol/proto-docs.md
Due: none

fix test
  x/fees/types/params_test.go
Due: modules

fix: old defaul value removed
  x/fees/types/params.go
Due: modules

fix: old defaul value removed (#648)
  x/fees/types/params.go
Due: modules

imp(fees): revert `MinGasPrices` param (#647)
  CHANGELOG.md
  app/ante/fees.go
  app/ante/fees_test.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  app/app.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/protocol/proto-docs.md
  go.mod
  go.sum
  proto/evmos/fees/v1/genesis.proto
  x/fees/keeper/integration_test.go
  x/fees/spec/01_concepts.md
  x/fees/spec/03_state_transitions.md
  x/fees/spec/07_parameters.md
  x/fees/types/genesis.pb.go
  x/fees/types/params.go
  x/fees/types/params_test.go
  x/fees/types/query.pb.gw.go
  x/fees/types/tx.pb.gw.go
Due: app, modules

revert script change
  scripts/protocgen.sh
Due: none

go mod tidy
  go.mod
  go.sum
Due: none

update mdlintignore
  .markdownlintignore
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS (#650)
  .github/CODEOWNERS
Due: none

app: v5 upgrade handler
  app/app.go
  app/upgrades/v5/constants.go
  app/upgrades/v5/upgrades.go
Due: app

imp
  app/upgrades/v5/upgrades.go
Due: app

ante: add and reorder ante handlers
  app/ante/handler_options.go
Due: app
