Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

bash and ++ instead of += 1
  app/ante/utils_test.go
  scripts/proto-tools-installer.sh
Due: app

Denom fix to point
  app/upgrades/v5/upgrades.go
  cmd/config/config.go
  config.yml
  init_point2.sh
  x/claims/types/params.go
Due: app, modules

deps: bump ibc-go and Cosmos SDK (#839)
  CHANGELOG.md
  go.mod
  go.sum
  x/claims/keeper/params.go
  x/erc20/keeper/params.go
  x/feesplit/keeper/params.go
  x/incentives/keeper/params.go
  x/inflation/keeper/params.go
  x/recovery/keeper/params.go
Due: modules

bump ethermint version
  go.mod
Due: none

update go mod
  go.mod
  go.sum
Due: none

fix test utils
  testutil/network/util.go
Due: none

fix lint
  app/ante/doc.go
  app/ante/vesting.go
  app/export.go
  app/forks.go
  ibc/utils.go
  x/claims/keeper/claim.go
  x/erc20/client/cli/utils.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/msg_server.go
  x/incentives/client/cli/tx.go
  x/incentives/keeper/distribution.go
  x/recovery/keeper/ibc_callbacks.go
  x/vesting/client/cli/utils.go
Due: app, modules

Update super-linter.yml
  .github/workflows/super-linter.yml
Due: none

fix markdownlint
  .markdownlint.yml
Due: none

fumpt and add .yamllint
  .yamllint
  app/ante/doc.go
  app/ante/vesting.go
  app/export.go
  app/forks.go
  client/docs/statik/statik.go
  ibc/utils.go
  x/claims/keeper/claim.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/msg_server.go
  x/erc20/types/erc20.pb.go
  x/incentives/client/cli/tx.go
  x/incentives/keeper/distribution.go
  x/recovery/keeper/ibc_callbacks.go
Due: app, modules

configure super linter (#846)
  .github/workflows/super-linter.yml
  .markdownlint.yml
  .yamllint
  app/ante/doc.go
  app/ante/vesting.go
  app/export.go
  app/forks.go
  client/docs/statik/statik.go
  ibc/utils.go
  x/claims/keeper/claim.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/mint.go
  x/erc20/keeper/msg_server.go
  x/erc20/types/erc20.pb.go
  x/incentives/client/cli/tx.go
  x/incentives/keeper/distribution.go
  x/recovery/keeper/ibc_callbacks.go
Due: app, modules

fix tests
  x/claims/keeper/integration_test.go
  x/feesplit/keeper/integration_test.go
Due: modules

gofumpt
  client/docs/statik/statik.go
  x/erc20/client/cli/tx.go
  x/incentives/client/cli/tx.go
  x/vesting/client/cli/utils.go
Due: modules

fix hooks.go issue
  x/claims/keeper/hooks.go
Due: modules

.golangci.yml
  .golangci.yml
Due: none

keyring file init_point2.sh
  init_point2.sh
Due: none

Address prefix to point in progress
  cmd/config/config.go
  config.yml
  init_point2.sh
Due: none

refactor with buildTx method from ethermint
  x/claims/keeper/integration_test.go
  x/feesplit/keeper/integration_test.go
Due: modules

bump ethermint version (#845)
  go.mod
  go.sum
  testutil/network/util.go
  x/claims/keeper/integration_test.go
  x/erc20/client/cli/utils.go
  x/feesplit/keeper/integration_test.go
  x/vesting/client/cli/utils.go
Due: modules

add Changelog
  CHANGELOG.md
Due: none

set upgrade heights
  app/upgrades/v8/constants.go
Due: app

release: v8.0.0 changelog & upgrade heights (#848)
  CHANGELOG.md
  app/upgrades/v8/constants.go
Due: app

add changelog from v8 release
  CHANGELOG.md
Due: none

danburck/release changelog (#849)
  CHANGELOG.md
  app/upgrades/v8/constants.go
Due: app

Rename init_point2.sh to init_point_xnet_triton.sh
  init_point_xnet_triton.sh
Due: none

Update init_point_xnet_triton.sh
  init_point_xnet_triton.sh
Due: none

Change binary name to pointd
  app/app.go
  cmd/pointd/cmd_test.go
  cmd/pointd/genaccounts.go
  cmd/pointd/init.go
  cmd/pointd/main.go
  cmd/pointd/migrate.go
  cmd/pointd/root.go
  cmd/pointd/testnet.go
Due: app

Change in scripts and configs
  .goreleaser.yml
  app/app.go
  config.yml
  init.bat
  init_point_xnet_neptune.sh
  init_point_xnet_triton.sh
  testutil/network/network.go
  testutil/network/util.go
Due: app

validator.md
  validator.md
Due: none

Delete deprecated init file
  init_point_xnet_neptune.sh
Due: none

update script
  init_point2.sh
  init_point_next.sh
Due: none

Update validator.md
  validator.md
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
