Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

lint
  app/upgrades/v16/incentives.go
Due: app

add note to failing integration test
  precompiles/erc20/integration_test.go
Due: none

imp(erc20: Emit additional approval event in case of transferFrom (#2088)
  CHANGELOG.md
  precompiles/erc20/integration_test.go
  precompiles/erc20/tx.go
Due: none

tests: add more tests
  precompiles/bank/integration_test.go
  x/evm/keeper/precompiles.go
Due: modules

chore: add comment
  precompiles/staking/types.go
Due: none

fix: trace tx tests and wording
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/precompiles.go
Due: modules

Revert "remove unused functions"
  precompiles/erc20/utils_test.go
Due: none

chore(bank): Add bank to the precompile stack (#2095)
  CHANGELOG.md
  app/app.go
  precompiles/common/types.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Due: app, modules

tests(erc20): Add ERC20 query integration tests (#2081)
  CHANGELOG.md
  precompiles/erc20/integration_test.go
Due: none

remove deprecated authorized channels param
  app/upgrades/v16/upgrades.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/evm.pb.go
  x/evm/types/params.go
Due: app, modules

fix solidity tests
  tests/nix_tests/hardhat/package.json
  tests/solidity/suites/precompiles/package.json
Due: none

imp(staking): remove ByteNil
  precompiles/common/types.go
  precompiles/staking/types.go
Due: none

imp(staking): remove ByteNil
  precompiles/staking/query_test.go
Due: none

check returned results in tests
  precompiles/erc20/integration_test.go
Due: none

refactor checking returned bool
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
Due: none

tests(erc20): Add tests for ERC20 allowance transactions (#2083)
  CHANGELOG.md
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
Due: none

tests: add last of integration tests
  precompiles/bank/integration_test.go
  precompiles/bank/utils_test.go
Due: none

fix: add correct gas cost
  precompiles/bank/bank.go
Due: none

add evm store migration
  app/app.go
  app/upgrades/v16/upgrades.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/migrations.go
  x/evm/migrations/v6/migrate.go
  x/evm/migrations/v6/migrate_test.go
  x/evm/migrations/v6/types/evm.pb.go
  x/evm/module.go
Due: app, modules

make format
  x/evm/types/params.go
Due: modules

fix lint issues
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

apply review and remove unused const
  precompiles/outposts/osmosis/tx.go
Due: none

apply review comments and fixed memo validation
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types_test.go
  precompiles/outposts/osmosis/utils_test.go
Due: none

linter
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types_test.go
  precompiles/outposts/osmosis/utils_test.go
Due: none

update exp gas values
  x/evm/keeper/grpc_query_test.go
Due: modules

fix type registration
  x/evm/migrations/v6/types/evm.pb.go
Due: none

add IsEVMChannel func
  x/erc20/keeper/ibc_callbacks.go
  x/evm/types/params.go
Due: modules

fix(tests): filter solidity contracts that break compilation & remove unused functions (#2089)
  go.mod
  tests/nix_tests/hardhat/package.json
  tests/solidity/suites/precompiles/hardhat.config.js
  tests/solidity/suites/precompiles/package.json
Due: none

update changelog
  CHANGELOG.md
Due: none

remove claims proto
  proto/evmos/claims/v1/claims.proto
  proto/evmos/claims/v1/genesis.proto
  proto/evmos/claims/v1/query.proto
  proto/evmos/claims/v1/tx.proto
Due: none

adjust approve behavior
  precompiles/erc20/approve.go
  precompiles/erc20/errors.go
Due: none

return maxUint256 value when querying own allowance
  precompiles/erc20/query.go
Due: none

adjust transfer method when owner is spender
  precompiles/erc20/tx.go
Due: none

adjust integration tests
  precompiles/erc20/integration_test.go
Due: none

adjust werc20 integration test to expect additional approval
  precompiles/werc20/integration_test.go
Due: none

adjust transfer from unit tests which were relying on own account transfers
  precompiles/erc20/tx_test.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

address linter
  precompiles/erc20/tx_test.go
Due: none
