Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

Use --home flag for evmosd commands to store config in temp folder
  init.sh
Due: none

Adjust keyname from 'mykey' to 'dev0' in the rest of the repo
  cmd/evmosd/cmd_test.go
  docs/developers/guides/incentives_registration.md
  docs/developers/guides/smart_contract_registration.md
  docs/developers/localnet/single_node.md
  docs/users/governance/submitting.md
  docs/users/keys/keyring.md
  docs/users/technical_concepts/accounts.md
  docs/users/wallets/backup.md
  docs/users/wallets/metamask.md
  init.bat
  scripts/integration-test-all.sh
  scripts/start-docker.sh
Due: none

Add files via upload
  networks/mainnet/acre_9052-1/gentx/CapitalMagnate.json
Due: none

Fix dead links marked by the markdown-link-check
  docs/developers/guides/incentives_registration.md
Due: none

Add path variables to improve file readability
  init.sh
Due: none

Add files via upload
  networks/mainnet/acre_9052-1/gentx/Web3ident.json
Due: none

deps: bump ethermint v0.20.0.rc2
  go.mod
  go.sum
  x/revenue/types/interfaces.go
Due: modules

Add files via upload
  networks/mainnet/acre_9052-1/gentx/MachFund.json
Due: none

docs(modulaccounts): added missing modules
  docs/protocol/moduleaccounts.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

docs(modulaccounts): added missing modules (#1038)
  docs/protocol/moduleaccounts.md
Due: none

(tests) add automatic coin conversion tests - cases: incoming coins
  x/erc20/keeper/ibc_callbacks_integration_test.go
Due: modules

imp(erc20): ibc integration tests setup (#1036)
  go.mod
  go.sum
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/keeper_test.go
Due: modules

(tests) add aevmos as bond denom in ibc testing chain
  ibc/testing/app.go
  ibc/testing/chain.go
Due: none

(test) fix send coins to corresponding address in Evmos test chain
  x/erc20/keeper/keeper_test.go
Due: modules

Added Vault Staking's gents
  networks/mainnet/acre_9052-1/gentx/VaultStaking.json
Due: none

Synergy Nodes bamboo_9051-2 gentx
  networks/testnet/bamboo_9051-2/gentx/Synergy-Nodes-bamboo_9051-2-gentx.json
Due: none

Create frenchchocolatine.json
  networks/testnet/bamboo_9051-2/gentx/frenchchocolatine.json
Due: none

Update x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/keeper/msg_server.go
Due: modules

chore: Create variable number of accounts in `init.sh` (#1032)
  cmd/evmosd/cmd_test.go
  docs/developers/guides/incentives_registration.md
  docs/developers/guides/smart_contract_registration.md
  docs/developers/localnet/single_node.md
  docs/users/governance/submitting.md
  docs/users/keys/keyring.md
  docs/users/technical_concepts/accounts.md
  docs/users/wallets/backup.md
  docs/users/wallets/metamask.md
  init.bat
  init.sh
  scripts/integration-test-all.sh
  scripts/start-docker.sh
Due: none

Create gentx-NodeStake.json for testnet
  networks/testnet/bamboo_9051-2/gentx/gentx-NodeStake.json
Due: none

deps: use ethermint ante feekeeper
  app/ante/handler_options.go
Due: app

Staketab gentx for bamboo_9051-2
  networks/testnet/bamboo_9051-2/gentx/Staketab.json
Due: none

deps: add changelog
  CHANGELOG.md
Due: none

deps: bump ethermint v0.20.0.rc2 (#1037)
  CHANGELOG.md
  app/ante/handler_options.go
  go.mod
  go.sum
  x/revenue/types/interfaces.go
Due: app, modules

deps(go): Bump to go 1.19
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  Makefile
  docs/validators/quickstart/installation.md
  docs/validators/upgrades/manual.md
  go.mod
  networks/local/evmos/Dockerfile
Due: none

add changelog
  CHANGELOG.md
Due: none

fix golangci-lint
  .golangci.yml
Due: none

Create Kalia-Network.json
  networks/testnet/bamboo_9051-2/gentx/Kalia-Network.json
Due: none

set golangci-lint-action to latest
  .github/workflows/lint.yml
Due: none

update go version in README
  README.md
Due: none

deps(go): Bump to go 1.19 (#1039)
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/validators/quickstart/installation.md
  docs/validators/upgrades/manual.md
  go.mod
  networks/local/evmos/Dockerfile
Due: none

Anonstake gentx
  networks/testnet/bamboo_9051-2/gentx/anonstake.json
Due: none

app setup
  app/app.go
  x/ibc/transfer/ibc_module.go
  x/ibc/transfer/keeper/keeper.go
  x/ibc/transfer/keeper/msg_server.go
  x/ibc/transfer/module.go
  x/ibc/transfer/types/interfaces.go
Due: app, modules

deps: backport ics23 dragonberry fix to main
  go.mod
  go.sum
Due: none

add CHANGELOG
  CHANGELOG.md
Due: none

deps: backport ics23 dragonberry fix to main (#1041)
  CHANGELOG.md
  go.mod
  go.sum
Due: none

chore: run gofumpt
  app/upgrades/v9_1/upgrades_test.go
  x/erc20/client/cli/utils_test.go
  x/erc20/keeper/integration_test.go
Due: app, modules

chore: run gofumpt (#1042)
  app/upgrades/v9_1/upgrades_test.go
  x/erc20/client/cli/utils_test.go
  x/erc20/keeper/integration_test.go
Due: app, modules

comments
  app/app.go
  x/erc20/ibc_middleware.go
  x/erc20/keeper/ibc_callbacks.go
  x/ibc/transfer/module.go
  x/ibc/transfer/types/interfaces.go
Due: app, modules
