Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

setup
  app/ante/evm/02_mempool_fee_test.go
  app/ante/evm/suite_test.go
Due: app

add test suite
  app/ante/evm.go
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/02_mempool_fee_test.go
  app/ante/evm/suite_test.go
Due: app

imp(ante): Refractor EVM ante tests and remove legacy handlers
  app/ante/evm/suite_test.go
Due: app

remove legacy decorator
  app/ante/evm.go
Due: app

imp(ante): Remove MempoolFee decorator and add tests
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/02_mempool_fee_test.go
Due: app

imp(ante): Remove legacy GlobalFee decorator and add tests
  app/ante/evm/03_global_fee.go
  app/ante/evm/03_global_fee_test.go
Due: app

remove old test
  app/ante/evm/fees_test.go
Due: app

fix lint
  app/ante/evm/03_global_fee_test.go
Due: app

add account verification tests
  app/ante/evm/06_account_verification_test.go
Due: app

factory interface
  testutil/integration/evmos/factory/factory.go
Due: none

refractor test suite
  testutil/integration/evmos/factory/broadcast.go
  testutil/integration/evmos/factory/build.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/factory/sign.go
Due: none

remove legacy decorator
  app/ante/evm/06_account_verification.go
  app/ante/evm/eth_test.go
Due: app

extend comment
  app/ante/evm/06_account_verification.go
Due: app

fix import
  testutil/integration/evmos/factory/build.go
Due: none

fix lint
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/factory/helpers.go
  testutil/integration/evmos/factory/sign.go
Due: none

fix lint
  testutil/integration/evmos/factory/helpers.go
Due: none

fix: add back code that will be spread into different PRs later
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/precompiles.go
  x/erc20/keeper/proposals.go
  x/erc20/proposal_handler.go
  x/erc20/types/proposal.go
Due: modules

fix lint
  app/ante/evm/06_account_verification_test.go
Due: app

add can transfer test and decorator
  app/ante/evm/07_can_transfer.go
  app/ante/evm/07_can_transfer_test.go
  app/ante/evm/eth_test.go
Due: app

get network chain config
  testutil/integration/evmos/network/network.go
Due: none

update imports
  testutil/integration/evmos/network/network.go
Due: none

check error
  app/ante/evm/07_can_transfer_test.go
Due: app

fix lint
  app/ante/evm/08_vesting.go
  app/ante/evm/08_vesting_test.go
  app/ante/evm/vesting_test.go
Due: app

remove neede for funding accounts
  testutil/integration/common/network/network.go
  testutil/integration/evmos/network/fund.go
  testutil/integration/evmos/network/unit_network.go
Due: none

imp(ante): Remove MempoolFee decorator and add tests (#2148)
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/02_mempool_fee_test.go
Due: app

imp(ante): Remove legacy GlobalFee decorator and add tests (#2149)
  app/ante/evm/03_global_fee.go
  app/ante/evm/03_global_fee_test.go
  app/ante/evm/fees_test.go
Due: app

fix: add new logic for callback
  ibc/utils.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/precompiles.go
  x/evm/types/params.go
Due: modules

chore(erc20): Remove evm hooks from erc20 module
  app/app.go
  x/erc20/keeper/evm_hooks.go
  x/erc20/keeper/evm_hooks_test.go
Due: app, modules

chore(erc20): Remove CLI logic for Coin conversion and registration
  x/erc20/client/cli/tx.go
  x/erc20/client/cli/utils.go
  x/erc20/client/proposal_handler.go
Due: modules

Update app/ante/evm/06_account_verification.go
  app/ante/evm/06_account_verification.go
Due: app

CHANGELOG
  CHANGELOG.md
Due: none

fix: remove from app.go
  app/app.go
Due: app

imp(ante): Remove legacy IncrementSequence decorator and add tests
  app/ante/evm/10_incremenet_sequence_test.go
  app/ante/evm/10_increment_sequence.go
Due: app

remove unused tests
  app/ante/evm/eth_test.go
Due: app

chore(erc20): Remove RegisterCoin proposal logic and related tests
  app/app.go
  proto/evmos/erc20/v1/erc20.proto
  x/erc20/client/cli/tx.go
  x/erc20/client/cli/utils.go
  x/erc20/client/cli/utils_test.go
  x/erc20/client/proposal_handler.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/proposal_handler.go
  x/erc20/types/codec.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/proposal.go
  x/erc20/types/proposal_test.go
  x/evm/migrations/v6/types/evm.pb.go
Due: app, modules

chore(erc20): Remove MsgConvertCoin and all it's related protos, types and tests.
  proto/evmos/erc20/v1/tx.proto
  x/erc20/client/cli/tx.go
  x/erc20/handler.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/setup_test.go
  x/erc20/types/codec.go
  x/erc20/types/msg.go
  x/erc20/types/msg_test.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
Due: modules

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
