Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix tests
  testutil/setup.go
  x/evm/keeper/setup_test.go
  x/feemarket/keeper/utils_test.go
Due: modules

Fix set of revision comments
  app/ante/evm/utils_test.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
Due: app

Clean up EIP712 package tests
  ethereum/eip712/eip712_fuzzer_test.go
  ethereum/eip712/eip712_test.go
Due: none

Further refactor EIP712 fuzzer test for clarity
  ethereum/eip712/eip712_fuzzer_test.go
Due: none

Refactor EIP712 implementation for clarity
  app/ante/evm/utils_test.go
  ethereum/eip712/domain.go
  ethereum/eip712/eip712_legacy.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  ethereum/eip712/message.go
  ethereum/eip712/types.go
Due: app

Update createEIP712Domain documentation comment
  ethereum/eip712/domain.go
Due: none

tests: header testutil (#1412)
  testutil/setup.go
  x/claims/keeper/utils_test.go
  x/epochs/keeper/utils_test.go
  x/erc20/keeper/utils_test.go
  x/evm/keeper/setup_test.go
  x/feemarket/keeper/utils_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/utils_test.go
  x/inflation/keeper/utils_test.go
  x/recovery/keeper/setup_test.go
  x/revenue/keeper/utils_test.go
  x/vesting/keeper/utils_test.go
Due: modules

add godoc strings
  app/ante/cosmos/fees.go
  app/ante/evm/fees.go
Due: app

chore(tests) add EIP712 tx util funcs (#1417)
  CHANGELOG.md
  app/ante/cosmos/authz_test.go
  app/ante/cosmos/setup_test.go
  app/ante/cosmos/utils_test.go
  app/ante/evm/ante_test.go
  app/ante/evm/fee_market_test.go
  app/ante/evm/utils_test.go
  testutil/abci.go
  testutil/tx/cosmos.go
  testutil/tx/eip712.go
Due: app

move setup utility for claim rewards test to utils_test.go
  app/ante/evm/claim_rewards_test.go
  app/ante/evm/utils_test.go
Due: app

check amounts in base denom when withdrawing staking rewards
  app/ante/evm/claim_rewards.go
Due: app

change to use zero commission for testing purposes
  app/ante/evm/claim_rewards_test.go
  app/ante/evm/utils_test.go
Due: app

apply changes based on review comments
  testutil/contract.go
Due: none

chore(tests) rename CosmosTxInput to CosmosTxArgs
  app/ante/cosmos/authz_test.go
  app/ante/evm/utils_test.go
  testutil/abci.go
  testutil/tx/cosmos.go
  testutil/tx/eip712.go
Due: app

update description
  testutil/tx/cosmos.go
Due: none

chore(tests): rename CosmosTxInput to CosmosTxArgs (#1420)
  app/ante/cosmos/authz_test.go
  app/ante/evm/utils_test.go
  testutil/abci.go
  testutil/tx/cosmos.go
  testutil/tx/eip712.go
Due: app

Apply suggestions from code review
  testutil/contract.go
Due: none

fix dockerfile lint issues
  tests/e2e/Dockerfile.repo
  tests/e2e/upgrade/Dockerfile.init
Due: none

fix lint issues
  testutil/contract.go
Due: none

fix nil pointer err
  testutil/contract.go
Due: none

chore(tests): refactor DeployContract func (#1408)
  CHANGELOG.md
  testutil/abci.go
  testutil/contract.go
  testutil/tx/eth.go
  x/claims/keeper/utils_test.go
  x/erc20/keeper/evm_hooks_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/setup_test.go
  x/erc20/keeper/utils_test.go
  x/ibc/transfer/keeper/keeper_test.go
  x/incentives/keeper/distribution_test.go
  x/incentives/keeper/gas_meters_test.go
  x/incentives/keeper/grpc_query_test.go
  x/incentives/keeper/incentives_test.go
  x/incentives/keeper/integration_test.go
  x/incentives/keeper/proposals_test.go
  x/incentives/keeper/setup_test.go
  x/incentives/keeper/utils_test.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/setup_test.go
  x/revenue/keeper/utils_test.go
  x/vesting/keeper/grpc_query_test.go
  x/vesting/keeper/setup_test.go
  x/vesting/keeper/utils_test.go
Due: modules

chore(imp) add fees auto flag logic (#1386)
  CHANGELOG.md
  app/ante/cosmos/min_price.go
  app/ante/cosmos/min_price_test.go
  app/ante/evm/fee_checker.go
  app/ante/evm/fee_checker_test.go
  app/ante/evm/fees.go
  server/flags/flags.go
  tests/e2e/Dockerfile.repo
  tests/e2e/e2e_suite_test.go
  tests/e2e/e2e_test.go
  tests/e2e/init-node.sh
  tests/e2e/upgrade/Dockerfile.init
  tests/e2e/upgrade/govexec.go
Due: app

fix tests
  app/ante/evm/claim_rewards_test.go
  app/ante/evm/utils_test.go
Due: app

remove logging
  app/ante/evm/claim_rewards.go
Due: app

chore(tests) update e2e test
  tests/e2e/e2e_test.go
Due: none

chore(tests) update e2e test exp err
  tests/e2e/e2e_test.go
Due: none

refactor test setup with new CosmosTxArgs struct
  app/ante/cosmos/fees_test.go
Due: app

remove unnecessary use of staking end blocker
  app/ante/evm/claim_rewards_test.go
Due: app

chore(tests) update e2e test (#1421)
  tests/e2e/e2e_test.go
Due: none

Update account.go
  types/account.go
Due: core

code cleanup and refactors
  app/ante/cosmos/fees.go
  app/ante/cosmos/fees_test.go
  app/ante/cosmos/utils_test.go
  app/ante/evm/claim_rewards_test.go
  app/ante/evm/utils_test.go
Due: app

remove unnecessary mocked ante handler
  app/ante/cosmos/authz_test.go
  app/ante/cosmos/utils_test.go
Due: app

Improve test coverage and clarity
  app/ante/evm/ante_test.go
  app/ante/evm/utils_test.go
  ethereum/eip712/eip712_fuzzer_test.go
  ethereum/eip712/eip712_test.go
Due: app

Refactor eip712/messages for clarity
  ethereum/eip712/message.go
  ethereum/eip712/types.go
Due: none

chore (ante): remove unnecessary mocked ante handler from tests (#1423)
  app/ante/cosmos/authz_test.go
  app/ante/cosmos/utils_test.go
Due: app

Improve eip712/types code clarity
  ethereum/eip712/types.go
Due: none

chore(types): fix typo from porting (#1422)
  types/account.go
Due: core

Further refactor eip712/types for clarity
  ethereum/eip712/message.go
  ethereum/eip712/types.go
Due: none

Improve eip712/types function and variable naming
  ethereum/eip712/types.go
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
