Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

commit removed file
  buf.gen.yaml
Due: none

add validator to Test Keeper erc20
  app/test_helpers.go
  x/erc20/keeper/keeper_test.go
Due: modules

add mock
  x/erc20/keeper/keeper_test.go
Due: modules

deprecation(proto): replace go get with go install for rakyll/statik
  scripts/protocgen.sh
Due: none

[ENG-447] protobuf workspaces migration (#725)
  .github/workflows/proto.yml
  CHANGELOG.md
  Makefile
  buf.gen.proto.yaml
  buf.gen.swagger.yaml
  scripts/protoc-swagger-gen.sh
  scripts/protocgen.sh
  third_party/proto/google/protobuf/any.proto
Due: none

add info in text instead
  docs/validators/mainnet.md
Due: none

docs(validators): add note that displayed version might differ when an active Software Upgrade proposal exists on chain (#793)
  docs/validators/mainnet.md
Due: none

fix test x/erc20 bonded pool balance is different from bonded coins
  x/erc20/keeper/keeper_test.go
Due: modules

newer ibc-go v5 module
  go.mod
  go.sum
Due: none

apply the valset patch
  ibc/testing/chain.go
Due: none

fix test erc20 integration_test => Should init eth account in app.go
  app/app.go
Due: app

protos...
  proto/evmos/claims/v1/claims.proto
  proto/evmos/claims/v1/genesis.proto
  proto/evmos/claims/v1/query.proto
  proto/evmos/epochs/v1/genesis.proto
  proto/evmos/epochs/v1/query.proto
  proto/evmos/erc20/v1/erc20.proto
  proto/evmos/erc20/v1/genesis.proto
  proto/evmos/erc20/v1/query.proto
  proto/evmos/erc20/v1/tx.proto
  proto/evmos/feesplit/v1/genesis.proto
  proto/evmos/feesplit/v1/query.proto
  proto/evmos/feesplit/v1/tx.proto
  proto/evmos/incentives/v1/genesis.proto
  proto/evmos/incentives/v1/incentives.proto
  proto/evmos/incentives/v1/query.proto
  proto/evmos/inflation/v1/genesis.proto
  proto/evmos/inflation/v1/query.proto
  proto/evmos/recovery/v1/genesis.proto
  proto/evmos/recovery/v1/query.proto
  proto/evmos/vesting/v1/tx.proto
  proto/evmos/vesting/v1/vesting.proto
  third_party/proto/cosmos_proto/cosmos.proto
  third_party/proto/gogoproto/gogo.proto
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/crypto/keys.proto
  third_party/proto/tendermint/crypto/proof.proto
  third_party/proto/tendermint/types/types.proto
Due: none

add tools
  .gitpod.yml
Due: none

Update Makefile
  Makefile
Due: none

bug: Makefile doesn't work with go 1.18 (#798)
  Makefile
Due: none

Update .gitpod.yml
  .gitpod.yml
Due: none

bond denom
  Makefile
  go.mod
  go.sum
  testutil/network/network.go
Due: none

Update .gitpod.yml (#799)
  .gitpod.yml
Due: none

replace all acoin with aevmos
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals_test.go
  x/incentives/keeper/keeper_test.go
  x/vesting/keeper/keeper_test.go
Due: modules

overview
  README.md
Due: none

quickstart
  README.md
Due: none

add state sync guide
  docs/validators/mainnet.md
  docs/validators/setup/statesync.md
  docs/validators/testnet.md
Due: none

fix markdown lint errors
  docs/validators/mainnet.md
  docs/validators/setup/statesync.md
  docs/validators/testnet.md
Due: none

docs: add state sync guide (#801)
  docs/validators/mainnet.md
  docs/validators/setup/statesync.md
  docs/validators/testnet.md
Due: none

fix Case_no-op:_error_Ack
  x/claims/keeper/ibc_callbacks_test.go
Due: modules

chore(`README.md`): fix documentation links (#800)
  README.md
Due: none

deps: bump ethermint to v0.17.2
  CHANGELOG.md
  go.mod
  go.sum
Due: none

backport label
  .mergify.yml
Due: none

c++
  CHANGELOG.md
Due: none

deps: bump ethermint to v0.17.2 (#803)
  .mergify.yml
  CHANGELOG.md
  go.mod
  go.sum
Due: none

fix bonded pool balances not equal bonded coin
  app/test_helpers.go
Due: none

msgEth from =
  x/feesplit/keeper/integration_test.go
Due: modules

fix calculate fee
  x/feesplit/keeper/evm_hooks.go
Due: modules

added google analytics
  docs/.vuepress/config.js
Due: none

added google analytics (#806)
  docs/.vuepress/config.js
Due: none

fix vesting test
  app/ante/vesting.go
  x/vesting/keeper/integration_test.go
Due: app, modules

remove debug log
  app/ante/vesting.go
  x/vesting/keeper/integration_test.go
Due: app, modules

docs(json-rpc server): make more reader friendly
  docs/developers/json-rpc/server.md
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
