Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

fix error in tx
  precompiles/outposts/osmosis/tx.go
Due: none

lint
  precompiles/outposts/osmosis/osmosis_test.go
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/osmosis/types_test.go
Due: none

fix text name
  precompiles/outposts/osmosis/tx_test.go
Due: none

feat(osmosis-outpost): modify Osmosis outpost to use cross-chain contract V1 (#2077)
  CHANGELOG.md
  precompiles/outposts/osmosis/IOsmosisOutpost.sol
  precompiles/outposts/osmosis/errors.go
  precompiles/outposts/osmosis/events.go
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/osmosis_test.go
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types_test.go
  precompiles/outposts/osmosis/utils_test.go
Due: none

update proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  proto/evmos/erc20/v1/tx.proto
  proto/evmos/inflation/v1/inflation.proto
  proto/evmos/inflation/v1/query.proto
  proto/evmos/revenue/v1/genesis.proto
  types/dynamic_fee.pb.go
  x/erc20/types/tx.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/query.pb.go
  x/inflation/v1/types/genesis.pb.go
  x/inflation/v1/types/inflation.pb.go
  x/inflation/v1/types/query.pb.go
  x/inflation/v1/types/tx.pb.go
  x/revenue/v1/types/genesis.pb.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

add tests to get gas used
  precompiles/erc20/integration_gas_test.go
Due: none

fix: add preliminary logic for STR-v2
  ibc/utils.go
  x/erc20/keeper/ibc_callbacks.go
Due: modules

Apply suggestions from code review
  CHANGELOG.md
  app/post/post.go
  app/post/post_test.go
Due: app

format test
  app/post/burn_test.go
Due: app

add safety check
  app/post/burn.go
Due: app

check for zero len coins
  app/post/burn.go
Due: app

feat(post): burn cosmos transaction fees (#2013)
  CHANGELOG.md
  app/app.go
  app/post/burn.go
  app/post/burn_test.go
  app/post/post.go
  app/post/post_test.go
  app/post/setup_test.go
Due: app

imp(percompile): processing of evm transactions leads to panic receipt issues
  rpc/types/utils.go
Due: none

commit WIP for gas tests
  precompiles/erc20/integration_gas_test.go
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
Due: none

adjust gas values to match ERC20 contract calls
  precompiles/erc20/erc20.go
Due: none

merge conflicts fix
  precompiles/bank/query_test.go
Due: none

fix: remove unused comment
  precompiles/bank/utils_test.go
Due: none

tests(bank): Add bank integration tests (#2096)
  CHANGELOG.md
  precompiles/bank/bank.go
  precompiles/bank/integration_test.go
  precompiles/bank/query.go
  precompiles/bank/query_test.go
  precompiles/bank/setup_test.go
  precompiles/bank/testdata/BankCaller.json
  precompiles/bank/testdata/BankCaller.sol
  precompiles/bank/testdata/bank.go
  precompiles/bank/utils_test.go
Due: none

add next blocks and move token for loop inside of DescribeTables
  precompiles/erc20/integration_gas_test.go
Due: none

add jupyter notebook for visualization
  precompiles/erc20/plot_gas_values.ipynb
Due: none

wip clean up
  CHANGELOG.md
Due: none

wip clean up 2
  CHANGELOG.md
Due: none

add precompile suffix to make distinction between modules and precompiles clear
  CHANGELOG.md
Due: none

move some more state breaking changes to section
  CHANGELOG.md
Due: none

adjust call signature to match other precompiles
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/osmosis_test.go
  precompiles/outposts/osmosis/setup_test.go
Due: none

add osmosis outpost to available extensions
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Due: modules

imp(staking): detect the length of the ed25519 pubkey in precompile CreateValidator to prevent panic
  CHANGELOG.md
  precompiles/staking/tx_test.go
  precompiles/staking/types.go
  rpc/types/utils.go
Due: none

adjust p256 precompile address
  precompiles/p256/p256.go
  x/evm/types/params.go
Due: modules

Update CHANGELOG.md
  CHANGELOG.md
Due: none

adjust entry
  CHANGELOG.md
Due: none

address linter
  x/evm/types/params.go
Due: modules

run make proto-all
  crypto/ethsecp256k1/keys.pb.go
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/epochs/types/genesis.pb.go
  x/epochs/types/query.pb.go
  x/erc20/types/erc20.pb.go
  x/erc20/types/events.pb.go
  x/erc20/types/genesis.pb.go
  x/erc20/types/query.pb.go
  x/erc20/types/tx.pb.go
  x/evm/types/events.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/events.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
  x/feemarket/types/tx.pb.go
  x/inflation/v1/types/genesis.pb.go
  x/inflation/v1/types/inflation.pb.go
  x/inflation/v1/types/query.pb.go
  x/inflation/v1/types/tx.pb.go
  x/revenue/v1/types/events.pb.go
  x/revenue/v1/types/genesis.pb.go
  x/revenue/v1/types/query.pb.go
  x/revenue/v1/types/revenue.pb.go
  x/revenue/v1/types/tx.pb.go
  x/vesting/migrations/types/vesting.pb.go
  x/vesting/types/events.pb.go
  x/vesting/types/query.pb.go
  x/vesting/types/tx.pb.go
  x/vesting/types/vesting.pb.go
Due: none

chore(p256): adjust p256 precompile address (#2110)
  CHANGELOG.md
  precompiles/p256/p256.go
  x/evm/types/params.go
Due: modules
