Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix(app): implement hard fork logic for v8.2.0
  .goreleaser.yml
  app/app.go
  app/forks.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_1/upgrades.go
  app/upgrades/v8_2/constants.go
  app/upgrades/v8m1/constants.go
  docs/validators/overview.md
  docs/validators/upgrades/automated.md
Due: app

Revert "fix(app): implement hard fork logic for v8.2.0"
  .goreleaser.yml
  app/app.go
  app/forks.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_2/constants.go
  app/upgrades/v8m1/constants.go
  app/upgrades/v8m1/upgrades.go
  docs/validators/overview.md
  docs/validators/upgrades/automated.md
Due: app

update block height
  app/upgrades/v8_2/constants.go
Due: app

changelog
  CHANGELOG.md
Due: none

!fix(app): fix store loader (#918)
  .goreleaser.yml
  CHANGELOG.md
  app/app.go
  app/upgrades/v2/constants.go
  app/upgrades/v4/constants.go
  app/upgrades/v5/constants.go
  app/upgrades/v6/constants.go
  app/upgrades/v7/constants.go
  app/upgrades/v8/constants.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_1/upgrades.go
  app/upgrades/v8_2/constants.go
  app/upgrades/v8_2/upgrades.go
  app/upgrades/v9/constants.go
  docs/validators/overview.md
  docs/validators/upgrades/automated.md
Due: app

chore(app): v8.2.0 upgrade handler
  app/app.go
  app/upgrades/v8_2/upgrades.go
Due: app

fix(app): implement hard fork logic for `v8.2.0` (#922)
  .goreleaser.yml
  CHANGELOG.md
  app/app.go
  app/forks.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_1/upgrades.go
  app/upgrades/v8_2/constants.go
  app/upgrades/v8m1/constants.go
  docs/validators/overview.md
  docs/validators/upgrades/automated.md
Due: app

comment
  app/upgrades/v8_2/upgrades.go
Due: app

chore(app): v8.2.0 upgrade handler + store upgrade (#923)
  CHANGELOG.md
  app/app.go
  app/upgrades/v8_2/upgrades.go
Due: app

Update connect.md
  docs/developers/connect.md
Due: none

docs: add Silk Nodes' public nodes (#926)
  docs/developers/connect.md
Due: none

update comments and docs
  docs/protocol/proto-docs.md
  proto/evmos/revenue/v1/query.proto
  proto/evmos/revenue/v1/tx.proto
  x/revenue/client/cli/query.go
  x/revenue/keeper/integration_test.go
  x/revenue/keeper/keeper.go
  x/revenue/keeper/msg_server.go
  x/revenue/keeper/revenues_test.go
  x/revenue/spec/08_clients.md
  x/revenue/types/keys.go
  x/revenue/types/revenue_test.go
Due: modules

Add Crypto.org Chain
  docs/protocol/ibc.md
Due: none

missing renames
  x/revenue/keeper/grpc_query.go
  x/revenue/keeper/revenues.go
  x/revenue/spec/02_state.md
  x/revenue/types/genesis.go
Due: modules, clients

fix proto query godoc
  proto/evmos/revenue/v1/query.proto
Due: none

replace feeSplit with revenue
  x/revenue/genesis.go
  x/revenue/keeper/evm_hooks.go
  x/revenue/keeper/grpc_query.go
  x/revenue/keeper/grpc_query_test.go
  x/revenue/keeper/msg_server.go
  x/revenue/keeper/msg_server_test.go
  x/revenue/keeper/revenues.go
  x/revenue/keeper/revenues_test.go
  x/revenue/spec/02_state.md
  x/revenue/types/revenue_test.go
Due: modules, clients

replace var fee with var revenue`
  x/revenue/keeper/grpc_query.go
Due: modules, clients

rerun make proto-gen with godoc changes
  client/docs/statik/statik.go
  docs/protocol/proto-docs.md
  x/revenue/types/query.pb.go
  x/revenue/types/tx.pb.go
Due: none

add migration for setting revenue paramters
  app/app.go
  app/upgrades/v8_2/upgrades.go
Due: app

docs: add crypto.org Chain IBC channel (#928)
  docs/protocol/ibc.md
Due: none

docs: update Notional info (#927)
  docs/developers/connect.md
Due: none

delete unnecessary upgrade
  app/upgrades/v8_2/upgrades.go
Due: app

delete revenue keeper
  app/upgrades/v8_2/upgrades.go
Due: app

delete revenue keeper
  app/app.go
Due: app

remove feesplit module from version map
  app/upgrades/v8_2/upgrades.go
Due: app

Update app/upgrades/v8_2/upgrades.go
  app/upgrades/v8_2/upgrades.go
Due: app

imp(app): delete unnecessary upgrade logic (#932)
  app/app.go
  app/upgrades/v8_2/upgrades.go
Due: app

fix(app): update binary architectures for upgrades
  app/upgrades/v2/constants.go
  app/upgrades/v4/constants.go
  app/upgrades/v5/constants.go
  app/upgrades/v6/constants.go
  app/upgrades/v7/constants.go
  app/upgrades/v8/constants.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_2/constants.go
Due: app

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix(app): update binary architectures for upgrades (#933)
  CHANGELOG.md
  app/upgrades/v2/constants.go
  app/upgrades/v4/constants.go
  app/upgrades/v5/constants.go
  app/upgrades/v6/constants.go
  app/upgrades/v7/constants.go
  app/upgrades/v8/constants.go
  app/upgrades/v8_1/constants.go
  app/upgrades/v8_2/constants.go
  go.mod
  go.sum
Due: app

Update docs/developers/guides/cosmos_coin_registration.md
  docs/developers/guides/cosmos_coin_registration.md
Due: none

chore(app): set upgrade height for v8.2.0
  CHANGELOG.md
  app/upgrades/v8_2/constants.go
Due: app

chore(app): set upgrade height for v8.2.0 (#934)
  CHANGELOG.md
  app/upgrades/v8_2/constants.go
Due: app

chore(app): update upgrade height for v8.2.0
  app/upgrades/v8_2/constants.go
Due: app

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
