Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

fix: base changes for STR-v2
  x/erc20/keeper/evm.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/proposals.go
  x/evm/keeper/precompiles.go
  x/evm/types/params.go
Due: modules

commit WIP
  precompiles/erc20/tx_fuzz_test.go
Due: none

WIP: adding the registration of a precompile
  x/erc20/keeper/ibc_callbacks.go
  x/evm/types/params.go
Due: modules

run make format
  x/erc20/keeper/proposals.go
  x/evm/keeper/precompiles.go
Due: modules

fix: naive truncating to 20 bytes
  x/erc20/keeper/ibc_callbacks.go
Due: modules

add necessary contracts
  precompiles/erc20/testdata/ERC20AllowanceCaller.json
  precompiles/erc20/testdata/ERC20AllowanceCaller.sol
  precompiles/erc20/testdata/ERC20Caller.json
  precompiles/erc20/testdata/ERC20Caller.sol
  precompiles/erc20/testdata/ERC20Minter_OpenZeppelinV5.json
  precompiles/erc20/testdata/ERC20Minter_OpenZeppelinV5.sol
  precompiles/erc20/testdata/erc20_allowance_caller.go
  precompiles/erc20/testdata/erc20_caller.go
  precompiles/erc20/testdata/erc20minter_openzeppelinv5.go
Due: none

fix: add note
  x/erc20/keeper/ibc_callbacks.go
Due: modules

imp(ante): depecrate legacy EIP712 ante handler (#2078)
  CHANGELOG.md
  app/ante/ante.go
  app/ante/cosmos/authz_test.go
  app/ante/evm.go
  app/ante/evm/setup_test.go
  app/ante/evm/utils_test.go
  testutil/tx/eip712.go
Due: app

split integration suite from unit test suite
  precompiles/erc20/integration_test.go
  precompiles/erc20/setup_test.go
  precompiles/erc20/utils_test.go
Due: none

remove test that was only for debugging
  precompiles/erc20/integration_test.go
Due: none

add necessary integration network utils
  testutil/integration/common/network/network.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/grpc/gov.go
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/clients.go
  testutil/integration/evmos/network/fund.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/params.go
  testutil/integration/evmos/utils/erc20.go
  testutil/integration/evmos/utils/gov.go
Due: none

add testing rig
  precompiles/erc20/integration_test.go
  precompiles/erc20/utils_test.go
Due: none

fix createTx util func
  app/ante/cosmos/fees_benchmark_test.go
  app/ante/cosmos/min_price_test.go
  app/ante/cosmos/utils_test.go
Due: app

remove unused contract
  precompiles/erc20/testdata/ERC20Caller.json
  precompiles/erc20/testdata/ERC20Caller.sol
  precompiles/erc20/testdata/erc20_caller.go
Due: none

fix: remove ununsed conversions
  x/erc20/keeper/ibc_callbacks.go
Due: modules

remove unused contract from testdata
  precompiles/erc20/testdata/ERC20Caller.json
  precompiles/erc20/testdata/ERC20Caller.sol
  precompiles/erc20/testdata/erc20_caller.go
Due: none

remove unnecessary for loop
  precompiles/erc20/utils_test.go
Due: none

use gov constants to look for proposal contents
  testutil/integration/evmos/utils/gov.go
Due: none

add changelog entry
  CHANGELOG.md
Due: none

use transfer event constant
  precompiles/erc20/utils_test.go
  precompiles/ics20/integration_test.go
  precompiles/ics20/utils_test.go
Due: none

remove unused variables
  precompiles/ics20/integration_test.go
  precompiles/ics20/utils_test.go
Due: none

tests(erc20): Add ERC20 integration test setup (#2080)
  CHANGELOG.md
  precompiles/erc20/integration_test.go
  precompiles/erc20/testdata/ERC20AllowanceCaller.json
  precompiles/erc20/testdata/ERC20AllowanceCaller.sol
  precompiles/erc20/testdata/ERC20Minter_OpenZeppelinV5.json
  precompiles/erc20/testdata/ERC20Minter_OpenZeppelinV5.sol
  precompiles/erc20/testdata/erc20_allowance_caller.go
  precompiles/erc20/testdata/erc20minter_openzeppelinv5.go
  precompiles/erc20/utils_test.go
  precompiles/ics20/integration_test.go
  precompiles/ics20/utils_test.go
  testutil/integration/common/network/network.go
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/grpc/gov.go
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/network/abci.go
  testutil/integration/evmos/network/clients.go
  testutil/integration/evmos/network/fund.go
  testutil/integration/evmos/network/network.go
  testutil/integration/evmos/network/params.go
  testutil/integration/evmos/utils/erc20.go
  testutil/integration/evmos/utils/gov.go
Due: none

add query integration tests
  precompiles/erc20/integration_test.go
Due: none

imp(ante): Remove legacy AnteHandler
  app/ante/evm.go
  app/ante/evm/01_setup_ctx.go
  app/ante/evm/02_mempool_fee.go
  app/ante/evm/03_global_fee.go
  app/ante/evm/04_validate.go
  app/ante/evm/05_signature_verification.go
  app/ante/evm/06_account_verification.go
  app/ante/evm/07_can_transfer.go
  app/ante/evm/08_vesting.go
  app/ante/evm/09_gas_consume.go
  app/ante/evm/10_increment_sequence.go
  app/ante/evm/11_gas_wanted.go
  app/ante/evm/12_emit_event.go
  app/ante/evm/mono.go
Due: app

add tests for ERC20 allowance transactions
  precompiles/erc20/integration_test.go
Due: none

add params to evm
  proto/ethermint/evm/v1/evm.proto
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_test.go
Due: modules

gen proto
  x/evm/types/evm.pb.go
Due: none

add channel keeper
  precompiles/outposts/osmosis/osmosis.go
Due: none

add function to convert denom in osmosis chain
  precompiles/outposts/osmosis/types.go
Due: none

update tx logic to convert denom in osmosis representation
  precompiles/outposts/osmosis/errors.go
  precompiles/outposts/osmosis/tx.go
Due: none

add test for osmosis denom conversion function
  precompiles/outposts/osmosis/setup_test.go
  precompiles/outposts/osmosis/tx_test.go
  precompiles/outposts/osmosis/types_test.go
Due: none

chore: migrate claims params to evm
  app/app.go
  app/upgrades/v16/upgrades.go
Due: app

add transfer integration tests
  precompiles/erc20/integration_test.go
Due: none

fix test
  x/evm/keeper/grpc_query_test.go
  x/evm/types/params_test.go
Due: modules

add metadata query integration tests
  precompiles/erc20/integration_test.go
  precompiles/erc20/testdata/ERC20NoMetadata.json
  precompiles/erc20/testdata/ERC20NoMetadata.sol
  precompiles/erc20/testdata/erc20_no_metadata.go
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
