Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

standardise docstring
  x/erc20/keeper/token_pairs.go
Due: modules

delete unnecessary files and changes from backported PR
  app/app.go
  app/upgrades/v16/constants.go
  app/upgrades/v16/upgrades.go
  go.mod
  precompiles/p256/integration_test.go
  precompiles/p256/p256.go
  precompiles/p256/setup_test.go
Due: app

fix tests
  x/evm/keeper/grpc_query_test.go
Due: modules

feat(bank): precompile boilerplate
  precompiles/bank/bank.go
  precompiles/bank/query.go
  x/evm/types/params.go
Due: modules

address comments
  precompiles/bank/bank.go
  precompiles/ics20/ics20.go
Due: none

feat(bank): precompile boilerplate (#1946)
  precompiles/bank/bank.go
  precompiles/bank/query.go
  precompiles/ics20/ics20.go
  x/evm/types/params.go
Due: modules

add GetTokenDenom method to keeper + tests
  x/erc20/keeper/token_pairs.go
  x/erc20/keeper/token_pairs_test.go
Due: modules

imp(distribution): Add ClaimRewards transaction boilerplate
  precompiles/distribution/DistributionI.sol
  precompiles/distribution/abi.json
  precompiles/distribution/distribution.go
  precompiles/distribution/events.go
  precompiles/distribution/tx.go
  precompiles/distribution/types.go
  x/evm/keeper/precompiles.go
Due: modules

fix: utils setup
  precompiles/distribution/utils_test.go
Due: none

CHANGELOG
  CHANGELOG.md
Due: none

feat(bank): bank queries
  precompiles/bank/bank.go
  precompiles/bank/query.go
  precompiles/bank/types.go
Due: none

fix gas
  precompiles/bank/query.go
Due: none

fix returned error and test
  x/erc20/keeper/token_pairs.go
  x/erc20/keeper/token_pairs_test.go
Due: modules

run make format
  x/erc20/keeper/token_pairs.go
Due: modules

fix: re-arrange the interface file
  precompiles/distribution/DistributionI.sol
  precompiles/distribution/abi.json
Due: none

apply review suggestions
  x/erc20/keeper/token_pairs.go
Due: modules

fix: make in new instance of sdk.Coins instead
  precompiles/distribution/tx.go
Due: none

fix: add license to bank query
  precompiles/bank/query.go
Due: none

update field name in test
  x/erc20/keeper/token_pairs_test.go
Due: modules

imp(erc20): add GetTokenDenom method to keeper (#1947)
  x/erc20/keeper/token_pairs.go
  x/erc20/keeper/token_pairs_test.go
Due: modules

add test function
  precompiles/outposts/osmosis/types_test.go
Due: none

remove function ported on erc20
  precompiles/outposts/osmosis/osmosis.go
Due: none

remove unnecessary file
  default.nix
  nix/default.nix
  nix/evmos-rocksdb.nix
Due: none

update gomod2nix.toml file
  gomod2nix.toml
Due: none

imp(distribution): Add ClaimRewards transaction, interface, types and event (#1949)
  CHANGELOG.md
  precompiles/bank/query.go
  precompiles/distribution/DistributionI.sol
  precompiles/distribution/abi.json
  precompiles/distribution/distribution.go
  precompiles/distribution/events.go
  precompiles/distribution/tx.go
  precompiles/distribution/types.go
  precompiles/distribution/utils_test.go
  x/evm/keeper/precompiles.go
Due: modules

changes based on review comments
  default.nix
Due: none

Apply suggestions from code review
  default.nix
Due: none

imp(testutil): Add IBC network integration setup
  testutil/integration/network/coordinator.go
  testutil/integration/network/ibc_config.go
  testutil/integration/network/ibc_network.go
  testutil/integration/network/integration_network.go
  testutil/integration/network/network.go
  testutil/integration/network/unit_network.go
Due: none

run make format
  testutil/integration/network/integration_network.go
Due: none

chore(tests) add gas estimation cases
  tests/nix_tests/test_gas.py
  tests/nix_tests/test_precompiles.py
  tests/nix_tests/utils.py
Due: none

feat(testnet): update minGasPrice input param err illustrate
  cmd/evmosd/testnet.go
Due: none

feat(testnet): update NewDynamicFeeChecker
  app/ante/evm/fee_checker.go
  cmd/evmosd/testnet.go
Due: app

add tests for validate input and output
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/types_test.go
Due: none

fix: remove bank precompile
  x/evm/types/params.go
Due: modules

fix: remove bank precompile address
  x/evm/types/params.go
Due: modules

add tests for onFailedDelivery field creation
  precompiles/outposts/osmosis/osmosis.go
  precompiles/outposts/osmosis/types.go
  precompiles/outposts/osmosis/types_test.go
Due: none

fix: remove bank address from params (#1953)
  x/evm/types/params.go
Due: modules

remove unused imports
  precompiles/outposts/osmosis/types.go
Due: none

remove unused imports
  precompiles/outposts/osmosis/types_test.go
Due: none

Path conditions:
  app: any of: app, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  modules: any of: x, but not: x/**/client, docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  core: any of: core, crypto, types, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
  clients: any of: x/**/client, x/**/keeper/grpc_query.go, but not: docs, **/*.md, cmd, client, proto, third_party, testutil, **/test_*.go, **/*.pb.go, **/*.pb.gw.go, x/**/module.go, scripts, ibc/testing, version
