Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

add events utils
  testutil/integration/evmos/utils/events.go
Due: none

add unit test for WithBalances
  testutil/integration/evmos/grpc/grpc.go
  testutil/integration/evmos/network/config_test.go
Due: none

address linter
  testutil/integration/evmos/network/config_test.go
Due: none

add new suite
  x/evm/keeper/suite_test.go
Due: modules

have e2e tests run on changes to the yml file too
  .github/workflows/e2e-test-release.yml
  .github/workflows/e2e-test.yml
Due: none

add in missing places
  .github/workflows/e2e-test.yml
Due: none

fix(evm): Fix EVM msg_server tests (#2281)
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/utils/events.go
  x/evm/keeper/msg_server_test.go
Due: modules

chore(str): Remove MsgConvertCoin and all it's related protos, types and tests (#2158)
  CHANGELOG.md
  precompiles/outposts/stride/utils_test.go
  proto/evmos/erc20/v1/tx.proto
  x/erc20/handler.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/integration_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/proposals.go
  x/erc20/keeper/proposals_test.go
  x/erc20/keeper/setup_test.go
  x/erc20/keeper/utils_test.go
  x/erc20/types/codec.go
  x/erc20/types/msg.go
  x/erc20/types/msg_test.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
Due: modules

query balance after executing transfer
  app/upgrades/v16/constants.go
  tests/e2e/e2e_suite_test.go
Due: app

fix retrieving upgrade list if extra file is in upgrades directory
  tests/e2e/upgrade/utils.go
Due: none

address more errors in Changelog
  CHANGELOG.md
  scripts/changelog_checker/change_type.py
  scripts/changelog_checker/entry.py
Due: none

address review comment
  tests/e2e/e2e_suite_test.go
  tests/e2e/upgrade/exec.go
Due: none

address linter
  tests/e2e/upgrade/utils.go
Due: none

fix TestGetHashFn test
  testutil/integration/evmos/network/network.go
  x/evm/keeper/state_transition_test.go
Due: modules

convert validator address to hex
  testutil/integration/evmos/utils/validators.go
  x/evm/keeper/state_transition_test.go
Due: modules

fix test IntrinsicGas
  x/evm/keeper/state_transition_test.go
Due: modules

move config into own file and allow legacy changelog entries
  CHANGELOG.md
  scripts/changelog_checker/change_type.py
  scripts/changelog_checker/check_changelog.py
  scripts/changelog_checker/config.py
  scripts/changelog_checker/config_test.py
  scripts/changelog_checker/entry.py
  scripts/changelog_checker/release.py
  scripts/changelog_checker/test_check_changelog.py
  scripts/changelog_checker/test_entry.py
  scripts/changelog_checker/test_release.py
  scripts/changelog_checker/testdata/changelog_fail.md
  scripts/changelog_checker/testdata/changelog_ok.md
Due: none

add output in success case
  CHANGELOG.md
  scripts/changelog_checker/check_changelog.py
Due: none

add readme for changelog checker
  scripts/changelog_checker/README.md
Due: none

fix TestApplyMessage
  x/evm/keeper/state_transition_test.go
Due: modules

add testdata to ignored files for markdown linter
  .markdownlintignore
Due: none

align test file name
  scripts/changelog_checker/test_config.py
Due: none

address linters
  scripts/changelog_checker/check_changelog.py
  scripts/changelog_checker/release.py
  scripts/changelog_checker/test_check_changelog.py
Due: none

address more linters
  scripts/changelog_checker/entry.py
  scripts/changelog_checker/test_check_changelog.py
  scripts/changelog_checker/test_entry.py
Due: none

address more linters
  scripts/changelog_checker/change_type.py
  scripts/changelog_checker/entry.py
  scripts/changelog_checker/test_entry.py
Due: none

run black formatter
  scripts/changelog_checker/change_type.py
  scripts/changelog_checker/check_changelog.py
  scripts/changelog_checker/config.py
  scripts/changelog_checker/entry.py
  scripts/changelog_checker/release.py
  scripts/changelog_checker/test_change_type.py
  scripts/changelog_checker/test_check_changelog.py
  scripts/changelog_checker/test_config.py
  scripts/changelog_checker/test_entry.py
  scripts/changelog_checker/test_release.py
Due: none

address more linters
  scripts/changelog_checker/test_check_changelog.py
  scripts/license_checker/check_licenses.py
Due: none

fix TestApplyMessage
  testutil/integration/evmos/factory/factory.go
  testutil/integration/evmos/utils/events.go
  x/evm/keeper/state_transition_test.go
Due: modules

address more linters
  scripts/changelog_checker/test_check_changelog.py
Due: none

reformat GasRefundTest
  x/evm/keeper/state_transition_test.go
Due: modules

fix changelog tests
  scripts/changelog_checker/test_check_changelog.py
  scripts/changelog_checker/testdata/changelog_ok.md
Due: none

fix linters in license checker
  scripts/license_checker/check_licenses.py
  scripts/license_checker/test_check_licenses.py
Due: none

TestGasRefund fix
  x/evm/keeper/state_transition_test.go
Due: modules

run format
  x/evm/keeper/state_transition_test.go
Due: modules

fix all tests
  testutil/integration/evmos/grpc/feemarket.go
  testutil/integration/evmos/grpc/grpc.go
  x/evm/keeper/msg_server_test.go
  x/evm/keeper/state_transition_test.go
Due: modules

updated btced dependencies
  crypto/hd/algorithm.go
  crypto/hd/algorithm_test.go
  crypto/hd/utils_test.go
  go.mod
  go.sum
Due: core

address review comments
  testutil/integration/evmos/network/config.go
  testutil/integration/evmos/network/setup.go
Due: none

run gofumpt
  tests/e2e/e2e_suite_test.go
Due: none

fix: merge and resolve conflicts from main feature branch
  precompiles/outposts/osmosis/types_test.go
  x/erc20/keeper/ibc_callbacks.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/msg_server.go
Due: modules

fix: remove tests
  precompiles/outposts/osmosis/types_test.go
Due: none
