Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

chore(revenue): Deprecate x/params usage in x/revenue (#1129)
  CHANGELOG.md
  app/app.go
  proto/evmos/revenue/v1/tx.proto
  x/erc20/types/erc20.pb.go
  x/revenue/genesis.go
  x/revenue/handler.go
  x/revenue/keeper/keeper.go
  x/revenue/keeper/migrations.go
  x/revenue/keeper/msg_server.go
  x/revenue/keeper/msg_server_test.go
  x/revenue/keeper/params.go
  x/revenue/migrations/v2/migrate.go
  x/revenue/migrations/v2/migrate_test.go
  x/revenue/migrations/v2/types/genesis.pb.go
  x/revenue/migrations/v2/types/params.go
  x/revenue/module.go
  x/revenue/types/codec.go
  x/revenue/types/codec_test.go
  x/revenue/types/interfaces.go
  x/revenue/types/msg.go
  x/revenue/types/params_test.go
  x/revenue/types/tx.pb.go
Due: app, modules

fix: add missing legacy subspace
  app/app.go
Due: app

chore(claims) - Depreacte usage of x/params in x/claims (#1125)
  CHANGELOG.md
  app/app.go
  proto/evmos/claims/v1/tx.proto
  x/claims/genesis.go
  x/claims/handler.go
  x/claims/keeper/abci.go
  x/claims/keeper/keeper.go
  x/claims/keeper/migrations.go
  x/claims/keeper/msg_server.go
  x/claims/keeper/msg_server_test.go
  x/claims/keeper/params.go
  x/claims/migrations/v3/migrate.go
  x/claims/migrations/v3/migrate_test.go
  x/claims/migrations/v3/types/genesis.pb.go
  x/claims/migrations/v3/types/params.go
  x/claims/module.go
  x/claims/types/codec.go
  x/claims/types/interfaces.go
  x/claims/types/msg.go
  x/claims/types/params_test.go
  x/claims/types/tx.pb.go
  x/claims/types/tx.pb.gw.go
Due: app, modules

fix: fixed app.go
  app/app.go
Due: app

chore(incentives): Deprecate x/params usage in x/incentives (#1130)
  CHANGELOG.md
  app/app.go
  proto/evmos/incentives/v1/tx.proto
  x/incentives/genesis.go
  x/incentives/handler.go
  x/incentives/keeper/keeper.go
  x/incentives/keeper/migrations.go
  x/incentives/keeper/msg_server.go
  x/incentives/keeper/msg_server_test.go
  x/incentives/keeper/params.go
  x/incentives/migrations/v2/migrate.go
  x/incentives/migrations/v2/migrate_test.go
  x/incentives/migrations/v2/types/genesis.pb.go
  x/incentives/migrations/v2/types/incentives.pb.go
  x/incentives/migrations/v2/types/params.go
  x/incentives/module.go
  x/incentives/types/codec.go
  x/incentives/types/interfaces.go
  x/incentives/types/msg.go
  x/incentives/types/params_test.go
  x/incentives/types/tx.pb.go
  x/incentives/types/tx.pb.gw.go
Due: app, modules

chore(recovery): Deprecate x/params usage in x/recovery (#1131)
  app/app.go
  proto/evmos/recovery/v1/tx.proto
  x/recovery/genesis.go
  x/recovery/handler.go
  x/recovery/keeper/ibc_callbacks_integration_suite_test.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
  x/recovery/keeper/migrations.go
  x/recovery/keeper/msg_server.go
  x/recovery/keeper/msg_server_test.go
  x/recovery/keeper/params.go
  x/recovery/migrations/v2/migrate.go
  x/recovery/migrations/v2/migrate_test.go
  x/recovery/migrations/v2/types/genesis.pb.go
  x/recovery/migrations/v2/types/params.go
  x/recovery/module.go
  x/recovery/types/codec.go
  x/recovery/types/interfaces.go
  x/recovery/types/msg.go
  x/recovery/types/params_test.go
  x/recovery/types/tx.pb.go
  x/recovery/types/tx.pb.gw.go
Due: app, modules

fix: fix merge
  app/app.go
Due: app

fix: changed amino name for UpdateParams msg
  x/erc20/types/codec.go
Due: modules

Update x/inflation/types/msg.go
  x/inflation/types/msg.go
Due: modules

tests: refactored tests and added new test cases
  x/inflation/keeper/params_test.go
  x/inflation/migrations/v2/migrate_test.go
  x/inflation/types/msg_test.go
Due: modules

tests: added additional tests for coverage requirements
  x/erc20/migrations/v3/migration_test.go
  x/erc20/types/msg_test.go
Due: modules

fix(docs): download necessary third party specs in pre.sh (#1154)
  docs/format/format_cosmos_specs.py
  docs/format/test_format_cosmos_specs.py
  docs/package.json
  docs/pre.sh
Due: none

fix: revert validatio ntest
  x/erc20/migrations/v3/migration_test.go
Due: modules

chore(inflation): Deprecate x/params usage in x/inflation (#1107)
  CHANGELOG.md
  app/app.go
  proto/evmos/inflation/v1/tx.proto
  x/inflation/genesis.go
  x/inflation/handler.go
  x/inflation/keeper/keeper.go
  x/inflation/keeper/migrations.go
  x/inflation/keeper/migrations_test.go
  x/inflation/keeper/msg_server.go
  x/inflation/keeper/msg_server_test.go
  x/inflation/keeper/params.go
  x/inflation/keeper/params_test.go
  x/inflation/migrations/v2/migrate.go
  x/inflation/migrations/v2/migrate_test.go
  x/inflation/migrations/v2/types/genesis.pb.go
  x/inflation/migrations/v2/types/inflation.pb.go
  x/inflation/migrations/v2/types/params.go
  x/inflation/module.go
  x/inflation/types/codec.go
  x/inflation/types/interfaces.go
  x/inflation/types/msg.go
  x/inflation/types/msg_test.go
  x/inflation/types/params_test.go
  x/inflation/types/tx.pb.go
  x/inflation/types/tx.pb.gw.go
Due: app, modules

fix: fixed merge
  app/app.go
Due: app

chore(erc20): Deprecate x/params usage in x/erc20 (#1100)
  CHANGELOG.md
  app/app.go
  proto/evmos/erc20/v1/tx.proto
  x/erc20/genesis.go
  x/erc20/handler.go
  x/erc20/keeper/evm_test.go
  x/erc20/keeper/ibc_callbacks_integration_test.go
  x/erc20/keeper/ibc_callbacks_test.go
  x/erc20/keeper/keeper.go
  x/erc20/keeper/keeper_test.go
  x/erc20/keeper/migrations.go
  x/erc20/keeper/migrations_test.go
  x/erc20/keeper/msg_server.go
  x/erc20/keeper/msg_server_test.go
  x/erc20/keeper/params.go
  x/erc20/keeper/params_test.go
  x/erc20/keeper/proposals_test.go
  x/erc20/migrations/v2/migration.go
  x/erc20/migrations/v2/migration_test.go
  x/erc20/migrations/v3/migration.go
  x/erc20/migrations/v3/migration_test.go
  x/erc20/migrations/v3/types/genesis.pb.go
  x/erc20/migrations/v3/types/params.go
  x/erc20/module.go
  x/erc20/types/codec.go
  x/erc20/types/interfaces.go
  x/erc20/types/msg.go
  x/erc20/types/msg_test.go
  x/erc20/types/params.go
  x/erc20/types/params_test.go
  x/erc20/types/tx.pb.go
Due: app, modules

Update testutil/cli/cmd.go
  testutil/cli/cmd.go
Due: none

fix(tests): cli execution approach
  tests/integration/ledger/ledger_test.go
  tests/integration/ledger/mocks/SECP256K1.go
  tests/integration/ledger/mocks/methods.go
Due: none

chore(cmd): Set default mempool to 'v1'
  cmd/evmosd/root.go
Due: none

changelog
  CHANGELOG.md
Due: none

update interval
  CHANGELOG.md
  cmd/evmosd/root.go
Due: none

add python to code ql analysis action
  .github/workflows/codeql-analysis.yml
Due: none

remove solidity from checked files (not supported)
  .github/workflows/codeql-analysis.yml
Due: none

Add x/revenue README.md
  x/revenue/README.md
Due: none

fix(test: fixed false positive signing
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  tests/integration/ledger/mocks/SECP256K1.go
  tests/integration/ledger/mocks/acc_retriever.go
  tests/integration/ledger/mocks/methods.go
Due: none

chore(testutil): remove sdk cli testutil
  tests/integration/ledger/ledger_test.go
  testutil/cli/cmd.go
  testutil/cli/tx.go
Due: none

feat(tests): cli tx send execution
  tests/integration/ledger/ledger_test.go
Due: none

feat(tests): added tendermint rpc client && account retriever mocks
  tests/integration/ledger/ledger_test.go
  tests/integration/ledger/mocks/acc_retriever.go
  tests/integration/ledger/mocks/tendermint.go
Due: none

fix: fixed bank tx execution
  tests/integration/ledger/ledger_test.go
Due: none

chore(cmd): Set default mempool to 'v1' and update default snapshot interval to `5000` (#1172)
  CHANGELOG.md
  cmd/evmosd/root.go
Due: none

fix: fixed send tx cli execution for ledger key
  tests/integration/ledger/ledger_test.go
Due: none

chore(tests): refactoring before each handlers
  tests/e2e/ledger/ledger_suite_test.go
  tests/e2e/ledger/ledger_test.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
Due: none

feat: add cli device signing error case
  tests/integration/ledger/ledger_test.go
Due: none

chore: removed useless code
  tests/integration/ledger/ledger_test.go
  tests/integration/ledger/mocks/SECP256K1.go
  tests/integration/ledger/mocks/methods.go
Due: none

address yamllint comments
  .github/workflows/codeql-analysis.yml
Due: none

chore(tests): apply suggestions from code review
  tests/integration/ledger/ledger_test.go
Due: none

chore: apply review suggestions
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
Due: none

chore: removed blank lines
  tests/integration/ledger/ledger_test.go
Due: none

chore: grouped imports
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
Due: none

adding controller functionality, changing params
  app/app.go
  config.yml
  local_node.sh
Due: app
