Repository evmos/evmos: changes, and which Codecov flags are due for each by the changed paths.
All: app, modules, core, clients

codecov.yml:

#
# This codecov.yml is the default configuration for
# all repositories on Codecov. You may adjust the settings
# below in your own codecov.yml in your repository.
#
coverage:
  precision: 2
  round: down
  range: 70...100

  status:
    # Learn more at https://docs.codecov.io/docs/commit-status
    project:
      default:
        threshold: 1% # allow this much decrease on project
      app:
        target: 70%
        flags:
          - app
      modules:
        target: 90%
        flags:
          - modules
      core:
        target: 90%
        flags:
          - core
      client:
        flags:
          - client
    changes: false

comment:
  layout: "reach, diff, files"
  behavior: default # update if exists else create new
  require_changes: true

flags:
  app:
    paths:
      - "app"
  modules:
    paths:
      - "x"
      - "!x/**/client" # ignore client package
  core:
    paths:
      - "core"
      - "crypto"
      - "types"
  clients:
    paths:
      - "x/**/client"
      - "x/**/keeper/grpc_query.go"

ignore:
  - "docs"
  - "**/*.md"
  - "cmd"
  - "client"
  - "proto"
  - "third_party"
  - "testutil"
  - "**/test_*.go"
  - "**/*.pb.go"
  - "**/*.pb.gw.go"
  - "x/**/module.go"
  - "scripts"
  - "ibc/testing"
  - "version"

Update x/vesting/keeper/msg_server.go
  x/vesting/keeper/msg_server.go
Due: modules

debug(app): add flag for remote debugging compile (#1160)
  Makefile
Due: none

fix typo in inflation module concepts
  x/inflation/spec/01_concepts.md
Due: none

Update based on PR comments
  app/upgrades/v10_1/upgrades_test.go
Due: app

fix(ibc): fix account name and add account validation on tests
  app/upgrades/v10_1/upgrades.go
  app/upgrades/v10_1/upgrades_test.go
  delegations_1.txt
  validators_out.txt
Due: app

fix(ibc): fix linting errors
  app/upgrades/v10_1/upgrades.go
  app/upgrades/v10_1/upgrades_test.go
Due: app

fix(ibc): move escrow accounts migration to v11 upgradeHandler
  app/app.go
  app/upgrades/v10_1/constants.go
  app/upgrades/v11/constants.go
  app/upgrades/v11/upgrades.go
  app/upgrades/v11/upgrades_test.go
Due: app

test(cli): initial
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  tests/integration/ledger/mocks/SECP256K1.go
  tests/integration/ledger/mocks/methods.go
  tests/integration/ledger/secpinterface.go
Due: none

chore(cli_test): remove useless code
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
Due: none

add title and parent titles to file metadata
  docs/format/format_cosmos_specs.py
  docs/format/test_format_cosmos_specs.py
  docs/pre.sh
Due: none

chore(ledger_tests): separated e2e suite from integration
  tests/e2e/ledger/ledger_suite_test.go
  tests/e2e/ledger/ledger_test.go
Due: none

feat(tests): cli tesutil && go mod tidy
  go.mod
  go.sum
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  tests/integration/ledger/mocks/SECP256K1.go
  tests/integration/ledger/mocks/methods.go
Due: none

apply black formatter
  docs/format/format_cosmos_specs.py
  docs/format/test_format_cosmos_specs.py
Due: none

chore: remove unnecessary files
  delegations_1.txt
  validators_out.txt
Due: none

adjust downloaded ibc-go specs
  docs/pre.sh
Due: none

fix inflation concepts (adjust amount of minted tokens for team vesting)
  x/inflation/spec/01_concepts.md
Due: none

improve readability of bondingIncentive formula
  x/inflation/spec/01_concepts.md
Due: none

fix typos in inflation spec
  x/inflation/spec/02_state.md
  x/inflation/spec/03_hooks.md
  x/inflation/spec/04_events.md
  x/inflation/spec/05_parameters.md
  x/inflation/spec/06_clients.md
Due: none

fix outdated markdown link
  x/inflation/spec/05_parameters.md
Due: none

fix: update Ledger supported algorithms to consist of `EthSecp256k1`
  crypto/keyring/options.go
Due: core

generate third party protos remotely using remote openapiv2 plugin
  proto/buf.gen.swagger.yaml
  scripts/protoc-swagger-gen.sh
Due: none

add proto-swagger-gen-cosmos Makefile target to showcase problem with cosmos-sdk protos
  Makefile
Due: none

remove unnecessary ls command
  docs/pre.sh
Due: none

fix (docs): fix typos in inflation docs (#1164)
  x/inflation/spec/01_concepts.md
  x/inflation/spec/02_state.md
  x/inflation/spec/03_hooks.md
  x/inflation/spec/04_events.md
  x/inflation/spec/05_parameters.md
  x/inflation/spec/06_clients.md
Due: none

feat(test): sk&pk keys lib changed, added mock signing emulation
  tests/e2e/ledger/ledger_suite_test.go
  tests/e2e/ledger/ledger_test.go
  tests/integration/ledger/evmosd_suite_test.go
  tests/integration/ledger/ledger_test.go
  tests/integration/ledger/mocks/SECP256K1.go
  tests/integration/ledger/mocks/methods.go
Due: none

feat(tests): add cli execution context block for bank txs
  tests/integration/ledger/ledger_test.go
Due: none

change sample command "tx gov submit-proposal" into "tx gov submit-legacy-proposal" follows sdk v0.46
  tests/e2e/upgrade/govexec.go
  x/erc20/client/cli/tx.go
  x/incentives/client/cli/tx.go
Due: modules

(docs) change sample command "tx gov submit-proposal" into "tx gov submit-legacy-proposal" follows sdk v0.46
  docs/developers/guides/cosmos_coin_registration.md
  docs/developers/guides/erc20_registration.md
  docs/developers/guides/incentives_registration.md
  docs/users/governance/submitting.md
  x/erc20/spec/08_clients.md
  x/incentives/spec/08_clients.md
  x/inflation/spec/06_clients.md
Due: none

(docs) fix dead links
  docs/developers/guides/cosmos_coin_registration.md
  docs/developers/guides/erc20_registration.md
Due: none

revert change in e2e test
  tests/e2e/upgrade/govexec.go
Due: none

update test version
  docs/.vuepress/config.js
  docs/validators/upgrades/upgrades.md
Due: none

docs: correct gov proposal cli + latest testnet version (#1166)
  docs/.vuepress/config.js
  docs/developers/guides/cosmos_coin_registration.md
  docs/developers/guides/erc20_registration.md
  docs/developers/guides/incentives_registration.md
  docs/users/governance/submitting.md
  docs/validators/upgrades/upgrades.md
  x/erc20/client/cli/tx.go
  x/erc20/spec/08_clients.md
  x/incentives/client/cli/tx.go
  x/incentives/spec/08_clients.md
  x/inflation/spec/06_clients.md
Due: modules

Update x/inflation/keeper/params.go
  x/inflation/keeper/params.go
Due: modules

fix: added authority as sdk.AccAddress
  app/app.go
  proto/evmos/inflation/v1/tx.proto
  x/inflation/keeper/keeper.go
  x/inflation/keeper/msg_server.go
  x/inflation/types/tx.pb.go
Due: app, modules

chore(vesting) - Migrate Event emitting to TypedEvent (#1155)
  CHANGELOG.md
  proto/evmos/vesting/v1/events.proto
  x/vesting/keeper/msg_server.go
  x/vesting/types/events.pb.go
  x/vesting/types/msg_test.go
Due: modules

fix: refactors suggested in code review
  app/app.go
  x/claims/keeper/keeper.go
  x/claims/keeper/msg_server.go
  x/claims/module.go
  x/claims/types/tx.pb.go
Due: app, modules

fix: applied changes from code review
  app/app.go
  proto/evmos/erc20/v1/tx.proto
  x/erc20/keeper/keeper.go
  x/erc20/keeper/msg_server.go
  x/erc20/types/tx.pb.go
  x/erc20/types/tx.pb.gw.go
Due: app, modules

fix: applied changes from code review
  app/app.go
  proto/evmos/incentives/v1/tx.proto
  x/incentives/keeper/keeper.go
  x/incentives/keeper/msg_server.go
  x/incentives/types/msg.go
Due: app, modules

fix: applied changes from review
  app/app.go
  x/recovery/keeper/ibc_callbacks_test.go
  x/recovery/keeper/keeper.go
  x/recovery/keeper/msg_server.go
  x/recovery/types/tx.pb.go
Due: app, modules

fix: applied changes from code review
  app/app.go
  x/revenue/keeper/keeper.go
  x/revenue/keeper/msg_server.go
  x/revenue/types/tx.pb.go
  x/revenue/types/tx.pb.gw.go
Due: app, modules
